/* Override styles for material button variable */
.mat-mdc-raised-button.mat-accent,
.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-label-text-color: var(--white);
}

html .mat-mdc-fab.mat-accent,
html .mat-mdc-mini-fab.mat-accent {
  --mat-fab-foreground-color: var(--white);
}

html {
  // --mdc-text-button-container-height: var(--size-48);
  --mdc-filled-button-container-height: var(--size-48);
  // --mdc-outlined-button-container-height: var(--size-48);
  // --mdc-protected-button-container-height: var(--size-48);
}

.refresh-btn{
  background-color: var(--light-green) !important;
  color: var(--green) !important;
}

.delete-btn{
  background-color: var(--light-red) !important;
  color: var(--red) !important;
}
