html{
    --mat-table-background-color: white;
}


.tableContainer {
    border-radius: var(--bs-border-radius);
    background-color: white;
    box-shadow: var(--bs-box-shadow-sm);
}

table{
    width: 100%;
    thead{
        tr{
            border-bottom: 1px solid #e0e0e0;
            th{
                padding: 10px 0;
            }
        }
    }
    tbody{
        tr{
            border-bottom: 1px solid #e0e0e0;
            td{
                padding: 10px 0;
            }
        }
    }
}