html {
    --mat-table-background-color: white;
}


.tableContainer {
    border-radius: var(--bs-border-radius);
    background-color: white;
    box-shadow: var(--bs-box-shadow-sm);
    width: 100%;
    overflow: auto;
}

table:not(.mat-calendar-table) {
    width: 100%;

    thead {
        tr {
            border-bottom: 1px solid #e0e0e0;

            th {
                padding: 10px var(--size-6);
            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #e0e0e0;

            td {
                padding: 10px var(--size-6);
            }
        }
    }
}

table.hrm-table {
    thead, th {
        background-color: #f5f5f5;
        padding: 0px var(--size-4);
    }

}