<div class="mainContent pt-2">
    <div class="container">
        <div class="py-0 px-0 bg-white tableContainer">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'activeTab': activeTab === 'rounding'}"
                        (click)="selectTab('rounding')">Rounding Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'activeTab': activeTab === 'overTime'}"
                        (click)="selectTab('overTime')">OverTime Information</a>
                </li>
            </ul>

            <div class="tab-content pt-0">
                <div class="tab-pane" [ngClass]="{'active': activeTab === 'rounding'}" id="rounding">
                    <div class="d-flex justify-content-between align-items-center mb-2 px-3">
                        <p class="mb-0">({{rounding?.length}}) Records Found</p>
                        <div class="d-flex align-items-center">
                            <span class="bi bi-search searchIcon"></span>

                            <input class="form-control search" type="text" placeholder="Search..." name="searchText"
                                aria-label="default input example">

                            <button mat-raised-button
                                (click)="open(addModal); clearForm(); changeMode = 'Add'; isEdit= false;"
                                class="addBtn rounded-pill mx-3">Add
                            </button>

                            <button class="submenuTab active  rounded-pill" (click)="exportToCsv()"> <i
                                    class="bi bi-download downloadBtn pe-2"></i>
                                Download</button>

                        </div>
                    </div>
                    <table class="px-4">
                        <thead>
                            <tr>
                                <th class="ps-2">Pattern Code</th>
                                <th>Pattern Name</th>
                                <th>Shift Name</th>
                                <th>Pattern Type</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let roundingInfo of rounding| search: searchText |  paginate: { itemsPerPage: 5, currentPage: p }">
                                <td>{{roundingInfo?.roundingPatternCode}}</td>
                                <td>{{roundingInfo?.roundingPatternName}}</td>
                                <td>{{roundingInfo?.shift}}</td>
                                <td>{{roundingInfo?.roundingPattern}}</td>
                                <td class="text-center">
                                    <button class="actions" mat-mini-fab title="Update" (click)="open(addModal);
                                isEdit= true;
                                changeMode = 'Update';
                                selectedRecord=roundingInfo;
                                setFormValues(roundingInfo)" aria-label="Example icon button with a menu icon">
                                        <i class="bi bi-pencil-fill"></i>
                                    </button>

                                    <button class="actions ms-1" mat-mini-fab title="Delete"
                                        aria-label="Example icon button with a menu icon"
                                        (click)="deleteDialog(roundingInfo._id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"
                        class="pagination d-flex justify-content-end"></pagination-controls>
                </div>

                <div class="tab-pane" [ngClass]="{'active': activeTab === 'overTime'}" id="overTime">
                    <div class="d-flex justify-content-between align-items-center mb-2 px-3">
                        <p class="mb-0">({{overTimeRecord?.length}}) Records Found</p>
                        <div class="d-flex align-items-center">
                            <span class="bi bi-search searchIcon"></span>

                            <input class="form-control search" type="text" placeholder="Search..." name="searchText"
                                aria-label="default input example">

                            <button mat-raised-button
                                (click)="open(addOverTimeModal); clearOvertimeForm(); changeMode = 'Add'; isEdit= false;"
                                class="addBtn rounded-pill mx-3">Add
                            </button>

                            <button class="submenuTab active  rounded-pill" (click)="exportToCsvOverTime()"> <i
                                    class="bi bi-download downloadBtn pe-2"></i>
                                Download</button>

                        </div>
                    </div>
                    <table class="px-4">
                        <thead>
                            <tr>
                                <th class="ps-2">OverTime Name</th>
                                <th>Base Type</th>
                                <th>Shift Name</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let overtime of overTimeRecord| search: searchText |  paginate: { itemsPerPage: 5, currentPage: p }">
                                <td>{{overtime?.Name}}</td>
                                <td>{{overtime?.BaseType}}</td>
                                <td>{{overtime?.AttandanceShift}}</td>
                                <td>{{overtime?.FromTimeHour}}:{{overtime?.FromTimeMinutes}} {{overtime?.FromTimeTT |
                                    uppercase}}</td>
                                <td>{{overtime?.ToTimeHour}}:{{overtime?.ToTimeMinutes}} {{overtime?.ToTimeTT |
                                    uppercase}}</td>
                                <td class="text-center">
                                    <button class="actions" mat-mini-fab title="Update" (click)="open(addOverTimeModal);
                                isEdit= true;
                                changeMode = 'Update';
                                selectedOverTime=overtime;
                                setOvertimeFormValues(overtime)" aria-label="Example icon button with a menu icon">
                                        <i class="bi bi-pencil-fill"></i>
                                    </button>

                                    <button class="actions ms-1" mat-mini-fab title="Delete"
                                        aria-label="Example icon button with a menu icon"
                                        (click)="deleteOverTimeDialog(overtime._id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"
                        class="pagination d-flex justify-content-end"></pagination-controls>
                </div>
            </div>
        </div>
    </div>


    <ng-template #addModal let-modal>
        <div class="modal-header border-bottom mb-2 pt-0">
            <div>
                <h1 class="modal-title text-muted mb-0">Rounding Information</h1>
            </div>
            <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"
                    (click)="closeModal()"></button>
            </div>
        </div>

        <form [formGroup]="roundingForm" (ngSubmit)="onSubmission()">

            <div class="form-group">
                <label for="">Rounding Pattern Name</label>
                <input type="text" class="form-control" formControlName="roundingPatternName">
            </div>

            <div class="form-group my-2">
                <label for="">Rounding Pattern Code</label>
                <input type="text" class="form-control" formControlName="roundingPatternCode">
            </div>


            <div class="form-group my-2">
                <label for="">Please Select Attendance Shift</label>
                <select id="attendanceTemplate" class="form-control" formControlName="shift" name="attendanceTemp"
                    class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option value="default-shift">Default shift</option>
                    <option value="general-shift">General Shift</option>

                </select>
            </div>

            <div class="form-group my-2">
                <label for="">Rounding Pattern Method</label>
                <div class="d-flex">
                    <div class="form-check">
                        <input class="form-check-input" formControlName="roundingPatternMethod" type="radio"
                            id="roundingPatternMethod-Yes" required value="1">
                        <label class="form-check-label" for="roundingPatternMethod-Yes">
                            General
                        </label>
                    </div>

                    <div class="form-check ms-3">
                        <input class="form-check-input" formControlName="roundingPatternMethod" type="radio"
                            id="roundingPatternMethod-No" required value="2">
                        <label class="form-check-label" for="roundingPatternMethod-No">
                            Range
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group my-2">
                <label for="">Please Select Default Rounding Pattern</label>
                <select id="attendanceTemplate" class="form-control" formControlName="roundingPattern"
                    name="attendanceTemp" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option value="nearest value">Nearest Value</option>
                </select>
            </div>

            <div class="form-group my-2">
                <label for="">Rounding Value</label>
                <input type="number" class="form-control" formControlName="roundingValue">
            </div>

            <div class="form-group my-2">
                <label for="">Which OT type is applicable?</label>
                <div class="d-flex">
                    <input class="form-check-input checks me-2" value="preOT" type="checkbox"
                        formControlName="OTtypeApplicablePreOT">
                    <label>Pre OT</label>
                </div>

                <div *ngIf="roundingForm.get('OTtypeApplicablePreOT').value" class="d-flex my-2">
                    <div class="w-100 me-2"> <label for="preOTHours" class="me-2">Hours:</label>
                        <input id="preOTHours" type="number" class="form-control me-2" formControlName="PreOTValueHour"
                            min="0">
                    </div>
                    <div class="w-100">
                        <label for="preOTMinutes" class="me-2">Minutes:</label>
                        <input id="preOTMinutes" type="number" class="form-control" formControlName="PreOTValueMinutes"
                            min="0" max="59">
                    </div>
                </div>

                <div class="d-flex">
                    <input class="form-check-input checks me-2" value="postOT" type="checkbox"
                        formControlName="OTtypeApplicablePostOT">
                    <label>Post OT</label>
                </div>

                <div *ngIf="roundingForm.get('OTtypeApplicablePostOT').value" class="d-flex my-2">
                    <div class="w-100 me-2"> <label for="postOTHours" class="me-2">Hours:</label>
                        <input id="postOTHours" type="number" class="form-control me-2"
                            formControlName="PostOTValueHour" min="0">
                    </div>
                    <div class="w-100">
                        <label for="postOTMinutes" class="me-2">Minutes:</label>
                        <input id="postOTMinutes" type="number" class="form-control"
                            formControlName="PostOTValueMinutes" min="0" max="59">
                    </div>
                </div>

                <div class="d-flex">
                    <input class="form-check-input checks me-2" type="checkbox"
                        formControlName="OTtypeApplicableWeekOFf" value="week">
                    <label>Week Off</label>
                </div>

            </div>

            <div class="d-flex border-top mt-2 py-2 justify-content-between">
                <button mat-raised-button type="reset">Cancel</button>
                <button mat-raised-button type="submit" class="addBtn">{{changeMode}}</button>
            </div>
        </form>
    </ng-template>

    <ng-template #addOverTimeModal let-modal>
        <div class="modal-header border-bottom mb-2 pt-0">
            <div>
                <h1 class="modal-title text-muted mb-0">Overtime Information</h1>
            </div>
            <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"
                    (click)="closeModal()"></button>
            </div>
        </div>

        <form [formGroup]="overTimeForm" (ngSubmit)="onOverTimeSubmission()">

            <div class="form-group">
                <label for="">Overtime Name</label>
                <input type="text" class="form-control" formControlName="Name">
            </div>

            <div class="form-group my-2">
                <label for="">Please Select Default Rounding Pattern</label>
                <select id="attendanceTemplate" class="form-control" formControlName="OvertimeInformation"
                    name="attendanceTemp" class="form-select form-select-sm"
                    aria-label=".form-select-sm example" (change)="onRoundingPatternChange($event)">
                    <option [value]="rounding?.roundingPatternName" *ngFor="let rounding of rounding">
                        {{rounding?.roundingPatternName}}</option>
                </select>
            </div>

            <div class="form-group my-2"  *ngIf="changeMode == 'Add'">
                <label for="">Please Select Base Type</label>
                <select id="baseType" class="form-control" formControlName="BaseType" name="baseType"
                    class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option value="">Select Base Type</option>
                    <option value="pre-OT" *ngIf="selectedRoundingPattern?.OTtypeApplicablePreOT == 'true'">Pre OT
                    </option>
                    <option value="post-OT" *ngIf="selectedRoundingPattern?.OTtypeApplicablePostOT == 'true'">Post OT
                    </option>
                    <option value="week-off" *ngIf="selectedRoundingPattern?.OTtypeApplicableWeekOFf == 'true'">Week Off
                    </option>

                </select>
            </div>

            <div class="form-group my-2" *ngIf="changeMode == 'Update'">
                <label for="">Please Select Base Type</label>
                <select id="baseType" class="form-control" formControlName="BaseType" name="baseType"
                    class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option value="">Select Base Type</option>
                    <option value="pre-OT">Pre OT
                    </option>
                    <option value="post-OT">Post OT
                    </option>
                    <option value="week-off">Week Off
                    </option>

                </select>
            </div>
            <div class="form-group my-2" *ngIf="overTimeForm.get('BaseType').value == 'week-off'">
                <label for="">How do you want the calculation type?</label>
                <div class="d-flex">
                    <div class="form-check">
                        <input class="form-check-input" formControlName="CalculationType" type="radio" id="one" required
                            value="CheckIn/Out Wise">
                        <label class="form-check-label" for="one">
                            CheckIn/Out Wise
                        </label>
                    </div>

                    <div class="form-check mx-3">
                        <input class="form-check-input" formControlName="CalculationType" type="radio" id="second"
                            required value="Shift Wise">
                        <label class="form-check-label" for="second">
                            Shift Wise
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" formControlName="CalculationType" type="radio" id="third"
                            required value="Shift-start/Check-Out">
                        <label class="form-check-label" for="third">
                            Shift-start/Check-Out
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group my-2">
                <label for="">Attendance Shift</label>
                <input type="text" formControlName="AttandanceShift" class="form-control">
            </div>

            <div class="form-group my-2"
                *ngIf="overTimeForm.get('BaseType').value == 'pre-OT' || overTimeForm.get('BaseType').value == 'post-OT'">
                <div class="d-flex my-2">
                    <div class="w-100"> <label for="postOTHours" class="me-2">From Hours</label>
                        <input id="postOTHours" type="number" class="form-control me-2" formControlName="FromTimeHour"
                            min="0">
                    </div>
                    <div class="w-100 mx-2">
                        <label for="postOTMinutes" class="mx-2">From Minutes</label>
                        <input id="postOTMinutes" type="number" class="form-control" formControlName="FromTimeMinutes"
                            min="0" max="59">
                    </div>
                    <div class="w-100">
                        <label for="">From Meridiem </label>
                        <select name="" id="" class="form-select form-select-sm" formControlName="FromTimeTT">
                            <option value="am">AM</option>
                            <option value="pm">PM</option>
                        </select>
                    </div>
                </div>

                <div class="d-flex my-2">
                    <div class="w-100"> <label for="postOTHours" class="me-2">To Hours</label>
                        <input id="postOTHours" type="number" class="form-control me-2" formControlName="ToTimeHour"
                            min="0">
                    </div>
                    <div class="w-100 mx-2">
                        <label for="postOTMinutes" class="mx-2">To Minutes</label>
                        <input id="postOTMinutes" type="number" class="form-control" formControlName="ToTimeMinutes"
                            min="0" max="59">
                    </div>
                    <div class="w-100">
                        <label for="">To Meridiem </label>
                        <select name="" id="" class="form-select form-select-sm" formControlName="ToTimeTT">
                            <option value="am">AM</option>
                            <option value="pm">PM</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group my-2">
                <label for="">Custom Multiplier</label>
                <input type="number" class="form-control" formControlName="CutomMultiplier">
            </div>

            <div class="d-flex border-top mt-2 py-2 justify-content-between">
                <button mat-raised-button type="reset">Cancel</button>
                <button mat-raised-button type="submit" class="addBtn">{{changeMode}}</button>
            </div>
        </form>
    </ng-template>