<div class="main-content contentData">
    <div class="container-fluid px-0">
        <ng-container>
            <div *ngIf="view === 'user'">
                <div class=" d-flex bg-white subMenu w-100">
                    <button class="btn rounded-pill submenuTab" (click)="selectTab(1)"
                        [class.active]="selectedTab === 1">Supervisors</button>
                    <button class="btn rounded-pill submenuTab" (click)="selectTab(2)"
                        [class.active]="selectedTab === 2">Holidays & Flexi Holidays</button>


                </div>

                <div *ngIf="selectedTab === 1" class="tab-content">
                    <app-supervisors></app-supervisors>
                </div>
                <div *ngIf="selectedTab === 2" class="tab-content">
                    <app-holidays></app-holidays>
                </div>

            </div>


        </ng-container>
    </div>
</div>