<div class="main-content pt-5">
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <h1 class="pt-4">Realtime Monitoring</h1>
        </div>
        <hr class="mt-0">
        <div class="row">
            <div class="col-4 ">
                <div class="d-flex  justify-content-between p-4 bg-white common">
                    <div>
                        <p class="text-muted"> Number of Members</p>
                        <h3 class="mb-0">{{realtime?.totalMember}}</h3>
                    </div>
                    <b class="bi bi-people people"></b>
                </div>
            </div>
            <div class="col-4 ">
                <div class="d-flex bg-white justify-content-between p-4 common">
                    <div>
                        <p class="text-muted">Working Now</p>
                        <h3 class="mb-0">{{realtime?.activeMember}}</h3>
                    </div>
                    <i class="bi bi-clock clock "></i>
                </div>
            </div>

            <div class="col-4 ">
                <div class="d-flex bg-white justify-content-between p-4 common">

                    <div>
                        <p class="text-muted">Currently Non-Productive</p>
                        <h3 class="mb-0">{{realtime?.totalNonProductiveMember}}</h3>
                    </div>
                    <i class="bi bi-graph-down-arrow graph"></i>
                </div>
            </div>
        </div>

        <div class="d-flex mt-4 px-2" style="height: 50px;">

            <span class="pt-3 text-muted me-3">Filter&nbsp;by: </span>
            <ng-container>
                <mat-form-field appearance="outline" class="w-25 mx-1">
                    <mat-label>Select User</mat-label>
                    <mat-select multiple [(ngModel)]="selectedUser">
                        <mat-option *ngFor="let member of members" [value]="member.id" (click)="filterData()"
                            [selected]="selectedUser?.includes(member?.id)">
                            {{member.name | titlecase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>


            <div class="d-flex align-items-center">
                <span class="bi bi-search searchIcon"></span>
                <input class="form-control  search" type="text" placeholder="Search..."
                    [(ngModel)]="searchText" name="searchText" aria-label="default input example"
                   >
            </div>


            <div class="align-items-start flex-wrap gap-3 ms-auto">
                <div class="dropdown order-first order-sm-last d-flex">
                    <button class="export-btn dropdown-toggle formrow-inputState form-select select-styled active"
                        type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <p class="mb-0 text-muted"> Export </p>
                    </button>
                    <ul class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton1" id="dropdown-export">
                        <li><a class="export-button" (click)="exportToCsv()">CSV</a></li>
                        <li><a class="export-button" (click)="exportToExcel()">XLS</a></li>
                        <li><a class="export-button" (click)="exportToPdf()">PDF</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tableContainer py-2 mt-3 bg-white">
            <table class="mt-4" id="realTime" #realTime>
                <thead>
                    <tr>
                        <th scope="col">
                            Online User &nbsp;
                            <i class="bi bi-arrow-up sort "></i>
                        </th>
                        <th scope="col">Project
                            &nbsp;
                            <i class="bi bi-arrow-up sort "></i>
                        </th>
                        <th scope="col">
                            Task &nbsp;
                            <i class="bi bi-arrow-up sort "></i>
                        </th>
                        <th scope="col">Apps/Websites &nbsp;
                            <i class="bi bi-arrow-up sort "></i>
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let data of realtime?.onlineUsers | search: searchText |  paginate: { itemsPerPage: 10, currentPage: p }">
                        <td>
                            <span class="letter ms-2"
                                [style.background-color]="commonService.getRandomColor(data?.user?.lastName)">
                                {{data.user.firstName.slice(0,1) |
                                uppercase}}{{data.user.lastName.slice(0,1) | uppercase}}</span>
                            {{data.user.firstName |titlecase}} {{data.user.lastName |titlecase}}
                        </td>
                        <td>{{data?.project}}</td>
                        <td>{{data?.task}}</td>
                        <td></td>
                        <td>
                            <button mat-raised-button class="rounded-pill addBtn">Live Screen</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"
                class="pagination d-flex justify-content-end"></pagination-controls>
        </div>
    </div>
</div>