input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.validationErroMessage {
  color: red;
}

.card {
  background: #ff8b5b !important;
}

label {
  color: white;
}


/* Keyframes for zoom animation */
@keyframes zoom {
  0% {
    transform: scale(1);
    /* Initial scale */
  }

  50% {
    transform: scale(1.1);
    /* Zoom in */
  }

  100% {
    transform: scale(1);
    /* Zoom out */
  }
}

/* Apply animation to the image */
.zoom-animation {
  animation: zoom 3s infinite;
  /* 3 seconds duration, infinite loop */
  transition: transform 0.3s ease-in-out;
  /* Smooth transition for better effect */
}

@media (max-width: 992px) {
  .image {
    display: none;
  }
  .mainContent{
    justify-content: space-around !important;
  }
}

.hero_bg {
  animation: mymove 10s infinite;
}
.hero_bg {
  position: absolute;
  top: -200px;
  /* right: 50px; */
}
@keyframes mymove{
  50% {
      transform: rotate(180deg);
  }
}
