<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="text-center my-5">
          <!-- <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo" width="100"> -->
        </div>
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
            <form   (ngSubmit)=onSubmit()  #f="ngForm"  class="needs-validation" novalidate="" autocomplete="off">
              <div class="mb-3">
                <label class="mb-2 text-muted" for="firstName">First Name</label>
                <input id="firstName" type="text" class="form-control" ngModel name="firstName" required autofocus #firstName="ngModel">
                <div *ngIf="!firstName.valid && firstName.touched" class="validationErroMessage">
                 First Name is required
                </div>
              </div>
              <div class="mb-3">
                <label class="mb-2 text-muted" for="lastName">Last Name</label>
                <input id="lastName" type="text" class="form-control" ngModel name="lastName" required autofocus #lastName="ngModel">
                <div *ngIf="!lastName.valid && lastName.touched" class="validationErroMessage">
                 Last Name is required
                </div>
              </div>

              <div class="mb-3">
                <label class="mb-2 text-muted" for="email">E-Mail Address</label>
                <input id="email" type="email" class="form-control" name="email" ngModel required email #email="ngModel">
                <div *ngIf="!email.valid && email.touched" class="validationErroMessage">
                  Email is invalid
                </div>
              </div>

              <div class="mb-3">
                <label class="mb-2 text-muted" for="name">Company Name</label>
                <input id="companyName" type="text" class="form-control" ngModel name="companyName" required autofocus #companyName="ngModel">
                <div *ngIf="!companyName.valid && companyName.touched" class="validationErroMessage">
                  Company Name is required
                </div>
              </div>

              <div class="mb-3">
                <label class="mb-2 text-muted" for="password">Password</label>
                <input id="password" type="password" class="form-control" ngModel name="password" required #password="ngModel">
                  <div *ngIf="!password.valid && password.touched" class="validationErroMessage">
                    Password is required
                  </div>
              </div>
              <div class="mb-3">
                <label class="mb-2 text-muted" for="passwordConfirm">Confirm Password</label>
                <input id="passwordConfirm" type="password" class="form-control" ngModel name="passwordConfirm" required #passwordConfirm="ngModel">
                  <div *ngIf="!passwordConfirm.valid && passwordConfirm.touched" class="validationErroMessage">
                  Confirm  Password is required
                  </div>
              </div>
             

              <p class="form-text text-muted mb-3">
                By registering you agree with our terms and condition.
              </p>

              <div class="align-items-center d-flex">
                <button type="submit" class="btn btn-primary ms-auto" [disabled]="!f.valid">
                  Register
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer py-3 border-0">
            <div class="text-center">
              Already have an account? <a href="/login" class="text-dark">Login</a>
            </div>
          </div>
        </div>
        <div class="text-center mt-5 text-muted">
          Copyright &copy; 2015-2022 &mdash; ARSTEG Solutions Pvt Ltd.
        </div>
      </div>
    </div>
  </div>
</section>
