<hrm-language-selector cssClass="p-2 position-absolute end-0"></hrm-language-selector>
<div class="row h-100 m-0">
  <div class="col-md-6 d-none d-md-block login-intro-container">
    <div class="logo-container">
      <img src="assets/logo/expanded-logo.svg" alt="" class="login-logo" />
    </div>
    <div class="login-intro text-center">
      <h1 class="login-intro-text">
        {{ 'login.intro' | translate }}
      </h1>
      <img src="assets/png/login-intro-1.png" class="img-fluid" />
    </div>
  </div>

  <div class="col-12 col-md-6 login-main-container">
    <!--mobile logo & intro-->
    <div class="d-md-none">
      <div class="logo-container text-center">
        <img src="assets/logo/expanded-logo.svg" alt="" class="login-logo" />
      </div>
      <div class="login-intro text-center">
        <h1 class="login-intro-text text-primary pt-3 pb-5">
          {{ 'login.intro' | translate }}
        </h1>
      </div>
    </div>
    <!--mobile logo & intro end-->
    <div class="login-container signup">
      <h1 class="text-center fs-4 fw-normal">{{ 'login.create_account' | translate }}</h1>
      <div class="login-box">
        <form (ngSubmit)="onSubmit()" [formGroup]="registerNewUser" class="needs-validation" novalidate=""
          autocomplete="off">
          <div class="row mb-2">
            <div class="col-md-6">
              <mat-form-field class="w-100">
                <mat-label>{{'login.first_name' | translate }}</mat-label>
                <input matInput id="firstName" type="text" formControlName="firstName" name="firstName"   maxlength="15" required
                  autofocus>
                <mat-error *ngIf="!registerNewUser.get('firstName').valid && registerNewUser.get('firstName').touched">
                  <span *ngIf="registerNewUser.get('firstName').errors?.['required']">{{ 'login.first_name_required' |
                    translate }}</span>
                  <span *ngIf="registerNewUser.get('firstName').errors?.['invalidName']">{{ 'login.first_name_invalid' |
                    translate }}</span>
                       <span *ngIf="registerNewUser.get('firstName')?.hasError('minlength')">
                        {{ 'login.first_name_too_short' | translate }}
                      </span>
                </mat-error>  
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="w-100">
                <mat-label>{{'login.last_name' | translate }}</mat-label>
                <input matInput id="lastName" type="text" formControlName="lastName" name="lastName"  maxlength="15" required autofocus>
                <mat-error *ngIf="!registerNewUser.get('lastName').valid && registerNewUser.get('lastName').touched">
                  <span *ngIf="registerNewUser.get('lastName').errors?.['required']">{{ 'login.last_name_required' |
                    translate }}</span>
                  <span *ngIf="registerNewUser.get('lastName').errors?.['invalidName']">{{ 'login.last_name_invalid' |
                    translate }}</span>
                     <span *ngIf="registerNewUser.get('lastName')?.hasError('minlength')">
                      {{ 'login.last_name_too_short' | translate }}
                    </span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-8">
              <mat-form-field class="w-100">
                <mat-label>{{ 'login.email' | translate }}</mat-label>
                <input matInput id="email" type="email" name="email" formControlName="email" required email>
                <mat-error *ngIf="!registerNewUser.get('email').valid && registerNewUser.get('email').touched">
                  <span *ngIf="registerNewUser.get('email').errors?.['required']">{{ 'login.email_required' | translate
                    }}</span>                
                      <span *ngIf="registerNewUser.get('email')?.hasError('invalidEmail')">
                        {{ 'login.email_invalid' | translate
                    }}
                      </span>
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Generate/Resend OTP button -->
            <div class="col-md-4">
              <button *ngIf="!otpGenerated" type="button" mat-flat-button (click)="onGenerateOTP()"
              [disabled]="!registerNewUser.get('email').valid">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                {{'login.generate_otp' | translate }}
              </button>

              <button *ngIf="otpGenerated && loading == false" type="button" mat-flat-button (click)="onReGenerateOTP()"
              [disabled]="!registerNewUser.get('email').valid">
                {{ 'login.resend_otp' | translate }}
              </button>
            </div>
          </div>

          <!-- OTP Input Field -->
          <div class="row mb-2" *ngIf="otpGenerated && !loading">
            <div class="col-md-8">
              <mat-form-field class="w-100">
                <mat-label>{{ 'login.otp' | translate }}</mat-label>
                <input matInput id="otp" type="text" formControlName="otp" name="otp" required>
                <mat-error *ngIf="!registerNewUser.get('otp').valid && registerNewUser.get('otp').touched">
                  <span *ngIf="registerNewUser.get('otp').errors?.['required']">{{ 'login.otp_required' | translate
                    }}</span>
                  <span *ngIf="registerNewUser.get('otp').errors?.['pattern']">{{ 'login.otp_invalid' | translate
                    }}</span>
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Verify and Cancel OTP Buttons -->
            <div class="col-md-4">
              <button type="button" mat-flat-button class="addBtn verifyBtn me-2" (click)="onVerifyOTP()"
                [disabled]="registerNewUser.get('otp').value.length < 4">
                {{'login.verify_otp' | translate }}
              </button>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-12">
              <mat-form-field class="w-100">
                <mat-label>{{ 'login.company_name' | translate }}</mat-label>
                <input matInput id="companyName" type="text" formControlName="companyName" name="companyName" required
                  autofocus>
                <mat-error
                  *ngIf="!registerNewUser.get('companyName').valid && registerNewUser.get('companyName').touched">
                  {{ 'login.company_name_required' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>


          <mat-form-field class="w-100 mb-2">
            <mat-label>{{ 'login.password' | translate }}</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" id="password" formControlName="password"
              name="password" required>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword" type="button">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="registerNewUser.get('password')?.touched && registerNewUser.get('password')?.invalid">
              <span *ngIf="registerNewUser.get('password')?.errors?.['required']">
                {{ 'login.password_required' | translate }}
              </span>             
              <span *ngIf="registerNewUser.get('password')?.errors?.['weakPassword']">
                {{ 'login.password_format'
                | translate }}   </span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100 mb-2">
            <mat-label>{{ 'login.confirm_password' | translate }}</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" id="passwordConfirm"
              formControlName="passwordConfirm" name="passwordConfirm" required>
            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword" type="button">
              <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="registerNewUser.hasError('notMatching') && registerNewUser.get('passwordConfirm')?.touched">
              {{ 'login.password_mismatch' | translate }}
            </mat-error>
          </mat-form-field>


          <p class="form-text  mb-3">
            {{'login.terms_condition' | translate }}
          </p>

          <div>
            <button type="submit" mat-flat-button color="primary" type="submit" class="w-100" [disabled]="loading">
              {{ 'login.register' | translate }}
            </button>
          </div>
        </form>

      </div>
      <div class="text-center ">
        {{'login.already_have_account' | translate }} <a routerLink="/login">{{ 'login.login' | translate }}</a>
      </div>

    </div>
  </div>
</div>