<div class="modal-body">
    <div class=" d-flex justify-content-between">
        <div class="">
            <h1 mat-dialog-title> Show Advance Expense Report Details</h1>
        </div>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close><mat-icon aria-hidden="false" aria-label="Example close icon"
                    fontIcon="close"></mat-icon></button>
        </div>
    </div>
    <hr class="mt-0">
    <div class="row" mat-dialog-content>
        <div class="tableContainer">
            <table>

                <tr>
                    <th class="w-50">Report Title</th>
                    <td>{{expenseReport?.title}}</td>
                </tr>
                <tr>
                    <th class="w-50">Status</th>
                    <td>{{expenseReport?.status}}</td>
                </tr>
                <tr>
                    <th class="w-50">Total Reimbursable</th>
                    <!-- sum of all reimbursable -->
                </tr>
                <tr>
                    <th class="w-50">Total Billable</th>
                    <!-- sum of all billable -->
                </tr>
                <tr>
                    <th class="w-50">Advance Recieved</th>
                    <td>{{expenseReport?.amount}}</td>
                </tr>
                <tr>
                    <th class="w-50">Total Amount</th>
                    <!-- sum of all reimbursable and billable -->
                </tr>
            </table>
        </div>
        <div class="tableContainer mt-2">
            <table>
                <thead>
                    <th>Expense Category</th>
                    <th>Incurred Date</th>
                    <th>Amount</th>
                    <th>Reimbursable</th>
                    <th>Billable</th>
                    <th>Document</th>
                </thead>
                <tbody>
                    <tr *ngFor="let report of expenseReport.expenseReportExpense">
                        <td>{{getCategory(report?.expenseCategory)}}</td>
                        <td>{{report?.incurredDate | date: 'mediumDate'}}</td>
                        <td>{{report?.amount}}</td>
                        <td><span *ngIf="report?.isReimbursable == true; else notReimbursable">
                                <mat-icon style="color: green;">check</mat-icon>
                            </span>
                            <ng-template #notReimbursable>
                                <mat-icon style="color: red;">close</mat-icon>
                            </ng-template>
                        </td>
                        <td>
                            <span *ngIf="report?.isBillable == true; else notBillable">
                                <mat-icon style="color: green;">check</mat-icon>
                            </span>
                            <ng-template #notBillable>
                                <mat-icon style="color: red;">close</mat-icon>
                            </ng-template>
                        </td>
                        <td><span *ngIf="report?.documentLink" class="bi bi-paperclip"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>