:host ::ng-deep .pagination .ngx-pagination .current {
  background: #3f51b5 !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.comments-count {
  background-color: #3f51b5;
  color: #ffffff;
  min-width: 20px;
  max-width: 50px;
  padding: 0 2px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.12px;
  right: 5px;
  top: -3px;
}

.attachment {
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  border: 1px dashed darkgrey;
  border-radius: 2px;
  text-align: center;
}

.deleteTaskAttachment {
  font-size: smaller;
}

.chkbox input {
  height: 25px;
  width: 25px;
  border: 2px solid var(--primarycolor);
  border-radius: 5px;
}

.task-card {
  cursor: pointer;
}

.task-card:hover {
  background: #f1effd
}

.taskToDo {
  border-left: 3px solid #3f51b5;
}

.taskInProgress {
  border-left: 3px solid #ffd900;
}

.taskDone {
  border-left: 3px solid #09e909
}

.taskClosed {
  border-left: 3px solid grey
}

.edit-taskBoard {
  background: #b4e9b4;
  padding: 7px 8px;
  border-radius: 100%;
}

.delete-taskBoard {
  padding: 7px 8px;
  border-radius: 100%;
  background: rgb(248, 171, 171)
}

.boardAction {
  height: 30px;
}

.taskBoard {
  max-height: 27em;
  overflow-y: auto;
}

.newTaskBoard,
.newTaskBoard:focus-visible {
  border: none;
  outline: none;
}

.card {
  box-shadow: -5px 10px 29px -22px rgba(0, 0, 0, 0.55) !important;
  background: white !important;
  border-radius: 5px;
}

.dropdown-item:hover {
  background: none;
}

.dropdown-menu li {
  cursor: pointer;
}


@media (min-width: 576px) {
  .modal-dialog {
    max-width: 764px !important;
  }
}

.addTask {
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

