<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="d-flex justify-content-between">
                        <h1 class="pt-4">Tasks: </h1>
                        <div class="d-flex h-25">
                            <input class="form-control search" type="text" placeholder="search..." [(ngModel)]="searchText"
                                name="searchText" aria-label="default input example"
                                style="border-bottom: 1px solid grey; border-radius: 0;">
                            <button mat-raised-button color="primary" class="ms-5" style="
                            padding: 5px 35px 0 20px;" data-bs-toggle="modal" data-bs-target="#addModal">Add New</button>
                        </div>
                    </div>
                    <hr>
                    <table class="table mt-4">
                        <thead>
                            <tr>
                                <th scope="col" [appSort]="" data-order="desc" data-name="projectName">Project Name &nbsp;
                                    <i class="bi bi-arrow-down-up sort text-primary"></i>
                                </th>
                                <th scope="col" [appSort]="" data-order="desc" data-name="startDate">Start Date &nbsp;
                                    <i class="bi bi-arrow-down-up sort text-primary"></i>
                                </th>
                                <th scope="col" [appSort]="" data-order="desc" data-name="endDate">End Date &nbsp;
                                    <i class="bi bi-arrow-down-up sort text-primary"></i>
                                </th>
                                <th scope="col" [appSort]="" data-order="desc" data-name="estimatedTime">Estimated Time &nbsp;
                                    <i class="bi bi-arrow-down-up sort text-primary"></i>
                                </th>
                                <th scope="col" [appSort]="" data-order="desc" data-name="notes">Notes &nbsp;
                                    <i class="bi bi-arrow-down-up sort text-primary"></i>
                                </th>
                                <th scope="col" [appSort]="" data-order="desc" data-name="status">Status</th>
                                <th scope="col">Action</th>
        
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
        
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add -->
<div class="modal" id="addModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class=" d-flex justify-content-between">
                    <div class="">
                        <h4 class="modal-title text-start">Add New Project</h4>
                    </div>
                    <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"></button>
                    </div>
                </div>
                <hr class="mt-0">
                <div class="row">
                    <form class="row" #form="ngForm">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8">
                                <div class="row">
                                    <label for="" class="text-start">Project Name</label>
                                </div>
                                <input type="text" name="memberName" class="form-control input pt-0" required>
                                <div class="row mt-3">
                                    <label for="" class="text-start">Estimated Time</label>
                                </div>
                                <input type="text" name="email" class="form-control input pt-0" required>
                                <div class="row mt-3">
                                    <label for="" class="text-start">Notes</label>
                                </div>
                                <input type="text" name="memberType" class="form-control input  pt-0" required>
                               <!-- <div class="text-danger" *ngIf="rolename.touched">
                                    <span *ngIf="rolename.errors?.['required']">This field is
                                        required</span>
                                </div>  -->
                            </div>
                        </div>
                        <div class="d-flex justify-content-between m-3">

                            <div>
                                <button mat-raised-button class="mx-2" data-bs-dismiss="modal">Cancel</button>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" data-bs-dismiss="modal">Add</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Update -->
<div class="modal" id="updateModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <div class="">
                        <h4 class="modal-title text-start">Update Project</h4>
                    </div>
                    <div class="">
                        <button type="button" class="btn-close text-end" data-bs-dismiss="modal"></button>
                    </div>
                </div>
                <div class="row">
                    <form class="row" #form="ngForm">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8">
                                <div class="row">
                                    <label for="" class="text-start">Project Name</label>
                                </div>
                                <input type="text" name="memberName" class="form-control input pt-0" required>
                                <div class="row mt-3">
                                    <label for="" class="text-start">Estimated Time</label>
                                </div>
                                <input type="text" name="email" class="form-control input pt-0" required>
                                <div class="row mt-3">
                                    <label for="" class="text-start">Notes</label>
                                </div>
                                <input type="text" name="memberType" class="form-control input  pt-0" required>
                                <!-- <div class="text-danger" >
                                    <span *ngIf="rolename.errors?.['required']">This field is
                                        required</span>
                                </div> -->
                            </div>
                        </div>
                        <div class="d-flex justify-content-between m-3">
                            <div class="">
                                <button mat-raised-button class="mx-2"
                                    data-bs-dismiss="modal">Cancel</button>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" class=""
                                    data-bs-dismiss="modal">Update</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Delete -->
<div class="modal" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <div class="">
                        <h4 class="modal-title text-start">Delete Project</h4>
                    </div>
                    <div class="">
                        <button type="button" class="btn-close text-end" data-bs-dismiss="modal"></button>
                    </div>
                </div>
                <hr class="mt-0">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Do you really want to Delete?</h3>
                    </div>

                </div>
                <div class="d-flex justify-content-between m-3">
                    <div>

                        <button mat-raised-button class="mx-2" data-bs-dismiss="modal">Cancel</button>
                    </div>
                    <div>
                        <button mat-raised-button color="primary" class="" data-bs-dismiss="modal">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
