:host ::ng-deep .pagination .ngx-pagination .current {
  background: #3f51b5 !important;
  border: transparent !important;
  border-radius: 20px !important;
}
.position-absolute {
  position: absolute!important;
}
.position-relative {
  position: relative!important;
}
.comments-count {
  background-color:#3f51b5 ;
  color: #ffffff;
  min-width: 20px;
  max-width: 50px;
  padding: 0 2px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.12px;
  right: 20px;
  top: -3px;
}

