.hover-icons {
  display: none;
}

tr:hover .hover-icons {
  display: flex;
}

:host ::ng-deep .pagination .ngx-pagination .current {
  background: #3f51b5 !important;
  border: transparent !important;
  border-radius: 20px !important;
}

tr:hover .status {
  padding: 4px;

}
.status-icon{
  display: flex;
justify-content: space-between;
}
tr:hover .badge {
  margin-bottom: 2px;
}

.done {
  color: green;
  padding: 5px;
  background: rgb(214, 250, 214);
  border-radius: 100%;
}

.open {
  color: red;
  background: rgb(246, 182, 182);
  border-radius: 100%;
  padding: 5px;
}

.in_progress {
  color: #e8c409;
  background: rgb(239, 239, 194);
  border-radius: 100%;
  padding: 5px;
}

.complete {
  background: rgb(208, 208, 247);
  border-radius: 100%;
  padding: 5px;
}
tr:hover .users{
  padding-top: 20px !important;
}
.my-tasks{
  color: #3f51b5;
    background: #edf5fe ;
    font-size: 14px;
}
.status-filter{
  color: #605e82;
    font-size: 14px;
}