<div class="main-content mt-2">
    <div class="container-fluid">
        <div class="bg-white p-3">
            <form [ngClass]="{'editable-form': isEdit}" [formGroup]="leaveGeneralSettingForm">
                <div class="d-flex pb-3">
                    <div class="ms-auto">
                        <button mat-raised-button *ngIf="!isEdit" class="addBtn" type="button" (click)="toggleEdit()">Edit</button>
                        <button mat-raised-button *ngIf="isEdit" type="button" class="me-3">Cancel</button>
                        <button mat-raised-button class="addBtn" type="submit" *ngIf="isEdit"
                            (click)="onUpdate()">Save</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-6">
                                <label for="">
                                    What month of the year does your leave cycle start from?<span class="text-danger"
                                        *ngIf="isEdit">&nbsp;*</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <select id="" class="py-2 month" formControlName="leaveCycleStart">
                                    <option [value]="month" *ngFor="let month of months">{{month}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-6">
                                <label for="">
                                    Are Admins Having Manage Access to Leave Module<br> Allowed To Approve/Reject Leave
                                    Applications?<span class="text-danger" *ngIf="isEdit">&nbsp;*</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <select id="" class="py-2" formControlName="isAdminAccessLeaveApproveReject">
                                    <option [value]="true">Yes</option>
                                    <option [value]="false">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row my-5">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-6">
                                <label for="">
                                    Can Supervisors add Leave Adjustments for subordinates?<span class="text-danger"
                                        *ngIf="isEdit">&nbsp;*</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <select id="" class="py-2" formControlName="canSupervisorAddLeaveAdjustment">
                                    <option [value]="true">Yes</option>
                                    <option [value]="false">No</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-6">
                                <label for="">
                                    Would you like to run daily leave accruals?<span class="text-danger"
                                        *ngIf="isEdit">&nbsp;*</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <select id="" class="py-2" formControlName="isDailyLeaveAccrualsRun">
                                    <option [value]="true">Yes</option>
                                    <option [value]="false">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-6">
                                <label for="">
                                    What date were initial balances set ?<span class="text-danger"
                                        *ngIf="isEdit">&nbsp;*</span>
                                </label>
                            </div>
                            <div class="form-group mb-3">

                                <input type="text" formControlName="initialBalanceSetDate" class="form-control"
                                    #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue"
                                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                    formControlName="initialBalanceSetDate" />
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-6">
                                <label for="">
                                    Would you like to freeze Initial balances once first accrual is run?<span
                                        class="text-danger" *ngIf="isEdit">&nbsp;*</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <select id="" class="py-2" formControlName="isFreezeInitialBalancesOnceFirstAccrualRun">
                                    <option [value]="true">Yes</option>
                                    <option [value]="false">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row my-5">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-6">
                                <label for="">
                                    What should be the short leave application limit?<span class="text-danger"
                                        *ngIf="isEdit">&nbsp;*</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <input type="number" formControlName="shortLeaveApplicationLimit" class="form-control"
                                    class="form-control" placeholder="Enter the Limit">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-6">
                                <label for="">
                                    What should be the max duration for short leave application (in minutes)?<span
                                        class="text-danger" *ngIf="isEdit">&nbsp;*</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control"
                                    formControlName="maxDurationForShortLeaveApplicationInMin" class="form-control"
                                    placeholder="Enter the Duration">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-6">
                                <label for="">
                                    Select Locations Departments Bands Designations or Employees for Short Leave
                                </label>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" class="form-control"
                                    placeholder="Enter the Limit" formControlName="band">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-6">
                                <label for="">
                                    What are the minimum hours per day that an employee should work to get credit for a
                                    Full Day Comp Off?<span class="text-danger" *ngIf="isEdit">&nbsp;*</span>
                                </label>
                            </div>
                            <div class="col-6">

                                <div class="time-picker-input d-flex align-items-baseline" style="margin-top: -20px;">
                                    <div style="display: grid;">
                                        <input type="number" formControlName="fullDayMinHour" class="w-75" min="0"
                                            max="23" />
                                    </div>
                                    <span class="mt-4 pt-3 me-4"> : </span>
                                    <div style="display: grid;">
                                        <input type="number" formControlName="fullDayMinMinutes" class="w-75" min="0"
                                            max="59" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-6">
                                <label for="">
                                    What are the minimum hours per day that an employee should work to get credit for a
                                    Half Day Comp Off?<span class="text-danger" *ngIf="isEdit">&nbsp;*</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <div class="time-picker-input d-flex align-items-baseline" style="margin-top: -20px;">
                                    <div style="display: grid;">
                                        <input type="number" formControlName="halfDayMinHour" class="w-75"
                                            [(ngModel)]="selectedHour" min="0" max="23" />
                                    </div>
                                    <span class="mt-4 pt-3 me-4"> : </span>
                                    <div style="display: grid;">

                                        <input type="number" formControlName="halfDayMinMinutes" class="w-75" min="0"
                                            max="59" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>