<section>
    <div class="container py-5">
        <div>
            <img src="assets/logo/expanded-logo.svg" alt="Effortless HRM" width="150">
        </div>

        <hr />

        <footer class="row">
            <div class="d-flex gap-3 mb-3 col-12 col-lg-6">
                <a mat-icon-button href="https://www.google.com/search?q=effortlessHRM" target="_blank">
                    <mat-icon svgIcon="google"></mat-icon>
                </a>
                <a mat-icon-button href="https://www.facebook.com/people/Effortless-HRM/61557967964713/"
                    target="_blank">
                    <mat-icon svgIcon="facebook"></mat-icon>
                </a>
                <a mat-icon-button href="https://www.instagram.com/effortlesshrm" target="_blank">
                    <mat-icon svgIcon="instagram"></mat-icon>
                </a>
                <a mat-icon-button href="https://www.linkedin.com/company/effortlesshrm/" target="_blank">
                    <mat-icon svgIcon="linkedin"></mat-icon>
                </a>
                <a mat-icon-button href="https://twitter.com/i/flow/login?redirect_after_login=%2FEffortlessHRM"
                    target="_blank">
                    <mat-icon svgIcon="x"></mat-icon>
                </a>
                <a mat-icon-button href="https://www.youtube.com/@EffortlessHRM" target="_blank">
                    <mat-icon svgIcon="youtube"></mat-icon>
                </a>
            </div>
            <div class="col-12 col-lg-6 text-end">
                <img src="assets/thumb/app-store.svg" alt="App Store">
                <img src="assets/thumb/google-play.svg" alt="Google Play">
            </div>
        </footer>
    </div>
</section>