<div class="main-content">
    <div class="row mt-2">
        <h1 class="border-bottom pb-2">Asset Assignment</h1>
        <!-- Employee Dropdown in the first column -->
        <div class="col-md-4">
            <subordinateSelection (selectedUsersChange)="selectedUsersChanged($event)"></subordinateSelection>
        </div>

        <!-- Unassigned and Assigned Assets in the second column -->
        <div class="col-md-8 border-start">
            <!-- Unassigned Assets (Top Section) -->
            <div class="mb-3">
                <h5 class="mb-1">Unassigned Assets</h5>
                <ul class="list-group">
                    <li *ngFor="let asset of unAssignedAssets"
                        class="list-group-item d-flex justify-content-between align-items-center">
                        {{ asset.assetName }}
                        <button class="btn btn-success" (click)="assignAsset(asset)">Assign</button>
                    </li>
                </ul>
            </div>

            <!-- Assigned Assets (Bottom Section) -->
            <div class="bg-white p-2">
                <h5>Assigned Assets</h5>
              
                <table class="table">
                    <thead>
                        <tr>
                            <th>Asset</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let asset of assignedAssets;">
                            <tr *ngIf="userId==asset?.Employee">
                                <td>{{ asset?.Asset?.assetName }}</td>
                                <td>{{ getAssetTypeName(asset?.Asset?.assetType) }}</td>
                                <td>{{ getStatusName(asset?.Asset?.status) }}</td>
                                <td>
                                    <button class="btn btn-danger" (click)="unassignAsset(asset)">Unassign</button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>