<div class="main-content pt-0">
    <div class="row">
        <h1 class="contentHeading p-2">Asset Assignment</h1>
        <!-- Employee Dropdown in the first column -->
        <div class="col-md-4 border-end">
            <subordinateSelection (selectedUsersChange)="selectedUsersChanged($event)"></subordinateSelection>
        </div>

        <div class="col-md-8 tableContainer">
            <div class="mb-3">
                <h5 class="mb-1">Unassigned Assets</h5>
               
                <table  class="p-2 rounded mt-2">
                    <thead>
                        <tr>
                            <th>Asset</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let asset of unAssignedAssets;">
                            <tr>
                                <td>{{ asset?.assetName }}</td>
                                <td>{{ getAssetTypeName(asset?.assetType) }}</td>
                                <td>{{ getStatusName(asset?.status) }}</td>
                                <td>
                                    <button class="btn addBtn" (click)="assignAsset(asset)">Assign</button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
<hr>
            <div class="bg-white p-2 tableContainer">
                <h5>Assigned Assets</h5>
              
                <table  class="p-2 rounded mt-2">
                    <thead>
                        <tr>
                            <th>Asset</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let asset of assignedAssets;">
                            <tr *ngIf="userId==asset?.Employee">
                                <td>{{ asset?.Asset?.assetName }}</td>
                                <td>{{ getAssetTypeName(asset?.Asset?.assetType) }}</td>
                                <td>{{ getStatusName(asset?.Asset?.status) }}</td>
                                <td>
                                    <button class="btn addBtn" (click)="unassignAsset(asset)">Unassign</button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>