<div class="mainContent pt-3">
    <div class="container-fluid">
        <div class="p-2 bg-white tableContainer">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <p class="mb-0">() Records Found</p>
                <app-date-range></app-date-range>
            </div>

            <div class="table-responsive">
                <table>
                    <thead>
                        <th>Employee</th>
                        <th *ngFor="let date of weekDates">{{ date.day }}<br>{{ date.date }}</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>