<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="">

                    <div class="container-fluid mt-3 py-2 px-0 bg-white tableContainer">
                        <div class="d-flex justify-content-between align-items-center mb-2 px-3">
                            <p class="mb-0">({{projectList?.length}}) Records Found</p>
                            <div class=" pt-1 d-flex text-center mx-4 h-25">
                                <label for="member" class="pt-1 pe-3">Members: </label>

                                <select id="member" name="member" class="form-control"
                                    class="form-select form-select-sm" aria-label=".form-select-sm example"
                                    [(ngModel)]="userId" (change)="onMemberSelectionChange(userId)">
                                    <option value="value" disabled selected>Select Member</option>
                                    <option *ngFor="let assignee of allAssignee" [value]="assignee.id">
                                        {{assignee.firstName |titlecase}} {{assignee.lastName | titlecase}}

                                    </option>
                                </select>
                            </div>

                            <div class="d-flex align-items-center h-25 ms-auto">
                                <span class="bi bi-search searchIcon"></span>
                                <input class="form-control search" type="text" placeholder="Search..."
                                    [(ngModel)]="searchText" name="searchText" aria-label="default input example">
                                <button mat-raised-button class="addBtn rounded-pill ms-3" (click)="clearForm()"
                                    data-bs-toggle="modal" data-bs-target="#addModal">Add
                                    New</button>
                            </div>

                        </div>
                        <table class="px-4">
                            <thead>
                                <tr>
                                    <th class="ps-2" scope="col" [appSort]="projectList" data-order="{{ sortOrder }}"
                                        data-name="projectName"
                                        (click)="sortOrder = (sortOrder === 'asc' ? 'desc' : 'asc')">
                                        Project Name &nbsp;
                                        <i
                                            [class]="sortOrder === 'asc' ? 'bi bi-arrow-up sort-asc' : 'bi bi-arrow-down sort-desc'"></i>
                                    </th>

                                    <th scope="col" [appSort]="projectList" data-order="{{ sortOrder }}"
                                        data-name="startDate"
                                        (click)="sortOrder = (sortOrder === 'asc' ? 'desc' : 'asc')">
                                        Start Date &nbsp;
                                        <i
                                            [class]="sortOrder === 'asc' ? 'bi bi-arrow-up sort-asc' : 'bi bi-arrow-down sort-desc'"></i>
                                    </th>

                                    <th scope="col" [appSort]="projectList" data-order="{{ sortOrder }}"
                                        data-name="endDate"
                                        (click)="sortOrder = (sortOrder === 'asc' ? 'desc' : 'asc')">
                                        End Date &nbsp;
                                        <i
                                            [class]="sortOrder === 'asc' ? 'bi bi-arrow-up sort-asc' : 'bi bi-arrow-down sort-desc'"></i>
                                    </th>



                                    <th scope="col" [appSort]="projectList" data-order="{{ sortOrder }}"
                                        data-name="estimatedTime"
                                        (click)="sortOrder = (sortOrder === 'asc' ? 'desc' : 'asc')">
                                        Estimated Time &nbsp;
                                        <i
                                            [class]="sortOrder === 'asc' ? 'bi bi-arrow-up sort-asc' : 'bi bi-arrow-down sort-desc'"></i>
                                    </th>


                                    <th scope="col" [appSort]="projectList" data-order="{{ sortOrder }}"
                                        data-name="notes" (click)="sortOrder = (sortOrder === 'asc' ? 'desc' : 'asc')">
                                        Notes &nbsp;
                                        <i
                                            [class]="sortOrder === 'asc' ? 'bi bi-arrow-up sort-asc' : 'bi bi-arrow-down sort-desc'"></i>
                                    </th>
                                    <th scope="col" data-order="desc" data-name="status">Status</th>
                                    <th scope="col" [appSort]="projectList" data-order="desc"
                                        data-name="users?.user?.firstName" *ngIf="!userId">Members</th>

                                    <th scope="col" class=" text-center">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let data of projectList | search: searchText ">
                                    <td class="ps-2">
                                        {{ data?.projectName}}
                                    </td>
                                    <td *ngIf="data !== null">{{data?.startDate | date:'mediumDate'}}</td>
                                    <td *ngIf="data !== null">{{data?.endDate | date:'mediumDate'}}</td>
                                    <td *ngIf="data !== null">{{data?.estimatedTime}}</td>
                                    <td *ngIf="data !== null">{{data?.notes }}

                                    </td>
                                    <td *ngIf="data !== null"> <span
                                            class="badge rounded-pill table-button  bg-success text-light px-4 py-2"
                                            *ngIf="data?.status=='Active'">{{data?.status}}</span> </td>


                                    <td class="ps-2" *ngIf="!userId && data !== null">
                                        <ng-container *ngFor="let users of data.ProjectUser">
                                            <span *ngIf="users?.user" class="letter text-light"
                                                [tooltip]="(users?.user?.firstName | titlecase) + (' ') + (users?.user?.lastName | titlecase)"
                                                [style.background-color]="commonservice.getRandomColor(users?.user?.firstName)">
                                                {{ users?.user?.firstName.charAt(0) | uppercase }}
                                            </span>
                                        </ng-container>
                                    </td>


                                    <td class="action text-center" *ngIf="data !== null">
                                        <div ngbDropdown class="dropdown-center">
                                            <button class="actions ms-2" mat-mini-fab ngbDropdownToggle aria-expanded="false" aria-label="Example icon button with a menu icon">
                                              <i class="bi bi-send"></i>
                                            </button>
                                            <ul ngbDropdownMenu class="dropdown-menu py-0">
                                              <li class="d-flex border-bottom action-list" data-bs-toggle="modal"
                                              data-bs-target="#addUserModal" (click)="getProjectUser(data.id)"
                                              (click)="selectedProject=data" *ngIf="data !== null">
                                                <i class="bi bi-person-plus contentHeading dropdown-item w-25"></i>
                                                <span class="pt-1 text-muted">Add User</span>
                                              </li>
                                          
                                              <li class="d-flex border-bottom action-list" data-bs-toggle="modal"
                                              data-bs-target="#getUsers" (click)="getProjectUser(data.id)"
                                              (click)="selectedProject=data" *ngIf="data !== null">
                                                <i class="bi bi-person-dash text-danger dropdown-item w-25"></i>
                                                <span class="pt-1 text-muted">Remove User</span>
                                              </li>
                                          
                                              <li class="d-flex border-bottom action-list" data-bs-toggle="modal"
                                              data-bs-target="#deleteModal" (click)="selectedProject=data">
                                                <i class="bi bi-trash3 text-danger dropdown-item w-25"></i>
                                                <span class="pt-1 text-muted">Delete Project</span>
                                              </li>
                                          
                                              <li class="d-flex action-list" data-bs-toggle="modal"
                                              data-bs-target="#updateModal" (click)="selectedProject=data">
                                                <i class="bi bi-pencil text-success dropdown-item w-25"></i>
                                                <span class="pt-1 text-muted">Edit Project</span>
                                              </li>
                                            </ul>
                                          </div>
                                          
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add User -->
<div class="modal" id="addUserModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class=" d-flex justify-content-between">
                    <div class="">
                        <h4 class="modal-title text-start">Add New Member</h4>
                    </div>
                    <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"></button>
                    </div>
                </div>
                <hr class="mt-0">
                <div class="row" *ngIf="selectedProject">
                    <form class="row" [formGroup]="addUserForm" (ngSubmit)="addUserToProject(addUserForm.value)">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8">

                                <div class="mt-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Select User</mat-label>
                                        <mat-select multiple formControlName="userName" [(ngModel)]="selectedUser">
                                            <mat-option *ngFor="let assignee of allAssignee" [value]="assignee.id"
                                                [selected]="selectedUser?.includes(assignee?.id)">
                                                {{assignee.firstName | titlecase}} {{assignee.lastName | titlecase}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between m-3">
                            <div>
                                <button mat-raised-button class="mx-2" data-bs-dismiss="modal"
                                    type="button">Cancel</button>
                            </div>
                            <div>
                                <button mat-raised-button class="addBtn" data-bs-dismiss="modal"
                                    type="submit">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Get Users List -->
<div class="modal" id="getUsers">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class=" d-flex justify-content-between">
                    <div class="">
                        <h4 class="modal-title text-start">Users Assigned to the <b
                                style="color: #76bc21">{{selectedProject?.projectName | titlecase}}</b></h4>
                    </div>
                    <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"></button>
                    </div>
                </div>
                <hr class="mt-0">
                <div class="row" *ngIf="selectedProject">
                    <form class="row">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8">
                                <li *ngFor="let assignee of projectUserList;" type="none">
                                    <label *ngIf="assignee.user!=null">
                                        <mat-checkbox color="primary" name="firstName"
                                            (change)="onModelChange(assignee)"
                                            [checked]="true">{{assignee?.user?.firstName | titlecase}}
                                            {{assignee?.user?.lastName | titlecase}}</mat-checkbox>
                                    </label>

                                </li>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add -->
<div class="modal" id="addModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class=" d-flex justify-content-between border-bottom">
                    <div class="">
                        <h4 class="modal-title text-start">Add New Project</h4>
                    </div>
                    <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"></button>
                    </div>
                </div>
                <div class="row">
                    <form class="pt-2" [formGroup]="form" (ngSubmit)="addProject()">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="projectName" class="text-start">Project Name</label>

                                        <input type="text" name="projectName" id="projectName"
                                            formControlName="projectName" class="form-control input pt-0" 
                                            required>
                                        <div *ngIf="form.controls['projectName'].invalid && form.controls['projectName'].touched"
                                            class="alert alert-danger error">
                                            <div *ngIf="form.controls['projectName'].errors['required']">
                                                Project Name is required.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="estimatedTime"
                                            class="text-start d-flex justify-content-between"><span>
                                                Estimated Time </span><span class="text-muted"
                                                style="font-size: 12px">(In
                                                hours)</span></label>

                                        <input type="number" name="estimatedTime" id="estimatedTime"
                                            class="form-control input pt-0" formControlName="estimatedTime" 
                                            required>
                                        <div *ngIf="form.controls['estimatedTime'].invalid && form.controls['estimatedTime'].touched"
                                            class="alert alert-danger error">
                                            <div *ngIf="form.controls['estimatedTime'].errors['required']">
                                                Estimated Time is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <label for="startDate" class="text-start">Start Date</label>

                                        <div class="row">
                                            <div class="col-12 form-group ">
                                                <!-- <input placeholder="YYYY-MM-DD" class="form-control"
                                                    #datepickerYMD="bsDatepicker" bsDatepicker
                                                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                                    formControlName="startDate"  required> -->
                                                    <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue"
                                                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" formControlName="startDate" />
                                            </div>
                                        </div>
                                        <div *ngIf="form.controls['startDate'].invalid && form.controls['startDate'].touched"
                                            class="alert alert-danger error">
                                            <div *ngIf="form.controls['startDate'].errors['required']">
                                                Start Date is required.
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <label for="endDate" class="text-start">End Date</label>

                                        <div class="row">
                                            <div class="col-12 form-group">
                                                <!-- <input placeholder="YYYY-MM-DD" class="form-control"
                                                    #datepickerYMD="bsDatepicker" bsDatepicker
                                                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                                    formControlName="endDate"  required> -->
                                                    <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue"
                                                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" formControlName="endDate" />
                                            </div>
                                        </div>
                                        <div *ngIf="form.controls['endDate'].invalid && form.controls['endDate'].touched"
                                            class="alert alert-danger error">
                                            <div *ngIf="form.controls['endDate'].errors['required']">
                                                End Date is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row mt-2">
                                    <label for="notes" class="text-start">Notes</label>
                                </div>
                                <input type="text" name="notes" id="notes" class="form-control input  pt-0"
                                    formControlName="notes"  required>
                                <div *ngIf="form.controls['notes'].invalid && form.controls['notes'].touched"
                                    class="alert alert-danger error">
                                    <div *ngIf="form.controls['notes'].errors['required']">
                                        Note is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between my-3 border-top pt-3">

                            <div>
                                <button mat-raised-button class="mx-2" type="reset">Cancel</button>
                            </div>
                            <div>
                                <button mat-raised-button class="addBtn" type="submit">Add</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Update -->
<div class="modal" id="updateModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between border-bottom mb-3">
                    <div class="">
                        <h4 class="modal-title text-start">Update Project <b
                                style="color: #76bc21">{{selectedProject.projectName | titlecase}}</b></h4>
                    </div>
                    <div class="">
                        <button type="button" class="btn-close text-end" data-bs-dismiss="modal"></button>
                    </div>
                </div>
                <div class="row" *ngIf="selectedProject">
                    <form class="row" [formGroup]="updateForm" (ngSubmit)="updateProject(updateForm.value)">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-12">
                                <div class="row">
                                    <label for="projectName" class="text-start">Project Name</label>
                                </div>
                                <input type="text" name="projectName" id="projectName" class="form-control input pt-0"
                                    [(ngModel)]="selectedProject.projectName" formControlName="projectName" required>
                                <div *ngIf="updateForm.controls['projectName'].invalid && updateForm.controls['projectName'].touched"
                                    class="alert alert-danger error">
                                    <div *ngIf="updateForm.controls['projectName'].errors['required']">
                                        Project Name is required.
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                    <div class="row mt-3">
                                        <label for="startDate" class="text-start">Start Date</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 form-group mb-3">
                                            <input placeholder="YYYY-MM-DD" class="form-control"
                                                #datepickerYMD="bsDatepicker" bsDatepicker
                                                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                                formControlName="startDate" [(ngModel)]="selectedProject.startDate"
                                                required>
                                        </div>
                                    </div>
                                    <div *ngIf="updateForm.controls['startDate'].invalid && updateForm.controls['startDate'].touched"
                                        class="alert alert-danger error">
                                        <div *ngIf="updateForm.controls['startDate'].errors['required']">
                                            Start Date is required.
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row mt-3">
                                            <label for="endDate" class="text-start">End Date</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 form-group mb-3">
                                                <input placeholder="YYYY-MM-DD" class="form-control"
                                                    #datepickerYMD="bsDatepicker" bsDatepicker
                                                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                                    formControlName="endDate" [(ngModel)]="selectedProject.endDate"
                                                    required>
                                            </div>
                                        </div>
                                        <div *ngIf="updateForm.controls['endDate'].invalid && updateForm.controls['endDate'].touched"
                                            class="alert alert-danger error">
                                            <div *ngIf="updateForm.controls['endDate'].errors['required']">
                                                End Date is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <label for="estimatedTime" class="text-start d-flex justify-content-between"><span>
                                            Estimated Time </span><span class="text-muted" style="font-size: 12px">(In
                                            hours)</span></label>
                                </div>
                                <input type="text" name="estimatedTime" id="estimatedTime"
                                    class="form-control input pt-0" [(ngModel)]="selectedProject.estimatedTime"
                                    formControlName="estimatedTime" required pattern="^[0-9]*$">
                                <div *ngIf="updateForm.controls['estimatedTime'].invalid && updateForm.controls['estimatedTime'].touched"
                                    class="alert alert-danger error">
                                    <div *ngIf="updateForm.controls['estimatedTime'].errors['required']">
                                        Estimated Time is required.
                                    </div>
                                    <div *ngIf="updateForm.controls['estimatedTime'].errors['pattern']">
                                        Estimated Time must be in Number.
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <label for="notes" class="text-start">Notes</label>
                                </div>
                                <input type="text" name="notes" id="notes" class="form-control input  pt-0"
                                    [(ngModel)]="selectedProject.notes" formControlName="notes" >
                               
                            </div>
                        </div>
                        <div class="d-flex justify-content-between m-3">
                            <div class="">
                                <button mat-raised-button class="mx-2"
                                    type="reset">Cancel</button>
                            </div>
                            <div>
                                <button mat-raised-button class="addBtn" 
                                    type="submit">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete -->
<div class="modal" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <div class="">
                        <h4 class="modal-title text-start">Delete Project <b
                                style="color: #76bc21">{{selectedProject.projectName | titlecase}}</b></h4>
                    </div>
                    <div class="">
                        <button type="button" class="btn-close text-end" data-bs-dismiss="modal"></button>
                    </div>
                </div>
                <hr class="mt-0">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Do you really want to Delete?</h3>
                    </div>

                </div>
                <div class="d-flex justify-content-between m-3">
                    <div>

                        <button mat-raised-button class="mx-2" data-bs-dismiss="modal" type="button">Cancel</button>
                    </div>
                    <div>
                        <button mat-raised-button class="addBtn" (click)="deleteProject()" data-bs-dismiss="modal"
                            type="submit">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>