<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="d-flex ">
                        <h1 class="">Projects: {{projectList?.length}}</h1>
                        <div class=" pt-1 d-flex text-center mx-4 h-25">
                            <label for="member" class="pt-1 pe-3">Members: </label>

                            <select id="member" name="member" class="form-control" class="form-select form-select-sm"
                                aria-label=".form-select-sm example" [(ngModel)]="userId"
                                (change)="onMemberSelectionChange(userId)">
                                <option value="value" disabled selected>Select Member</option>
                                <option *ngFor="let assignee of allAssignee" [value]="assignee.id">
                                    {{assignee.firstName |titlecase}} {{assignee.lastName | titlecase}}

                                </option>
                            </select>

                        </div>
                        <div class="d-flex h-25 ms-auto">
                            <input class="form-control search" type="text" placeholder="search..."
                                [(ngModel)]="searchText" name="searchText" aria-label="default input example"
                                style="border-bottom: 1px solid grey; border-radius: 0;">
                            <button mat-raised-button color="primary" class="ms-5" style="
                            padding: 5px 35px 0 20px;" data-bs-toggle="modal" data-bs-target="#addModal">Add
                                New</button>
                        </div>
                    </div>
                    <hr>
                    <table class="table table-striped mt-4" cdkDropList (cdkDropListDropped)="drop($event)">
                        <thead>
                            <tr>
                                <th scope="col" [appSort]="projectList" data-order="desc" data-name="projectName">
                                    Project Name &nbsp;
                                    <i class="bi bi-arrow-down-up sort text-primary"></i>
                                </th>
                                <th scope="col" [appSort]="projectList" data-order="desc" data-name="startDate">Start
                                    Date &nbsp;
                                    <i class="bi bi-arrow-down-up sort text-primary"></i>
                                </th>
                                <th scope="col" [appSort]="projectList" data-order="desc" data-name="endDate">End Date
                                    &nbsp;
                                    <i class="bi bi-arrow-down-up sort text-primary"></i>
                                </th>
                                <th scope="col" [appSort]="projectList" data-order="desc" data-name="estimatedTime">
                                    Estimated Time &nbsp;
                                    <i class="bi bi-arrow-down-up sort text-primary"></i>
                                </th>
                                <th scope="col" [appSort]="projectList" data-order="desc" data-name="notes">Notes &nbsp;
                                    <i class="bi bi-arrow-down-up sort text-primary"></i>
                                </th>
                                <th scope="col" [appSort]="projectList" data-order="desc" data-name="status">Status</th>
                                <th scope="col" [appSort]="projectList" data-order="desc"
                                    data-name="users?.user?.firstName" *ngIf="!userId">Members</th>

                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr cdkDrag *ngFor="let data of projectList | search: searchText |  paginate: { itemsPerPage: 5, currentPage: p }">

                                <td class="highlight">
                                    <div></div>
                                </td>

                                <td class="action text-start" data-bs-toggle="modal" data-bs-target="#getUsers"
                                    (click)="getProjectUser(data.id)" (click)="selectedProject=data" *ngIf="data !== null">
                                    <span class="bi bi-grip-horizontal text-secondary data mt-2 me-3"></span>
                                    {{ data?.projectName | titlecase }}
                                </td>
                                <td *ngIf="data !== null">{{data?.startDate | date:'mediumDate'}}</td>
                                <td *ngIf="data !== null">{{data?.endDate | date:'mediumDate'}}</td>
                                <td *ngIf="data !== null">{{data?.estimatedTime}}</td>
                                <td *ngIf="data !== null">{{data?.notes }}

                                </td>
                                <td *ngIf="data !== null"> <span class="badge rounded-pill table-button  bg-success text-light px-4 py-2"
                                        *ngIf="data?.status=='Active'">{{data?.status}}</span> </td>

                                <td class="d-flex flex-nowrap" *ngIf="!userId && data !==null">
                                    <i class="fa fa-user-plus addUser me-3 mt-1" data-bs-toggle="modal"
                                        data-bs-target="#addUserModal" (click)="selectedProject=data"></i>
                                    <span *ngFor="let users of data.ProjectUser" class="letter text-light"
                                        [tooltip]="(users?.user?.firstName| titlecase) + (' ') +( users?.user?.lastName | titlecase)"
                                        [style.background-color]="getRandomColor(users?.user?.firstName)">
                                        {{users?.user?.firstName.charAt(0) | uppercase}}
                                    </span>
                                </td>

                                <td class="action" *ngIf="data !== null">
                                    <div class="dropdown-center">
                                        <i class="bi bi-three-dots actions" data-bs-toggle="dropdown"
                                            aria-expanded="false"></i>
                                        <ul class="dropdown-menu">
                                            <li class="d-flex" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                                (click)="selectedProject=data">
                                                <i class="bi bi-trash3 text-danger dropdown-item w-25"></i><span
                                                    class="pt-1 text-muted">Delete</span>
                                            </li>
                                            <hr class="mx-2 my-0">
                                            <li class="d-flex" data-bs-toggle="modal" data-bs-target="#updateModal"
                                                (click)="selectedProject=data">
                                                <i class="bi bi-pencil text-success  dropdown-item w-25"></i><span
                                                    class="pt-1 text-muted">Edit</span>
                                            </li>

                                        </ul>
                                    </div>
                                </td>
                                <td class="highlight">
                                    <div></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"
                        class="pagination d-flex justify-content-end"></pagination-controls>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add User -->
<div class="modal" id="addUserModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class=" d-flex justify-content-between">
                    <div class="">
                        <h4 class="modal-title text-start">Add New Member</h4>
                    </div>
                    <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"></button>
                    </div>
                </div>
                <hr class="mt-0">
                <div class="row" *ngIf="selectedProject">
                    <form class="row" [formGroup]="addUserForm" (ngSubmit)="addUserToProject(addUserForm.value)">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8">

                                <div class="mt-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Select User</mat-label>
                                        <mat-select multiple formControlName="userName"
                                            [(ngModel)]="selectedProject._id && selectedMembers">
                                            <mat-option *ngFor="let assignee of allAssignee" [value]="assignee.id"
                                                [selected]="selectedProject.id?.includes(assignee)">
                                                {{assignee.firstName | titlecase}} {{assignee.lastName |
                                                titlecase}}</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>


                            </div>
                        </div>
                        <div class="d-flex justify-content-between m-3">

                            <div>
                                <button mat-raised-button class="mx-2" data-bs-dismiss="modal"
                                    type="button">Cancel</button>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" data-bs-dismiss="modal"
                                    type="submit">Add</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Get Users List -->
<div class="modal" id="getUsers">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class=" d-flex justify-content-between">
                    <div class="">
                        <h4 class="modal-title text-start">Users Assigned to the <b
                                style="color: #556def">{{selectedProject?.projectName | titlecase}}</b></h4>
                    </div>
                    <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"></button>
                    </div>
                </div>
                <hr class="mt-0">
                <div class="row" *ngIf="selectedProject">
                    <form class="row" (ngSubmit)="getProjectUser(projectList._id)">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8">
                                <li *ngFor="let assignee of projectUserList; let i = index" type="none">
                                    <label *ngIf="assignee.user!=null">
                                        <mat-checkbox color="primary" name="firstName" [checked]="isChecked"
                                            (ngModelChange)="onModelChange($event, assignee)"
                                            [(ngModel)]="isChecked">{{assignee?.user?.firstName | titlecase}}
                                            {{assignee?.user?.lastName | titlecase}}</mat-checkbox>
                                    </label>

                                </li>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add -->
<div class="modal" id="addModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class=" d-flex justify-content-between">
                    <div class="">
                        <h4 class="modal-title text-start">Add New Project</h4>
                    </div>
                    <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"></button>
                    </div>
                </div>
                <hr class="mt-0">
                <div class="row">
                    <form class="row" [formGroup]="form" (ngSubmit)="addProject(form.value)">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8">
                                <div class="row">
                                    <label for="projectName" class="text-start">Project Name</label>
                                </div>
                                <input type="text" name="projectName" id="projectName" formControlName="projectName"
                                    class="form-control input pt-0" ngModel required>
                                <div *ngIf="form.controls['projectName'].invalid && form.controls['projectName'].touched"
                                    class="alert alert-danger error">
                                    <div *ngIf="form.controls['projectName'].errors['required']">
                                        Project Name is required.
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <label for="startDate" class="text-start">Start Date</label>
                                </div>
                                <input type="date" name="startDate" id="startDate" class="form-control input pt-0"
                                    formControlName="startDate" ngModel required>
                                <div *ngIf="form.controls['startDate'].invalid && form.controls['startDate'].touched"
                                    class="alert alert-danger error">
                                    <div *ngIf="form.controls['startDate'].errors['required']">
                                        Start Date is required.
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <label for="endDate" class="text-start">End Date</label>
                                </div>
                                <input type="date" name="endDate" id="endDate" class="form-control input pt-0"
                                    formControlName="endDate" ngModel required>
                                <div *ngIf="form.controls['endDate'].invalid && form.controls['endDate'].touched"
                                    class="alert alert-danger error">
                                    <div *ngIf="form.controls['endDate'].errors['required']">
                                        End Date is required.
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <label for="estimatedTime" class="text-start">Estimated Time</label>
                                </div>
                                <input type="text" name="estimatedTime" id="estimatedTime"
                                    class="form-control input pt-0" formControlName="estimatedTime" ngModel required>
                                <div *ngIf="form.controls['estimatedTime'].invalid && form.controls['estimatedTime'].touched"
                                    class="alert alert-danger error">
                                    <div *ngIf="form.controls['estimatedTime'].errors['required']">
                                        Estimated Time is required.
                                    </div>

                                </div>
                                <!-- <div class="mt-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Select User</mat-label>
                                    <mat-select multiple formControlName="firstName">
                                      <mat-option *ngFor="let assignee of allAssignee" [value]="assignee.firstName">{{assignee.firstName | titlecase}} {{assignee.lastName | titlecase}}</mat-option>
                                    </mat-select>
                                
                                  </mat-form-field>
                                </div> -->

                                <div class="row mt-3">
                                    <label for="notes" class="text-start">Notes</label>
                                </div>
                                <input type="text" name="notes" id="notes" class="form-control input  pt-0"
                                    formControlName="notes" ngModel required>
                                <div *ngIf="form.controls['notes'].invalid && form.controls['notes'].touched"
                                    class="alert alert-danger error">
                                    <div *ngIf="form.controls['notes'].errors['required']">
                                        Note is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between m-3">

                            <div>
                                <button mat-raised-button class="mx-2" data-bs-dismiss="modal"
                                    type="button">Cancel</button>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" data-bs-dismiss="modal"
                                    type="submit">Add</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Update -->
<div class="modal" id="updateModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <div class="">
                        <h4 class="modal-title text-start">Update Project <b
                            style="color: #556def">{{selectedProject.projectName | titlecase}}</b></h4>
                    </div>
                    <div class="">
                        <button type="button" class="btn-close text-end" data-bs-dismiss="modal"></button>
                    </div>
                </div>
                <div class="row" *ngIf="selectedProject">
                    <form class="row" [formGroup]="updateForm" (ngSubmit)="updateProject(updateForm.value)">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8">
                                <div class="row">
                                    <label for="projectName" class="text-start">Project Name</label>
                                </div>
                                <input type="text" name="projectName" id="projectName" class="form-control input pt-0"
                                    [(ngModel)]="selectedProject.projectName" formControlName="projectName" required>
                                <div *ngIf="updateForm.controls['projectName'].invalid && updateForm.controls['projectName'].touched"
                                    class="alert alert-danger error">
                                    <div *ngIf="updateForm.controls['projectName'].errors['required']">
                                        Project Name is required.
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <label for="startDate" class="text-start">Start Date</label>
                                </div>
                                <input type="date" name="startDate" id="startDate" class="form-control input pt-0"
                                    [(ngModel)]="selectedProject.startDate" formControlName="startDate" required>
                                <div *ngIf="updateForm.controls['startDate'].invalid && updateForm.controls['startDate'].touched"
                                    class="alert alert-danger error">
                                    <div *ngIf="updateForm.controls['startDate'].errors['required']">
                                        Start Date is required.
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <label for="endDate" class="text-start">End Date</label>
                                </div>
                                <input type="date" name="endDate" id="endDate" class="form-control input pt-0"
                                    [(ngModel)]="selectedProject.endDate" formControlName="endDate" required>
                                <div *ngIf="updateForm.controls['endDate'].invalid && updateForm.controls['endDate'].touched"
                                    class="alert alert-danger error">
                                    <div *ngIf="updateForm.controls['endDate'].errors['required']">
                                        End Date is required.
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <label for="estimatedTime" class="text-start">Estimated Time</label>
                                </div>
                                <input type="text" name="estimatedTime" id="estimatedTime"
                                    class="form-control input pt-0" [(ngModel)]="selectedProject.estimatedTime"
                                    formControlName="estimatedTime" required pattern="^[0-9]*$">
                                <div *ngIf="updateForm.controls['estimatedTime'].invalid && updateForm.controls['estimatedTime'].touched"
                                    class="alert alert-danger error">
                                    <div *ngIf="updateForm.controls['estimatedTime'].errors['required']">
                                        Estimated Time is required.
                                    </div>
                                    <div *ngIf="updateForm.controls['estimatedTime'].errors['pattern']">
                                        Estimated Time must be in Number.
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <label for="notes" class="text-start">Notes</label>
                                </div>
                                <input type="text" name="notes" id="notes" class="form-control input  pt-0"
                                    [(ngModel)]="selectedProject.notes" formControlName="notes" required>
                                <div *ngIf="updateForm.controls['notes'].invalid && updateForm.controls['notes'].touched"
                                    class="alert alert-danger error">
                                    <div *ngIf="updateForm.controls['notes'].errors['required']">
                                        Note is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between m-3">
                            <div class="">
                                <button mat-raised-button class="mx-2" data-bs-dismiss="modal"
                                    type="button">Cancel</button>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" class="" data-bs-dismiss="modal" type="submit"
                                    [disabled]="!updateForm.valid">Update</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Delete -->
<div class="modal" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <div class="">
                        <h4 class="modal-title text-start">Delete Project <b
                            style="color: #556def">{{selectedProject.projectName | titlecase}}</b></h4>
                    </div>
                    <div class="">
                        <button type="button" class="btn-close text-end" data-bs-dismiss="modal"></button>
                    </div>
                </div>
                <hr class="mt-0">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Do you really want to Delete?</h3>
                    </div>

                </div>
                <div class="d-flex justify-content-between m-3">
                    <div>

                        <button mat-raised-button class="mx-2" data-bs-dismiss="modal" type="button">Cancel</button>
                    </div>
                    <div>
                        <button mat-raised-button color="primary" class="" (click)="deleteProject()"
                            data-bs-dismiss="modal" type="submit">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>