<section class="intro-container">
    <div class="container text-center">
        <div class="intro-text-container">
            <h1 class="fs-6 text-primary">{{ 'landing.title' | translate }}</h1>
            <h2 class="sub-title">{{ 'landing.subtitle' | translate }}</h2>
            <p class="lead">{{ 'landing.header_desc' | translate }}</p>
        </div>
    </div>
    <div class="intro-image text-center">
        <img src="assets/png/hero-bg.png" alt="Hero Image" class="hero-bg">
        <img src="assets/png/hero-image.png" alt="Hero Image" class="hero-image img-fluid">
    </div>
</section>