<section class="intro-container">
    <div class="container text-center">
        <div class="intro-text-container">
            <h1 class="fs-6 text-primary tracking-in-contract">{{ 'landing.title' | translate }}</h1>
            <h2 class="sub-title text-focus-in text-fade-out">{{ 'landing.subtitle' | translate }}</h2>
            <p class="lead text-focus-in text-fade-out">{{ 'landing.header_desc' | translate }}</p>
        </div>
    </div>
    <div class="intro-image text-center">
        <img src="assets/png/hero-bg.png" alt="Hero Image" class="hero-bg bounce-in-fwd">
        <img src="assets/png/hero-image.png" alt="Hero Image" class="hero-image img-fluid slide-in-elliptic-top-fwd">
    </div>
</section>