.search{
    border: none;
    box-shadow: none;
}
:host ::ng-deep .pagination .ngx-pagination .current {
    background: #3f51b5 !important;
    border: transparent !important;
    border-radius: 20px !important;
  }
