.checkIcon {
    color: #64b53f;
}

.absentIcon {
    color: #f41e0c;
}

.in-outIcon {
    color: #9fe78c;
}
.incompleteIcon{
    color: #f4b146;
}

.halfDayIcon {
    color: #46d1f4;
}

.weeklyOffIcon {
    color: #159297;
}
.holidayIcon{
    color: #c247fc;
}

.leaveIcon {
    color: #fa6ec4;
}
.not-applicableIcon {
    color: #434240;
}

.table-wrapper {
    overflow-x: auto;
    white-space: nowrap;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px 16px;
    text-align: left;
  }
  
  th:first-child, td:first-child {
    position: sticky;
    left: 0;
    /* background-color: white;  */
    z-index: 1; 
    /* box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1); */
  }
  
  /* th:last-child, td:last-child {
    position: sticky;
    right: 0;
    background-color: white;
    z-index: 1;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  } */


.border-half-leave {
    border-color: #6f42c1 !important; /* Custom Purple/Teal color */
}