<div class="main-content">
    <div class="container-fluid px-0">
        <div class=" d-flex bg-white subMenu w-100">
            <button class="btn rounded-pill submenuTab" routerLink="employees" routerLinkActive="active"
                >Employees</button>
            <button class="btn rounded-pill submenuTab" routerLink="projects"
                routerLinkActive="active">Projects</button>
            <button class="btn rounded-pill submenuTab" routerLink="tasks"
                routerLinkActive="active">Tasks</button>
            <button class="btn rounded-pill submenuTab" routerLink="manual-time-requests"
                routerLinkActive="active">Manual
                Time</button>
            <button class="btn rounded-pill submenuTab" routerLink="team-members" routerLinkActive="active">Team
                Members</button>
            <button class="btn rounded-pill submenuTab" routerLink="tags" routerLinkActive="active">Tags</button>
            <button class="btn rounded-pill submenuTab" routerLink="email-templates"
                routerLinkActive="active">E-Mail
                Template</button>
        </div>

        <div class="tab-content">
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>