/* Nav Section */
nav {
  .spacer {
    flex: 1 1 auto;
  }
  height: 90px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  background-color: var(--white);

  .navbar-nav {
    align-items: flex-end;

    .nav-link {
      /** override Bootstrap's default link color **/
      color: var(--grey) !important;
      font-size: var(--size-16);

      mat-icon {
        line-height: 1.5;
      }
    }
  }
  .login-link {
    font-size: 18px;
    text-decoration: none;
  }
}

/* Hero Section */
.intro-container {
  .intro-text-container {
    max-width: 685px;
    margin: 0 auto;
    padding: 46px 20px;
  }

  .intro-image {
    position: relative;

    .hero-image {
      position: relative;
      z-index: 1;
    }

    .hero-bg {
      position: absolute;
      top: -20%;
      right: 20%;
      z-index: 0;
    }
  }
}

/* Features Section */
.carousel-section {
  margin-top: 120px;
  margin-bottom: 65px;

  .card {
    background: rgba(245, 245, 245, 0.39);
    border-color: rgba(213, 213, 213, 0.42);
  }

  .carousel {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::scroll-button(left),
    &::scroll-button(right) {
      font-family: "Material Icons Outlined";
      font-size: var(--size-24);
      cursor: pointer;
      background: var(--orange-10);
      color: var(--primary);
      border: 0;
      border-radius: 50%;
      padding: var(--size-6);
      position: relative;
      top: -50px;
    }

    &::scroll-button(left):disabled,
    &::scroll-button(right):disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &::scroll-button(left) {
      content: "\e5c4";
      margin-right: var(--size-8);
    }

    &::scroll-button(right) {
      content: "\e5c8";
    }

    .col-12 {
      scroll-snap-align: start;
    }
  }
}

/* trust section */
.trust-section {
  background: linear-gradient(
    270deg,
    rgba(255, 242, 232, 0) 0%,
    rgba(255, 242, 232, 0.39) 100%
  );
  .card {
    border: 1px solid rgba(213, 213, 213, 0.42);
    padding: var(--size-16);
    border-radius: var(--size-24);

    .card-title {
      font-size: var(--size-32);
      color: var(--grey);
      font-weight: 700;
      margin-top: var(--size-32);
    }

    p {
      font-size: var(--size-18);
    }
  }
}

/* hrm features */
.hrm-features{
    padding-top: var(--size-42);
    padding-bottom: 110px;
    .card {
        border: 1px solid var(--orange-10);
        border-radius: var(--size-24);
        margin-top: var(--size-16);
    }
}

/* Common Classes */
section {
  padding: 0 var(--size-20);
}

.sub-title {
  font-size: var(--size-42);
  color: var(--grey);
  line-height: 1.2;
  font-weight: 700;
}

.sub-title-2{
    font-size: var(--size-20);
    line-height: 1.2;
}

.bg-orange-10 {
  background-color: var(--orange-10);
}
