<div class="assetContainer  bg-white">
  <div class="row">
    <div class="col-8 border-end tableContainer">
      <h2 class="contentHeading p-2">Asset Status</h2>

      <table class="p-2 rounded">
        <thead>
          <tr>
            <th>Status</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let status of assetStatuses">
            <td>{{ status.statusName }}</td>
            <td class="text-center">
             <button class="actions" mat-mini-fab title="Update User" (click)="editAssetStatus(status)"
              aria-label="Example icon button with a menu icon">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button class="actions ms-2" mat-mini-fab title="Delete User" (click)="openDialog(status)"
              aria-label="Example icon button with a menu icon">
              <i class="bi bi-trash"></i>
            </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-4">
      <h2 class="contentHeading p-2">Add/Edit Asset</h2>

      <form [formGroup]="assetStatusForm" (ngSubmit)="isEdit ? updateAssetStatus() : addAssetStatus()"
        class="mt-4 p-3 me-4 bg-light border rounded" style="background-color: gray;">

        <div class="row">
          <div class="form-group">
            <label for="assetStatusName">Status</label>
            <input type="text" id="assetStatusName" class="form-control" formControlName="statusName" required>
          </div>
        </div>
        <div class="form-group d-flex justify-content-between mt-2">
          <div class="">
            <button type="submit" mat-raised-button color="primary" class="ml-5" [disabled]="assetStatusForm.invalid">{{
              isEdit ? 'Update' : 'Add' }}</button>
          </div>
          <div class="">
            <button type="button" *ngIf="isEdit" mat-raised-button (click)="isEdit = false">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>