<div class="main-content">
    <div class="container-fluid">
        <div class="tableContainer bg-white py-2">
            <div class="d-flex justify-content-between align-items-center mb-2 px-3">
                <p class="mb-0">({{locations?.length}}) Records Found</p>
                <div class="d-flex align-items-center">
                    <span class="bi bi-search searchIcon"></span>

                    <input class="form-control search" type="text" placeholder="Search..." [(ngModel)]="searchText"
                        name="searchText" aria-label="default input example">
                    <button mat-raised-button class="addBtn rounded-pill ms-3"
                        (click)="clearselectedRequest(); isEdit=false; open(addModal)">Add New</button>
                </div>
            </div>
            <table>
                <thead>
                    <th>Location Code</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Organizations</th>
                    <th>PF Registration Code</th>
                    <th>ESIC Registration Code</th>
                    <th>Professional Tax Registration Code</th>
                    <th>LWF Registration Code</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr *ngFor="let location of locations | search : searchText; let i = index">
                        <td>{{location?.locationCode}}</td>
                        <td>{{location?.country}}</td>
                        <td>{{location?.state}}</td>
                        <td>{{location?.city}}</td>
                        <td>{{location?.organization}}</td>
                        <td>{{location?.providentFundRegistrationCode}}</td>
                        <td>{{location?.esicRegistrationCode}}</td>
                        <td>{{location?.professionalTaxRegistrationCode}}</td>
                        <td>{{location?.lwfRegistrationCode}}</td>
                        <td>
                            <button class="actions" mat-mini-fab matTooltip="Edit" matTooltipPosition="before"
                                aria-label="Example icon button with a menu icon"
                                (click)="selectedZone = location; isEdit= true; edit(location); open(addModal)">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button class="actions ms-2" mat-mini-fab matTooltip="Delete" matTooltipPosition="after"
                                aria-label="Example icon button with a menu icon" (click)="deleteDialog(location?._id)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- add company -->
<ng-template #addModal let-modal>
    <div class="modal-header d-flex justify-content-between border-bottom mb-2 pt-0">
        <div>
            <h1 class="modal-title text-muted mb-0">{{isEdit? 'Update': 'Add'}} Location</h1>
        </div>
        <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"
                (click)="modal.close('Escape clicked')"></button>
        </div>
    </div>

    <form [formGroup]="locationForm" (ngSubmit)="onSubmission()">

        <div class="form-group mt-2">
            <label for="">Location Code</label>
            <input class="form-control" formControlName="locationCode">
        </div>
        <div class="form-group mt-2">
            <label for="Select Country">Select Country</label>
            <select formControlName="country">
                <option [ngValue]="null" disabled>Countries</option>
                <option value="India">India</option>
            </select>
        </div>

        <div class="form-group mt-2">
            <label for="Select State">Select State</label>
            <select formControlName="state">
                <option [ngValue]="null" disabled>States</option>
                <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
            </select>
        </div>

        <div class="form-group mt-2">
            <label for="Select City">Select City</label>
            <select formControlName="city">
                <option [ngValue]="null" disabled>Cities</option>
                <option value="city-1">City-1</option>
            </select>
        </div>

        <div class="form-group mt-2">
            <label for="">Select Organization</label>
            <select name="" id="" formControlName="organization">
                <option value="Arsteg">Arsteg</option>
            </select>
        </div>

        <div class="form-group mt-2">
            <label for="">Provident Fund Registration Code</label>
            <input type="text" class="form-control" formControlName="providentFundRegistrationCode">
        </div>

        <div class="form-group mt-2">
            <label for="">ESIC Registration Code</label>
            <input type="text" class="form-control" formControlName="esicRegistrationCode">
        </div>

        <div class="form-group mt-2">
            <label for="">Professional Tax Registration Code</label>
            <input type="text" class="form-control" formControlName="professionalTaxRegistrationCode">
        </div>

        <div class="form-group mt-2">
            <label for="">LWF Registration Code</label>
            <input type="text" class="form-control" formControlName="lwfRegistrationCode">
        </div>

        <div class="form-group mt-2">
            <label for="">Select Tax Declaration Approver</label>
            <select name="" id="" formControlName="taxDeclarationApprovers">
                <option value=""></option>
            </select>
        </div>

        <div class="d-flex border-top mt-4 pb-2 pt-4 justify-content-between">
            <button mat-raised-button type="reset">Cancel</button>
            <button mat-raised-button class="addBtn" type="submit" [disabled]="!locationForm.valid">Submit</button>
        </div>



    </form>

</ng-template>