<div class="container-fluid" style="margin-top: 50px;">
  <div class="row">
    <div class="col-md-6">
      <p id="example-radio-group-label" class="contentHeading">Notifications</p>
      <mat-radio-group id="member" name="member" aria-labelledby="example-radio-group-label"
        class="example-radio-group managers bg-white common" [(ngModel)]="selectedManager">
        <mat-radio-button color="primary" class="manager example-radio-button"
          *ngFor="let notification of eventNotifications" (click)="onModelChange(true, notification)" [value]="notification">
          {{ notification.name | titlecase }}
        </mat-radio-button>
      </mat-radio-group><br>
    </div>
    <div class="col-md-6">
      <ul class="users">
        <p class="contentHeading">Members</p>
        <div class="members bg-white common" style="height: 400px; overflow-y: auto;">
          <li>
            <label>
              <mat-checkbox color="primary" [checked]="allChecked" (change)="onAllCheckChange($event)">
                All
              </mat-checkbox>
            </label>
          </li>
          <li *ngFor="let user of teamOfUsers">
            <label [class.selected]="user === selectedUser">
              <mat-checkbox color="primary" [checked]="user.isSelected"
                (change)="selectManager($event, user)">
                {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
              </mat-checkbox>
            </label>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
