<div class="main-content mt-5 pt-5">
  <div class="container-fluid">
<div class="tabs">
  <button mat-raised-button (click)="selectTab(1)" [class.active]="selectedTab === 1">Assets</button>
  <button mat-raised-button (click)="selectTab(2)" [class.active]="selectedTab === 2">Asset Status</button>
  <button mat-raised-button (click)="selectTab(3)" [class.active]="selectedTab === 3">Vendor</button>
  <button mat-raised-button (click)="selectTab(4)" [class.active]="selectedTab === 4">Asset Type</button>
  <button mat-raised-button (click)="selectTab(5)" [class.active]="selectedTab === 5">Asset Assignment</button>
  <button mat-raised-button (click)="selectTab(6)" [class.active]="selectedTab === 6">Vendor Assets</button>
</div>

<div *ngIf="selectedTab === 1" class="tab-content">
  <app-asset></app-asset>
</div>
<div *ngIf="selectedTab === 2" class="tab-content">
  <app-asset-status></app-asset-status>
</div>
<div *ngIf="selectedTab === 3" class="tab-content">
  <app-vendor></app-vendor>
</div>
<div *ngIf="selectedTab === 4" class="tab-content">
  <app-asset-type></app-asset-type>
</div>
<div *ngIf="selectedTab === 5" class="tab-content">
  <app-assign-assets></app-assign-assets>
</div>
<div *ngIf="selectedTab === 6" class="tab-content">
  <app-vendor-assets></app-vendor-assets>
</div>
</div>
</div>
