<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'activeTab': activeTab === 'tabArrears'}"
                (click)="selectTab('tabArrears')">Arrears</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'activeTab': activeTab === 'tabDeduction'}"
                (click)="selectTab('tabDeduction')">Previous Month Deduction</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'activeTab': activeTab === 'tabEarning'}"
                (click)="selectTab('tabEarning')">Previous Month Earning</a>
        </li>
    </ul>
    <div class="tab-content pt-0">

        <div class="tab-pane" [ngClass]="{'active': activeTab === 'tabArrears'}" id="tabArrears">
            <div class="d-flex justify-content-between">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="first">
                    <label class="form-check-label" for="first">Do you want to calculate arrears in the month? </label>
                </div>

                <div class="form-check form-switch">
                    <!-- display if first toggle is check -->
                    <input class="form-check-input" type="checkbox" role="switch" id="second">
                    <label class="form-check-label" for="second">Do you want to disburse arrears in the month?</label>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <button mat-raised-button class="addBtn" (click)="open(modal);">Download</button>
                <button mat-raised-button class="addBtn ms-2" (click)="open(modal);">Upload</button>

            </div>
            <div class="mt-2 bg-white tableContainer">

                <table>
                    <thead>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Manual Arrears</th>
                        <th>Arrear Days</th>
                        <th>LOP Reversal Days</th>
                        <th>Salary Revision Arrears</th>
                        <th>LOP Reversal Arrears</th>
                        <th>Total Arrears</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div ngbDropdown class="dropdown-center">
                                    <button class="actions ms-2" mat-mini-fab ngbDropdownToggle aria-expanded="false"
                                        aria-label="Example icon button with a menu icon">
                                        <i class="bi bi-send"></i>
                                    </button>
                                    <ul ngbDropdownMenu class="dropdown-menu py-0">

                                        <li class="d-flex border-bottom action-list" data-bs-toggle="modal"
                                            data-bs-target="#deleteModal">
                                            <i class="bi bi-pencil text-danger dropdown-item w-25"></i>
                                            <span class="pt-1 text-muted">Edit</span>
                                        </li>

                                        <li class="d-flex action-list" data-bs-toggle="modal"
                                            data-bs-target="#updateModal">
                                            <i class="bi bi-eye-fill text-success dropdown-item w-25"></i>
                                            <span class="pt-1 text-muted">View salary revision arrears</span>
                                        </li>

                                        <li class="d-flex action-list" data-bs-toggle="modal"
                                            data-bs-target="#updateModal">
                                            <i class="bi bi-eye-fill text-success dropdown-item w-25"></i>
                                            <span class="pt-1 text-muted">View LOP reversal arrears</span>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="tab-pane" [ngClass]="{'active': activeTab === 'tabDeduction'}" id="tabDeduction">

            <div class="mt-2 bg-white tableContainer">

                <table>
                    <thead>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Deduction days</th>
                        <th>Total Amount</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button class="actions" mat-mini-fab matTooltip="UnHold Selected Employees"
                                    matTooltipPosition="before" (click)="open(modalUnHold)"><i
                                        class="bi bi-arrow-right-circle" style="font-size: x-large"></i></button></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="tab-pane" [ngClass]="{'active': activeTab === 'tabEarning'}" id="tabEarning">
            <div class="mt-2 bg-white tableContainer">
                <table>
                    <thead>
                        <th>Employee Code</th>
                        <th>Employee Name</th>
                        <th>Earning Days</th>
                        <th>Total Amount</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><button class="actions" mat-mini-fab matTooltip="Re-Run Selected Employee"
                                    matTooltipPosition="before" (click)="open(modalReRun)"><i
                                        class="bi bi-arrow-right-circle" style="font-size: x-large"></i></button></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<ng-template #modal let-modal>
    <div class="modal-header border-bottom justify-content-between d-flex mb-2 pt-0">
        <div>
            <h1 class="modal-title text-muted mb-0">Update Manual Arrear</h1>
        </div>
        <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"
                (click)="modal.close('Escape clicked')"></button>
        </div>
    </div>
    <div class="form-group">
        <label for="">Amount</label>
        <input type="number" class="form-control">
    </div>
    <div class="d-flex justify-content-between">
        <button mat-raised-button type="reset">Cancel</button>
        <button mat-raised-button type="submit" class="addBtn">Save</button>
    </div>
</ng-template>

<ng-template #modalUnHold let-modal>
    <div class="modal-header border-bottom justify-content-between d-flex mb-2 pt-0">
        <div>
            <h1 class="modal-title text-muted mb-0">Do you want Selected Employee to UnHold?</h1>
        </div>
        <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"
                (click)="modal.close('Escape clicked')"></button>
        </div>

    </div>
    <div class="d-flex justify-content-between">
        <button mat-raised-button type="button">No</button>
        <button mat-raised-button type="submit" class="addBtn">Yes</button>
    </div>
</ng-template>

<ng-template #modalReRun let-modal>
    <div class="modal-header border-bottom justify-content-between d-flex mb-2 pt-0">
        <div>
            <h1 class="modal-title text-muted mb-0">Do you want to Re-Run for Selected Employee?</h1>
        </div>
        <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"
                (click)="modal.close('Escape clicked')"></button>
        </div>

    </div>
    <div class="d-flex justify-content-between">
        <button mat-raised-button type="button">No</button>
        <button mat-raised-button type="submit" class="addBtn">Yes</button>
    </div>
</ng-template>