<div class="main-content pt-2">
    <div class="container-fluid">
        <div class="tabs">
            <button (click)="selectTab(1)" [class.active]="selectedTab === 1">Pending
            </button>
            <button (click)="selectTab(2)" [class.active]="selectedTab === 2">Approved
            </button>
            <button (click)="selectTab(3)" [class.active]="selectedTab === 3">Rejected
            </button>
            <button (click)="selectTab(4)" [class.active]="selectedTab === 4">Cancelled
            </button>
        </div>

        <div *ngIf="selectedTab === 1" class="tab-content p-0">
            <app-pending-short-leave [selectedTab]="tab"></app-pending-short-leave>
        </div>
        <div *ngIf="selectedTab === 2" class="tab-content p-0">
            <app-approved-short-leave [selectedTab]="tab"></app-approved-short-leave>
        </div>
        <div *ngIf="selectedTab === 3" class="tab-content p-0">
            <app-rejected-short-leave [selectedTab]="tab"></app-rejected-short-leave>
        </div>
        <div *ngIf="selectedTab === 4" class="tab-content p-0">
            <app-cancelled-short-leave [selectedTab]="tab"></app-cancelled-short-leave>
        </div>
    </div>
</div>