<div class="main-content contentData">
    <div class="container-fluid px-0">
      <div class="d-flex bg-white subMenu w-100">
        <button class="btn rounded-pill submenuTab" routerLink="/payroll/settings" routerLinkActive="active">Settings</button>
        <button class="btn rounded-pill submenuTab" routerLink="/payroll/ctc-template" routerLinkActive="active">CTC Template</button>
        <button class="btn rounded-pill submenuTab" routerLink="/payroll/lop-reversal" routerLinkActive="active">LOP Reversal</button>
        <button class="btn rounded-pill submenuTab" routerLink="/payroll/run-payroll" routerLinkActive="active">Run Payroll</button>
        <button class="btn rounded-pill submenuTab" routerLink="/payroll/payslips" routerLinkActive="active">Payslips</button>
        <button class="btn rounded-pill submenuTab" routerLink="/payroll/fnf-payslips" routerLinkActive="active">Full and Final</button>
      </div>
  
      <div class="tab-content p-0 mt-0">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  