<!-- Note :
   - You can modify the font style and form style to suit your website. 
   - Code lines with comments Do not remove this code are required for the form to work properly, make sure that you do not remove these lines of code. 
   - The Mandatory check script can modified as to suit your business needs. 
   - It is important that you test the modified form before going live.-->
<div id = 'crmWebToEntityForm' class = 'zcwf_lblLeft crmWebToEntityForm' style = 'background-color: white;color: black;max-width: 600px;'>
	<meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
		<META HTTP-EQUIV = 'content-type' CONTENT = 'text/html;charset=UTF-8'>
			<script src = 'https://www.google.com/recaptcha/api.js' async defer >
		</script>
		<form id = 'webform1233161000000742027' action = 'https://crm.zoho.in/crm/WebToLeadForm' name = WebToLeads1233161000000742027 method = 'POST' onSubmit = 'javascript:document.charset="UTF-8"; return checkMandatory1233161000000742027()' accept-charset = 'UTF-8'>
			<input type = 'text' style = 'display:none;' name = 'xnQsjsdp' value = '81bdfcd1a87338e7c338745c8fdde66c7b4dd47b90f00f7aa0d2d000d718e934'>
			<input type = 'hidden' name = 'zc_gad' id = 'zc_gad' value = ''>
			
			<input type = 'text' style = 'display:none;' name = 'xmIwtLD' value = 'f4cabd9321568eaf61c5c41b172991eca8bcb4b31c718f952de4dbc8dac039b349d23d11c2d295f31a7eea9229058844'>
			
			<input type = 'text' style = 'display:none;' name = 'actionType' value = 'TGVhZHM='>
			
			<input type = 'text' style = 'display:none;' name = 'returnURL' value = 'null'>
			
			<!-- Do not remove this code. -->
			<style>
				html,body{
					margin: 0px;
				}
				.formsubmit.zcwf_button{
					color: white !important;
					background: transparent linear-gradient(0deg, #0279FF 0%, #00A3F3 100%);
				}
				#crmWebToEntityForm.zcwf_lblLeft{
					width: 100%;
					padding: 25px;
					margin: 0 auto;
					box-sizing: border-box;
				}
				#crmWebToEntityForm.zcwf_lblLeft *{
					box-sizing: border-box;
				}
				#crmWebToEntityForm {text-align: left;
				}
				#crmWebToEntityForm *{
				direction: ltr;
				}
				.zcwf_lblLeft .zcwf_title{
				word-wrap: break-word;
				padding: 0px 6px 10px;
				font-weight: bold }
				.zcwf_lblLeft.cpT_primaryBtn:hover{
				background: linear-gradient(#02acff 0,#006be4 100%)no-repeat padding-box !important;
				box-shadow: 0 -2px 0 0  #0159b9 inset !important;
				border: 0 !important;
				color:  #fff !important;
				outline: 0 !important;
				}
				.zcwf_lblLeft .zcwf_col_fld input[ type  = text], input[ type  = password], .zcwf_lblLeft .zcwf_col_fld textarea{
				width: 60%;
				border: 1px solid  #c0c6cc !important;
				resize: vertical;
				border-radius: 2px;
				float: left;
				}
				.zcwf_lblLeft .zcwf_col_lab{
				width: 30%;
				word-break: break-word;
				padding: 0px 6px 0px;
				margin-right: 10px;
				margin-top: 5px;
				float: left;
				min-height: 1px;
				}
				.zcwf_lblLeft .zcwf_col_fld{
				float: left;
				width: 68%;
				padding: 0px 6px 0px;
				position: relative;
				margin-top: 5px;
				}
				.zcwf_lblLeft .zcwf_privacy {padding: 6px;
				}
				.zcwf_lblLeft .wfrm_fld_dpNn {display: none;
				}
				.dIB {display: inline-block;
				}
				.zcwf_lblLeft .zcwf_col_fld_slt{
				width: 60%;
				border: 1px solid  #ccc;
				background:  #fff;
				border-radius: 4px;
				font-size: 12px;
				float: left;
				resize: vertical;
				padding: 2px 5px;
				}
				.zcwf_lblLeft .zcwf_row:after, .zcwf_lblLeft .zcwf_col_fld:after{
				content: '';
				display: table;
				clear: both;
				}
				.zcwf_lblLeft .zcwf_col_help{
				float: left;
				margin-left: 7px;
				font-size: 12px;
				max-width: 35%;
				word-break: break-word;
				}
				.zcwf_lblLeft .zcwf_help_icon{
				cursor: pointer;
				width: 16px;
				height: 16px;
				display: inline-block;
				background:  #fff;
				border: 1px solid  #c0c6cc;
				color:  #c1c1c1;
				text-align: center;
				font-size: 11px;
				line-height: 16px;
				font-weight: bold;
				border-radius: 50%;
				}
				.zcwf_lblLeft .zcwf_row {margin: 15px 0px;
				}
				.zcwf_lblLeft .formsubmit{
				margin-right: 5px;
				cursor: pointer;
				color:  #313949;
				font-size: 12px;
				}
				.zcwf_lblLeft .zcwf_privacy_txt{
				width: 90%;
				color: rgb(0, 0, 0);
				font-size: 12px;
				font-family: Arial;
				display: inline-block;
				vertical-align: top;
				color:  #313949;
				padding-top: 2px;
				margin-left: 6px;
				}
				.zcwf_lblLeft .zcwf_button{
				font-size: 12px;
				color:  #313949;
				border: 1px solid  #c0c6cc;
				padding: 3px 9px;
				border-radius: 4px;
				cursor: pointer;
				max-width: 120px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				}
				.zcwf_lblLeft .zcwf_tooltip_over{
				position: relative;
				}
				.zcwf_lblLeft .zcwf_tooltip_ctn{
				position: absolute;
				background:  #dedede;
				padding: 3px 6px;
				top: 3px;
				border-radius: 4px;
				word-break: break-word;
				min-width: 100px;
				max-width: 150px;
				color:  #313949;
				z-index: 100;
				}
				.zcwf_lblLeft .zcwf_ckbox{
				float: left;
				}
				.zcwf_lblLeft .zcwf_file{
				width: 55%;
				box-sizing: border-box;
				float: left;
				}
				.cBoth:after{
				content: '';
				display: block;
				clear: both;
				}
				@media all and  (max-width: 600px){
				.zcwf_lblLeft .zcwf_col_lab, .zcwf_lblLeft .zcwf_col_fld{
				width: auto;
				float: none !important;
				}
				.zcwf_lblLeft .zcwf_col_help {width: 40%;
				}
				}
			</style>
			<div class = 'zcwf_title' style = 'max-width: 600px;color: black; font-family:Arial;'>Enquiry from website</div>
			<div class = 'zcwf_row'>
				<div class = 'zcwf_col_lab' style = 'font-size:12px; font-family: Arial;'>
					<label for = 'Company'>Company
						<span style = 'color:red;'>*</span>
					</label>
				</div>
				<div class = 'zcwf_col_fld'>
					<input type = 'text' id = 'Company' aria-required = 'true' aria-label = 'Company' name = 'Company' aria-valuemax = '200' maxlength = '200'>
					
					<div class = 'zcwf_col_help'>
					</div>
				</div>
			</div>
			<div class = 'zcwf_row'>
				<div class = 'zcwf_col_lab' style = 'font-size:12px; font-family: Arial;'>
					<label for = 'Last_Name'>Last Name
						<span style = 'color:red;'>*</span>
					</label>
				</div>
				<div class = 'zcwf_col_fld'>
					<input type = 'text' id = 'Last_Name' aria-required = 'true' aria-label = 'Last Name' name = 'Last Name' aria-valuemax = '80' maxlength = '80'>
					
					<div class = 'zcwf_col_help'>
					</div>
				</div>
			</div>
			<div class = 'zcwf_row'>
				<div class = 'zcwf_col_lab' style = 'font-size:12px; font-family: Arial;'>
					<label for = 'Mobile'>Mobile
						<span style = 'color:red;'>*</span>
					</label>
				</div>
				<div class = 'zcwf_col_fld'>
					<input type = 'text' id = 'Mobile' aria-required = 'true' aria-label = 'Mobile' name = 'Mobile' aria-valuemax = '30' maxlength = '30'>
					
					<div class = 'zcwf_col_help'>
					</div>
				</div>
			</div>
			<div class = 'zcwf_row'>
				<div class = 'zcwf_col_lab' style = 'font-size:12px; font-family: Arial;'>
					<label for = 'Email'>Email
						<span style = 'color:red;'>*</span>
					</label>
				</div>
				<div class = 'zcwf_col_fld'>
					<input type = 'text' ftype = 'email' autocomplete = 'false' id = 'Email' aria-required = 'true' aria-label = 'Email' name = 'Email' aria-valuemax = '100' crmlabel = '' maxlength = '100'>
					<div class = 'zcwf_col_help'>
					</div>
				</div>
			</div>
			<div class = 'zcwf_row'>
				<div class = 'zcwf_col_lab' style = 'font-size:12px; font-family: Arial;'>
					<label for = 'LEADCF7'>Device Brand
						<span style = 'color:red;'>*</span>
					</label>
				</div>
				<div class = 'zcwf_col_fld'>
					<select class = 'zcwf_col_fld_slt' role = 'combobox' aria-expanded = 'false' aria-haspopup = 'listbox' id = 'LEADCF7'onChange='addAriaSelected1233161000000742027()' aria-required = 'true' aria-label = 'LEADCF7' name = 'LEADCF7'>
						<option value = '-None-'>-None-</option>
						<option value = 'Apple'>Apple</option>
						<option value = 'OnePlus'>OnePlus</option>
						<option value = 'Oppo'>Oppo</option>
						<option value = 'Other'>Other</option>
						<option value = 'Realme'>Realme</option>
						<option value = 'Samsung'>Samsung</option>
						<option value = 'Vivo'>Vivo</option>
						<option value = 'Xiaomi'>Xiaomi</option>
					</select>
					<div class = 'zcwf_col_help'>
					</div>
				</div>
			</div>
			<div class = 'zcwf_row'>
				<div class = 'zcwf_col_lab' style = 'font-size:12px; font-family: Arial;'>
					<label for = 'LEADCF4'>Lead Source Channel
						<span style = 'color:red;'>*</span>
					</label>
				</div>
				<div class = 'zcwf_col_fld'>
					<select class = 'zcwf_col_fld_slt' role = 'combobox' aria-expanded = 'false' aria-haspopup = 'listbox' id = 'LEADCF4'onChange='addAriaSelected1233161000000742027()' aria-required = 'true' aria-label = 'LEADCF4' name = 'LEADCF4'>
						<option value = '-None-'>-None-</option>
						<option value = 'Advertisement'>Advertisement</option>
						<option value = 'Phone&#x20;Call'>Phone Call</option>
						<option value = 'WhatsApp'>WhatsApp</option>
						<option value = 'Google'>Google</option>
						<option value = 'Instagram'>Instagram</option>
						<option value = 'Justdial'>Justdial</option>
						<option value = 'Referral'>Referral</option>
						<option value = 'Facebook'>Facebook</option>
						<option value = 'Other'>Other</option>
					</select>
					<div class = 'zcwf_col_help'>
					</div>
				</div>
			</div>
			<div class = 'zcwf_row'>
				<div class = 'zcwf_col_lab' style = 'font-size:12px; font-family: Arial;'>
					<label for = 'LEADCF5'>Urgency
						<span style = 'color:red;'>*</span>
					</label>
				</div>
				<div class = 'zcwf_col_fld'>
					<select class = 'zcwf_col_fld_slt' role = 'combobox' aria-expanded = 'false' aria-haspopup = 'listbox' id = 'LEADCF5'onChange='addAriaSelected1233161000000742027()' aria-required = 'true' aria-label = 'LEADCF5' name = 'LEADCF5'>
						<option value = '-None-'>-None-</option>
						<option value = 'Same&#x20;Day'>Same Day</option>
						<option value = 'Within&#x20;2&#x20;Days'>Within 2 Days</option>
						<option value = 'This&#x20;Week'>This Week</option>
						<option value = 'Flexible'>Flexible</option>
					</select>
					<div class = 'zcwf_col_help'>
					</div>
				</div>
			</div>
			<div class = 'zcwf_row'>
				<div class = 'zcwf_col_lab' style = 'font-size:12px; font-family: Arial;'>
					<label for = 'LEADCF2'>Issue Description
						<span style = 'color:red;'>*</span>
					</label>
				</div>
				<div class = 'zcwf_col_fld'>
					<textarea style = 'font-family: Arial, sans-serif;' aria-multiline = 'true' id = 'LEADCF2' aria-required = 'true' aria-label = 'LEADCF2' name = 'LEADCF2'></textarea>
					<div class = 'zcwf_col_help'>
					</div>
				</div>
			</div>
			<div class = 'zcwf_row'>
				<div class = 'zcwf_col_lab'>
				</div>
				<div class = 'zcwf_col_fld'>
					<div class = 'g-recaptcha' data-sitekey = '6Le1XLAsAAAAAM0AQjjxCH-Thd79N9OrEFRLBG2Z' data-theme = 'light' data-callback = 'rccallback1233161000000742027' captcha-verified = 'false' id = 'recap1233161000000742027'>
					</div>
					<div id = 'recapErr1233161000000742027' style = 'font-size:12px;color:red;visibility:hidden;'>Captcha validation failed. If you are not a robot then please try again.</div>
				</div>
			</div>
			<input type = 'text' type = 'hidden' style = 'display: none;' name = 'aG9uZXlwb3Q' value = ''/>
			<div class = 'zcwf_row'>
				<div class = 'zcwf_col_lab'>
				</div>
				<div class = 'zcwf_col_fld'>
					<input type = 'submit' id = 'formsubmit' role = 'button' class = 'formsubmit zcwf_button' value = 'Submit' aria-label = 'Submit' title = 'Submit'>
						<input type = 'reset' class = 'zcwf_button' role = 'button' name = 'reset' value = 'Reset' aria-label = 'Reset' title = 'Reset'>
						</div>
					</div>
					<script>
						function addAriaSelected1233161000000742027(){
							var optionElem = event.target;
							var previousSelectedOption = optionElem.querySelector('[aria-selected=true]');
							if (previousSelectedOption) {
								previousSelectedOption.removeAttribute('aria-selected');
							}
							optionElem.querySelectorAll('option') [optionElem.selectedIndex] .ariaSelected = 'true';
						}
						/* Do not remove this code. */
						function rccallback1233161000000742027(){
							if (document.getElementById ('recap1233161000000742027') != undefined) {
								document.getElementById('recap1233161000000742027').setAttribute('captcha-verified', true);
							}
							if (document.getElementById ('recapErr1233161000000742027') != undefined && document.getElementById ('recapErr1233161000000742027') .style.visibility == 'visible') {
								document.getElementById('recapErr1233161000000742027').style.visibility = 'hidden';
							}
						}
						function reCaptchaAlert1233161000000742027(){
							var recap = document.getElementById('recap1233161000000742027');
							if (recap != undefined && recap.getAttribute ('captcha-verified') == 'false') {
								document.getElementById('recapErr1233161000000742027').style.visibility = 'visible';
								return false;
							}
							return true;
						}
						function validateEmail1233161000000742027(){
							var form = document.forms['WebToLeads1233161000000742027'];
							var emailFld = form.querySelectorAll('[ftype=email]');
							var i;
							for(i = 0; i < emailFld.length; i++ ) {
								var emailVal = emailFld[i].value;
								if ((emailVal.replace (/^\s+|\s+$/g,'') ) .length != 0) {
									var atpos = emailVal.indexOf('@');
									var dotpos = emailVal.lastIndexOf('.');
									if(atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= emailVal.length) {
										alert('Please enter a valid email address. ');
										emailFld[i].focus();
										return false;
									}
								}
							}
							return true;
						}
						function checkMandatory1233161000000742027(){
							var mndFileds = new Array('Company', 'Last Name', 'Email', 'Mobile', 'LEADCF2', 'LEADCF4', 'LEADCF5', 'LEADCF7');
							var fldLangVal = new Array('Company', 'Last\x20Name', 'Email', 'Mobile', 'Issue\x20Description', 'Lead\x20Source\x20Channel', 'Urgency', 'Device\x20Brand');
							for (i = 0; i < mndFileds.length; i++ ) {
								var fieldObj = document.forms['WebToLeads1233161000000742027'] [mndFileds[i]];
								if (fieldObj) {
									if(((fieldObj.value) .replace (/^\s+|\s+$/g,'') ) .length == 0) {
										if (fieldObj.type == 'file') {
											alert('Please select a file to upload.');
											fieldObj.focus();
											return false;
										}
										alert(fldLangVal[i] + ' cannot be empty.');
										fieldObj.focus();
										return false;
									} else if (fieldObj.nodeName == 'SELECT') {
										if (fieldObj.options[fieldObj.selectedIndex].value == '-None-') {
											alert(fldLangVal[i] + ' cannot be none.');
											fieldObj.focus();
											return false;
										}
									} else if (fieldObj.type == 'checkbox') {
										if (fieldObj.checked == false) {
											alert('Please accept  ' + fldLangVal[i]);
											fieldObj.focus();
											return false;
										}
									}
									try{
										if (fieldObj.name == 'Last Name') {
											name = fieldObj.value;
										}
									} catch (e){}
								}
							}
							if ( !validateEmail1233161000000742027 () ) {
								return false;
							}
							if ( !reCaptchaAlert1233161000000742027 () ) {
								return false;
							}
							var urlparams = new URLSearchParams(window.location.search);
							if (urlparams.has ('service') && (urlparams.get ('service') === 'smarturl') ) {
								var webform = document.getElementById('webform1233161000000742027');
								var service = urlparams.get('service');
								var smarturlfield = document.createElement('input');
								smarturlfield.setAttribute('type', 'hidden');
								smarturlfield.setAttribute('value', service);
								smarturlfield.setAttribute('name', 'service');
								webform.appendChild(smarturlfield);
							}
							document.querySelector('.crmWebToEntityForm .formsubmit').setAttribute('disabled', true);
						}
						function tooltipShow1233161000000742027(el){
							var tooltip = el.nextElementSibling;
							var tooltipDisplay = tooltip.style.display;
							if (tooltipDisplay == 'none') {
								var allTooltip = document.getElementsByClassName('zcwf_tooltip_over');
								for (i = 0; i < allTooltip.length; i++ ) {
									allTooltip[i].style.display = 'none';
								}
								tooltip.style.display = 'block';
							} else {
								tooltip.style.display = 'none';
							}
						}
					</script>
					<!-- Do not remove this --- Analytics Tracking code starts -->
					<script id = 'wf_anal' src = 'https://crm.zohopublic.in/crm/WebFormAnalyticsServeServlet?rid=c299198235ae18a7a8efdfb2eda57282f32cff8b296143fc342aaa1a00594424590fab0d497accb4ccd868aa0971edc3gidd40829204959fe009cc5e4c4125c3cd9581e7209184d289bab520865511f3a0agid3b263ef8c10f4de03fa9bdcdfd350486ca7d21ce0bfa68ff01d3a0dfc02bc323gidb1bd3a762a1ada607e0b4cd7c58ef29e37dabf47248c9bd5b93714a67598e61a&tw=32ffdbab1730c7e0375ce315d6ad83ca35194938f168cecb64b4da58fe758e0d'>
				</script>
				<!-- Do not remove this --- Analytics Tracking code ends. -->
			</form>
		</div>