<div class="modal-body">
    <div class=" d-flex justify-content-between">
        <div class="">
            <h1 mat-dialog-title class="text-muted pb-0 mb-0"> View {{viewRequest?.status}} Regularization Request Of
            <span *ngIf="portalView === 'admin'" class="user">{{getUser(viewRequest?.user)}}</span></h1>
        </div>
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close><mat-icon aria-hidden="false" aria-label="Example close icon"
                    fontIcon="close"></mat-icon></button>
        </div>  
    </div>
    <hr class="mt-0">
    <div class="row" mat-dialog-content>
        <div class="tableContainer">
            <table>
                <tr>
                    <th class="w-50">Attendance Template</th>
                    <td></td>
                </tr>
                <tr>
                    <th class="w-50">Regularization Date</th>
                    <td></td>
                </tr>
                <tr>
                    <th class="w-50">Status</th>
                    <td>{{viewRequest?.status}}</td>
                </tr>
                <tr>
                    <th class="w-50">Applied On</th>
                    <td>{{viewRequest?.appliedOn}}</td>
                </tr>
                <tr>
                    <th class="w-50">Type of Request</th>
                    <td></td>
                </tr>
                <tr>
                    <th class="w-50">Requested Check In</th>
                    <td></td>
                </tr>
                <tr>
                    <th class="w-50">Requested Check Out</th>
                    <td></td>
                </tr>
                <tr>
                    <th class="w-50">Reason</th>
                    <td></td>
                </tr>
                <tr>
                    <th class="w-50">HalfDay</th>
                    <td></td>
                </tr>
                <tr>
                    <th class="w-50">Comment</th>
                    <td>{{viewRequest?.comment}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>