<div class="d-flex justify-content-between">
    <h1 class="modal-title text-muted">Add Leave Grant</h1>
    <button type="button" data-bs-dismiss="modal" class="btn-close text-end" (click)="closeModal()"></button>
</div>
<div mat-dialog-content>
    <form [formGroup]="leaveGrant" (ngSubmit)="onSubmission()">
        <div>
            <label for="member">Select an Employee for Advance Report</label>
            <mat-form-field appearance="outline" class="w-100 mx-1">
                <mat-label>Select Employee</mat-label>
                <mat-select name="users" multiple formControlName="users">
                    <mat-option *ngFor="let member of members" [value]="member.id">
                        {{member?.firstName | titlecase}}&nbsp;{{member?.lastName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="mt-2">
            <label for="">Select Effective From Date</label>
            <div class=" col-12 form-group mb-3">
                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue"
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" formControlName="date" />
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">
                Comment
            </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="comment"
                rows="3"></textarea>
        </div>



        <div>
            <button mat-raised-button type="button">Cancel</button>
            <button mat-button mat-dialog-close type="submit" >Submit</button>

        </div>


    </form>
</div>