/* Features Section */
.carousel-section {
  view-timeline-name: --features-timeline;
  margin-top: 120px;
  margin-bottom: 65px;

  .card {
    background: rgba(245, 245, 245, 0.39);
    border-color: rgba(213, 213, 213, 0.42);

    p {
      font-size: var(--size-16);
      line-height: 1.2;
    }
  }

  .carousel {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::scroll-button(left),
    &::scroll-button(right) {
      font-family: "Material Icons Outlined";
      font-size: var(--size-24);
      cursor: pointer;
      background: var(--orange-10);
      color: var(--primary);
      border: 0;
      border-radius: 50%;
      padding: var(--size-6);
      position: relative;
      top: -50px;
    }

    &::scroll-button(left):disabled,
    &::scroll-button(right):disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &::scroll-button(left) {
      content: "\e5c4";
      margin-right: var(--size-8);
    }

    &::scroll-button(right) {
      content: "\e5c8";
    }

    .col-12 {
      scroll-snap-align: start;
    }
  }
}

.text-fade-in {
  animation: text-fade-in linear;
  animation-timeline: --features-timeline;
  animation-range: entry 0% entry 100%;
}

@keyframes text-fade-in {
  0% {
    scale: 0.5;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
