<div class="row">
  <div class="col-sm-12" *ngIf="!isEditMode">{{ comment.content }}</div>
</div>

<div class="row" *ngIf="isEditMode">
  <div class="col-sm-12">
    <textarea [(ngModel)]="editedComment.content"></textarea>
  </div>
  <div class="col-sm-12">
    <button (click)="updateComment()">Save</button>
    <button (click)="toggleEditMode()">Cancel</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <button (click)="toggleEditMode()">Edit</button>
  <button (click)="deleteComment()">Delete</button>
  </div>
</div>
