<div class="row" *ngIf="isEditMode">
  <div class="col-sm-12">
    <div class="m-3 d-flex">
      <span class="letter text-light h-25 me-2 comment-user-letter"
        [title]="(currentProfile?.firstName | titlecase)+ ' ' + (currentProfile?.lastName | titlecase)"
        [style.background-color]="commonService.getRandomColor(currentProfile?.firstName?.charAt(0) | uppercase)">
        {{currentProfile?.firstName?.charAt(0) | uppercase}} {{currentProfile?.lastName?.charAt(0) | uppercase}}
      </span>
      <div *ngIf="showEditor" class="w-100">
        <quill-editor [styles]="{ height: 'auto' }" 
          [(ngModel)]="editedComment.content"></quill-editor>
      </div>
    </div>
  </div>
  <div class="d-flex ms-5 mb-3">
    <button mat-raised-button  class="addBtn" type="submit" (click)="updateComment()">Save</button>
    <button mat-raised-button class="mx-2" type="button" (click)="cancelEditMode()">Cancel</button>
  </div>
</div>

<div *ngIf="!isEditMode" class="pt-4 ps-3">
  <div class="d-flex">
    <span class="letter text-light comment-user-letter"
      [title]="(editedComment?.author?.firstName | titlecase)+ ' ' + (editedComment?.author?.lastName | titlecase)"
      [style.background-color]="commonService.getRandomColor(editedComment?.author?.firstName?.charAt(0) | uppercase)">
      {{editedComment?.author?.firstName?.charAt(0) | uppercase}} {{editedComment?.author?.lastName?.charAt(0) |
      uppercase}}
    </span>
    <span class="mx-2 comment-user"> {{editedComment?.author?.firstName | titlecase}} </span><small>
      {{editedComment?.commentedAt | date:
      'medium'}}</small><br>
  </div>
  <div *ngIf="!showEditor" class="w-100">
    <div class="ps-4 editorContent" 
      [innerHTML]="editedComment.content">
    </div>
  </div>
  <ul>
    <li *ngFor="let attachment of attachments">{{ attachment.attachmentName }}</li>
  </ul>
  <div class="d-flex ms-3 my-2">
    <button class="comment-btn" (click)="toggleEditMode()">Edit .</button>
    <button class="comment-btn" (click)="openDialog(comment)" type="button">Delete .</button>

  </div>
</div>