<section class="container pb-3" id="about-us">
    <div class="row">
        <div class="col-12 col-lg-6 order-2 order-lg-1 slide-in-left pe-4">
            <h2 class="sub-title">About Us</h2>
            <p>From attendance monitoring to payroll management, EffortlessHRM provides automated solutions that
                eliminate manual tasks, reduce paperwork, and improve accuracy. With real-time insights and detailed
                analytics, businesses can make informed decisions, optimize resource allocation, and drive better
                outcomes.</p>
            <p>EffortlessHRM's user-friendly interface and intuitive design ensure easy adoption and seamless
                integration into existing workflows. Whether managing organizational hierarchies, onboarding new
                hires,
                or tracking employee performance, EffortlessHRM empowers businesses to efficiently manage their
                workforce and achieve their goals.</p>
            <p>With a commitment to simplifying HR processes and enhancing operational efficiency, EffortlessHRM is
                the
                preferred choice for businesses striving to create a productive and engaged workforce in today's
                dynamic
                business environment.</p>
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-2 slide-in-right">
            <img src="assets/png/about-us.png" alt="About Us" class="img-fluid">
        </div>
    </div>
</section>