.drpLog{
    transform: translate3d(-150px, 10px, 10px);
}
.dropdown{
    cursor: pointer;
}
.notificationDate{
    font-size: 11px;
    font-weight: 500;
    color: #878686 !important;
}
.notification{
    color: #76bc21 !important;
}
.content{
    font-size: smaller;
}