<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="tabs mt-0 pt-0">
            <button (click)="selectTab(1)" [class.active]="selectedTab === 1">Organization Profile
                </button>
            <button (click)="selectTab(2)" [class.active]="selectedTab === 2">Zone
                </button>
            <button (click)="selectTab(3)" [class.active]="selectedTab === 3">Location
                </button>
            <button (click)="selectTab(4)" [class.active]="selectedTab === 4">Department
                </button>
            <button (click)="selectTab(5)" [class.active]="selectedTab === 5">Sub-Department
                </button>
            <button (click)="selectTab(6)" [class.active]="selectedTab === 6">Designation</button>
            <button (click)="selectTab(7)" [class.active]="selectedTab === 7">Band
                </button>
            <button (click)="selectTab(8)" [class.active]="selectedTab === 8">Signatory Details
                </button>
            <button (click)="selectTab(9)" [class.active]="selectedTab === 9">Holiday</button>
        </div>

        <div *ngIf="selectedTab === 1" class="tab-content p-0">
            <app-profile></app-profile>
        </div>
        <div *ngIf="selectedTab === 2" class="tab-content  p-0">
            <app-zone></app-zone>
        </div>
        <div *ngIf="selectedTab === 3" class="tab-content  p-0">
            <app-location></app-location>
        </div>
        <div *ngIf="selectedTab === 4" class="tab-content p-0">
            <app-department></app-department>
        </div>
        <div *ngIf="selectedTab === 5" class="tab-content  p-0">
            <app-sub-department></app-sub-department>
        </div>
        <div *ngIf="selectedTab === 6" class="tab-content  p-0">
            <app-designation></app-designation>
        </div>
        <div *ngIf="selectedTab === 7" class="tab-content p-0">
            <app-band></app-band>
        </div>
        <div *ngIf="selectedTab === 8" class="tab-content  p-0">
            <app-signatory-details></app-signatory-details>
        </div>
        <div *ngIf="selectedTab === 9" class="tab-content  p-0">
            <app-holidays></app-holidays>
        </div>
    </div>
</div> -->
<div class="main-content pt-2">
    <div class="container-fluid">
        <div class="tabs">
            <button class="btn" routerLink="organization-profile" routerLinkActive="active">
                Organization Profile
            </button>
            <button class="btn" routerLink="zone" routerLinkActive="active">
                Zone
            </button>
            <button class="btn" routerLink="location" routerLinkActive="active">
                Location
            </button>
            <button class="btn" routerLink="department" routerLinkActive="active">
                Department
            </button>
            <button class="btn" routerLink="sub-department" routerLinkActive="active">
                Sub-Department
            </button>
            <button class="btn" routerLink="designation" routerLinkActive="active">
                Designation
            </button>
            <button class="btn" routerLink="band" routerLinkActive="active">
                Band
            </button>
            <button class="btn" routerLink="signatory-details" routerLinkActive="active">
                Signatory Details
            </button>
            <button class="btn" routerLink="holiday" routerLinkActive="active">
                Holiday
            </button>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
