<div class="dropdown">
  <button
    mat-icon-button
    [matMenuTriggerFor]="notificationMenu"
    aria-label="Notifications"
    class="notification-bell"
    [ngClass]="{'has-unread': hasUnreadNotifications}"
  >
    <span class="bi bi-bell text-light mb-0"></span>
    <span class="notification-dot" *ngIf="hasUnreadNotifications"></span>
  </button>

  <mat-menu #notificationMenu="matMenu" class="dropdown-menu-default drpLog shadow">
    <!-- Header Section -->
    <div class="dropdown-header">
      <span class="header-title border-bottom">Notifications</span>
    </div>

    <!-- Notification Items -->
    <div class="notification-container">
      <ng-container *ngFor="let notification of eventNotifications">
        <mat-list-item class="border-bottom py-3 px-0" >
          <div class="d-flex align-items-center w-100">
            <button mat-icon-button class="ps-0">
            <mat-icon>launch</mat-icon>
          </button>

            <div class="notification-content">
              <span
                class="notification-text"
                [ngClass]="{'bold-text': notification.status === 'unread'}"
              >{{ notification.name }}: {{ notification.description }}</span>
              <small class="notification-date">{{ notification.date | date: 'MMM d, y' }}</small>
            </div>
            <i class="fa fa-times-circle ms-auto text-danger" (click)="deleteNotification(notification?._id); $event.stopPropagation()"></i>
          </div>
        </mat-list-item>
      </ng-container>
    </div>

    <!-- Footer Buttons -->
    <div class="p-2">
      <div class="d-flex justify-content-between w-100">
        <button mat-button  (click)="markAllAsRead()">Mark all as read</button>
        <button mat-button class="action-button" [routerLink]="'./notifications'">See all</button>
      </div>
    </div>
  </mat-menu>
</div>