<div class="dropdown">
 <button
    mat-icon-button
    [matMenuTriggerFor]="notificationMenu"
    [ngClass]="{'has-unread': hasUnreadNotifications}"
    class="bg-white"
>
    <mat-icon svgIcon="notifications"></mat-icon>
    <span class="notification-dot" *ngIf="hasUnreadNotifications" style="background-color: #ff4b25;"></span>
</button>

  <mat-menu #notificationMenu="matMenu" class="dropdown-menu-default drpLog shadow">
    <!-- Header Section -->
    <div class="dropdown-header">
      <span class="header-title border-bottom">Notifications</span>
    </div>

    <!-- Notification Items -->
    <div class="notification-container">
      <ng-container *ngFor="let notification of eventNotifications">
        <div class="notification-item border-bottom py-2 px-2 position-relative"
             (click)="notification.navigationUrl && navigateToUrl($event, notification)"
             [style.cursor]="notification.navigationUrl ? 'pointer' : 'default'">
          <!-- <span class="new-notification" *ngIf="notification.status === 'unread'"></span> -->
          <div class="d-flex align-items-start w-100">
            <span class="new-notification" *ngIf="notification.status === 'unread'"></span>&nbsp;
            <button mat-icon-button class="notification-icon-btn" *ngIf="notification.navigationUrl" (click)="$event.stopPropagation()">
              <mat-icon>launch</mat-icon>
            </button>
            <div class="notification-content flex-grow-1 ms-2">
              <div class="notification-text" [ngClass]="{'bold-text': notification.status === 'unread'}">
                {{ notification.name }}: {{ notification.description }}
              </div>
              <small class="notification-date">{{ notification.date | date: 'MMM d, y' }}</small>
            </div>
            <i class="fa fa-times-circle text-danger notification-delete-icon"
               (click)="deleteNotification($event, notification?._id)"></i>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Footer Buttons -->
    <div class="p-2">
      <div class="d-flex justify-content-between w-100">
        <button mat-button  (click)="markAllAsRead()">Mark all as read</button>
        <button mat-button class="action-button" [routerLink]="'./notifications'">See all</button>
      </div>
    </div>
  </mat-menu>
</div>