<div class="main-content mt-5 pt-2">
    <div class="container-fluid">
        <div class="tabs">
            <button (click)="selectTab(1)" [class.active]="selectedTab === 1">General Settings</button>
            <button (click)="selectTab(2)" [class.active]="selectedTab === 2">Fixed Allowances</button>
            <button (click)="selectTab(3)" [class.active]="selectedTab === 3">Fixed Contributions</button>
            <button (click)="selectTab(4)" [class.active]="selectedTab === 4">Variable Allowances</button>
            <button (click)="selectTab(5)" [class.active]="selectedTab === 5">Fixed Deductions</button>
            <button (click)="selectTab(6)" [class.active]="selectedTab === 6">Variable Deductions</button>
            <button (click)="selectTab(7)" [class.active]="selectedTab === 7">Other Benefits</button>
            <button (click)="selectTab(8)" [class.active]="selectedTab === 8">Loans/Advances</button>
            <button (click)="selectTab(9)" [class.active]="selectedTab === 9">Flexi Benefits</button>
            <button (click)="selectTab(10)" [class.active]="selectedTab === 10">PF Charges</button>
        </div>

        <div *ngIf="selectedTab === 1" class="tab-content p-0">
            <app-general-settings></app-general-settings>
        </div>
        <div *ngIf="selectedTab === 2" class="tab-content  p-0">
            <app-fixed-allowance></app-fixed-allowance>
        </div>
        <div *ngIf="selectedTab === 3" class="tab-content  p-0">
            <app-fixed-contribution></app-fixed-contribution>
        </div>
        <div *ngIf="selectedTab === 4" class="tab-content p-0">
            <app-variable-allowance></app-variable-allowance>
        </div>
        <div *ngIf="selectedTab === 5" class="tab-content  p-0">
            <app-fixed-deduction></app-fixed-deduction>
        </div>
        <div *ngIf="selectedTab === 6" class="tab-content  p-0">
            <app-variable-deduction></app-variable-deduction>
        </div>
        <div *ngIf="selectedTab === 7" class="tab-content  p-0">
            <app-other-benefits></app-other-benefits>
        </div>
        <div *ngIf="selectedTab === 8" class="tab-content p-0">
            <app-loans-advances></app-loans-advances>
        </div>
        <div *ngIf="selectedTab === 9" class="tab-content  p-0">
            <app-flexi-benefits></app-flexi-benefits>
        </div>
        <div *ngIf="selectedTab === 10" class="tab-content  p-0">
            <app-pf-charges></app-pf-charges>
        </div>
    </div>
</div>