<div class="mt-5 pt-5">
    <form [formGroup]="crudForm" *ngIf="!readOnly" (ngSubmit)="submitted($event)"
        class="w-50 bg-white p-3 tableContainer">
        <ng-container>
            <ng-container *ngFor="let field of fields">
                <!--Input-->
                <ng-container *ngIf="field.type == 'text'">
                    <label for="">{{field.name}}</label>
                    <input type="text" [formControlName]="field.id" class="form-control">
                </ng-container>
                <!--Radio-->
                <ng-container *ngIf="field.type == 'radio'">
                    <div>
                        <label>{{field.name}}</label>
                        <div class="d-flex">
                            <div class="form-check mx-2" *ngFor="let option of field.options; let i = index">
                                <input class="form-check-input" type="radio" [id]="option.id"
                                    [formControlName]="field.id" [value]="option.value">
                                <label class="form-check-label" [for]="option.id">{{option.value}}</label>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!--Checkboxes-->
                <ng-container *ngIf="field.type == 'check'">
                    <label>{{field.name}}</label>
                    <div class="d-flex" formArrayName="check">
                      <div class="form-check mx-2" *ngFor="let check of check.controls; let i=index">
                        <input class="form-check-input" type="checkbox" [formControlName]="i" 
                               (change)="onCheckboxChange($event, i)">
                        <label class="form-check-label">{{field?.options[i]?.value}}</label>
                      </div>
                    </div>
                  </ng-container>
                  
                <!--TextArea-->
                <!--Date-->
                <ng-container *ngIf="field.type == 'date'">
                    <label for="">{{field.name}}</label>
                    <input placeholder="YYYY-MM-DD" class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker
                        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [formControlName]="field.id">
                </ng-container>
                <!--File Upload-->
                <!--Select-->
                <ng-container *ngIf="field.type == 'select'">
                    <label for="">{{field.name}}</label>
                    <select class="form-select" aria-label="Default select example" [formControlName]="field.id">
                        <option *ngFor="let option of field.options">{{option.value}}</option>
                    </select>
                </ng-container>

            </ng-container>
        </ng-container>
        <div class="d-flex justify-content-between mt-3">
            <button type="reset" mat-flat-button (click)="onCancel()">Cancel</button>
            <button type="submit" mat-flat-button class="addBtn">Submit</button>
        </div>
    </form>

    <!--ReadOnly-->
    <ng-container *ngIf="readOnly">
        <ng-container *ngFor="let field of fields">
            <div class="d-flex" *ngIf="field.type=='text'">
                <label for="">{{field.name}}</label>
                <span>{{field.value}}</span>
            </div>
            <div class="d-flex" *ngIf="field.type=='select'">
                <label for="">{{field.name}}</label>
                <ng-container *ngFor="let option of field.options">
                    <span *ngIf="field.value == option.id">{{option.value}}</span>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
</div>