<div class="main-content">
    <div class="container-fluid">
        <div class="tableContainer bg-white py-2">
            <div class="d-flex justify-content-between align-items-center mb-2 px-3">
                <p class="mb-0">({{totalRecords}}) Records Found</p>
                <div class="d-flex align-items-center">
                    <span class="bi bi-search searchIcon"></span>

                    <input class="form-control search" type="text" placeholder="Search..." [(ngModel)]="searchText"
                        name="searchText" aria-label="default input example">

                    <select name="selectedYear" id="selectedYear" class="mx-2" style="width: 200px" (change)="onYearChange($event)">
                        <option *ngFor="let year of getYearOptions()" [value]="year"
                            [attr.selected]="year === currentYear ? 'selected' : null">Calendar year- {{ year }}
                        </option>
                    </select>

                    <button mat-raised-button class="addBtn rounded-pill w-100"
                        (click)="clearselectedRequest(); isEdit=false; open(addModal)">Add&nbsp;New</button>
                </div>
            </div>
            <app-pagination [recordsPerPageOptions]="[5, 10, 25, 50, 100]" [totalRecords]="totalRecords"
                [recordsPerPage]="recordsPerPage" [currentPage]="currentPage" (pageChange)="onPageChange($event)"
                (recordsPerPageChange)="onRecordsPerPageChange($event)">
            </app-pagination>
            <table>
                <thead>
                    <th>Holiday Name</th>
                    <th>Date</th>
                    <th>Type of Holiday</th>
                    <th>Reoccur Every Year</th>
                    <th>Apply To</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr *ngFor="let holiday of holidays | search : searchText; let i = index">
                        <td>{{holiday?.label}}</td>
                        <td>{{holiday?.date | date: 'mediumDate'}}</td>
                        <td>
                            <span *ngIf="holiday?.isMandatoryForFlexiHoliday == true">Mandatory</span>
                            <span *ngIf="holiday?.isMandatoryForFlexiHoliday == false">Flexi</span>
                        </td>
                        <td>
                            <span *ngIf="holiday?.isHolidayOccurEveryYearOnSameDay == true">Yes</span>
                            <span *ngIf="holiday?.isHolidayOccurEveryYearOnSameDay == false">No</span>
                        </td>
                        <td>{{holiday?.holidaysAppliesFor}}</td>
                        <td>
                            <button class="actions" mat-mini-fab matTooltip="Edit" matTooltipPosition="before"
                                aria-label="Example icon button with a menu icon"
                                (click)="selectedRecord = holiday; isEdit= true; edit(holiday); open(addModal)">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button class="actions ms-2" mat-mini-fab matTooltip="Delete" matTooltipPosition="after"
                                aria-label="Example icon button with a menu icon" (click)="deleteDialog(holiday?._id)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- add company -->
<ng-template #addModal let-modal>
    <div class="modal-header d-flex justify-content-between border-bottom mb-2 pt-0">
        <div>
            <h1 class="modal-title text-muted mb-0">{{isEdit? 'Update': 'Add'}} Holiday</h1>
        </div>
        <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"
                (click)="modal.close('Escape clicked')"></button>
        </div>
    </div>

    <form [formGroup]="holidayForm" (ngSubmit)="onSubmission()">

        <div class="form-group mt-2">
            <label for="">Please Provide a Label for this Holiday</label>
            <input type="text" class="form-control" placeholder="Enter Label for The Holiday" formControlName="label">
        </div>

        <div class="form-group mt-2">
            <label for="">Select Date</label>
            <input placeholder="YYYY-MM-DD" class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker
                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" formControlName="date">
        </div>

        <div class="form-group mt-2">
            <label for="">Does this Holiday Reoccur on the Same Date Every Year?</label>
            <div class="d-flex">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="reoccur-Yes"
                        formControlName="isHolidayOccurEveryYearOnSameDay" required [value]="true">
                    <label class="form-check-label" for="reoccur-Yes">
                        Yes
                    </label>
                </div>

                <div class="form-check ms-3">
                    <input class="form-check-input" type="radio" id="reoccur-No"
                        formControlName="isHolidayOccurEveryYearOnSameDay" required [value]="false">
                    <label class="form-check-label" for="reoccur-No">
                        No
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group mt-2">
            <label for="">Is this a mandatory or a Flexi Holiday?</label>
            <div class="d-flex">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="isMandatoryForFlexiHoliday-Yes"
                        formControlName="isMandatoryForFlexiHoliday" required [value]="true">
                    <label class="form-check-label" for="isMandatoryForFlexiHoliday-Yes">
                        Mandatory
                    </label>
                </div>

                <div class="form-check ms-3">
                    <input class="form-check-input" type="radio" id="isMandatoryForFlexiHoliday-No"
                        formControlName="isMandatoryForFlexiHoliday" required [value]="false">
                    <label class="form-check-label" for="isMandatoryForFlexiHoliday-No">
                        Flexi
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group mt-2">
            <label for="">Which Employees Does this Holiday Applies for?</label>
            <div class="d-flex">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="holidaysAppliesFor-Yes"
                        formControlName="holidaysAppliesFor" required value="All-Employees">
                    <label class="form-check-label" for="holidaysAppliesFor-Yes">
                        All Employees
                    </label>
                </div>

                <div class="form-check ms-3">
                    <input class="form-check-input" type="radio" id="holidaysAppliesFor-No"
                        formControlName="holidaysAppliesFor" required value="Specific-Employees">
                    <label class="form-check-label" for="holidaysAppliesFor-No">
                        Specific Employees
                    </label>
                </div>
            </div>
        </div>

        <mat-form-field appearance="outline" class="w-100"
            *ngIf="holidayForm.get('holidaysAppliesFor').value == 'Specific-Employees'">
            <mat-label>Select Employees</mat-label>
            <mat-select multiple formControlName="users">
                <mat-option [value]="member?._id" *ngFor="let member of members; let i = index">
                    {{member?.firstName}} {{member?.lastName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="d-flex border-top mt-4 pb-2 pt-4 justify-content-between">
            <button mat-raised-button type="reset">Cancel</button>
            <button mat-raised-button class="addBtn" type="submit" [disabled]="!holidayForm.valid">Submit</button>
        </div>
    </form>
</ng-template>