<div class="tableContainer">
    <form [formGroup]="variableAllowanceForm">
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Criteria</th>
                    <th>Value</th>
                    <th>Minimum Amount</th>
                </tr>
            </thead>
            <tbody formArrayName="fixedAllowance">
                <tr *ngFor="let allowance of allowances; let i = index" [formGroupName]="i">
                    <td>{{getAllowance(allowance.get('fixedAllowance').value)}}</td>
                    <td>
                        <select formControlName="criteria">
                            <option value="Amount">Amount</option>
                            <option value="Percentage">Percentage</option>
                        </select>
                    </td>
                    <td>
                        <ng-container [ngSwitch]="allowance?.get('criteria').value">
                            <input *ngSwitchCase="'Amount'" type="number" formControlName="value" class="form-control"
                                placeholder="Enter Amount">
                            <input *ngSwitchCase="'Percentage'" type="number" formControlName="value"
                                class="form-control" placeholder="Enter Percentage">
                        </ng-container>
                    </td>
                    <td>
                        <input type="number" formControlName="minimumAmount" class="form-control"
                            placeholder="Blank for No Amount">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>