<section class="h-100">
  <div class="container h-100">
    <div><img src="assets/logo/expanded-logo.svg" alt="" style="height: 80px;"></div>
    <div class="justify-content-between login-row align-items-end d-flex pt-5">
      <div class="hero_bg">
        <img src="assets/main/bg-effect.png" alt="">
      </div>
      <div class="dashImg">

        <div class="row ps-3 bannerImg">
          <div class="col-6">
            <span><img src="assets/main/login/log1.png" class="w-100 main-bannerSection home banner1" alt=""></span>
            <span><img src="assets/main/login/log2.png" class="w-100 main-bannerSection home banner2 ms-2" alt=""></span>
          </div>
          <div class="col-6 align-content-center secondCol">
            <span><img src="assets/main/login/log3.png" class="w-75 main-bannerSection2 home banner3" alt=""></span>
            <span><img src="assets/main/login/log4.png" class="w-75 main-bannerSection2 home banner4" alt=""></span>
          </div>
        </div>
      </div>
      <div class="card-box">
        <div class="card shadow-lg mb-5 pb-5">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4 text-white border-bottom pb-2">Login</h1>
            <form (ngSubmit)=onSubmit() #f="ngForm" class="needs-validation" novalidate="" autocomplete="off">
              <div class="mb-3">
                <label class="mb-2 text-light" for="email">E-Mail Address</label>
                <input id="username" type="username" class="rounded-pill form-control" name="username" ngModel required
                  username #username="ngModel">
                <div *ngIf="!username.valid && username.touched" class="validationErroMessage">
                  Email is required
                </div>
              </div>

              <div class="mb-3">
                <div class=" d-flex justify-content-between">
                  <label class="text-light" for="password">Password</label>
                  <a routerLink="/forgotPassword" class="float-end text-white">
                    Forgot Password?
                  </a>
                </div>
                <input id="password" type="password" class="rounded-pill form-control" name="password" ngModel required
                  #password="ngModel">
                <div *ngIf="!password.valid && password.touched" class="validationErroMessage">
                  Email is required
                </div>
              </div>

              <div class="mb-3">
                <div class="mb-2 w-100">

                  <div class="form-check">
                    <input type="checkbox" name="remember" id="remember" class="form-check-input  check"
                      [(ngModel)]="rememberMe">
                    <label for="remember" class="form-check-label">Remember Me</label>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center">

                <button type="submit" mat-raised-button class="addBtn ms-auto">

                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Login
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer py-3 border-0">
            <div class="text-center text-white">
              Don't have an account? <a routerLink="/register" class="text-light">Create One</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center  mt-5 text-muted">
      <div class="copy">
        Copyright &copy; 2015-2023 &mdash; ARSTEG Solutions Pvt Ltd.
      </div>
    </div>

  </div>
</section>