.login-container {
  padding-top: 200px;

  .login-box {
    max-width: 465px;
    margin: 0 auto;
    padding: var(--size-32);
    border-radius: var(--size-16);
    border: 1px solid var(--orange-10);
  }
}

.signup{
  padding-top: 100px;
}

.login-intro-container {
  min-height: 100dvh;
  background: url("../../assets/png/login-intro-bg.png") no-repeat center bottom;
  background-size: cover;

  .login-intro {
    padding: var(--size-16) 70px;

    .login-intro-text {
      font-size: var(--size-32);
      color: var(--orange-60);
      font-weight: 500;
      line-height: var(--size-36);
      width: 75%;
      margin: var(--size-12) auto;
    }
  }

  .logo-container {
    padding-left: var(--size-40);
    padding-top: var(--size-36);
    padding-bottom: var(--size-64);
    .login-logo {
      height: var(--size-64);
    }
  }
}

@media (max-width: 767px) {
  .login-logo {
    height: var(--size-42);
  }

  .login-main-container {
    min-height: 30dvh;
    background: url("../../assets/png/login-intro-bg.png") no-repeat center -40dvh;
    background-size: cover;
    padding: 100px 0 0 0;

    .login-intro-text{
      font-weight: 500;
    }

    .login-container {
      background: var(--white);
      padding: var(--size-32) var(--size-16);
      border-radius: 50px;
      .login-box {
        padding: var(--size-32) var(--size-16);
      }
    }
  }
}
