.login-container{
  max-width: 400px;
  margin: 60px auto 0;
}

.error{
  color: tomato;
  font-size: 12px;
  padding-top: 4px
}
input.ng-invalid.ng-touched{
  border:1px solid red;
}
.validationErroMessage{
  color:red;
}
.check{
  border-radius: 2px !important;
  padding: 0 !important;
  min-height: 0 !important
}