.login-container {
  max-width: 400px;
  margin: 60px auto 0;
}

.error {
  color: white;
  font-size: 12px;
  padding-top: 4px
}

input.ng-invalid.ng-touched {
  border: 1px solid white;
}

.validationErroMessage {
  color: white;
}

.check {
  border-radius: 2px !important;
  padding: 0 !important;
  min-height: 0 !important
}

.card {
  background: #ff8b5b !important;
}

@media screen and (max-width: 480px) {
  .dashImg {
    position: absolute;
  }

  .login-row{
    justify-content: center !important;
  }
  .card-box{
    width:100%;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    min-width: 440px !important;
  }
  .copy{
    position: absolute !important;
    bottom: 10px !important;
    left: 35% !important;
  }
}
.login-banner {

  animation: moving_object 6s infinite linear;
}
@keyframes moving_object {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-30px);
  }
  100% {
      transform: translateY(0);
  }
}

.hero_bg {
  animation: mymove 10s infinite;
}
.hero_bg {
  position: absolute;
  top: -200px;
  /* right: 50px; */
}
@keyframes mymove{
  50% {
      transform: rotate(180deg);
  }
}

.bannerImg {
  z-index: 10;
  position: relative;
}
.main-bannerSection {

  position: relative;
  animation: moving_position_animatin 6s infinite linear;
  z-index: -1;
}

.main-bannerSection2 {

  animation: moving_object 6s infinite linear;
}

.home {
  border-radius: 20px;
  box-shadow: 0px 4px 10px #f6b568;
  ;
  margin-bottom: 20px;

}


.banner2 {
  /* height: 25%; */
  width: 80%;
}

.banner3,
.banner4 {
  width: 90%;
}

@keyframes moving_position_animatin {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-30px);
  }

  100% {
      transform: translateY(0);
  }
}

@keyframes moving_object {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-30px);
  }

  100% {
      transform: translateY(0);
  }
}

.secondCol{
  margin-left:-60px;
}

@media (max-width: 575px){
  .dashImg{
    display: none;
  }
  .card-box{
    width:100% !important;
  }
}