<section class="h-100">
  <div class="container h-100">
    <div><img src="assets/logo/expanded-logo.svg" alt="" style="height: 80px;"></div>
    <div class="justify-content-between login-row align-items-end d-flex pt-5">
      <div class="hero_bg">
        <img src="assets/main/bg-effect.png" alt="">
      </div>
      <div class="dashImg">

        <div class="row ps-3 bannerImg">
          <div class="col-6">
            <span><img src="assets/main/login/log1.png" class="w-100 main-bannerSection home banner1" alt=""></span>
            <span><img src="assets/main/login/log2.png" class="w-100 main-bannerSection home banner2 ms-2"
                alt=""></span>
          </div>
          <div class="col-6 align-content-center secondCol">
            <span><img src="assets/main/login/log3.png" class="w-75 main-bannerSection2 home banner3" alt=""></span>
            <span><img src="assets/main/login/log4.png" class="w-75 main-bannerSection2 home banner4" alt=""></span>
          </div>
        </div>
      </div>
      <div class="card-box">
        <div class="card shadow-lg mb-5 pb-5">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4 text-white border-bottom pb-2">Login</h1>
            <form (ngSubmit)=onSubmit() [formGroup]="loginForm" class="needs-validation">
              <div class="mb-3">
                <label class="mb-2 text-light" for="email">E-Mail Address</label>
                <input id="username" type="username" class="rounded-pill form-control" name="username"  required formControlName="email">
                <div *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="validationErroMessage">
                  Email is required!
                </div>
              </div>

              <div class="mb-3">
                <div class=" d-flex justify-content-between">
                  <label class="text-light" for="password">Password</label>
                  <a routerLink="/forgotPassword" class="float-end text-white">
                    Forgot Password?
                  </a>
                </div>
                <div class="input-group">
                  <input [type]="hidePassword ? 'password' : 'text'" id="password" class="rounded-pill form-control" name="password" required formControlName="password">
                  <div class="input-group-append">
                    <button type="button" class="showPswrd" (click)="togglePasswordVisibility()">
                      <i [class]="hidePassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                    </button>
                  </div>
                </div>
                <div *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="validationErroMessage">
                  Password is required!
                </div>
              </div>

              <div class="mb-3">
                <div class="mb-2 w-100">

                  <div class="form-check">
                    <input type="checkbox" name="remember" id="remember" class="form-check-input  check" formControlName="rememberMe">
                    <label for="remember" class="form-check-label">Remember Me</label>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center">

                <div *ngIf="inValidForm" class="text-light mt-3">
                  Invalid email or password. Please try again.
                </div>
                
                <button type="submit" mat-raised-button class="addBtn ms-auto d-flex">

                  <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                  <span>Login</span>
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer py-3 border-0">
            <div class="text-center text-white">
              Don't have an account? <a routerLink="/register" class="text-light">Create One</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center footer pt-5 mt-5 text-muted">
      <div class="">
        Copyright &copy; 2015-{{getCurrentYear()}} &mdash; ARSTEG Solutions Pvt Ltd.
      </div>
    </div>

  </div>
</section>