<div class="row h-100 m-0">
  <div class="col-md-6 d-none d-md-block login-intro-container">
    <div class="logo-container">
      <img src="assets/logo/expanded-logo.svg" alt="" class="login-logo" />
    </div>
    <div class="login-intro text-center">
      <h1 class="login-intro-text" translate>
        login.intro
      </h1>
      <img src="assets/png/login-intro-1.png" class="img-fluid" />
    </div>
  </div>

  <div class="col-12 col-md-6 login-main-container">
    <!--mobile logo & intro-->
    <div class="d-md-none">
      <div class="logo-container text-center">
        <img src="assets/logo/expanded-logo.svg" alt="" class="login-logo" />
      </div>
      <div class="login-intro text-center">
        <h1 class="login-intro-text text-primary pt-3 pb-5" translate>
          login.intro
        </h1>
      </div>
    </div>
    <!--mobile logo & intro end-->
    <div class="login-container">
      <h1 class="text-center fs-4 fw-normal" translate>login.title</h1>
      <div class="login-box">
        <form (ngSubmit)=onSubmit() [formGroup]="loginForm" class="needs-validation">
          <mat-form-field class="w-100">
            <mat-icon matPrefix>email</mat-icon>
            <mat-label translate>login.email</mat-label>
            <input type="text" required formControlName="email" matInput autocomplete="off"/>
            <mat-error>
              @if(!loginForm.get('email').valid && loginForm.get('email').touched){
                {{'login.email_required' | translate }}
              }
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="w-100">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-label translate>login.password</mat-label>
            <input [type]="hidePassword ? 'password' : 'text'" matInput required formControlName="password" autocomplete="off"/>
            <button
              mat-icon-button
              matSuffix
              (click)="togglePasswordVisibility()"
              [attr.aria-pressed]="hidePassword"
              type="button"
            >
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>
              @if(!loginForm.get('password').valid && loginForm.get('password').touched){
                {{'login.password_required' | translate }}
              }
            </mat-error>
          </mat-form-field>
  
          <div class="mb-3 text-end">
              <a routerLink="/forgotPassword" translate>
                login.forgot_password
              </a>
          </div>
          
          <div>
            <button mat-flat-button color="primary" type="submit" class="w-100" [disabled]="loading">
              @if(loading){
                <span class="spinner-border spinner-border-sm me-1"></span>
              }
              {{ 'login.login' | translate }}
            </button>
          </div>

          <div *ngIf="errorMessage" class="text-danger">
            {{ errorMessage }}
          </div>

        </form>
      </div>
      <div class="card-footer py-3 border-0">
        <div class="text-center">
          {{'login.dont_have_an_account' | translate}} <a routerLink="/register">{{'login.create_one' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>