<div class="input-group mb-2 w-75 mx-auto menu-search">
    <span class="input-group-text p-0">
        <mat-icon>search</mat-icon>
    </span>
    <input type="text" [(ngModel)]="searchText" placeholder="Search..." class="form-control"
        (input)="filteredMenuItems()">
</div>

<!--Expanded Menu-->

<ul class="menu">
    @for(menu of menuList; track menu) {
    <li class="menu-item" [routerLink]="menu.url" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }">
        @if(menu.svgIcon) {
        <mat-icon [svgIcon]="menu.svgIcon"></mat-icon>
        } @else {
        <img class="icon-img" [src]="menu.icon" height="25" alt="">
        <img class="icon-img-light" [src]="menu.lightIcon" height="25" alt="">
        }
        <span> {{menu.title}}</span>
    </li>
    }
</ul>