<div class="row h-100 m-0">
  <div class="col-md-6 d-none d-md-block login-intro-container">
    <div class="logo-container">
      <img src="assets/logo/expanded-logo.svg" alt="" class="login-logo" />
    </div>
    <div class="login-intro text-center">
      <h1 class="login-intro-text" translate>
        login.intro
      </h1>
      <img src="assets/png/login-intro-1.png" class="img-fluid" />
    </div>
  </div>

  <div class="col-12 col-md-6 login-main-container">
    <!--mobile logo & intro-->
    <div class="d-md-none">
      <div class="logo-container text-center">
        <img src="assets/logo/expanded-logo.svg" alt="" class="login-logo" />
      </div>
      <div class="login-intro text-center">
        <h1 class="login-intro-text text-primary pt-3 pb-5" translate>
          login.intro
        </h1>
      </div>
    </div>
    <!--mobile logo & intro end-->
    <div class="login-container">
      <h1 class="text-center fs-4 fw-normal" translate>login.reset_password</h1>
      <div class="login-box">
        <form (ngSubmit)=onSubmit() #f="ngForm" novalidate="" autocomplete="off">
          <mat-form-field class="w-100">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-label translate>login.password</mat-label>
            <input [type]="hidePassword ? 'password' : 'text'" id="password" class="rounded-pill form-control" ngModel
              name="password" required #password="ngModel" matInput/>
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-pressed]="hidePassword"
              type="button">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>
              @if(!password.valid && password.touched){
              {{'login.password_required' | translate }}
              }
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-label translate>login.confirm_password</mat-label>
            <input [type]="hideConfirmPassword ? 'password' : 'text'" id="confirmPassword"
              class="rounded-pill form-control" ngModel name="confirm_password" required #confirm_password="ngModel" matInput/>
            <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()" [attr.aria-pressed]="hideConfirmPassword"
              type="button">
              <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error>
              @if(!confirm_password.valid && confirm_password.touched){
              {{'login.password_required' | translate }}
              }
              @if(confirm_password.touched && resetPasswordForm.value.password !==
              resetPasswordForm.value.confirm_password){
              {{'login.password_mismatch' | translate }}
              }
            </mat-error>
          </mat-form-field>

          <div class="d-flex align-items-center">
            <button mat-flat-button color="primary" type="submit" class="w-100" [disabled]="!f.valid">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              {{'login.change_password' | translate }}
            </button>
          </div>
          @if(errorMessage){
            <p class="text-center text-danger">{{errorMessage}}</p>
          }
        </form>
      </div>
    </div>
  </div>
</div>