<section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-sm-center h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
          <div class="text-center my-5">
            <!-- <img src="" alt="logo" width="100"> -->
          </div>
          <div class="card shadow-lg">
            <div class="card-body p-5">
              <h1 class="fs-4 card-title fw-bold mb-4 text-center border-bottom">Reset Password</h1>
              <form (ngSubmit)=onSubmit()  #f="ngForm"  class="needs-validation" novalidate="" autocomplete="off">
                  <div class="mb-3">
                  <label class="mb-2 text-muted" for="password">Password</label>
                  <div class="input-group">
                    <input [type]="hidePassword ? 'password' : 'text'" id="password" class="rounded-pill form-control" ngModel name="password" required #password="ngModel" >
                    <div class="input-group-append">
                      <button type="button" class="showPswrd" (click)="togglePasswordVisibility()">
                        <i [class]="hidePassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                      </button>
                    </div>
                  </div>
                <div *ngIf="!password.valid && password.touched" class="error validationErroMessage">
                  Password is required
                </div>
                </div>
  
                <div class="mb-3">
                  <div class="mb-2 w-100">
                    <label class="text-muted" for="confirmPassword">Confirm Password</label>
                  </div>
                  <div class="input-group">
                    <input [type]="hideConfirmPassword ? 'password' : 'text'" id="confirmPassword" class="rounded-pill form-control" ngModel name="confirm_password" required #confirm_password="ngModel">
                    <div class="input-group-append">
                      <button type="button" class="showPswrd" (click)="toggleConfirmPasswordVisibility()">
                        <i [class]="hideConfirmPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="!confirm_password.valid && confirm_password.touched" class="error validationErroMessage">
                    Confirm Password is required
                  </div>
                  <div *ngIf="confirm_password.touched && resetPasswordForm.value.password !== resetPasswordForm.value.confirm_password" class="error validationErroMessage">
                    Passwords do not match
                  </div>
                </div>
  
                <div class="d-flex align-items-center">
                 
                  <button type="submit" mat-raised-button class="addBtn ms-auto" [disabled]="!f.valid">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Change Password
          </button>
                </div>
              </form>
            </div>
          
          </div>
          <div class="text-center mt-5 text-muted">
            Copyright &copy; 2015-{{getCurrentYear()}} &mdash; ARSTEG Solutions Pvt Ltd.
          </div>
        </div>
      </div>
    </div>
  </section>
