<div class="main-content mt-5 pt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="container-fluid mt-3 py-2 px-0 bg-white tableContainer">
          <div class="d-flex justify-content-between align-items-center mb-2 px-3">
            <p class="mb-0">() Records Found</p>
            <div class="d-flex align-items-center">
              <span class="bi bi-search searchIcon"></span>

              <input class="form-control search" type="text" placeholder="Search..."
                name="searchText" aria-label="default input example"
               >
            </div>
          </div>
          <table class="px-4">
            <thead>
              <tr>
                <th scope="col">
                </th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-10 ps-3"></td>

                <td>
                    <button class="actions" mat-mini-fab title="Update User"
                    aria-label="Example icon button with a menu icon">
                    <i class="bi bi-pencil-fill"></i>
                  </button>
                  <button class="actions ms-2" mat-mini-fab title="Delete User"
                    aria-label="Example icon button with a menu icon">
                    <i class="bi bi-trash"></i>
                  </button>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center">
          <pagination-controls></pagination-controls>
        </div>
      </div>
      <div class="col-md-4">
        <h2 class="contentHeading">Add/Edit Status</h2>
        <form
          class="mt-4 p-3 bg-light border rounded">

          <div class="form-group row">
            <div class="col-sm-0">
              Name:
            </div>
            <div class="col-sm-12">
              <input type="text" formControlName="name" class="form-control">
            </div>
            <div class="d-flex justify-content-between mt-2">
              <div class="">
                <button type="submit" mat-raised-button class="addBtn ml-5"
                  style="min-width: 100px;"></button>
              </div>
              <div class="">
                <button type="button"  mat-raised-button
                  style="min-width: 100px;">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
