<div>
    <div class="d-flex align-items-center px-2 py-1">
        <p class="mb-0 me-auto">() Records Found</p>
        <div class="d-flex align-items-center">
            <span class="bi bi-search searchIcon"></span>
            <input class="form-control search" type="text" placeholder="Search..." [(ngModel)]="searchText"
                name="searchText" aria-label="default input example">
        </div>
    </div>
    <table>
        <thead>
            <th>Financial Year</th>
            <th>80C Deductions</th>
            <th>Section 10 Exemptions</th>
            <th>Chapter VI Deductions</th>
            <th>Total Prequisites</th>
            <th>Interest on Home Loan</th>
            <th>Previous Employment Information</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let data of loansAdvances | search:searchText"> -->
            <tr>
                <td>data</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
               
            </tr>
        </tbody>
    </table>
</div>