<div class="main-content pt-3">
    <div class="container-fluid">
        <div class="" *ngIf="tasks?.data?.task != null">
            <div class="row">
                <!-- sidebar task lists panel -->
                <div class="col-md-2">
                    <div class="topbar-search-container">
                        <div class="position-relative w-100 ">
                            <span class="fa fa-search search-task"></span>
                            <input [(ngModel)]="searchText" class="task-page-search-bar form-control"
                                placeholder="search for tasks" value="">
                        </div>
                    </div>

                    <ng-container>
                        <div class="align-items-center">
                            <div class="d-flex justify-content-evenly align-items-center mt-1">
                                <span class="text-muted ms-1"> Items per page </span>
                                <select style="width: 70px;" class="form-select form-select-sm pagination-option"
                                    [(ngModel)]="recordsPerPage" (ngModelChange)="updateRecordsPerPage()">
                                    <option *ngFor="let option of recordsPerPageOptions" [value]="option">{{ option
                                        }}</option>
                                </select>
                            </div>
                            <div class="d-flex justify-content-between border-bottom align-items-center">
                                <div class="">{{ currentPage }} - {{ getTotalPages() }} of {{
                                    totalRecords?.taskCount }} </div>
                                <span (click)="previousPagination()"
                                    class="bi bi-chevron-left btn-sm btn-outline-primary" title="Previous Page"></span>

                                <span (click)="nextPagination()" class="bi bi-chevron-right btn-sm btn-outline-primary"
                                    title="Next Page"></span>
                            </div>
                        </div>
                    </ng-container>

                    <ul type="none" class="taskList">
                        <li *ngFor="let task of taskList | search: searchText" class="tasks"
                            [class.active-task]="task?.id === taskId" (click)="onTaskChange(task?.id)">
                            {{task?.taskName| titlecase}}
                            <div class="d-flex" style="font-size: 12px; margin-top: -10px">
                                <span *ngIf="task.project != null"> {{getProjectNameInitials(task.project.projectName)}}
                                    - </span> {{task.taskNumber}}
                                <div class="ms-auto pe-2">
                                    <span *ngFor="let assignee of task.TaskUsers" class="letter text-light"
                                        style="font-size: 12px"
                                        [tooltip]="(assignee?.user?.firstName | titlecase) + ' ' + (assignee?.user?.lastName | titlecase)"
                                        [style.background-color]="commonService.getRandomColor(assignee?.user?.firstName?.charAt(0) | uppercase)">
                                        {{ assignee?.user?.firstName?.charAt(0) | uppercase }}
                                        {{ assignee?.user?.lastName?.charAt(0) | uppercase }}
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- task details main page -->
                <div class="col-md-10">
                    <div class="row mb-3">
                        <div class="col-12  align-self-center">
                            <div class="sub-header py-1 px-3 align-self-center d-sm-flex w-100 rounded">
                                <div class="w-sm-100 pt-2 mr-auto">
                                    <h3 class="mb-0">Task Details</h3>
                                </div>

                                <ol class="breadcrumb bg-transparent align-self-center ms-auto m-0 p-0">
                                    <ng-container>
                                        <button *ngIf="view==='admin'" (click)="goBack()"
                                            class="btn  submenuTab active rounded-pill"><span class="bi bi-arrow-left ">
                                                Back</span></button>
                                        <button *ngIf="view==='user'" (click)="goBack()"
                                            class="btn  submenuTab active rounded-pill"> <span
                                                class="bi bi-arrow-left ">
                                                Back</span></button>
                                    </ng-container>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <form class="row taskDetails" [formGroup]="updateForm">
                        <div class="row mb-3">
                            <div class="col-12  align-self-center">
                                <div class="sub-header mt-3 py-3 px-3 align-self-center w-100 rounded">
                                    <div class="d-flex  align-items-center">
                                        <div ngbDropdown class="d-inline-block">

                                            <button class="btn dropdown-toggle status" id="dropdownMenuButton"
                                                ngbDropdownToggle [ngClass]="{
'bg-warning text-white': (selectedStatus || tasks?.data?.task?.status) === 'In Progress',
'bg-success text-white': (selectedStatus || tasks?.data?.task?.status) === 'Done',
'bg-danger text-white': (selectedStatus || tasks?.data?.task?.status) === 'ToDo',
'bg-secondary text-white': (selectedStatus || tasks?.data?.task?.status) === 'Closed',
'bg-primary text-white': (selectedStatus || tasks?.data?.task?.status) === 'Active'
}">
                                                <i class="fa"
                                                    [ngClass]="getFaclass(selectedStatus || tasks?.data?.task?.status)"></i>
                                                {{ selectedStatus || tasks?.data?.task?.status }}
                                            </button>

                                            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                                <button ngbDropdownItem *ngFor="let s of statusList"
                                                    (click)="updateTaskStatus(task, s.name)">
                                                    <span class="d-flex align-items-center">
                                                        <span>{{ s?.name }}</span>
                                                    </span>
                                                </button>
                                                <button ngbDropdownItem (click)="updateTaskStatus(task, '')">
                                                    <span class="d-flex align-items-center"><span>Remove
                                                            Status</span></span>
                                                </button>
                                            </div>
                                        </div>

                                        <div ngbDropdown class="d-inline-block">
                                            <button class="btn dropdown-toggle" id="dropdownMenuButton2"
                                                ngbDropdownToggle>
                                                <img class="align-self-center"
                                                    [src]="selectedPriority ? selectedPriority.url : getTaskPriorityUrl(currentTaskProject?.priority)"
                                                    [title]="tasks?.priority" height="24" width="24">
                                            </button>

                                            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton2">
                                                <button ngbDropdownItem *ngFor="let priority of priorityList"
                                                    (click)="updateTaskPriority(task, priority.name)">
                                                    <span class="d-flex align-items-center">
                                                        <img [src]="priority?.url" class="me-3" height="18" width="18">
                                                        <span>{{ priority?.name }}</span>
                                                    </span>
                                                </button>
                                                <button ngbDropdownItem (click)="updateTaskPriority(task, '')">
                                                    <span class="d-flex align-items-center"><span>Remove
                                                            Priority</span></span>
                                                </button>
                                            </div>
                                        </div>

                                        <!-- -------------------- -->
                                        <div ngbDropdown class="d-inline-block">
                                            <ng-container *ngIf="assignee && assignee.length === 0;">
                                                <button type="button" class="btn btn-outline-primary"
                                                    id="dropdownBasic1" ngbDropdownToggle>
                                                    Toggle dropdown
                                                </button>
                                                <span type="button"
                                                    class="btn btn-sm rounded-pill btn-primary px-2 dropdown-toggle dropdown-toggle-no-caret"
                                                    ngbDropdownToggle>Assignee <i class="bi bi-chevron-down"></i></span>

                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                    <button ngbDropdownItem *ngFor="let assignee of projectUser"
                                                        [value]="assignee?.user?.id">
                                                        <p *ngIf="assignee.user != null" class="ps-4 py-2 mb-1"
                                                            style="font-size: 13px;"
                                                            (click)="addUserToTask(tasks?.data?.task?.id, assignee.user.id)">
                                                            <span class="letter p-1 rounded text-light"
                                                                style="font-size: 12px;"
                                                                [tooltip]="(assignee?.user?.firstName | titlecase) + ' ' + (assignee?.user?.lastName | titlecase)"
                                                                [style.background-color]="commonService.getRandomColor(assignee?.user?.firstName?.charAt(0) | uppercase)">
                                                                {{ assignee?.user?.firstName?.charAt(0) | uppercase }}
                                                                {{ assignee?.user?.lastName?.charAt(0) | uppercase }}
                                                            </span>
                                                            &nbsp;{{ assignee?.user?.firstName | titlecase }}
                                                            {{ assignee?.user?.lastName | titlecase }}
                                                        </p>
                                                    </button>
                                                </div>
                                            </ng-container>

                                            <div class="user-container btn-group align-items-center"
                                                *ngFor="let user of assignee;" id="dropdownBasic2" ngbDropdown>
                                                <span class="letters p-1 rounded text-light"
                                                    [tooltip]="(user?.user?.firstName | titlecase) + ' ' + (user?.user?.lastName | titlecase)"
                                                    [style.background-color]="commonService.getRandomColor(user?.user?.firstName?.charAt(0) | uppercase)">
                                                    {{ user?.user?.firstName?.charAt(0) | uppercase }}&nbsp;{{
                                                    user?.user?.lastName?.charAt(0) | uppercase }}
                                                </span>

                                                <button type="button"
                                                    class="btn dropdown-toggle dropdown-toggle-no-caret"
                                                    ngbDropdownToggle>
                                                    <span class="text-muted">{{ user?.user?.firstName }} {{
                                                        user?.user?.lastName }}</span>
                                                </button>

                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                                                    <button ngbDropdownItem (click)="removeAssignee()"
                                                        *ngIf="assignee.length === 1 && assignee[0]?.id">
                                                        <span class="ps-2 py-2 mb-1" style="font-size: 13px;">
                                                            <i class="bi bi-person-circle me-3 text-secondary"
                                                                style="font-size: 20px"></i>
                                                            Unassigned
                                                        </span>
                                                    </button>

                                                    <button ngbDropdownItem *ngFor="let assignee of projectUser"
                                                        [value]="assignee?.user?.id">
                                                        <p *ngIf="assignee.user != null" class="ps-2 py-2 mb-1"
                                                            style="font-size: 13px;"
                                                            (click)="addUserToTask(tasks?.data?.task?.id, assignee.user.id)">
                                                            <span class="letters p-1 rounded text-light"
                                                                style="font-size: 12px;"
                                                                [tooltip]="(assignee?.user?.firstName | titlecase) + ' ' + (assignee?.user?.lastName | titlecase)"
                                                                [style.background-color]="commonService.getRandomColor(assignee?.user?.firstName?.charAt(0) | uppercase)">
                                                                {{ assignee?.user?.firstName?.charAt(0) | uppercase
                                                                }}&nbsp;{{ assignee?.user?.lastName?.charAt(0) |
                                                                uppercase }}
                                                            </span>&nbsp;{{ assignee?.user?.firstName | titlecase
                                                            }}&nbsp;{{ assignee?.user?.lastName | titlecase }}
                                                        </p>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <span>|</span>

                                        <span
                                            class="text-muted">&nbsp;&nbsp;<strong>Reporter:</strong>&nbsp;{{tasks?.data?.task?.createdBy?.firstName
                                            |
                                            titlecase}}&nbsp;{{tasks?.data?.task?.createdBy?.lastName |
                                            titlecase}}&nbsp;&nbsp;</span>

                                        <!-- Update project -->
                                        <div class="mt-3 me-2">
                                            <span for="project" class="text-start text-muted">Project</span>
                                            <select class="custom-select mb-3 p-2" formControlName="project">
                                                <option [value]="project?.id" *ngFor="let project of projectList">
                                                    {{project?.projectName}}
                                                </option>
                                            </select>
                                        </div>

                                        <div class=" d-flex  ms-auto">
                                            <div class="">
                                                <span class="text-muted">Start Date</span>
                                                <input placeholder="YYYY-MM-DD" class="form-control"
                                                    #datepickerYMD="bsDatepicker" bsDatepicker
                                                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                                    formControlName="startDate" [ngModel]="tasks?.data?.task?.startDate"
                                                    (ngModelChange)="tasks?.data?.task && (tasks.data.task.startDate = $event)"
                                                    required>
                                            </div>
                                            <div class=" ms-2">
                                                <span class="text-muted">End Date</span>
                                                <input placeholder="YYYY-MM-DD" class="form-control"
                                                    #datepickerYMD="bsDatepicker" bsDatepicker
                                                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                                    formControlName="endDate" [ngModel]="tasks?.data?.task?.endDate"
                                                    (ngModelChange)="tasks?.data?.task && (tasks.data.task.endDate = $event)"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="mx-3 mt-2">
                                            <i class="bi bi-trash actions" title="Delete Task" data-bs-toggle="modal"
                                                data-bs-target="#deleteModal"></i>
                                        </div>

                                        <div class="d-flex justify-content-between mt-3">
                                            <div>
                                                <button mat-raised-button class="mx-2" (click)="onCancel()"
                                                    type="button">Cancel</button>
                                            </div>
                                            <div>
                                                <button mat-raised-button (click)="updateTask()" class="addBtn"
                                                    type="submit">Update</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <label for="taskName" class="text-start">Task</label>
                                    </div>
                                    <input type="text" name="taskName" id="project" class="form-control input pt-0"
                                        *ngIf="tasks?.data?.task?.id" formControlName="taskName"
                                        onkeydown="return event.key != 'Enter';"
                                        [(ngModel)]="tasks?.data?.task.taskName" required>
                                    <div *ngIf="updateForm.controls['taskName'].invalid && updateForm.controls['taskName'].touched"
                                        class="alert alert-danger error">
                                        <div *ngIf="updateForm.controls['taskName'].errors['required']">
                                            Please Select Task Name!
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <b class="text-start">Description</b>
                                    </div>
                                    <div *ngIf="!tasks?.data?.task?.description && !showEditor">
                                        <div (click)="onParagraphClick()" class="form-control  px-0 form-feild"
                                            style="height:50px">
                                        </div>
                                    </div>
                                    <div *ngIf="!showEditor" (click)="onParagraphClick()">
                                        <div id="description" class="editorContent w-100"
                                            [innerHTML]="tasks?.data?.task?.description">
                                        </div>
                                    </div>
                                    <div *ngIf="showEditor">
                                        <quill-editor #editor [styles]="{ height: '400px' }"
                                            formControlName="description"
                                            [(ngModel)]="tasks?.data?.task.description"></quill-editor>
                                    </div>
                                    <div *ngIf="updateForm.controls['description'].invalid && updateForm.controls['description'].touched"
                                        class="alert alert-danger error">
                                        <div *ngIf="updateForm.controls['description'].errors['required']">
                                            Description is required!
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-6">
                                        <label for="fileUpload6"
                                            class="file-upload btn btn-outline-primary btn-block rounded-pill shadow my-3">
                                            <i class="fa fa-paperclip me-2"></i> Add attachment<input id="fileUpload6"
                                                type="file" (change)="onFileSelect($event)" multiple
                                                style="display: none;">
                                        </label>
                                        <ul type="none">
                                            <li class="contentHeading p-2" *ngFor="let files of selectedFiles">
                                                {{files.name}}
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="d-flex row">
                                        <ng-container *ngFor="let attachment of taskAttachment; let i = index">
                                            <div class="col-md-2 mb-5" *ngIf="!attachment?.comment">

                                                <div class="card cardAttachment"
                                                    *ngIf="attachment?.attachmentType == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                                                    <button type="button"
                                                        class="bi bi-trash btn text-danger text-right deleteAttachment"
                                                        (click)="deleteTaskAttachment(attachment.id)"></button>
                                                    <a href="{{attachment.url}}" class="card-img-top">
                                                        <i class="bi bi-file-earmark-spreadsheet file"></i>
                                                        <div class="card-body py-0  border-top">
                                                            <small class="card-text">
                                                                {{attachment?.attachmentName}}</small>
                                                        </div>
                                                    </a>
                                                </div>

                                                <div class="card cardAttachment"
                                                    *ngIf="attachment?.attachmentType == 'image/png'">
                                                    <button type="button"
                                                        class="bi bi-trash btn text-danger text-right deleteAttachment"
                                                        (click)="deleteTaskAttachment(attachment.id)"></button>
                                                    <img src="{{attachment.url}}" class="card-img-top" alt="..."
                                                        (click)="openTaskAttachmentModal(attachment, bigAttachmentModal)" />
                                                    <div class="card-body py-0 border-top">
                                                        <small class="card-text"> {{attachment?.attachmentName}}</small>
                                                    </div>
                                                </div>

                                                <div class="card cardAttachment"
                                                    *ngIf="attachment?.attachmentType == 'image/gif'">
                                                    <button type="button"
                                                        class="bi bi-trash btn text-danger text-right deleteAttachment"
                                                        (click)="deleteTaskAttachment(attachment.id)"></button>
                                                    <img src="{{attachment.url}}" class="card-img-top" alt="..."
                                                        (click)="openTaskAttachmentModal(attachment, bigAttachmentModal)" />
                                                    <div class="card-body py-0 border-top">
                                                        <small class="card-text"> {{attachment?.attachmentName}}</small>
                                                    </div>
                                                </div>

                                                <div class="card cardAttachment"
                                                    *ngIf="attachment?.attachmentType == 'image/jpg'">
                                                    <button type="button"
                                                        class="bi bi-trash btn text-danger text-right deleteAttachment"
                                                        (click)="deleteTaskAttachment(attachment.id)"></button>
                                                    <img src="{{attachment.url}}" class="card-img-top" alt="..."
                                                        (click)="openTaskAttachmentModal(attachment, bigAttachmentModal)" />
                                                    <div class="card-body py-0  border-top">
                                                        <small class="card-text"> {{attachment?.attachmentName}}</small>
                                                    </div>
                                                </div>

                                                <div class="card cardAttachment"
                                                    *ngIf="attachment?.attachmentType == 'image/jpeg'">
                                                    <button type="button"
                                                        class="bi bi-trash btn text-danger text-right deleteAttachment"
                                                        (click)="deleteTaskAttachment(attachment.id)"></button>
                                                    <img src="{{attachment.url}}" class="card-img-top" alt="..."
                                                        (click)="openTaskAttachmentModal(attachment, bigAttachmentModal)" />
                                                    <div class="card-body py-0  border-top">
                                                        <small class="card-text"> {{attachment?.attachmentName}}</small>
                                                    </div>
                                                </div>

                                                <div class="card cardAttachment"
                                                    *ngIf="attachment?.attachmentType == 'image/avif'">
                                                    <button type="button"
                                                        class="bi bi-trash btn text-danger text-right deleteAttachment"
                                                        (click)="deleteTaskAttachment(attachment.id)"></button>
                                                    <img src="{{attachment.url}}" class="card-img-top" alt="..."
                                                        (click)="openTaskAttachmentModal(attachment, bigAttachmentModal)" />
                                                    <div class="card-body py-0  border-top">
                                                        <small class="card-text"> {{attachment?.attachmentName}}</small>
                                                    </div>
                                                </div>

                                                <div class="card cardAttachment"
                                                    *ngIf="attachment?.attachmentType == 'image/webp'">
                                                    <button type="button"
                                                        class="bi bi-trash btn text-danger text-right deleteAttachment"
                                                        (click)="deleteTaskAttachment(attachment.id)"></button>
                                                    <img src="{{attachment.url}}" class="card-img-top" alt="..."
                                                        (click)="openTaskAttachmentModal(attachment, bigAttachmentModal)" />
                                                    <div class="card-body py-0  border-top">
                                                        <small class="card-text"> {{attachment?.attachmentName}}</small>
                                                    </div>
                                                </div>

                                                <div class="card cardAttachment"
                                                    *ngIf="attachment?.attachmentType == 'image/svg+xml'">
                                                    <button type="button"
                                                        class="bi bi-trash btn text-danger text-right deleteAttachment"
                                                        (click)="deleteTaskAttachment(attachment.id)"></button>
                                                    <a href="{{attachment.url}}" class="card-img-top">
                                                        <i class="bi bi-filetype-svg file"></i>
                                                        <div class="card-body py-0  border-top">
                                                            <small class="card-text">
                                                                {{attachment?.attachmentName}}</small>
                                                        </div>
                                                    </a>
                                                </div>

                                                <div class="card cardAttachment"
                                                    *ngIf="attachment?.attachmentType == 'application/pdf'">
                                                    <button type="button"
                                                        class="bi bi-trash btn text-danger text-right deleteAttachment"
                                                        (click)="deleteTaskAttachment(attachment.id)"></button>
                                                    <a href="{{attachment.url}}" class="card-img-top">
                                                        <i class="bi bi-filetype-pdf file"></i>
                                                        <div class="card-body py-0  border-top">
                                                            <small class="card-text">
                                                                {{attachment?.attachmentName}}</small>
                                                        </div>
                                                    </a>
                                                </div>

                                                <div class="card cardAttachment"
                                                    *ngIf="attachment?.attachmentType == 'application/json'">
                                                    <button type="button"
                                                        class="bi bi-trash btn text-danger text-right deleteAttachment"
                                                        (click)="deleteTaskAttachment(attachment.id)"></button>
                                                    <a href="{{attachment.url}}" class="card-img-top">
                                                        <i class="bi bi-filetype-json file"></i>
                                                        <div class="card-body py-0  border-top">
                                                            <small class="card-text">
                                                                {{attachment?.attachmentName}}</small>
                                                        </div>
                                                    </a>
                                                </div>

                                                <div class="card cardAttachment"
                                                    *ngIf="attachment?.attachmentType == 'text/plain'">
                                                    <button type="button"
                                                        class="bi bi-trash btn text-danger text-right deleteAttachment"
                                                        (click)="deleteTaskAttachment(attachment.id)"></button>
                                                    <a href="{{attachment.url}}" target="_blank"
                                                        download="{{attachment.attachmentName}}" class="card-img-top">
                                                        <i class="bi bi-filetype-txt file"></i>
                                                        <div class="card-body py-0  border-top">
                                                            <small class="card-text">
                                                                {{attachment?.attachmentName}}</small>
                                                        </div>
                                                    </a>
                                                </div>

                                                <div class="card cardAttachment"
                                                    *ngIf="attachment?.attachmentType == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
                                                    <button type="button"
                                                        class="bi bi-trash btn text-danger text-right deleteAttachment"
                                                        (click)="deleteTaskAttachment(attachment.id)"></button>
                                                    <a href="{{attachment.url}}" class="card-img-top">
                                                        <i class="bi bi-filetype-docx file"></i>
                                                        <div class="card-body py-0  border-top">
                                                            <small class="card-text">
                                                                {{attachment?.attachmentName}}</small>
                                                        </div>
                                                    </a>
                                                </div>

                                                <div class="card cardAttachment"
                                                    *ngIf="attachment?.attachmentType == 'text/csv'">
                                                    <button type="button"
                                                        class="bi bi-trash btn text-danger text-right deleteAttachment"
                                                        (click)="deleteTaskAttachment(attachment.id)"></button>
                                                    <a href="{{attachment.url}}" class="card-img-top">
                                                        <i class="bi bi-filetype-csv file"></i>
                                                        <div class="card-body py-0  border-top">
                                                            <small class="card-text">
                                                                {{attachment?.attachmentName}}</small>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12  align-self-center">
                                <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
                                    <div class="w-100 pt-2 mr-auto border-bottom d-flex">
                                        <h3 class="mb-0">Subtasks</h3>
                                        <h3 class="ms-auto pe-3" *ngIf="subTask">Total Sub Task: {{subTask?.length}}
                                        </h3>
                                    </div>
                                </div>

                                <div class="rounded shadow my-2 bg-white">
                                    <div *ngFor="let subTask of subTask; let i = index">
                                        <div class="subtask-list">
                                            <div class="d-flex  border-bottom pt-1 align-items-center px-3">
                                                <span class="text-muted mx-1">{{subTask.taskNumber}}</span>
                                                <p class=" ps-4" *ngIf="!isEditMode" (click)="subTaskDetail(subTask)">
                                                    <b>{{subTask.taskName}}</b>
                                                </p>

                                                <div class="dropdown ms-auto">
                                                    <button id="dropdownMenuButtonSub" ngbDropdownToggle
                                                        class="btn dropdown-toggle sub_btn status" type="button"
                                                        [ngClass]="{
                                                            'bg-warning text-white!important': (selectedStatus || subTask?.status) === 'In Progress',
                                                            'bg-success text-white!important': (selectedStatus || subTask?.status) === 'Done',
                                                            'bg-danger text-white!important': (selectedStatus || subTask?.status) === 'ToDo',
                                                            'bg-secondary text-white!important': (selectedStatus || subTask?.status) === 'Closed',
                                                            'bg-primary text-white!important': (selectedStatus || subTask?.status) === 'Active'
                                                        }">
                                                        <i class="fa fa-tasks"></i> {{ selectedStatus ||
                                                        subTask?.status
                                                        }}
                                                    </button>


                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonSub">
                                                        <button *ngFor="let s of statusList" type="button" tabindex="0"
                                                            role="menuitem" class="sub_btn dropdown-item"
                                                            (click)="updatesubTaskStatus(subTask,s.name)">
                                                            <span class="d-flex align-items-center">
                                                                <span>{{s?.name}}</span>
                                                            </span>
                                                        </button>
                                                        <button type="button" tabindex="0" role="menuitem"
                                                            class="dropdown-item sub_btn "
                                                            (click)="updatesubTaskStatus(subTask,'')">
                                                            <span class="d-flex align-items-center"><span>Remove
                                                                    Status</span></span>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="dropdown mx-2">
                                                    <button class="btn sub_btn dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-bs-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <img class="align-self-center"
                                                            [src]="selectedPriority ? selectedPriority.url : getTaskPriorityUrl(subTask?.priority)"
                                                            [title]="selectedPriority ? selectedPriority.name : getTaskPriorityUrl(subTask?.priority)"
                                                            height="24" width="24">
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <button *ngFor="let priority of priorityList" type="button"
                                                            tabindex="0" role="menuitem" class="sub_btn dropdown-item"
                                                            (click)="updatesubTaskPriority(subTask,priority.name)">
                                                            <span class="d-flex align-items-center">
                                                                <img [src]="priority?.url" class="me-3" height="18"
                                                                    width="18">
                                                                <span>{{priority?.name}}</span>
                                                            </span>
                                                        </button>
                                                        <button type="button" tabindex="0" role="menuitem"
                                                            class="dropdown-item sub_btn"
                                                            (click)="updatesubTaskPriority(subTask,'')">
                                                            <span class="d-flex align-items-center"><span>Remove
                                                                    Priority</span></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="subtask-creating-row-wrapper bg-white rounded">
                                <form action="" [formGroup]="addForm" (ngSubmit)="onSub()">
                                    <div class="d-flex tasks-creation-row justify-content-between subtask-creating-row">
                                        <input class="new-task-title-input mt-2" placeholder="Add subtask..." value=""
                                            formControlName="taskName">

                                        <ng-container>
                                            <ng-container *ngIf="assignee && assignee.length === 0;">
                                                <div>
                                                    <span type="button"
                                                        class="btn btn-sm rounded-pill btn-primary px-2 dropdown-toggle dropdown-toggle-no-caret"
                                                        data-bs-toggle="dropdown" aria-expanded="false">Assignee <i
                                                            class="bi bi-chevron-down"></i></span>
                                                    <ul class="dropdown-menu"
                                                        style="width: 225px; transform: translate3d(-29px, 40px, 0px) !important; height: 200px; overflow-y: scroll;">
                                                        <li *ngFor="let assignee of projectUser" class="border-left "
                                                            [value]="assignee?.user?.id">
                                                            <p *ngIf="assignee.user != null" class="ps-4 py-2 mb-1"
                                                                style="font-size: 13px;"
                                                                (click)="addUserToSubTask('', assignee.user.id)">
                                                                <span class="letter p-1 rounded text-light"
                                                                    style="font-size: 12px;"
                                                                    [tooltip]="(assignee?.user?.firstName | titlecase) + ' ' + (assignee?.user?.lastName | titlecase)"
                                                                    [style.background-color]="commonService.getRandomColor(assignee?.user?.firstName?.charAt(0) | uppercase)">
                                                                    {{ assignee?.user?.firstName?.charAt(0) | uppercase
                                                                    }}
                                                                    {{ assignee?.user?.lastName?.charAt(0) | uppercase
                                                                    }}
                                                                </span> &nbsp;{{assignee?.user?.firstName | titlecase}}
                                                                {{assignee?.user?.lastName | titlecase}}
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </ng-container>

                                            <div class="user-container btn-group align-items-center"
                                                *ngFor="let user of assignee;">
                                                <span class="letters  p-1 rounded text-light"
                                                    [tooltip]="(user?.user?.firstName | titlecase) + ' ' + (user?.user?.lastName | titlecase)"
                                                    [style.background-color]="commonService.getRandomColor(user?.user?.firstName?.charAt(0) | uppercase)">
                                                    {{ user?.user?.firstName?.charAt(0) | uppercase }}&nbsp;{{
                                                    user?.user?.lastName?.charAt(0) | uppercase }}
                                                </span>

                                                <button type="button"
                                                    class="btn dropdown-toggle dropdown-toggle-no-caret"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <span class="text-muted">
                                                        {{ user?.user?.firstName }} {{ user?.user?.lastName
                                                        }}
                                                    </span>
                                                </button>

                                                <ul class="dropdown-menu" style="width: 225px; transform: translate3d(-29px, 40px, 0px) !important; max-height: 200px;
                                                overflow-y: scroll;">
                                                    <li class="border-left py-1"
                                                        *ngIf="assignee.length === 1 && assignee[0]?.id">
                                                        <span (click)="removeAssigneeFromSubtask()"
                                                            class="ps-2 py-2 mb-1" style="font-size: 13px;"><i
                                                                class="bi bi-person-circle me-3 text-secondary"
                                                                style="font-size: 20px"></i>
                                                            Unassigned</span>
                                                    </li>
                                                    <li *ngFor="let assignee of projectUser" class="border-left "
                                                        [value]="assignee?.user?.id">
                                                        <p *ngIf="assignee.user != null" class="ps-2 py-2 mb-1"
                                                            style="font-size: 13px;"
                                                            (click)="addUserToTask(tasks?.data?.task?.id, assignee.user.id)">

                                                            <span class="letters p-1 rounded text-light"
                                                                style="font-size: 12px;"
                                                                [tooltip]="(assignee?.user?.firstName | titlecase) + ' ' + (assignee?.user?.lastName | titlecase)"
                                                                [style.background-color]="commonService.getRandomColor(assignee?.user?.firstName?.charAt(0) | uppercase)">
                                                                {{ assignee?.user?.firstName?.charAt(0) |uppercase
                                                                }}&nbsp;{{ assignee?.user?.lastName?.charAt(0) |
                                                                uppercase }}
                                                            </span>&nbsp;{{assignee?.user?.firstName |
                                                            titlecase}}&nbsp;{{assignee?.user?.lastName | titlecase}}
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>

                                        </ng-container>

                                        <div class="d-flex align-items-center">
                                            <label for="fileUpload7"
                                                class="file-upload btn btn-outline-primary btn-block rounded-pill shadow my-3">
                                                <i class="fa fa-paperclip me-2"></i> <input id="fileUpload7"
                                                    formControlName="taskAttachments" type="file" multiple
                                                    (change)="onFileSelects($event)" style="display: none;">
                                            </label>
                                            <button type="submit"
                                                class="add-task-action-circle action-circle-check d-flex justify-content-center align-items-center pointer border-none">
                                                <span class="subtask-icon fa fa-check btn-outline-success "></span>
                                            </button>
                                            <div (click)="onresetForm()"
                                                class="add-task-action-circle action-circle-close d-flex justify-content-center align-items-center pointer ">
                                                <span class="subtask-icon fa fa-close btn-outline-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <ul type="none">
                                        <li class="contentHeading p-2" *ngFor="let files of selectedFile">
                                            {{files.name}}
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12  align-self-center">
                                <div class="sub-header mt-3 py-3 px-3 align-self-center w-100 rounded">
                                    <div class="w-sm-100 pt-2 mr-auto border-bottom">
                                        <h3 class="mb-0">Comments</h3>
                                    </div>
                                    <app-task-comment-list [comments]="comments"
                                        (commentAdded)="onCommentAdd($event)"></app-task-comment-list>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div *ngIf="tasks?.data?.task === null " class="d-flex justify-content-center mt-5">
            <ng-container>
                <button *ngIf="view==='admin'" (click)="goBack()" class="btn submenuTab active rounded-pill"><span
                        class="bi bi-arrow-left ">
                        Back</span></button>
                <button *ngIf="view==='user'" (click)="goBack()" class="btn btn-outline-primary rounded-pill"><span
                        class="bi bi-arrow-left ">
                        Back</span></button>
            </ng-container>
        </div>
    </div>
</div>

<!-- Delete task modal -->
<div class="modal" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <div class="">
                        <h3 class="modal-title text-start">Delete Task</h3>
                    </div>
                    <div class="">
                        <button type="button" class="btn-close text-end" data-bs-dismiss="modal"></button>
                    </div>
                </div>
                <hr class="mt-0">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Do you really want to Delete?</h3>
                    </div>
                </div>
                <div class="d-flex justify-content-between m-3">
                    <div>
                        <button mat-raised-button class="mx-2" data-bs-dismiss="modal" type="button">Cancel</button>
                    </div>
                    <div>
                        <button mat-raised-button class="addBtn" (click)="deleteTask()" data-bs-dismiss="modal"
                            type="submit">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #bigAttachmentModal>
    <div class="d-flex justify-content-between">
        <h2 mat-dialog-title>{{selectedAttachment?.attachmentName }}<br>image - {{
            convertBytesToKB(selectedAttachment?.attachmentSize) }}</h2>
        <button type="button" mat-dialog-close mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    
    <mat-dialog-content>
        <div class="text-center">
            <img class="img-fluid" [src]="selectedAttachment?.url" />
        </div>
    </mat-dialog-content>

</ng-template>