<div class="main-content">
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <input class="form-control search" type="text" placeholder="search..."
                                [(ngModel)]="searchText" name="searchText" aria-label="default input example"
                                style="border-bottom: 1px solid grey; border-radius: 0;">
            <button mat-raised-button color="primary">Add</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Employee</th>
                    <th>Location</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Current Leave Policy</th>
                    <th>Primary Supervisor</th>
                    <th>Secondory Supervisor</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

      
    </div>
</div>