<header id="header" class="header container-fluid">
    <div class="header__wrapper">
        <div class="header__logo">
            <!-- <h3>EffortLessHRM </h3> -->
            <img src="assets/logo/expanded-logo.svg" alt="effortlessHRM" height="70">
        </div>

        <nav class="navigation">
            <ul id="navigation" class="navigation__list" [class.show]="isMenuOpen">
                <li class="loginButton"><a routerLink="/login" class="top__login  main-font-semibold"
                        style=" color: #76bc21 !important;">Log in</a></li>

                <li class="navigation__list-item navigation__list-item--products" (click)="scrollToAboutUs()">
                    <button class="navigation__link" type="button" aria-haspopup="true" aria-expanded="false"
                        style="height: 70px">
                        <span class="navigation__link-child">About us</span>
                    </button>
                </li>

                <!-- plans -->
                <li class="navigation__list-item navigation__list-item--products">
                    <button class="navigation__link" type="button" aria-haspopup="true" aria-expanded="false"
                        style="height: 70px">
                        <span class="navigation__link-child">Plans</span>
                        <span class="navigation__arrow blur-arrow">
                            <svg width="13" height="7" viewBox="0 0 13 7" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.25 0.875L6.5 6.125L11.75 0.875" stroke="#3B3C4E" stroke-width="1.2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                    </button>
                </li>

                <!-- features -->
                <li class="navigation__list-item navigation__list-item--features" (click)="toggleDropdown($event)">
                    <button class="navigation__link" type="button" aria-haspopup="true" aria-expanded="false"
                        style="height: 70px">
                        <span class="navigation__link-child">Features</span>
                        <span class="navigation__arrow blur-arrow">
                            <svg width="13" height="7" viewBox="0 0 13 7" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.25 0.875L6.5 6.125L11.75 0.875" stroke="#3B3C4E" stroke-width="1.2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                    </button>

                    <div class="navigation__dropdown-popup" [ngClass]="{ 'show': isDropdownOpen }">
                        <div class="navigation__dropdown-section">
                            <ul class="navigation__dropdown-grid">
                                <li class="navigation__dropdown-item py-3" (click)="scrollTottFeatures($event)">
                                    <span><i class="bi bi-clock me-2"></i></span>Time Tracking Features
                                </li>
                                <li class="navigation__dropdown-item py-3" (click)="scrollToHRMFeatures($event)">
                                    <i class="bi bi-card-checklist me-2"></i>HRM Features
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <!-- download -->
                <li class="navigation__list-item navigation__list-item--download"
                    (click)="toggleDownloadDropdown($event)">
                    <button class="navigation__link" type="button" aria-haspopup="true" aria-expanded="false"
                        style="height: 70px;">
                        <span class="navigation__link-child">Download</span>
                        <span class="navigation__arrow blur-arrow">
                            <svg width="13" height="7" viewBox="0 0 13 7" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.25 0.875L6.5 6.125L11.75 0.875" stroke="#3B3C4E" stroke-width="1.2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                    </button>

                    <div class="navigation__dropdown-popup download-popup"
                        [ngClass]="{ 'show': isDownloadDropdownOpen }">
                        <div class="navigation__dropdown-popup--top">
                            <div class="navigation__dropdown-section">
                                <div class="navigation__dropdown-title mb-3">
                                    Desktop <span>
                                        <i class="bi bi-arrow-right"></i>
                                    </span>
                                </div>

                                <ul class="navigation__dropdown-grid">
                                    <li class="navigation__dropdown-item py-3">
                                        <a href="#" (click)="downloadWindowsInstaller()">
                                            <span class="navigation-icon"><i class="bi bi-windows me-2"></i></span>
                                            <span class="navigation__dropdown-text">Windows</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="auth__block">
            <a routerLink="/login" class="top__login  main-font-semibold" style=" color: #76bc21 !important;">Log in</a>
            <a class="get__started">Sign up</a>
        </div>

        <div class="burger" (click)="toggleMenu()">
            <i class="bi bi-list"></i>
        </div>
    </div>
</header>

<main class="main-homepage">
    <div class="hero_bg">
        <img src="assets/main/bg-effect.png" alt="">
    </div>

    <section class="hero">
        <div class="section-container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="hero__title">Time Tracker And <span>HRM
                        </span>
                    </h1>
                    <p class="hero__descr">EffortlessHRM changes the way companies handle HR and track employee time.
                        It's a complete software solution made to fit today's businesses. EffortlessHRM has lots of cool
                        features to make work easier, like helping with tasks, making people more productive, and making
                        sure everyone has a good work experience. </p>
                </div>

                <div class="col-md-6" style="height: 500px">
                    <div class="row ps-3 bannerImg">
                        <div class="col-6 ">
                            <span><img src="assets/main/banner-01.png" class="main-bannerSection home banner1"
                                    alt=""></span>
                            <span><img src="assets/main/banner-02.png" class="main-bannerSection home banner2 ms-2"
                                    alt=""></span>
                        </div>
                        <div class="col-6">
                            <span><img src="assets/main/banner-04.png" class="main-bannerSection2 home banner3"
                                    alt=""></span>
                            <span><img src="assets/main/banner-03.png" class="main-bannerSection2 home banner4"
                                    alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="monitor-employeespb-0 mt-5 manage aos-init" #aboutUsSection id="aboutUsSection" data-aos="fade-up">
        <div class="section-container">
            <div class="monitor-employees__head aos-init" data-aos="fade-up">
                <h2 class="monitor-employees__title pt-5  pb-2">About Us</h2>
            </div>
            <div class="monitor-employees__wrapper p-3 rounded bg-white">
                <div class="row w-100">
                    <div class="col-md-6">
                        <p>From attendance monitoring to payroll management, EffortlessHRM provides automated solutions
                            that eliminate manual tasks, reduce paperwork, and improve accuracy. With real-time insights
                            and detailed analytics, businesses can make informed decisions, optimize resource
                            allocation, and drive better outcomes.</p>
                        <p class="py-3">EffortlessHRM's user-friendly interface and intuitive design ensure easy
                            adoption and
                            seamless integration into existing workflows. Whether managing organizational hierarchies,
                            onboarding new hires, or tracking employee performance, EffortlessHRM empowers businesses to
                            efficiently manage their workforce and achieve their goals.</p>
                        <p>With a commitment to simplifying HR processes and enhancing operational efficiency,
                            EffortlessHRM is the preferred choice for businesses striving to create a productive and
                            engaged workforce in today's dynamic business environment.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="laptop-container">
                            <img src="assets/main/laptop.png" alt="laptop" class="laptop">
                            <img src="assets/main/about.png" alt="about" class="about">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Add new secton-->
    <section class="manage ttFeatures pt-5 mt-5" data-aos="fade-up" #ttFeatures id="ttFeatures">
        <div class="section-container">
            <div class="manage__head aos-init" data-aos="fade-up">
                <h2 class="my-5 manage__title">Time Tracking Features</h2>
            </div>
            <img src="assets/main/bg-pattern-1.png" alt="background image" class="bgImgPattern">
            <div class="row ttFeatures">
                <div class="col-xl-4 col-lg-4  col-md-4 wow tpfadeLeft mt-5" data-wow-duration=".9s"
                    data-wow-delay=".2s" style="visibility: visible; animation-duration: 0.9s; animation-delay: 0.2s;">
                    <div class="tp-about__img-wrapper text-center text-lg-end p-relative">
                        <div class="tp-about__bg-shape"><img alt="theme-pure" loading="lazy" width="525" height="482"
                                decoding="async" data-nimg="1" srcset="assets/main/screen-00.png"
                                src="assets/main/screen-00.png" style="color: transparent;"></div>
                        <div class="tp-about__main-img z-index"><img alt="theme-pure" loading="lazy" width="365"
                                height="265" decoding="async" data-nimg="1" srcset="assets/main/screen-01.png"
                                src="assets/main/screen-01.png" style="color: transparent;"></div>
                        <div class="tp-about__sub-img-1 d-none d-sm-block z-index-3"><img alt="theme-pure"
                                loading="lazy" width="204" height="215" decoding="async" data-nimg="1"
                                srcset="assets/main/screen-02.png" src="assets/main/screen-02.png"
                                style="color: transparent;"></div>
                        <div class="tp-about__sub-img-2 d-none d-sm-block"><img alt="theme-pure" loading="lazy"
                                width="231" height="192" decoding="async" data-nimg="1"
                                srcset="assets/main/screen-03.png" src="assets/main/screen-03.png"
                                style="color: transparent;"></div>
                        <div class="tp-about__sub-img-3 d-none d-sm-block z-index-3"><img alt="theme-pure"
                                loading="lazy" width="256" height="298" decoding="async" data-nimg="1"
                                srcset="assets/main/person.png" src="assets/main/person.png"
                                style="color: transparent;"></div>
                    </div>
                </div>

                <div class="col-xl-8 col-lg-8 col-md-8 wow ">
                    <div class="row ms-5 justify-content-evenly">
                        <div class="col-md-4 col-sm-8 feature_col mb-2">
                            <div class="bg-white border feature-boxes shadow p-3">
                                <h5 class="feature-title pb-2">1.Attendance Monitoring</h5>
                                <p class="text-muted">Simplify attendance tracking with EffortlessHRM Time Tracker.
                                    Easily monitor employee start and end times in a structured format, eliminating the
                                    need for timecards and excessive paperwork.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-8 feature_col mb-2">
                            <div class="bg-white border feature-boxes shadow p-3">
                                <h5 class="feature-title pb-2">2.Automatic Time Tracking</h5>
                                <p class="text-muted">Gain insights into your team's productivity with detailed
                                    analytics on work time. EffortlessHRM automatically tracks time, providing timesheet
                                    reports and analytics to identify time-wasting activities and optimize productivity.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-8 feature_col mb-2">
                            <div class="bg-white border feature-boxes shadow p-3">
                                <h5 class="feature-title pb-2">3.Real-Time Reports</h5>
                                <p class="text-muted">Access accurate data on tracked hours, productivity levels, and
                                    computer usage with timely reports presented in clear charts and tables for easy
                                    analysis.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-8 feature_col mb-2">
                            <div class="bg-white border feature-boxes shadow p-3">
                                <h5 class="feature-title pb-2">4.Employee Activity Level</h5>
                                <p class="text-muted">Measure employee performance based on keystrokes and mouse clicks,
                                    allowing you to gauge productivity levels effectively.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-8 feature_col mb-2">
                            <div class="bg-white border feature-boxes shadow p-3">
                                <h5 class="feature-title pb-2">5.Apps & Websites Usage Monitoring</h5>
                                <p class="text-muted">Track employee productivity in real-time by monitoring computer
                                    activities, including top visited apps and websites.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-8 feature_col mb-2">
                            <div class="bg-white border feature-boxes shadow p-3">
                                <h5 class="feature-title pb-2">6.Task Management System</h5>
                                <p class="text-muted">Organize tasks, track progress, and improve workflow efficiency
                                    with EffortlessHRM's centralized task management system.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-8 feature_col mb-2">
                            <div class="bg-white border feature-boxes shadow p-3">
                                <h5 class="feature-title pb-2">7.Live Screen Viewing</h5>
                                <p class="text-muted">Monitor employee screen activity in real-time, supplemented by
                                    periodic screenshots captured at random intervals.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of section -->

    <!-- hrm features -->
    <section class="manage hrmFeatures pt-5" #hrmFeatures id="hrmFeatures">
        <div class="section-container">
            <div class="manage__head aos-init" data-aos="fade-up">
                <h2 class="manage__title">HRM Features</h2>
                <div class="manage__subtitle">EffortlessHRM streamlines HR management and time tracking with innovative
                    features tailored to enhance the employee experience and organizational efficiency.</div>
            </div>

            <div class="row mt-5 d-flex justify-content-evenly">
                <div class="col-md-3 col-lg-3 col-xl-3 text-center my-3 hrmFeatureBox">
                    <div class="big-circle_1">
                        <img src="assets/main/1.png" alt="">
                    </div>
                    <h5 class="hrmFeature py-2 text-center">Organization Set-up</h5>
                    <p>Effortlessly set up your organization, assign templates, managers, and create an organizational
                        hierarchy. Bulk upload employee data and manage leaves, expenses, and attendance with ease.</p>
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 text-center my-3 hrmFeatureBox">
                    <div class="big-circle_2">
                        <img src="assets/main/2.png" alt="">
                    </div>
                    <h5 class="hrmFeature py-2 text-center">Management Dashboards & Reports</h5>
                    <p>Access actionable insights and analytics to drive better business outcomes. Govern data access
                        and share insights with customizable reports in various formats.</p>
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 text-center my-3 hrmFeatureBox">
                    <div class="big-circle_3">
                        <img src="assets/main/3.png" alt="">
                    </div>
                    <h5 class="hrmFeature py-2 text-center">Employee Onboarding</h5>
                    <p>Simplify employee onboarding with integrated HR management. Set up multiple office locations,
                        departments, designations, and streamline the onboarding process for new hires.</p>
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 text-center my-3 hrmFeatureBox">
                    <div class="big-circle_4">
                        <img src="assets/main/4.png" alt="">
                    </div>
                    <h5 class="hrmFeature py-2 text-center">Payroll</h5>
                    <p>Organize payroll tasks efficiently with automated salary slip generation and CTC calculations,
                        ensuring accurate and timely employee payments.</p>
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 text-center my-3 hrmFeatureBox">
                    <div class="big-circle_5">
                        <img src="assets/main/5.png" alt="">
                    </div>
                    <h5 class="hrmFeature py-2 text-center">Expense Management</h5>
                    <p>Streamline expense reporting with easy-to-use modules that sync with employee reporting managers
                        for seamless approval processes. Define expense policies, track expenses, and optimize
                        expenditures.
                    </p>
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 text-center my-3 hrmFeatureBox">
                    <div class="big-circle_6">
                        <img src="assets/main/6.png" alt="">
                    </div>
                    <h5 class="hrmFeature py-2 text-center">Attendance Management</h5>
                    <p>Adapt to complex labor environments with automated attendance tracking
                        and comprehensive reporting features. Manage time logs, approvals, and off-site worker
                        attendance effortlessly.</p>
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 text-center my-3 hrmFeatureBox">
                    <div class="big-circle_7">
                        <img src="assets/main/7.png" alt="">
                    </div>
                    <h5 class="hrmFeature py-2 text-center">Leave Management</h5>
                    <p>Customize leave policies and structures, automate leave approvals, and manage leave entitlements
                        with ease. Configure different templates and workflows to suit departmental requirements.</p>
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 text-center my-3 hrmFeatureBox">
                    <div class="big-circle_8">
                        <img src="assets/main/8.png" alt="">
                    </div>
                    <h5 class="hrmFeature py-2 text-center">Recruitment System</h5>
                    <p>Simplify recruitment processes with EffortlessHRM's intuitive features for job requisition,
                        candidate engagement, collaboration, and onboarding.</p>
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 text-center my-3 hrmFeatureBox">
                    <div class="big-circle_9">
                        <img src="assets/main/9.png" alt="">
                    </div>
                    <h5 class="hrmFeature py-2 text-center">Interview Process</h5>
                    <p>Create custom templates to streamline candidate data storage, interview scheduling, and feedback
                        collection. Conduct interviews online and efficiently manage the entire recruitment process.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End of hrm features -->

    <section class="manage pt-5">
        <div class="section-container">
            <div class="manage__head aos-init" data-aos="fade-up">
                <h2 class="manage__title">Manage Your Projects and Tasks</h2>
                <div class="manage__subtitle">Connect your favorite tools to effectively plan your workday</div>
            </div>

            <div class="manage__wrapper">
                <div class="manage__item manage__item-1 aos-init justify-content-evenly" data-aos="fade-up">
                    <div class="manage__item_info">
                        <h4 class="manage__item_title">Project Management</h4>
                        <p class="manage__item_descr">Start <a routerLink="/login">projects</a> and track time spent on
                            them all inside the tracker. Create projects, assign them to team members, fill in other
                            details and <span>manage projects</span> on EffortLessHRM.</p>
                    </div>
                    <img src="assets/main/screen-04.png" class="manage__item_img"
                        alt="Project Management | EffortLessHRM Tracker"
                        title="Manage projects with EffortLessHRM Time Tracker"
                        style="height: 200px; width: auto; border-radius: 15px;">
                </div>

                <div class="manage__row py-5">
                    <div class="manage__item manage__item-2 aos-init" data-aos="fade-up">
                        <div class="manage__item_info">
                            <h4 class="manage__item_title">Team Chat</h4>
                            <p class="manage__item_descr text-light">Work, track and chat on the same platform.
                                EffortLessHRM has a chat that makes <span>communication</span> faster thus making
                                collaboration between team members easier.</p>
                        </div>

                        <picture>
                            <source media="(min-width:1080px)"
                                srcset="https://www.webwork-tracker.com/images/time-tracker/home/team-chat-webwork.webp">
                            <source media="(max-width:768px)"
                                srcset="https://www.webwork-tracker.com/images/time-tracker/home/team-chat-webwork--mobile.webp">
                            <img src="https://www.webwork-tracker.com/images/time-tracker/home/team-chat-webwork.webp"
                                class="manage__item_img" alt="Team Chat | EffortLessHRM features"
                                title="Team Chat as a communication tool in EffortLessHRM Time Tracker">
                        </picture>
                    </div>



                    <div class="manage__item manage__item-3 aos-init" data-aos="fade-up">
                        <div class="manage__item_info">
                            <h4 class="manage__item_title">Task Management</h4>
                            <p class="manage__item_descr">Create and assign <a routerLink="/login">tasks</a> to your
                                team members without leaving the tracker.
                                Watch tasks go from <span>open</span> to in <span>progress</span> to <span>done</span>
                                and <span>closed</span> as your team members work on them.</p>
                        </div>
                        <img src="assets/main/screen-05.png" class="manage__item_img"
                            alt="Task Management | EffortLessHRM features"
                            title="Task Management System in EffortLessHRM Time Tracker">
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- new -->
    <div class="elementor-element elementor-element-b0b0a00 e-con-boxed e-con ce-animation-start" data-id="b0b0a00"
        data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}">
        <div class="e-con-inner manage workspace">
            <div class="p-5 section-container elementor-element elementor-element-7e206f0 e-con-full e-con ce-animation-start"
                data-id="7e206f0" data-element_type="container"
                data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;content_width&quot;:&quot;full&quot;}">
                <div class="elementor-element elementor-element-85685b8 elementor-widget__width-initial elementor-widget elementor-widget-heading ce-animation-start"
                    data-id="85685b8" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h2 class="expand__title aos-init" data-aos="fade-up">Expand Your Workspace Potential</h2>
                    </div>
                </div>

                <div class="elementor-element elementor-element-581a553 section-container e-con-boxed e-con ce-animation-start"
                    data-id="581a553" data-element_type="container"
                    data-settings="{&quot;content_width&quot;:&quot;boxed&quot;}">
                    <div class="e-con-inner">
                        <div class="elementor-element elementor-element-68f8946 elementor-widget__width-initial elementor-absolute remove-absolute-1024 elementor-widget elementor-widget-ce-monitor-services ce-animation-start"
                            data-id="68f8946" data-element_type="widget"
                            data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
                            data-widget_type="ce-monitor-services.default">
                            <div class="elementor-widget-container">
                                <div class="monitor-services container">
                                    <div class="row mt-5">
                                        <div class="col-md-3 col-lg-3 col-xl-3 text-center my-3 hrmFeatureBox">
                                            <div class="big-circle_2 expandImg">
                                                <!-- <img src="assets/main/2.png" alt=""> -->
                                                <i class="bi bi-clock-history"></i>
                                            </div>
                                            <h5 class="hrmFeature py-2 text-center">Time Tracking Software with
                                                Screenshots</h5>
                                            <p>Track Time and have proof of work with screenshots.</p>
                                        </div>

                                        <div class="col-md-3 col-lg-3 col-xl-3 text-center my-3 hrmFeatureBox">
                                            <div class="big-circle_2 expandImg">
                                                <i class="bi bi-person-workspace"></i>
                                            </div>
                                            <h5 class="hrmFeature py-2 text-center">Employee Monitoring Software</h5>
                                            <p>See how and when your employees do actual work.</p>
                                        </div>

                                        <div class="col-md-3 col-lg-3 col-xl-3 text-center my-3 hrmFeatureBox">
                                            <div class="big-circle_2 expandImg">
                                                <i class="bi bi-card-checklist"></i>
                                            </div>
                                            <h5 class="hrmFeature py-2 text-center">Attendance Monitoring Softwares</h5>
                                            <p>Record your team’s attendance without extra effort.</p>
                                        </div>

                                        <div class="col-md-3 col-lg-3 col-xl-3 text-center my-3 hrmFeatureBox">
                                            <div class="big-circle_2 expandImg">
                                                <i class="bi bi-kanban"></i>
                                            </div>
                                            <h5 class="hrmFeature py-2 text-center">Project Management Software</h5>
                                            <p>Manage projects, assign tasks and track time.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end new -->

    <section class="free-trial aos-init" data-aos="fade-up">
        <div class="section-container">
            <div class="free-trial__wrapper">
                <h2 class="free-trial__title text-dark">Save Time, Save Money</h2>
                <div class="free-trial__info text-dark"> <a routerLink="/login">No credit card required</a>
                    <span>|</span> Cancel anytime
                </div>
                <a routerLink="/login" class="free-trial__btn btn">Start the 14-day Free Trial </a>
            </div>
            <img class="free-trial__img me-5" src="assets/activity.png" alt="EffortLessHRM Time Tracker"
                title="EffortLessHRM Time Tracking Software with Screenshots">
        </div>
    </section>

    <div class="video-overlay">
        <div class="video">
            <div id="frame"></div>
            <div class="close">×</div>
        </div>
    </div>
</main>

<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__bottom d-flex justify-content-between">
            <a href="#"> <img class="footer__logo--resp" src="" alt="EffortLessHRM Tracker"></a>
            <div class="social-links">
                <a href="https://www.google.com?search=effortlessHRM" target="_blank" class="social-link">
                    <span class="bi bi-google social-icons"></span>
                </a>

                <a href="https://www.facebook.com/people/Effortless-HRM/61557967964713/" target="_blank"
                    class="social-link">
                    <span class="bi bi-facebook social-icons"></span>
                </a>

                <a href="https://www.linkedin.com/company/effortlesshrm/" target="_blank" class="social-link">
                    <span class="bi bi-linkedin social-icons"></span>
                </a>

                <a href="https://www.instagram.com/effortlesshrm" target="_blank" class="social-link">
                    <span class="bi bi-instagram social-icons"></span>
                </a>

                <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FEffortlessHRM" target="_blank"
                    class="social-link">
                    <span class="bi bi-twitter-x social-icons"></span>
                </a>

                <a href="https://www.youtube.com/@EffortlessHRM" target="_blank" class="social-link">
                    <span class="bi bi-youtube social-icons"></span>
                </a>
            </div>

            <div>
                <img src="assets/main/app-store.png" alt="app-store" class="app-store">
                <img src="assets/main/play-store.png" alt="play store" class="play-store">
            </div>
        </div>

        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-44f16a43 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="44f16a43" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-extended">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-32b6f7b7 ot-flex-column-vertical"
                    data-id="32b6f7b7" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-7e5e5b7 elementor-widget elementor-widget-text-editor"
                            data-id="7e5e5b7" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p>Copyright © 2024 ARSTEG Solutions Pvt Ltd.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-57cce325 ot-flex-column-vertical"
                    data-id="57cce325" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-1ba188c elementor-icon-list--layout-inline elementor-align-right elementor-mobile-align-left elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                            data-id="1ba188c" data-element_type="widget" data-widget_type="icon-list.default">
                            <div class="elementor-widget-container">
                                <ul class="elementor-icon-list-items elementor-inline-items d-flex justify-content-end">
                                    <li class="elementor-icon-list-item elementor-inline-item">
                                        <a href="#">
                                            <span class="elementor-icon-list-text">Security<span
                                                    class="mx-3">|</span></span>
                                        </a>
                                    </li>

                                    <li class="elementor-icon-list-item elementor-inline-item">
                                        <a href="#">
                                            <span class="elementor-icon-list-text">Terms of Services<span
                                                    class="mx-3">|</span></span>
                                        </a>
                                    </li>

                                    <li class="elementor-icon-list-item elementor-inline-item">
                                        <a href="#">
                                            <span class="elementor-icon-list-text">Privacy Policy</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>