.mat-mdc-form-field{
    display: block !important;
}
.mat-expansion-panel-header-description {
    flex-grow: 0.2 !important;
}
.mat-expansion-panel-header._mat-animation-noopable {
    transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
}