<section class="trust-section pt-5 pb-4">
    <div class="container">
        <div class="rounded-pill border border-primary p-2 container mx-auto w-50 text-center mb-3">
            Connect your favorite tools to effectively plan your workday
        </div>
        <h2 class="sub-title text-center mt-5 mb-3">
            Trusted and Loved by Companies Worldwide
        </h2>

        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card mt-3 slide-top">
                    <img src="assets/png/task-summary.png" alt="" class="img-fluid">
                    <h2 class="card-title">Project Management</h2>
                    <p>Start projects and track time spent on them all inside the tracker. Create projects, assign
                        them
                        to team members, fill in other details and manage projects on EffortLessHRM.</p>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card mt-3 slide-left">
                    <div class="row">
                        <div class="col-5 d-none d-md-block">
                            <img src="assets/png/team-chat1.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-7 col-12">
                            <h2 class="card-title">Team Chat</h2>
                            <p>Work, track and chat on the same platform. EffortLessHRM has a chat that makes
                                communication faster thus making collaboration between team members easier.</p>
                            <img src="assets/png/team-chat2.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="card mt-3 slide-right" style="height:223px">
                    <h2 class="card-title">Task Management</h2>
                    <p>Create and assign tasks to your team members without leaving the tracker. Watch tasks go from
                        open to in progress to done and closed as your team members work on them.</p>
                </div>
            </div>
        </div>
    </div>
</section>