/* trust section */
.trust-section {
  view-timeline-name: --trust-timeline;
  background: linear-gradient(
    270deg,
    rgba(255, 242, 232, 0) 0%,
    rgba(255, 242, 232, 0.39) 100%
  );
  .card {
    border: 1px solid rgba(213, 213, 213, 0.42);
    padding: var(--size-16);
    border-radius: var(--size-24);

    .card-title {
      font-size: var(--size-32);
      color: var(--grey);
      font-weight: 700;
      margin-top: var(--size-32);
      line-height: 1.2;
    }

    p {
      font-size: var(--size-16);
      line-height: 1.2;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .slide-left {
    animation: slide-left linear;
  }
  
  .slide-right {
    animation: slide-right linear;
  }
  
  .slide-top {
    animation: slide-top linear;
  }

  .slide-top, .slide-right, .slide-left {
    animation-timeline: --trust-timeline;
    animation-range: entry 0% entry 100%;
  }

  @keyframes slide-top {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes slide-left {
    0% {
      transform: translateX(-300px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes slide-right {
    0% {
      transform: translateX(300px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
