<div class="main-content mt-2">
    <div class="tableContainer bg-white">
        <div class="d-flex justify-content-between">
            <input class="form-control search" type="text" placeholder="search..."
                                [(ngModel)]="searchText" name="searchText" aria-label="default input example"
                               >
            <button mat-raised-button class="addBtn">Add</button>
        </div>
        <table class="p-2 rounded mt-2">
            <thead>
                <tr>
                    <th>Employee</th>
                    <th>Current Leave Policy</th>
                    <th>Primary Supervisor</th>
                    <th>Secondory Supervisor</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

      
    </div>
</div>