<app-header (onMenuToggled)="drawer.toggle()" [loggedInUser]="currentProfile"></app-header>

<!-- Sidebar - icons with text -->
<div id="wrapper">
  <mat-drawer-container class="content-container" autosize>
    <mat-drawer #drawer class="sidenav-drawer" mode="side" opened>
      <app-sidebar [menuList]="menuList"></app-sidebar>
    </mat-drawer>
  
    <div id="page-content-wrapper" class="w-100" [ngClass]="!isCollapsedMenu? 'expandedContent': 'collapsedContent'">
      <div class="container-fluid p-2">
        <router-outlet></router-outlet>
        <ng-http-loader [backdrop]="false" [backgroundColor]="'#ff0000'" [debounceDelay]="100" [extraDuration]="1000"
          [minDuration]="1000" [backdropBackgroundColor]="'#777777'" [spinner]="spinnerStyle.skThreeBounce">
        </ng-http-loader>
      </div>
    </div>
  
  </mat-drawer-container>
  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="mainOffcanvas" aria-labelledby="mainOffcanvasLabel">

    <div class="offcanvas-body">
      <div class="container p-0">
        <div class="profile py-2">
          <div class="d-flex justify-content-between align-items-baseline">
            <button type="button" class="btn-close text-reset times" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
            <span class="fa fa-edit fa-lg edit" data-bs-dismiss="offcanvas" [routerLink]="'profile'"></span>
          </div>

          <div class="text-center">
            
            <div class="my-4 d-flex justify-content-center">
              <div class="mx-4" *ngIf="portalType == 'admin'">
                <button mat-raised-button class="addBtn" (click)="switchView('user')" *ngIf="adminView == 'admin'">
                  User Portal
                </button>
                <button mat-raised-button class="addBtn" (click)="switchView('admin')" *ngIf="adminView == 'user'">
                  Admin Portal
                </button>
              </div>
              <div>
                <button mat-button color="warn" class="" (click)="onLogout()">Sign Out</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- User profile -->
  <div *ngIf="isEdit" class="offcanvas offcanvas-end w-75" tabindex="-1" id="nestedOffcanvas" aria-labelledby="nestedOffcanvasLabel"  [ngClass]="{'show': isEdit}" data-bs-backdrop="true">
    <div class="offcanvas-body">
      <div class="d-flex justify-content-between align-items-baseline">
        <span class="btn-close text-reset times" (click)="isEdit = false"></span>
      </div>
      <app-user-profile [currentProfile]="currentProfile"></app-user-profile>
    </div>
  </div>
</div>

<!-- Helpdesk Icon -->
<div class="help-icon" style="margin-bottom: 50px;" (click)="toggleHelpdesk()">
  <mat-icon>info</mat-icon>
</div>
