<div class="d-flex justify-content-between">
    <h1 class="modal-title text-muted">Add Leave Application</h1>
    <button type="button" data-bs-dismiss="modal" class="btn-close text-end" (click)="closeModal()"></button>
</div>
<div mat-dialog-content>
    <form [formGroup]="leaveApplication" (ngSubmit)="onSubmission()">
        <div *ngIf="portalView != 'user'">
            <label for="member">Select Employee <span class="text-danger">*</span></label>
            <mat-form-field appearance="outline" class="w-100 mx-1">
                <mat-select formControlName="employee">
                    <mat-option *ngFor="let member of allAssignee" [value]="member.id">
                        {{member?.firstName | titlecase}} {{member?.lastName}}
                    </mat-option>
                </mat-select>

                <div *ngIf="leaveApplication.get('employee').invalid && leaveApplication.get('employee').touched"
                    class="text-danger error">
                    Employee selection is required
                </div>
            </mat-form-field>
        </div>

        <div *ngIf=" tab === 5" class="mb-2">
            <label for="member">Select an Employee for Leave Application <span class="text-danger">*</span></label>
            <mat-form-field appearance="outline" class="w-100 mx-1">
                <mat-label>Select Employee</mat-label>
                <mat-select name="users" formControlName="employee" required>
                    <mat-option *ngFor="let member of members" [value]="member.id">
                        {{member?.name | titlecase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="leaveApplication.get('employee').invalid && leaveApplication.get('employee').touched"
                class="text-danger error">
                Employee selection is required
            </div>
        </div>

        <div>
            <label for="member">Select Category <span class="text-danger">*</span></label>
            <mat-form-field appearance="outline" class="w-100 mx-1">
                <mat-select formControlName="leaveCategory" required>
                    <mat-option *ngIf="checkStatus == 'failure'" disabled>Template Applicable Category not Assigned</mat-option>
                    <mat-option *ngFor="let category of leaveCategories" [value]="category?.leaveCategory?._id">
                        {{category?.leaveCategory?.label | titlecase}}
                    </mat-option>
                </mat-select>
                <div *ngIf="leaveApplication.get('leaveCategory').invalid && leaveApplication.get('leaveCategory').touched"
                    class="text-danger error">
                    Please Select Leave Category
                </div>
            </mat-form-field>
        </div>

        <label for="">Select Start Date <span class="text-danger">*</span></label>
        <div class=" col-12 form-group mb-3">
            <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue"
                [bsConfig]="bsConfig" formControlName="startDate" required />
            <div *ngIf="leaveApplication.get('startDate').invalid && leaveApplication.get('startDate').touched"
                class="text-danger error">
                Add a Valid Start date
            </div>
        </div>

        <label for="">Select End Date <span class="text-danger">*</span></label>
        <div class=" col-12 form-group mb-3">
            <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue"
                [bsConfig]="bsConfig" formControlName="endDate" required />
            <div *ngIf="leaveApplication.get('endDate').invalid && leaveApplication.get('endDate').touched"
                class="text-danger error">
                Add a Valid End date
            </div>
        </div>

        <div *ngIf="leaveApplication.errors?.['duplicateLeave']" class="text-danger error pt-0">
            A leave application with similar details has already been submitted. Please review your request and adjust
            the dates as necessary.
        </div>

        <div class="mt-2" *ngIf="leaveApplication.get('leaveCategory').value && showHalfDayOption">
            <label for="" class="">Do you want to provide a half-day option for this type of leave?<span
                    class="text-danger">*</span></label>
            <div class="d-flex">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="flexRadioDefault1"
                        formControlName="isHalfDayOption" required [value]="true">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Yes
                    </label>
                </div>
                <div class="form-check ms-2">
                    <input class="form-check-input" type="radio" id="canEmployeeApplyFalse"
                        formControlName="isHalfDayOption" required [value]="false">
                    <label class="form-check-label" for="canEmployeeApplyFalse">
                        No
                    </label>
                </div>
            </div>

            <ng-container *ngIf="leaveApplication.get('isHalfDayOption').value === true">
                <button type="button" mat-raised-button class="addBtn" (click)="addHalfDayEntry()">Add Half Day</button>
                <div formArrayName="halfDays">
                    <div *ngFor="let halfDay of halfDays.controls; let i=index" [formGroupName]="i">
                        <div class="d-flex justify-content-between my-2">
                            <div>
                                <label>Date:</label>
                                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                                    [bsValue]="bsValue" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                    formControlName="date" />
                            </div>

                            <div class="w-50">
                                <label>Day Half:</label>
                                <select name="" id="" class="form-control" formControlName="dayHalf">
                                    <option value="first half">First Half</option>
                                    <option value="second half">Second Half</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="my-3" *ngIf="leaveDocumentUpload">
            <label for="exampleFormControlUpload" class="form-label">
                Upload document
            </label>
            <label for="fileUpload6" class="file-upload btn btn-outline-primary btn-block rounded-pill shadow">
                <i class="fa fa-paperclip me-2"></i>Upload document<input id="fileUpload6" type="file"
                    (change)="onFileSelected($event)" multiple style="display: none;">
            </label>
            <ul type="none" class="d-flex ps-0">
                <li class="contentHeading p-2" *ngFor="let files of selectedFiles; let i = index"
                    (click)="removeFile(i)">
                    {{files.name}} <i class="bi bi-x-circle-fill text-danger deleteTaskAttachment"></i>
                </li>
            </ul>

            <!-- <label for="exampleFormControlUpload" class="form-label">
                Upload document 
            </label>
            <input type="file" (change)="onFileSelected($event)" /> -->
        </div>

        <div class="my-3">
            <label for="exampleFormControlTextarea1" class="form-label">
                Comment
            </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="comment"
                rows="3"></textarea>
        </div>

        <div class="d-flex justify-content-between">
            <button mat-raised-button type="reset">Cancel</button>
            <button mat-button class="addBtn" type="submit"
                [disabled]="leaveApplication.invalid || leaveApplication.errors?.['duplicateLeave']">Submit</button>
        </div>
    </form>
</div>