<div class="main-content contentData">
    <div class="container-fluid px-0">
        <ng-container>
            <div *ngIf="view === 'admin'">
                <div class=" d-flex bg-white subMenu w-100">
                    <button class="btn rounded-pill submenuTab" (click)="selectTab(1)"
                        [class.active]="selectedTab === 1">Settings</button>
                    <button class="btn rounded-pill submenuTab" (click)="selectTab(2)"
                        [class.active]="selectedTab === 2">
                        Expense Reports</button>
                    <button class="btn rounded-pill submenuTab" (click)="selectTab(3)"
                        [class.active]="selectedTab === 3">
                        Advanced Reports</button>
                </div>

                <div *ngIf="selectedTab === 1" class="tab-content">
                    <app-settings></app-settings>
                </div>
                <div *ngIf="selectedTab === 2" class="tab-content">
                    <app-expense-reports></app-expense-reports>
                </div>
                <div *ngIf="selectedTab === 3" class="tab-content">
                    <app-advance-reports></app-advance-reports>
                </div>
            </div>

            <div *ngIf="view === 'user'">
                <div class=" d-flex bg-white subMenu w-100">
                    <button class="btn rounded-pill submenuTab" (click)="selectTab(1)"
                        [class.active]="selectedTab === 1">My Expense
                    </button>
                    <button class="btn rounded-pill submenuTab" (click)="selectTab(2)"
                        [class.active]="selectedTab === 2">
                        Team Expense
                    </button>
                    <button class="btn rounded-pill submenuTab" (click)="selectTab(3)"
                        [class.active]="selectedTab === 3">
                        General Information
                    </button>
                </div>

                <div *ngIf="selectedTab === 1" class="tab-content">
                    <app-my-expense></app-my-expense>
                </div>
                <div *ngIf="selectedTab === 2" class="tab-content">
                    <app-team-expense></app-team-expense>
                </div>
                <div *ngIf="selectedTab === 3" class="tab-content">
                    <app-general-information></app-general-information>
                </div>
            </div>
        </ng-container>
    </div>
</div>