<div class="main-content contentData">
    <div class="container-fluid px-0">
      <ng-container *ngIf="view === 'admin'">
        <div class="d-flex bg-white subMenu w-100">
          <a routerLink="/expense/settings" class="btn rounded-pill submenuTab" 
             [routerLinkActive]="'active'">Settings</a>
          <a routerLink="/expense/expense-reports" class="btn rounded-pill submenuTab" 
             [routerLinkActive]="'active'">Expense Reports</a>
          <a routerLink="/expense/advance-reports" class="btn rounded-pill submenuTab" 
             [routerLinkActive]="'active'">Advanced Reports</a>
        </div>
        <router-outlet></router-outlet>
      </ng-container>
  
      <ng-container *ngIf="view === 'user'">
        <div class="d-flex bg-white subMenu w-100">
          <a routerLink="/expense/my-expense" class="btn rounded-pill submenuTab" 
             [routerLinkActive]="'active'">My Expenses</a>
          <a routerLink="/expense/team-expense" class="btn rounded-pill submenuTab" 
             [routerLinkActive]="'active'">Team Expenses</a>
          <a routerLink="/expense/general-information" class="btn rounded-pill submenuTab" 
             [routerLinkActive]="'active'">General Information</a>
        </div>
        <router-outlet></router-outlet>
      </ng-container>
    </div>
  </div>
  