<div class="tableContainer">
    <div class="d-flex align-items-center justify-content-between">
        <span class="bi bi-search searchIcon"></span>
        <input class="form-control search" type="text" placeholder="Search..." [(ngModel)]="searchText"
            name="searchText" aria-label="default input example">

        <!-- <div> -->
        <app-payroll-user-list (userSelected)="onUserSelectedFromChild($event)"
            [selectedPayroll]="selectedPayroll"></app-payroll-user-list>
        <button mat-raised-button class="addBtn" (click)="open(modal);">Add</button>
        <!-- </div> -->
    </div>
    <table>
        <thead>
            <th>Employee Code</th>
            <th>Employee Name</th>
            <th>Total Variable Allowances</th>
            <th>Total Variable Deductions</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button class="actions" mat-mini-fab matTooltip="Place Selected Employees On Hold"
                        matTooltipPosition="before" (click)="open(modal)"><i class="bi bi-pencil"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #modal let-modal>
    <div class="modal-header border-bottom justify-content-between d-flex mb-2 pt-0">
        <div>
            <h1 class="modal-title text-muted mb-0">Variable Pay</h1>
        </div>
        <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"
                (click)="modal.close('Escape clicked')"></button>
        </div>
    </div>

    <form [formGroup]="variablePayForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <app-payroll-user-list (userSelected)="onUserSelectedFromChild($event)"
                [selectedPayroll]="selectedPayroll"></app-payroll-user-list>
        </div>

        <div class="form-group mt-3">
            <label for="variableDeduction">Variable Deduction</label>
            <select name="" id="variableDeduction" formControlName="variableDeduction">
                <option value="" selected disabled>- Select Variable Deduction -</option>
                <option [value]="deduction?._id" *ngFor="let deduction of varDeduction">{{deduction?.label}}</option>
            </select>
            <div *ngIf="variablePayForm.get('variableDeduction')?.invalid && variablePayForm.get('variableDeduction')?.touched"
                class="text-danger">
                Variable Deduction is required.
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="variableAllowance">Variable Allowance</label>
            <select name="" id="variableAllowance" formControlName="variableAllowance">
                <option value="" selected disabled>- Select Variable Allowance -</option>
                <option [value]="allowance?._id" *ngFor="let allowance of varAllowance">{{allowance?.label}}</option>
            </select>
            <div *ngIf="variablePayForm.get('variableAllowance')?.invalid && variablePayForm.get('variableAllowance')?.touched"
                class="text-danger">
                Variable Allowance is required.
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="amount">Amount</label>
            <input type="number" id="amount" class="form-control" formControlName="amount" placeholder="Enter Amount" />
            <div *ngIf="variablePayForm.get('amount')?.invalid && variablePayForm.get('amount')?.touched"
                class="text-danger">
                Amount must be greater than 0.
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="month">Month</label>
            <select id="monthSelect" formControlName="month">
                <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
            </select>
            <div *ngIf="variablePayForm.get('month')?.invalid && variablePayForm.get('month')?.touched"
                class="text-danger">
                Month is required!
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="year">Year</label>
            <select id="year" name="year" class="form-control" formControlName="year">
                <option *ngFor="let year of years" [value]="year">{{ year }}</option>
            </select>
            <div *ngIf="variablePayForm.get('year')?.invalid && variablePayForm.get('year')?.touched"
                class="text-danger">Year is required!
            </div>
        </div>

        <div class="mt-4 d-flex justify-content-between">
            <button type="button" mat-raised-button>Cancel</button>
            <button type="submit" class="addBtn" mat-raised-button>Submit</button>
        </div>
    </form>
</ng-template>