<div class="tableContainer bg-white">
    <div class="d-flex justify-content-end mb-2">
        <button class="addBtn mx-2" mat-raised-button>Update</button>
    </div>

    <form action="">
        <div class="row">
            <div class="d-flex col-md-6 mt-3 align-items-center justify-content-between">
                <label for="" class="me-2">January</label>
                <select class="w-75" name="" id="">
                    <option value="m" *ngFor="let m of months">{{m}}</option>
                </select>
            </div>

            <div class="d-flex col-md-6 mt-3 align-items-center justify-content-between">
                <label for="" class="me-2">Febraury</label>
                <select class="w-75" name="" id="">
                    <option value="m" *ngFor="let m of months">{{m}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="d-flex col-md-6 mt-3 align-items-center justify-content-between">
                <label for="" class="me-2">March</label>
                <select class="w-75" name="" id="">
                    <option value="m" *ngFor="let m of months">{{m}}</option>
                </select>
            </div>

            <div class="d-flex col-md-6 mt-3 align-items-center justify-content-between">
                <label for="" class="me-2">April</label>
                <select class="w-75" name="" id="">
                    <option value="m" *ngFor="let m of months">{{m}}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="d-flex col-md-6 mt-3 align-items-center justify-content-between">
                <label for="" class="me-2">May</label>
                <select class="w-75" name="" id="">
                    <option value="m" *ngFor="let m of months">{{m}}</option>
                </select>
            </div>

            <div class="d-flex col-md-6 mt-3 align-items-center justify-content-between">
                <label for="" class="me-2">June</label>
                <select class="w-75" name="" id="">
                    <option value="m" *ngFor="let m of months">{{m}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="d-flex col-md-6 mt-3 align-items-center justify-content-between">
                <label for="" class="me-2">July</label>
                <select class="w-75" name="" id="">
                    <option value="m" *ngFor="let m of months">{{m}}</option>
                </select>
            </div>

            <div class="d-flex col-md-6 mt-3 align-items-center justify-content-between">
                <label for="" class="me-2">August</label>
                <select class="w-75" name="" id="">
                    <option value="m" *ngFor="let m of months">{{m}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="d-flex col-md-6 mt-3 align-items-center justify-content-between">
                <label for="" class="me-2">September</label>
                <select class="w-75" name="" id="">
                    <option value="m" *ngFor="let m of months">{{m}}</option>
                </select>
            </div>

            <div class="d-flex col-md-6 mt-3 align-items-center justify-content-between">
                <label for="" class="me-2">October</label>
                <select class="w-75" name="" id="">
                    <option value="m" *ngFor="let m of months">{{m}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="d-flex col-md-6 mt-3 align-items-center justify-content-between">
                <label for="" class="me-2">November</label>
                <select class="w-75" name="" id="">
                    <option value="m" *ngFor="let m of months">{{m}}</option>
                </select>
            </div>

            <div class="d-flex col-md-6 mt-3 align-items-center justify-content-between">
                <label for="" class="me-2">December</label>
                <select class="w-75" name="" id="">
                    <option value="m" *ngFor="let m of months">{{m}}</option>
                </select>
            </div>
        </div>
    </form>
</div>