<div class="modal-header border-bottom mb-2 pt-0">
    <div>
        <h1 class="modal-title text-muted mb-0">Add Location</h1>
    </div>
    <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"
            (click)="closeModal()"></button>
    </div>
</div>

<div class="">

    <!-- MAP -->
    <form action="">
        <!-- <google-map height="300px" width="700px" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
        </google-map> -->
        <google-map height="300px" width="700px" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)"></google-map>

        <div class="form-group">
            <label for="">Location Label</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label>Latitude</label>
            <input type="text" value="{{display?.lat}}">
        </div>
        <div class="form-group">
            <label>Longitude</label>
            <input type="text" value="{{display?.lng}}">
        </div>

        <div class="form-group">
            <label for="">Radius</label>
            <input type="text">
        </div>

    </form>
</div>