
figcaption {
  color: #fff;
  font: smaller sans-serif;
  padding: 3px;
  text-align: center;
}

figure {
  border: thin #c0c0c0 solid;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

.modal-dialog {
 
  border-radius: 5;
  background-color: lightgray;
}

.modal-content {
  background-color: transparent;
}


.modal-image {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;
}

label {
  font: smaller sans-serif;
  padding: 3px;
  text-align: center;
}

.bottompmNav{
  text-align: right;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color:blue;
}
.modal-body{
  position: relative;
  flex: 1 1 auto;
  padding: 0.2rem;
}



