
figcaption {
  color: #fff;
  font: smaller sans-serif;
  padding: 3px;
  text-align: center;
}

figure {
  border: thin #c0c0c0 solid;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

.modal-dialog {
 
  border-radius: 5;
  background-color: lightgray;
}

.modal-content {
  background-color: transparent;
}


.modal-image {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;
}

label {
  font: smaller sans-serif;
  padding: 3px;
  text-align: center;
}

.bottompmNav{
  text-align: right;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color:#0d6efd;
}
.modal-body{
  position: relative;
  flex: 1 1 auto;
  padding: 0.2rem;
}
.selectdate{
width: 100%;
height:100%;
}

.date-style input[type=button]{
 border-radius:5px;
 border:1px solid #ced4da;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

