
<div>
  <label for="language">{{ 'settings.language' | translate }}</label>
  <select id="language" (change)="switchLanguage($event)">
    <option value="en">English</option>
    <option value="es">Español</option>
    <option value="fr">Français</option>
  </select>

  <router-outlet></router-outlet>
</div>

<!-- Chatbot Icon -->
<div class="chatbot-icon" (click)="toggleChatbot()">
    <img src="assets/chat.png" alt="Chatbot" />
  </div>

  <!-- Chatbot Component (conditionally shown) -->
  <app-chatbot *ngIf="isChatbotOpen"></app-chatbot>