:host ::ng-deep .pagination .ngx-pagination .current {
  background: #76bc21 !important;
  border: transparent !important;
  border-radius: 20px !important;
}
.categoryForm {
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (min-width: 576px){
  .modal-dialog{
    max-width:70% !important;
  }
}
