.subscription-box {
    div:not(:last-child){
        border-right: 1px solid #ddd;
    }
}
@media (max-width: 575px) {
    .subscription-box {
        div:not(:last-child){
            border-right: 0;
        }
    }
}

.date {
    box-shadow: 0 0px 20px 0 #dedbdb;
}

.header-letter {
    padding: 10px;
    height: 50px;
    min-width: 70px;
    font-size: 40px;
    max-width: 80px;
}

.dash-select {
    background-color: #3f51b5;
    color: white
}

.non-product {
    width: 30%;
}

.form-select {
    background-image: url(/assets/arrow-down.png) !important;
}

input {
    min-height: 0 !important;
    border: 0 !important;
}

::-webkit-scrollbar {
    width: 0.3rem !important;
}

.user-image {
    width: 100px;
    height: auto;
}

.about__title {
    flex-direction: column;
    align-items: center;
}

.content__title .title-hidden {
    font-size: 30px !important;
}

.activity__summary ul {
    margin-bottom: 0;
}

.activity__summary li {
    font-size: 15px;
}

.chart-legend .legend-label-text{
    white-space: normal !important;  /* Prevent text truncation */
}