<div class="chat-container">
    <h2 class="chat-header m-0">Effortless Chatbot</h2>
    <div class="chat-messages" #chatMessages>
        <div *ngFor="let message of messages" [ngClass]="{'bot': message.sender === 'bot', 'user': message.sender === 'user'}" class="message">
            <div class="message-bubble">
                <div *ngIf="message.text">{{ message.text }}</div>
                <div *ngIf="message.imageUrl">
                    <img [src]="message.imageUrl" alt="Bot image response" style="max-width: 100%; border-radius: 10px; margin-top: 8px; max-height: 200px;" />
                </div>
            </div>
        </div>
        <div *ngIf="isLoading" class="loading-indicator">
            <span>Typing...</span>
        </div>
    </div>
    <div class="chat-input">
        <input 
            type="text" 
            placeholder="Type your message..." 
            #messageInput 
            (keydown)="onKeyDown($event, messageInput.value)"
        >
        <button mat-icon-button color="primary" (click)="sendMessage(messageInput.value)" [disabled]="isLoading" matTooltip="Send">
            <mat-icon>send</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="toggleVoiceInput(messageInput)" [disabled]="isLoading" matTooltip="Voice Input">
            <mat-icon>{{ isRecording ? 'stop_circle' : 'mic' }}</mat-icon>
        </button>
    </div>
</div>


<!-- <div class="chat-messages" #chatMessages>
    <div *ngFor="let message of messages" [ngClass]="{'bot': message.sender === 'bot', 'user': message.sender === 'user'}" class="message">
        <div class="message-bubble">
            <span>{{ message.text }}</span>
            <img *ngIf="message.imageUrl" [src]="message.imageUrl" alt="Bot image response" style="max-width: 100%; border-radius: 10px; margin-top: 8px; max-height: 200px;" />
        </div>
    </div>
    <div *ngIf="isLoading" class="loading-indicator">
        <span>Typing...</span>
    </div>
</div> -->