<nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex">
        <div class="d-flex p-2">
            <img src="assets/logo/expanded-logo.svg" alt="Effortless HRM" width="110">
            <button mat-icon-button (click)="toggleMenu()" class="ms-0 ms-md-5">
                <mat-icon svgIcon="menu"></mat-icon>
            </button>
        </div>

        <div class="d-flex justify-content-end">
            <div class="text-right">
                <div class=" d-flex align-items-center">
                    <div *ngIf="isTrialMode" class="trial-banner d-flex justify-content-between align-items-center px-2 py-2">
                        <div class="me-2">
                            <span class="fw-bold text-danger">{{ 'header.trialmessage' | translate: { daysLeft: daysLeft } }}</span>
                        </div>
                        <button mat-flat-button color="primary" (click)="goToPurchase()">
                            <mat-icon class="me-1">shopping_cart</mat-icon>
                            {{ 'header.purchaseNow' | translate }}
                        </button>
                    </div>
                    <hrm-language-selector cssClass="pe-2"></hrm-language-selector>
                    <app-notification></app-notification>
                    <section>
                        <div class="d-flex align-items-center ms-3 profile-menu" #profileMenuTrigger="matMenuTrigger"
                            [matMenuTriggerFor]="profileMenu">
                            @if(loggedInUser?.photo) {
                            <img src="{{loggedInUser?.photo}}" class="header-profile-img">
                            }
                            @else {<button mat-icon-button>
                                <mat-icon>person</mat-icon>
                            </button>
                            }

                            <p class="ps-2 mb-0 d-lg-block d-none">
                                @if(loggedInUser) {
                                {{loggedInUser?.firstName + ' ' + loggedInUser?.lastName}}
                                }
                            </p>
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </div>

                        <mat-menu #profileMenu="matMenu" class="dropdown-menu-default drpLog shadow">
                            <div (click)="$event.stopPropagation()">
                            @if(loggedInUser) {
                            <div class="text-center p-2">
                                <div class="position-relative d-inline-block mb-5">
                                    <img [src]="loggedInUser?.photo || '../assets/profile-image.png'"
                                        class="profile-img" width="100" height="100" alt="Profile Picture">

                                    <button mat-icon-button class="edit-icon" (click)="triggerFileInput()">
                                        <mat-icon>edit</mat-icon>
                                    </button>

                                    <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)"
                                        style="display: none;">
                                </div>

                                <p class="employee-id">{{loggedInUser?.firstName}} {{loggedInUser?.lastName}}</p>
                                <p class="position">{{loggedInUser?.jobTitle}}</p>
                                <p class="email contentHeading">{{loggedInUser?.email}}</p>
                            </div>
                            <mat-divider></mat-divider>
                            }
                            @if(profileSwitch){
                            @if(role === 'admin'){
                            <button mat-menu-item (click)="switchView('user')">
                                <mat-icon>toggle_on</mat-icon>
                                <span>Switch to User</span>
                            </button>
                            } @else {
                            <button mat-menu-item (click)="switchView('admin')">
                                <mat-icon>toggle_off</mat-icon>
                                <span>Switch to Admin</span>
                            </button>
                            }
                            }
                            <button mat-menu-item [routerLink]="'profile'">
                                <mat-icon>person</mat-icon>
                                <span>Profile</span>
                            </button>
                            <button mat-menu-item (click)="onLogout()">
                                <mat-icon>logout</mat-icon>
                                <span>Sign out</span>
                            </button>
                            </div>
                        </mat-menu>
                    </section>
                </div>
            </div>
        </div>
    </div>
</nav>