<div class="tableContainer">
    <div class="d-flex align-items-center justify-content-between">
        <span class="bi bi-search searchIcon"></span>
        <input class="form-control search" type="text" placeholder="Search..." [(ngModel)]="searchText"
            name="searchText" aria-label="default input example">
        <div>
            <button mat-raised-button class="addBtn" (click)="open(modal);">Download</button>
        </div>
    </div>
    <table>
        <thead>
            <th>Employee Code</th>
            <th>Employee Name</th>
            <th>Total Fixed Allowances</th>
            <th>Total Other Benefits</th>
            <th>Total Employee Satutory Deductions</th>
            <th>Total Employee Satutory Contributions</th>
            <th>Total Fixed Deductions</th>
            <th>Total Loans</th>
            <th>Total Advances</th>
            <th>Total Flexi Benefits</th>
            <th>Total CTC</th>
            <th>Total Gross Salary</th>
            <th>Total Take Home</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button mat-mini-fab class="actions" matTooltip="View" (click)="open(modal)" matTooltipPosition="before"><i
                            class="bi bi-eye"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #modal let-modal>
    <div class="modal-header border-bottom justify-content-between d-flex mb-2 pt-0">
        <div>
            <h1 class="modal-title text-muted mb-0">View Payslip</h1>
        </div>
        <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"
                (click)="modal.close('Escape clicked')"></button>
        </div>
    </div>

    <app-view-payslip></app-view-payslip>
</ng-template>