<ng-container>
  <div class="d-flex justify-content-end align-items-center mt-3 px-2">
    <!-- Page Size Dropdown -->
    <span>Page Size</span>
    <select 
      class="form-select form-select-sm mx-2" 
      style="width: 80px;" 
      [(ngModel)]="recordsPerPage" 
      (ngModelChange)="updateRecordsPerPage($event)">
      <option *ngFor="let option of recordsPerPageOptions" [value]="option">
        {{ option }}
      </option>
    </select>

    <!-- Current Page and Total Pages Display -->
    <span class="ml-2">Page {{ currentPage }} of {{ getTotalPages() }}, Records: {{ totalRecords }}</span>

    <!-- Pagination Buttons -->
    <!-- First Page -->
    <span 
      (click)="firstPagePagination()" 
      class="bi bi-chevron-bar-left btn-lg btn-outline-primary mx-1" 
      title="First Page" 
      [class.disabled]="isPreviousButtonDisabled()">
    </span>

    <!-- Previous Page -->
    <span 
      (click)="previousPagination()" 
      class="bi bi-chevron-left btn-lg btn-outline-primary mx-1" 
      title="Previous Page" 
      [class.disabled]="isPreviousButtonDisabled()">
    </span>

    <!-- Next Page -->
    <span 
      (click)="nextPagination()" 
      class="bi bi-chevron-right btn-lg btn-outline-primary mx-1" 
      title="Next Page" 
      [class.disabled]="isNextButtonDisabled()">
    </span>

    <!-- Last Page -->
    <span 
      (click)="lastPagePagination()" 
      class="bi bi-chevron-bar-right btn-lg btn-outline-primary mx-1" 
      title="Last Page" 
      [class.disabled]="isNextButtonDisabled()">
    </span>
  </div>
</ng-container>
