<ng-container>
  <div class="d-flex justify-content-end align-items-center mt-2">
    Items per page
    <select style="width: 80px;" class="page form-select form-select-sm mx-2"
      [(ngModel)]="recordsPerPage" (ngModelChange)="updateRecordsPerPage($event)">
      <option class="page" *ngFor="let option of recordsPerPageOptions" [value]="option">
        {{ option }}
      </option>
    </select>

    <span class="ml-2 page">{{ currentPage }} - {{ getTotalPages() }} of {{ totalRecords }}</span>

    <!-- previous page -->
    <span (click)="firstPagePagination()" class="page bi bi-chevron-bar-left btn-lg btn-outline-primary" title="First Page" [class.disabled]="isPreviousButtonDisabled()"></span>
    <span (click)="previousPagination()" class="page bi bi-chevron-left btn-lg btn-outline-primary" title="Previous Page" [class.disabled]="isPreviousButtonDisabled()"></span>

    <!-- next page -->
    <span (click)="nextPagination()" class="page bi bi-chevron-right btn-lg btn-outline-primary" title="Next Page" [class.disabled]="isNextButtonDisabled()"></span>
    <span (click)="lastPagePagination()" class="page bi bi-chevron-bar-right btn-lg btn-outline-primary" title="Last Page" [class.disabled]="isNextButtonDisabled()"></span>
  </div>
</ng-container>
