<div class="main-content">
    <div class="container-fluid">
        <h1 class="pt-0 pb-3 mb-0">Settings</h1>
        <div class="d-flex">
            <div class="card">
                <div class="card-body p-2">
                    <div class="d-flex text-black">
                      <div class="flex-shrink-0 pt-3" style="background-color: aqua; border-radius: 8px; padding: 5px;">
                        <span style="font-size: 50px;">SK</span>
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <div><span>Sandeep Kumar</span></div>
                        <h5 class="mb-1">Member since: </h5>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row" >
            <div class="form-group d-flex p-2 justify-content-between">
                <!-- <select id="settings" name="settings" (change)="OnCategoryChange()" [(ngModel)] = "selectedCategory" class="form-control" class="form-control form-select form-select-sm"
                aria-label=".form-select-sm example">
                <option value="0">Select Settings</option>    
                <option *ngFor="let category of categoriesData" [value]="category">
                        {{ category }}
                    </option>
                </select> -->
                <mat-tab-group (selectedTabChange)="OnCategoryChange($event)">
                    <mat-tab *ngFor="let category of categoriesData" [label]="category">
                    </mat-tab>
                  </mat-tab-group>
            </div>
        </div>
        
        <div>
            <div *ngIf="settingsByCategory && settingsByCategory.length > 0" class="row">
                <div *ngFor="let settingData of settingsByCategory" class="col-md-4 mt-4">
                    <div *ngIf="settingData && (settingData.ControlType=='number' || settingData.ControlType=='text' || settingData.ControlType=='email' || settingData.ControlType=='date' || settingData.ControlType=='time')" class="form-group">
                        <label class="form-label" [tooltip] ="settingData.ToolTip">{{settingData.ControlLabel}}</label>
                        <input class="form-control" [type]="settingData.ControlType" [(ngModel)]="settingData.Value" name="{{settingData.FieldName}}" />
                    </div>
                    
                    <div *ngIf="settingData && settingData.ControlType=='bool'" class="form-group form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="settingData.Value" name="{{settingData.FieldName}}">
                        <label class="form-check-label" for="flexSwitchCheckDefault" [tooltip] ="settingData.ToolTip">{{settingData.ControlLabel}}</label>
                    </div>
                
                    <div *ngIf="settingData && settingData.ControlType=='list'" class="form-group">
                        <label class="form-label" [tooltip] ="settingData.ToolTip">{{settingData.ControlLabel}}</label>
                        <select class="form-controlcustom-select mb-3 p-2" [(ngModel)]="settingData.Value" name="{{settingData.FieldName}}">
                            <option disabled selected value="0">Select</option>
                            <option *ngFor="let listValue of settingData.ListData" [value]="listValue.key">
                                {{listValue.value}}
                            </option>
                        </select>
                    </div>

                    <div *ngIf="settingData && settingData.ControlType=='multiselectlist'" class="form-group">
                        <mat-form-field appearance="outline" class="w-100 mx-1">
                            <mat-label [tooltip]="settingData.ToolTip">{{settingData.ControlLabel}}</mat-label>
                            <mat-select multiple [(ngModel)]="settingData.Value" name="{{settingData.FieldName}}">
                                <mat-option *ngFor="let listValue of settingData.ListData" [value]="listValue.key">
                                    {{listValue.value | titlecase}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div *ngIf="settingData && settingData.ControlType=='memo'" class="form-group">
                        <label class="form-label" [tooltip] ="settingData.ToolTip">{{settingData.ControlLabel}}</label>
                        <textarea class="form-control" [rows]="2" [(ngModel)]="settingData.Value" name="{{settingData.FieldName}}"></textarea>
                    </div>
                    <div *ngIf="settingData && settingData.ControlType=='checkboxlist'" class="form-group">
                        <label class="form-label" [tooltip] ="settingData.ToolTip">{{settingData.ControlLabel}}</label>
                        <div *ngFor="let day of settingData.ListData">
                            <input type="checkbox"
                                   [value]="day.key"
                                   [checked]="settingData.Value && settingData.Value.indexOf(day.key) > -1"
                                   name="{{ settingData.FieldName }}{{day.key}}"
                                   (change)="updateValue($event, day.key, settingData.FieldName, settingData.CategoryName)"
                                   />
                                {{ day.value }}
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div>
                <button mat-raised-button color="primary" (click)="saveForm()" data-bs-dismiss="modal" type="submit">Save</button>
            </div>
        </div>
    </div>
</div>