<div class="mainContent">
    <div class="container">
        <div class="py-2 px-0 bg-white tableContainer">
            <div class="d-flex justify-content-between align-items-center mb-2 px-3">
                <p class="mb-0">({{templateAssignments?.length}}) Records Found</p>
                <div class="d-flex align-items-center">
                    <span class="bi bi-search searchIcon"></span>

                    <input class="form-control search" type="text" placeholder="Search..." [(ngModel)]="searchText"
                        name="searchText" aria-label="default input example">
                    <button mat-raised-button class="addBtn rounded-pill ms-3" (click)="open(addModal); clearselectedRequest()">Add New</button>
                </div>
            </div>
            <table class="px-4">
                <thead>
                    <tr>
                        <th class="ps-2">User</th>
                        <th>Location</th>
                        <th>Band</th>
                        <th>Department</th>
                        <th>Designation</th>
                        <th>Current Advance Template</th>
                        <th>Primary Supervisors</th>
                        <th>Secondary Supervisors</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let templateAssignment of templateAssignments | search: searchText |  paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                        <td class="ps-2">{{templateAssignments[i]?.user?.firstName |
                            titlecase}}&nbsp;{{templateAssignments[i]?.user?.lastName | titlecase}}</td>
                        <td> -- </td>
                        <td> -- </td>
                        <td> -- </td>
                        <td> -- </td>
                        <td>
                            {{templateAssignments[i]?.advanceTemplate.policyLabel}}</td>
                        <td>{{templateAssignments[i]?.primaryApprover?.firstName |
                            titlecase}}&nbsp;{{templateAssignments[i]?.primaryApprover?.lastName | titlecase}}</td>
                        <td>{{templateAssignments[i]?.secondaryApprover?.firstName |
                            titlecase}}&nbsp;{{templateAssignments[i]?.secondaryApprover?.lastName | titlecase}}</td>
                        <td class="">
                            <button class="actions" mat-mini-fab title="Add"
                                aria-label="Example icon button with a menu icon" (click)="open(addModal); edit(templateAssignment, i)">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button class="actions ms-2" title="Delete" mat-mini-fab
                            aria-label="Example icon button with a menu icon"
                            (click)="deleteDialog(templateAssignment)">
                            <i class="bi bi-trash"></i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event" class="pagination d-flex justify-content-end"></pagination-controls>
        </div>

    </div>
</div>

<!-- Add/Update category -->

<ng-template #addModal let-modal>
    <div class="modal-header border-bottom mb-2 pt-0">
        <div>
            <h1 class="modal-title text-muted mb-0">{{isEdit? 'Update': 'Add'}} Advance Template Assignment</h1>
        </div>
        <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"
                (click)="modal.close('Escape clicked')"></button>
        </div>
    </div>

    <form action="" [formGroup]="addTemplateAssignmentForm" (ngSubmit)="onSubmit()">

        <div><label for="member"> Select User for Expense Template</label>
            <select id="member" name="member" class="form-control" formControlName="user"
                class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option *ngFor="let assignee of allAssignee" [value]="assignee.id">
                    {{assignee?.firstName |titlecase}} {{assignee?.lastName | titlecase}}
                </option>
            </select>

        </div>


        <div class="mt-2">

            <label for="">Select Template</label>
            <select id="expenseTemplate" class="form-control" formControlName="advanceTemplate" name="expense"
                class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option *ngFor="let template of advanceTemplates" [value]="template?._id">
                    {{template?.policyLabel}}
                </option>
            </select>
        </div>

        <div class="mt-2">
            <label for="">Select Primary Approver of Expense Template</label>
            <select id="member" name="member" class="form-control" formControlName="primaryApprover"
                class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option *ngFor="let assignee of allAssignee" [value]="assignee.id">
                    {{assignee?.firstName |titlecase}} {{assignee?.lastName | titlecase}}
                </option>
            </select>


        </div>
        <div class="mt-2">
            <label for="">Select Secondary Approver of Expense Template</label>
            <select id="members" name="members" class="form-control" formControlName="secondaryApprover"
                class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option *ngFor="let assignee of allAssignee" [value]="assignee.id">
                    {{assignee?.firstName |titlecase}} {{assignee?.lastName | titlecase}}
                </option>
            </select>


        </div>

        <div class="row mt-3">
            <label for="startDate" class="text-start">Select Effective From Date</label>
        </div>
        <div class="row">
            <div class="col-12 form-group mb-3">
                <input placeholder="YYYY-MM-DD" 
                formControlName="effectiveDate"
                class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" required>
            </div>
        </div>

        <div class="mt-2">
            <div class="d-flex border-top mt-4 pb-2 pt-4 justify-content-between">
                <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
                <button mat-raised-button class="addBtn" type="submit">{{isEdit?
                    'Update': 'Add'}}</button>

            </div>
        </div>



    </form>

</ng-template>