<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    </div>
    <div class="main-panel">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
             <span class="navbar-toggler-icon"></span>
           </button>
         <div class="collapse navbar-collapse" id="main_nav">
         <ul class="navbar-nav ms-auto">
           <li class="nav-item"><a class="nav-link" href="#"> Dashboard </a></li>
           <li class="nav-item"><a class="nav-link" href="#"> RealTime </a></li>
           <li class="nav-item"><a class="nav-link" href="#" routerLink="/screenshots"> Screenshots </a></li>
           <li class="nav-item dropdown">
             <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Reports </a>
               <ul class="dropdown-menu dropdown-menu-right">
               <li><a class="dropdown-item" href="#"> Timesheet</a></li>
               <li><a class="dropdown-item" href="#"> Timeline </a></li>
               <li><a class="dropdown-item" href="#"> Attendance </a></li>
               <li><a class="dropdown-item" href="#"> Activity Level </a></li>
               <li><a class="dropdown-item" href="#"> Statistics </a></li>
               <li><a class="dropdown-item" href="#"> Activity Description </a></li>
               <li><a class="dropdown-item" href="#"> Apps and Websites </a></li>
               <li><a class="dropdown-item" href="#"> Tasks </a></li>
               <li><a class="dropdown-item" href="#"> Productivity </a></li>
               <li><a class="dropdown-item" href="#"> Leave </a></li>
               <li><a class="dropdown-item" href="#"> Invoice </a></li>
               </ul>
           </li>

           <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Manage </a>
              <ul class="dropdown-menu dropdown-menu-right">
              <li><a class="dropdown-item" href="#" routerLink="/users"> People</a></li>
              <li><a class="dropdown-item" href="#"> Projects </a></li>
              <li><a class="dropdown-item" href="#"> Tasks </a></li>
              <li><a class="dropdown-item" href="#"> Messages </a></li>
              <li><a class="dropdown-item" href="#"> Manual Time </a></li>
              <li><a class="dropdown-item" href="#"> Time Off </a></li>
              <li><a class="dropdown-item" href="#"> Settings </a></li>
              </ul>
          </li>
         </ul>
         </div>
         <div class="btn-group">
          <a href="#" class="dropdown-toggle text-white text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="usericon "><i class="bi bi-person-circle "></i></span>
              <span class="textnone">{{this.user.firstName}} {{this.user.lastName}}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
              <li routerLinkActive="active"><button class="dropdown-item" type="button"><i></i> <a routerLink="/changePassword">Change Password</a></button></li>
              <li routerLinkActive="active"><button class="dropdown-item" type="button"><i></i> <a routerLink="/user-profile">Admin Setion</a></button></li>
              <li><button class="dropdown-item" type="button"><i></i> <a routerLink="/user-profile">My Profile</a></button></li>
              <li><hr class="dropdown-divider"></li>
              <li><button class="dropdown-item" type="button"><i class="bi bi-box-arrow-right"></i> <a (click)="signOut()">Sign out</a></button></li>
          </ul>
      </div>
        </div>
       </nav>
        <router-outlet></router-outlet>
  </div>
  </div>
