<div class="assetContainer" style="background-color: white;">
  <div class="row">
    <div class="col-md-8 border-end">
      <h2 style="color: blue;" class="pt-2 ps-2">Asset List</h2>
      <div class="d-flex justify-content-between">
        <div class="w-50 ps-2 d-flex"> <label for="vendorDropdown" class="pt-2 pe-1">Select&nbsp;Asset&nbsp;Type:</label>
          <select id="vendorDropdown" [(ngModel)]="selectedAssetType" (change)="onAssetTypeChange()">
            <option *ngFor="let asset of assetTypes" [ngValue]="asset._id">{{ asset.typeName }}</option>
          </select>
        </div>
        <input type="text" placeholder="Search assets..." (input)="filterAssets($event)" class="ms-3 w-25 form-control">
      </div>
      <table class="table ps-2">
        <thead>
          <tr>
            <th>Asset Name</th>
            <th>Purchase Date</th>
            <th>Warranty Expiry</th>
            <th>Status</th>
            <th>Image</th>
            <th *ngFor="let heading of gridHeadings">{{heading}}</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of filteredAssets | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{ asset.assetName }}</td>
            <td>{{ asset.purchaseDate | date }}</td>
            <td>{{ asset.warrantyExpiry | date }}</td>
            <td>{{ getStatusName(asset?.status)}}</td>
            <td><img *ngIf="asset.image" [src]="asset.image" alt="{{ asset.assetName }}" width="50"></td>
            <td *ngFor="let item of asset.customAttributes"> {{item.description}} </td>
            <td>
              <button (click)="editAsset(asset)" class="btn btn-primary btn-sm me-2">Edit</button>
              <button (click)="deleteAsset(asset)" class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
    <div class="col-md-4">
      <h2 style="color: blue;" class="pt-2 ps-2">Add/Edit Asset</h2>
      <form [formGroup]="assetForm" (ngSubmit)="isEdit ? updateAsset() : addAsset()"
        class="mt-4 me-3 p-3 bg-light border rounded" style="background-color: gray;">

        <!-- Basic Fields -->
        <div class="form-group">
          <label>Asset Type</label>
          <input type="text" formControlName="assetType" [value]="selectedAssetTypeName" class="form-control">
        </div>
        <div class="form-group mt-1">
          <label>Asset Name</label>
          <input type="text" formControlName="assetName" [value]="selectedAsset?.assetName" class="form-control">
        </div>
        <div class="form-group mt-1">
          <label>Purchase Date</label>
          <input type="text" formControlName="purchaseDate" [value]="selectedAsset?.purchaseDate | date" class="form-control">
        </div>
        <div class="form-group mt-1">
          <label>Warranty Expiry</label>
          <input type="text" formControlName="warrantyExpiry" [value]="selectedAsset?.warrantyExpiry | date" class="form-control">
        </div>
        <div class="form-group mt-1">
          <label>Status</label>
          <input type="text" formControlName="status" [value]="selectedAsset?.status" class="form-control">
        </div>

        <!-- ... add other fields similarly -->
        <!-- Dynamic CustomAttributes -->
        <!-- <div formArrayName="customAttributes">
          <div *ngFor="let customAttribute of selectedAsset?.customAttributes; let i=index" [formGroupName]="i">
            <div class="form-group mt-1">
              <label>Attribute Name</label>
              <input type="text" formControlName="attributeName"  [value]="customAttribute?.attributeName" class="form-control">
            </div>
          </div>
        </div> -->
     <!-- Dynamic CustomAttributes -->
<div formArrayName="customAttributes">
  <div *ngFor="let customAttribute of selectedAsset?.customAttributes; let i=index;" [formGroupName]="i">
    <div class="form-group mt-1">
      <label>Attribute Name</label>
      <div *ngIf="!editable">
        <p class=" form-control" (click)="toggle()">{{ customAttribute?.attributeName }}</p>
      </div>
      <div *ngIf="editable">
        <input type="text" [formControlName]="customAttribute?.attributeName" [value]="customAttribute?.attributeName" class="form-control">
      </div></div>
  </div>
</div>




        <div class="form-group d-flex justify-content-between mt-2">
          <div class="">
            <button type="submit" class="btn btn-primary ml-5" [disabled]="assetForm.invalid">{{ isEdit ? 'Update' :
              'Add'
              }}</button>
          </div>
          <div class="">
            <button type="button" *ngIf="isEdit" (click)="isEdit = false" class="btn btn-secondary">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>