<div class="assetContainer" style="background-color: white;">
  <div class="row">
    <div class="col-md-8 border-end">
      <h2 style="color: blue;" class="pt-2 ps-2">Asset List</h2>
      <div class="d-flex justify-content-between">
        <div class="w-50 ps-2 d-flex"> <label for="vendorDropdown"
            class="pt-2 pe-1">Select&nbsp;Asset&nbsp;Type:</label>
          <select id="vendorDropdown" [(ngModel)]="selectedAssetType" (change)="onAssetTypeChange()">
            <option *ngFor="let asset of assetTypes" [ngValue]="asset._id">{{ asset.typeName }}</option>
          </select>
        </div>
        <input type="text" placeholder="Search assets..." [(ngModel)]="searchText" (input)="filterAssets()"
          class="ms-3 w-25 form-control">
      </div>
      <table class="table ps-2">
        <thead>
          <tr>
            <th>Asset Name</th>
            <th>Purchase Date</th>
            <th>Warranty Expiry</th>
            <th>Status</th>
            <th>Image</th>
            <th *ngFor="let heading of gridHeadings">{{heading}}</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of filteredAssets | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{ asset.assetName }}</td>
            <td>{{ asset.purchaseDate | date }}</td>
            <td>{{ asset.warrantyExpiry | date }}</td>
            <td>{{ getStatusName(asset?.status)}}</td>
            <td>
              <img *ngIf="asset.image" [src]="asset.image" alt="{{ asset.assetName }}" width="50">
            </td>
            <td *ngFor="let item of asset.customAttributes"> {{item.value}} </td>
            <td>
              <button (click)="editAsset(asset)" class="btn btn-primary btn-sm me-2">Edit</button>
              <button (click)="openDialog(asset)" class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
    <div class="col-md-4">
      <h2 style="color: blue;" class="pt-2 ps-2">Add/Edit Asset</h2>
      <form [formGroup]="assetForm" (ngSubmit)="isEdit ? updateAsset() : addAsset()"
        class="mt-4 me-3 p-3 bg-light border rounded" style="background-color: gray;">

        <!-- Basic Fields -->
        <div class="form-group">
          <label for="assetType">Selected Asset Type:</label>
          <input type="text" name="assetType" [value]="selectedAssetTypeName" class="form-control" disabled>

        </div>
        <div class="form-group mt-1">
          <label>Asset Name</label>
          <input type="text" formControlName="assetName" [value]="selectedAsset?.assetName" class="form-control"
          [ngClass]="{ 'is-invalid': !validateOption('string',assetForm.value.assetName) && (assetForm.get('assetName').touched || assetForm.get('assetName').dirty)}">
          <div *ngIf="!validateOption('string',assetForm.value.assetName) && (assetForm.get('assetName').touched || assetForm.get('assetName').dirty)"  class="invalid-feedback">
            Invalid Asset Name!
          </div>
        </div>

        <div class="form-group mt-1">
          <label>Purchase Date</label>
          <input placeholder="YYYY-MM-DD" class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker
            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [value]="selectedAsset?.purchaseDate | date"
            formControlName="purchaseDate">
        </div>
        <div class="form-group mt-1">
          <label>Warranty Expiry</label>
          <input placeholder="YYYY-MM-DD" class="form-control" #datepickerYMD="bsDatepicker" bsDatepicker
            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [value]="selectedAsset?.warrantyExpiry | date"
            formControlName="warrantyExpiry">
        </div>
        <div class="form-group mt-1">
          <label for="assetStatus">Select Asset Status:</label>
          <select id="assetStatus" formControlName="status" class="p-1"
            [ngClass]="{ 'is-invalid': assetForm.get('status').hasError('required') && (assetForm.get('status').touched || assetForm.get('status').dirty) }">
            <option *ngFor="let status of assetStatuses" [ngValue]="status._id">{{ status.statusName }}</option>
          </select>
          <div *ngIf="assetForm.get('status').hasError('required') && (assetForm.get('status').touched || assetForm.get('status').dirty)" class="invalid-feedback">
            Please select an Asset Status!
          </div>
        </div>

        <div formArrayName="customAttributes">
          <ng-container class="form-group"
            *ngFor="let customAttribute of assetForm.get('customAttributes')['controls']; let i=index;"
            [formGroupName]="i">
            <div *ngIf="customAttribute.get('dataType').value=='string'" class="form-group mt-1">
              <label>{{ customAttribute.get('attributeName').value }}</label>
              <input type="text" formControlName="value" class="form-control" [required]="customAttribute.get('isRequired').value">
              <div *ngIf="customAttribute.get('isRequired').value && customAttribute.get('value').hasError('required') && customAttribute.get('value').touched"
                class="text-danger">
                This field is required.
              </div>
            </div>

            <div *ngIf="customAttribute.get('dataType').value === 'number'" class="form-group mt-1">
              <label>{{ customAttribute.get('attributeName').value }}</label>
              <input type="number" formControlName="value" class="form-control">
            </div>

            <div *ngIf="customAttribute.get('dataType').value === 'boolean'" class="form-group mt-1">
              <label class="checkbox-label-space">{{ customAttribute.get('attributeName').value }}</label>
              <input type="checkbox" class="form-check-input" formControlName="value" />
            </div>

            

            <div *ngIf="customAttribute.get('dataType').value=='date'" class="form-group mt-1">
              <label>{{ customAttribute.get('attributeName').value }}</label>
              <input type="date" formControlName="value" class="form-control" [required]="customAttribute.get('isRequired').value">
              <div *ngIf="customAttribute.get('isRequired').value && customAttribute.get('value').hasError('required') && customAttribute.get('value').touched"
                class="text-danger">
                Invalid date format. Please enter a valid date.
              </div>
            </div>
          </ng-container>

        </div>

        <div class="form-group d-flex justify-content-between mt-2">
          <div class="">
            <button type="submit" class="btn btn-primary ml-5" [disabled]="assetForm.invalid">{{ isEdit ? 'Update' :
              'Add'
              }}</button>
          </div>
          <div class="">
            <button type="button" *ngIf="isEdit" (click)="isEdit = false" class="btn btn-secondary">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>