<div class="main-content pt-0">
    <div class="tableContainer bg-white rounded p-2">
        <form [formGroup]="generalSettingForm" [ngClass]="{'editable-form': isEdit}" (ngSubmit)="saveGeneralSettings()">
            <div class="d-flex justify-content-between m-2">
                <h2><u>Payroll General Settings</u></h2>
                <div class="">
                    <button mat-raised-button *ngIf="!isEdit" class="addBtn" type="button"
                        (click)="toggleEdit()">Edit</button>
                    <button mat-raised-button *ngIf="isEdit" (click)="resetSettings()" type="button"
                        class="me-3">Cancel</button>
                    <button mat-raised-button class="addBtn" type="submit" *ngIf="isEdit">Save</button>
                </div>
            </div>
            <div class="row p-2">
                <div class="form-group col-md-6 ">
                    <label>What day of the month do you run your payroll?</label>
                    <select id="dayOfMonthToRunPayroll" formControlName="dayOfMonthToRunPayroll">
                        <option *ngFor="let number of day" [value]="number">
                            {{number}}
                        </option>
                    </select>

                </div>
                <div class="form-group col-md-6 ">
                    <label>Payroll Approver</label>
                    <select class="form-control" formControlName="payrollApprovar" id="payrollApprovar">
                        <option disabled value="undefined">Select Approver</option>
                        <option [value]="approver?.id" *ngFor="let approver of approvers">{{approver?.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row p-2">
                <div class="form-group col-md-6 mt-3 ">
                    <label>Attendance Cycle?</label>
                    <div class="d-flex">
                        <div class="form-check">
                            <input formControlName="attendanceCycle" class="form-check-input" type="radio"
                                id="dayOfMonthToStartAttendanceCycle1" required value="Customize">
                            <label class="form-check-label" for="dayOfMonthToStartAttendanceCycle1">
                                Customize
                            </label>
                        </div>
                        <div class="form-check ms-2">
                            <input formControlName="attendanceCycle" class="form-check-input" type="radio"
                                id="dayOfMonthToStartAttendanceCycle2" required value="Non-Customize">
                            <label class="form-check-label" for="dayOfMonthToStartAttendanceCycle2">
                                Non-Customize
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 mt-3 ">
                    <label>On What day of the month does your attendance cycle begin?</label>
                    <input type="number" class="form-control" formControlName="dayOfMonthToStartAttendanceCycle">
                </div>
            </div>
            <div class="mt-3 row  p-2">
                <div class="form-group col-md-6">
                    <label>Do you want to keep password for salary register or not?</label>
                    <div class="d-flex">
                        <div class="form-check">
                            <input class="form-check-input" formControlName="isPasswordForSalaryRegister" type="radio"
                                id="isPasswordForSalaryRegister1" required [value]="true">
                            <label class="form-check-label" for="isPasswordForSalaryRegister1">
                                Yes
                            </label>
                        </div>
                        <div class="form-check ms-2">
                            <input class="form-check-input" formControlName="isPasswordForSalaryRegister" type="radio"
                                id="isPasswordForSalaryRegister2" required [value]="false">
                            <label class="form-check-label" for="isPasswordForSalaryRegister2">
                                No
                            </label>
                        </div>
                    </div>
                </div>


                <!-- if( Do you want to keep password for salary register or not?) is yes -->
                <div class="form-group col-md-6 mt-3"
                    *ngIf="generalSettingForm.get('isPasswordForSalaryRegister').value===true">
                    <label for="">Password for salary register</label>
                    <input type="password" formControlName="password" class="form-control">
                </div>
            </div>
            <!-- end -->

            <div class="mt-3  p-2">
                <div class="form-group">
                    <label>Is Company eligible for Gratuity?</label>
                    <div class="d-flex">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="isGraduityEligible"
                                id="isGraduityEligible1" required [value]="true">
                            <label class="form-check-label" for="isGraduityEligible1">
                                Yes
                            </label>
                        </div>
                        <div class="form-check ms-2">
                            <input class="form-check-input" type="radio" formControlName="isGraduityEligible"
                                id="isGraduityEligible2" required [value]="false">
                            <label class="form-check-label" for="isGraduityEligible2">
                                No
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <!-- start if  (Is Company eligible for Gratuity) is yes-->
            <div class="row p-2" *ngIf="generalSettingForm.get('isGraduityEligible').value===true">
                <div class="mt-3 col-md-6 form-group">
                    <label for="">Percentage for Gratuity</label>
                    <input type="text" formControlName="percentageForGraduity" class="form-control">
                </div>

                <div class="form-group col-md-6 mt-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Components on which Gratuity is calculated</mat-label>
                        <mat-select multiple formControlName="graduityComponentsGraduitycalculation">
                            <mat-option *ngFor="let fa of fixedAllowance" [value]="fa?._id">
                                {{fa?.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- end if  (Is Company eligible for Gratuity) is yes-->

            <div class="row mt-3  p-2">

                <mat-form-field appearance="outline" class="col-md-6">
                    <mat-label>How would you like to calculate Leave Encashment?</mat-label>
                    <mat-select multiple formControlName="leaveEncashment">
                        <mat-option *ngFor="let fa of fixedAllowance" [value]="fa?._id">
                            {{fa?.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="form-group col-md-6">
                    <label>What is the denominator for calculating the Encashment?</label>
                    <select id="denominatorForCalculatingTheNoticeRecovery1"
                        formControlName="denominatorForCalculatingTheEncashment">
                        <option value="26">26</option>
                        <option value="30">30</option>

                    </select>
                </div>

            </div>

            <div class="row mt-3  p-2">
                <mat-form-field appearance="outline" class="col-md-6">
                    <mat-label>In which month do you wish to pay out rollover leave encashment for
                        employees?</mat-label>
                    <mat-select multiple formControlName="payoutRolloverLeaveEncashmentForEmployees">
                        <mat-option *ngFor="let m of months" value="{{m}}">{{m}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>



                <mat-form-field appearance="outline" class="col-md-6">
                    <mat-label>How would you like to calculate Leave Recovery?</mat-label>
                    <mat-select multiple formControlName="calculateLeaveRecovery">
                        <mat-option *ngFor="let fa of fixedAllowance" [value]="fa?._id">
                            {{fa?.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="row mt-3  p-2">
                <div class="col-md-6">
                    <label>What is the denominator for calculating the Leave Recovery?</label>
                    <select name="" id="" formControlName="denominatorForCalculatingTheLeaveRecovery">
                        <option value="26">26</option>
                        <option value="30">30</option>
                    </select>
                </div>


                <mat-form-field appearance="outline" class="w-100 col-md-6">
                    <mat-label>When do you want to recover outstanding income tax of employees?</mat-label>
                    <mat-select multiple formControlName="recoverOutstandingIncomeTaxOfEmployees">
                        <mat-option *ngFor="let m of months" value="{{m}}">
                            {{m}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row p-2">
                <div class="form-group col-md-6 mt-3">

                    <label>Is Notice Period Recovery applicable?</label>
                    <div class="d-flex">
                        <div class="form-check">
                            <input class="form-check-input" type="radio"
                                formControlName="isNoticePeriodRecoveryApplicable"
                                id="isNoticePeriodRecoveryApplicable1" required [value]="true">
                            <label class="form-check-label" for="isNoticePeriodRecoveryApplicable1">
                                Yes
                            </label>
                        </div>
                        <div class="form-check ms-2">
                            <input class="form-check-input" type="radio"
                                formControlName="isNoticePeriodRecoveryApplicable"
                                id="isNoticePeriodRecoveryApplicable2" required [value]="false">
                            <label class="form-check-label" for="isNoticePeriodRecoveryApplicable2">
                                No
                            </label>
                        </div>
                    </div>
                </div>

                <!-- if (Is Notice Period Recovery applicable?) field is yes -->

                <div class="form-group col-md-6 mt-3  p-2"
                    *ngIf="generalSettingForm.get('isNoticePeriodRecoveryApplicable').value===true">
                    <label>What is the denominator for calculating the Notice Recovery?</label>
                    <select id="denominatorForCalculatingTheNoticeRecovery"
                        formControlName="denominatorForCalculatingTheNoticeRecovery">
                        <option value="26">26</option>
                        <option value="30">30</option>
                    </select>
                </div>
            </div>
            <div class="row p-2">
                <div class="form-group col-md-6 mt-3">
                    <label>Do you wish to calculate your TDS from EffortlessHRM?</label>
                    <div class="d-flex">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="isAllowTDSFromEffortlessHRM"
                                id="isAllowTDSFromEffortlessHRM1" required [value]="true">
                            <label class="form-check-label" for="isAllowTDSFromEffortlessHRM1">
                                Yes
                            </label>
                        </div>
                        <div class="form-check ms-2">
                            <input class="form-check-input" type="radio" id="isAllowTDSFromEffortlessHRM12"
                                formControlName="isAllowTDSFromEffortlessHRM" required [value]="false">
                            <label class="form-check-label" for="isAllowTDSFromEffortlessHRM12">
                                No
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-group col-md-6 mt-3  p-2">

                    <label>Is Ncp Days Applicable in PF?</label>
                    <div class="d-flex">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="isAllowNcpDaysApplicableInPF1"
                                formControlName="isAllowNcpDaysApplicableInPF" required [value]="true">
                            <label class="form-check-label" for="isAllowNcpDaysApplicableInPF1">
                                Yes
                            </label>
                        </div>
                        <div class="form-check ms-2">
                            <input class="form-check-input" type="radio" id="isAllowNcpDaysApplicableInPF2"
                                formControlName="isAllowNcpDaysApplicableInPF" required [value]="false">
                            <label class="form-check-label" for="isAllowNcpDaysApplicableInPF2">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3  p-2">
                <label>Do you wish to calculate overtime from EffortlessHRM?</label>
                <div class="d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="isAllowToCalculateOvertime"
                            id="isAllowToCalculateOvertime1" required [value]="true">
                        <label class="form-check-label" for="isAllowToCalculateOvertime1">
                            Yes
                        </label>
                    </div>
                    <div class="form-check ms-2">
                        <input class="form-check-input" type="radio" formControlName="isAllowToCalculateOvertime"
                            id="isAllowToCalculateOvertime2" required [value]="false">
                        <label class="form-check-label" for="isAllowToCalculateOvertime2">
                            No
                        </label>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <hr>
    <div class="">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'activeTab': activeTab === 'tabRoundingRules'}"
                        (click)="selectTab('tabRoundingRules')">Rounding Rules for Statutory Contributions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'activeTab': activeTab === 'tabPFTemplate'}"
                        (click)="selectTab('tabPFTemplate')">PF Template</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'activeTab': activeTab === 'tabGratuityTemplates'}"
                        (click)="selectTab('tabGratuityTemplates')">Gratuity Templates</a>
                </li>
            </ul>
            <div class="tab-content pt-0">
                <div class="d-flex justify-content-between px-2 align-items-center">
                    <div> <button class="btn addBtn" (click)="open(modal); clearForm(); isEdit= false">Add</button>
                    </div>
                    <app-pagination [recordsPerPageOptions]="[5, 10, 25, 50, 100]" [totalRecords]="totalRecords"
                        [recordsPerPage]="recordsPerPage" [currentPage]="currentPage"
                        (pageChange)="onPageChange($event)" (recordsPerPageChange)="onRecordsPerPageChange($event)">
                    </app-pagination>
                </div>
                <div class="tab-pane" [ngClass]="{'active': activeTab === 'tabRoundingRules'}" id="tabRoundingRules">
                    <div class="d-flex justify-content-between align-items-center">

                    </div>
                    <div class="mt-2 bg-white tableContainer">

                        <table>
                            <thead>
                                <th>Statutory Name</th>
                                <th>Round Up</th>
                                <th>Round Off</th>
                                <th>Round Down</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let roundingRule of roundingRules">
                                    <td>{{roundingRule?.name}}</td>
                                    <td>
                                        <span *ngIf="roundingRule?.roundingType=='Rounding_Up' else roundingType">
                                            <mat-icon style="color: green;">check</mat-icon>
                                        </span>
                                        <ng-template #roundingType>
                                            <mat-icon style="color: red;">close</mat-icon>
                                        </ng-template>
                                    </td>
                                    <td>
                                        <span *ngIf="roundingRule?.roundingType=='Rounding_Off' else roundingType">
                                            <mat-icon style="color: green;">check</mat-icon>
                                        </span>
                                        <ng-template #roundingType>
                                            <mat-icon style="color: red;">close</mat-icon>
                                        </ng-template>
                                    </td>
                                    <td>
                                        <span *ngIf="roundingRule?.roundingType=='Rounding_Down' else roundingType">
                                            <mat-icon style="color: green;">check</mat-icon>
                                        </span>
                                        <ng-template #roundingType>
                                            <mat-icon style="color: red;">close</mat-icon>
                                        </ng-template>
                                    </td>
                                    <td>

                                        <button class="actions" mat-mini-fab matTooltip="Edit"
                                            matTooltipPosition="before" data-bs-toggle="modal" data-bs-target="#modal"
                                            (click)="isEdit= true; selectedRecord = roundingRule; open(modal);">
                                            <i class="bi bi-pencil-fill"></i>
                                        </button>
                                        <button class="actions ms-2" mat-mini-fab matTooltip="Delete"
                                            matTooltipPosition="after" aria-label="Example icon button with a menu icon"
                                            (click)="deleteDialog(roundingRule?._id)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="tab-pane" [ngClass]="{'active': activeTab === 'tabPFTemplate'}" id="tabPFTemplate">

                    <div class="mt-2 bg-white tableContainer">

                        <table>
                            <thead>
                                <th>Template Name</th>
                                <th>Allowances Applicable</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pfTemplate of pfTemplates">
                                    <td>{{pfTemplate?.templateName}}</td>
                                    <td>{{pfTemplate?.allowanceApplicable?.length}}</td>
                                    <td>
                                        <button class="actions" mat-mini-fab matTooltip="Edit"
                                            matTooltipPosition="before" data-bs-toggle="modal" data-bs-target="#modal"
                                            (click)="isEdit= true; selectedRecord = pfTemplate; open(modal); ">
                                            <i class="bi bi-pencil-fill"></i>
                                        </button>
                                        <button class="actions ms-2" mat-mini-fab matTooltip="Delete"
                                            matTooltipPosition="after" aria-label="Example icon button with a menu icon"
                                            (click)="deleteDialog(pfTemplate?._id)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="tab-pane" [ngClass]="{'active': activeTab === 'tabGratuityTemplates'}"
                    id="tabGratuityTemplates">

                    <div class="mt-2 bg-white tableContainer">

                        <table>
                            <thead>
                                <th>Template Name</th>
                                <th>Allowances Applicable</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                <!-- <tr *ngFor="let dutyReason of dutyReason ">
                    <td>{{dutyReason?.label}}</td>
                    <td>{{dutyReason?.applicableEmployee | titlecase}}</td>
                    <td>
                      <button class="actions" mat-mini-fab matTooltip="Edit" matTooltipPosition="before"
                        aria-label="Example icon button with a menu icon"
                        (click)="selectedDutyReason = dutyReason; isEdit= true; editDutyReason(); open(addDutyModal); ">
                        <i class="bi bi-pencil-fill"></i>
                      </button>
                      <button class="actions ms-2" mat-mini-fab matTooltip="Delete" matTooltipPosition="after"
                        aria-label="Example icon button with a menu icon" (click)="deleteDutyDialog(dutyReason?._id)">
                        <i class="bi bi-trash"></i>
                      </button>
                    </td>
                  </tr> -->
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #modal let-modal>
    <ng-container *ngIf="activeTab === 'tabRoundingRules'">
        <app-rounding-rules (close)="onClose($event)" [changeMode]="isEdit"
            [roundingRule]="selectedRecord"></app-rounding-rules>
    </ng-container>
    <ng-container *ngIf="activeTab === 'tabPFTemplate'">
        <app-pf-template (close)="onClose($event)" [changeMode]="isEdit"></app-pf-template>
    </ng-container>
    <ng-container *ngIf="activeTab === 'tabGratuityTemplates'">
        <app-gratuity-template (close)="onClose($event)" [changeMode]="isEdit"></app-gratuity-template>
    </ng-container>
</ng-template>