<div class="main-content pt-0">
  <div>
    <div class="modal-title h4">Add Manual Time</div>
  </div>
  <div class="row container">
    <mat-tab-group class="tab-group">
      <mat-tab label="Text View">
        <div class="mt-3" style="margin: 10px;width: 98%;">
          <form [formGroup]="addRequestForm" (ngSubmit)="onSubmit()">
            <div class="row  mb-1">
              <div class="col-md-6">
                <label for="project" class="text-start fields">Manager/Lead</label>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-md-6">
                <select
                  class="custom-select mb-3 p-2"
                  formControlName="manager"
                  [(ngModel)]="selectedManager">
                  <option disabled selected value="undefined">
                    Choose Any Manager
                  </option>
                  <option
                    *ngFor="let manager of managers"
                    [value]="manager.id"
                  >
                    {{ manager.name}}
                  </option>
                </select>
                <div
                  *ngIf="
                    addRequestForm.controls['manager'].invalid &&
                    addRequestForm.controls['manager'].touched
                  "
                  class="alert alert-danger error"
                >
                  <div
                    *ngIf="
                      addRequestForm.controls['manager'].errors['required']">
                    Manager is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-1">
            <div class="col-md-6">
              <label for="project" class="text-start fields">Project</label>
            </div>
          </div>
                <div class="row mb-1">
                  <div class="col-md-6">
                    <select
                      class="custom-select mb-3 p-2"
                      formControlName="project"
                      [(ngModel)]="selectedProject" (change)="onProjectChange($event.target)">
                      <option disabled selected value="undefined">
                        Choose Any Project
                      </option>
                      <option
                        *ngFor="let project of projects"
                        [value]="project.id"
                      >
                        {{ project.projectName }}
                      </option>
                    </select>
                    <div
                      *ngIf="
                        addRequestForm.controls['project'].invalid &&
                        addRequestForm.controls['project'].touched
                      "
                      class="alert alert-danger error"
                    >
                      <div
                        *ngIf="
                          addRequestForm.controls['project'].errors['required']
                        "
                      >
                        Project is required.
                      </div>
                    </div>
                  </div>
                </div>
              <div class="row mb-1">
                <div class="row mt-6">
                  <label for="project" class="text-start fields">Task</label>
                </div>
              </div>

              <div class="row mb-1">
                <div class="col-md-6">
                  <select
                    class="custom-select mb-3 p-2"
                    formControlName="task"
                    [(ngModel)]="selectedTask">
                    <option disabled selected value="undefined">
                      Choose Any Task
                    </option>
                    <option
                      *ngFor="let task of tasks"
                      [value]="task.id"
                    >
                      {{ task.taskName }}
                    </option>
                  </select>
                  <div
                    *ngIf="
                      addRequestForm.controls['project'].invalid &&
                      addRequestForm.controls['project'].touched
                    "
                    class="alert alert-danger error"
                  >
                    <div
                      *ngIf="
                        addRequestForm.controls['project'].errors['required']
                      "
                    >
                      Project is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-1">
                <div class="col-md-6">
                  <label for="startDate" class="text-start fields">Start Date</label>
                </div>
              </div>

            <div class="row mb-1">
              <div class="col-md-6">
                <input
                  matInput
                  type="datetime-local"
                  name="startDate"
                  id="startDate"
                  placeholder="start date"
                  formControlName="startDate"
                  [ngModel]="startDate | date : 'yyyy-MM-ddTHH:mm'"
                  class="form-control input pt-0"
                  ngModel
                  required
                />

                <div
                  *ngIf="
                    addRequestForm.controls['startDate'].invalid &&
                    addRequestForm.controls['startDate'].touched
                  "
                  class="alert alert-danger error"
                >
                  <div
                    *ngIf="
                      addRequestForm.controls['startDate'].errors['required']
                    "
                  >
                    Start Date is required.
                  </div>
                  <div
                    *ngIf="
                      addRequestForm
                        .get('startDate')
                        .hasError('endDateBeforeStartDate')
                    "
                  >
                    End date must be after start date.
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-md-6" style="margin-top: 10px;">
                <label for="endDate" class="text-start fields">End Date</label>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-md-6">
                <input
                  matInput
                  type="datetime-local"
                  name="endDate"
                  id="endDate"
                  placeholder="end date"
                  formControlName="endDate"
                  class="form-control input pt-0"
                  [ngModel]="endDate | date : 'yyyy-MM-ddTHH:mm'"
                />

                <div
                  *ngIf="
                    addRequestForm.controls['endDate'].invalid &&
                    addRequestForm.controls['endDate'].touched
                  "
                  class="alert alert-danger error"
                >
                  <div
                    *ngIf="addRequestForm.controls['endDate'].errors['required']"
                  >
                    End Date is required.
                  </div>
                  <div
                    *ngIf="
                      addRequestForm
                        .get('endDate')
                        .hasError('endDateBeforeStartDate')
                    "
                  >
                    End date must be after start date.
                  </div>
                </div>
              </div>
            </div>
            <div class="row  mb-1">
              <div class="col-md-6" style="text-align: right; margin-top:10px ;">
                <button mat-raised-button color="primary" type="submit" class="px-3 mt-2">
                  Add
                </button>
              </div>
            </div>
          </form>
        </div>
      </mat-tab>
      <mat-tab label="Graphical View"></mat-tab>
    </mat-tab-group>
  </div>
</div>
