<div class="main-content">
    <div class="container-fluid">
        <div class="tableContainer bg-white py-2">
            <div class="d-flex justify-content-between align-items-center mb-2 px-3">
                <p class="mb-0">() Records Found</p>
                <div class="d-flex align-items-center">
                    <span class="bi bi-search searchIcon"></span>

                    <input class="form-control search" type="text" placeholder="Search..." [(ngModel)]="searchText"
                        name="searchText" aria-label="default input example">
                    <button mat-raised-button class="addBtn rounded-pill ms-3"
                        (click)="clearselectedRequest(); open(addModal)">Add New</button>
                </div>
            </div>
            <table>
                <thead>
                    <th>Company Logo</th>
                    <th>Registered Company Name</th>
                    <th>Head Office Address</th>
                    <th>Contact Number</th>
                    <th>Parent Company</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- add company -->
<ng-template #addModal let-modal>
    <div class="modal-header d-flex justify-content-between border-bottom mb-2 pt-0">
        <div>
            <h1 class="modal-title text-muted mb-0">{{isEdit? 'Update': 'Add'}} Company</h1>
        </div>
        <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"
                (click)="modal.close('Escape clicked')"></button>
        </div>
    </div>

    <form [formGroup]="companyForm" (ngSubmit)="onSubmission()">

        <div class="form-group">
            <label for="">Company Name</label>
            <input type="text" class="form-control" formControlName="companyName" placeholder="Enter Company Name">
        </div>

        <div class="d-flex border-top mt-4 pb-2 pt-4 justify-content-between">
            <button mat-raised-button type="reset">Cancel</button>
            <button mat-raised-button class="addBtn" type="submit" [disabled]="!companyForm.valid">Submit</button>
        </div>



    </form>

</ng-template>