.disabled-div {
  pointer-events: none;  /* Prevents all click events */
  opacity: 0.6;          /* Makes the div look faded */
}
.action-button{
  font-size: 18px;
}
.mat-icon-button{
  width: 25px !important
}
.offcanvas-end{
  width: auto !important;
}
:host ::ng-deep .pagination .ngx-pagination .current {
  background: #76bc21 !important;
    border: transparent !important;
    border-radius: 20px !important;
  }