#dropdown-export li a {
    color: #495057;
    display: block;
    font-size: 13px;
    padding: 6px 12px;
    text-decoration: none;
}

#dropdown-export {
    background: #fff;
    border: 1px solid #ced4da;
    min-width: 100%;
}

.dropdown-toggle::after {
    display: none;
}

.people {
    color: gray;
}

.clock {
    color: #16CF96;
}

.graph {
    color: red;
}

.people,
.clock,
.graph {
    border-radius: 100%;
    height: 45px;
    padding: 15px;
    font-weight: bolder;
    font-size: 17px;
}

.filter {
    width: auto;
}

:host ::ng-deep .pagination .ngx-pagination .current {
    background: #76bc21 !important;
    border: transparent !important;
    border-radius: 20px !important;
}

.livescreen_btn {
    padding: 5px 0;
}

td:last-child, th:last-child {
    padding-right: 10px;
}

.large-icon{
    /* font-size: 75px;
    width: 75px;
    height: 75px; */
}
.custom-dialog .mat-dialog-container {
    padding: 0;
    overflow: visible; /* Allows resizing beyond the container */
  }