<div class="main-content contentData py-0">
    <div class="container-fluid px-0">
        <div class=" d-flex bg-white subMenu">
            <button class="btn rounded-pill submenuTab" (click)="selectTab(1)"
                [class.active]="selectedTab === 1">Organization Setup</button>
            <button class="btn rounded-pill submenuTab" (click)="selectTab(2)"
                [class.active]="selectedTab === 2">Employee Fields</button>
            <button class="btn rounded-pill submenuTab" (click)="selectTab(3)"
                [class.active]="selectedTab === 3">Employee Tree</button>
            <button class="btn rounded-pill submenuTab" (click)="selectTab(4)" [class.active]="selectedTab === 4">
                Documents</button>
            <button class="btn rounded-pill submenuTab" (click)="selectTab(5)" [class.active]="selectedTab === 5">
                Assets Management </button>
           
        </div>

        <div *ngIf="selectedTab === 1" class="tab-content">
            <!-- <app-user-list></app-user-list> -->
        </div>
        <div *ngIf="selectedTab === 2" class="tab-content">
            <!-- <app-project-list></app-project-list> -->
        </div>
        <div *ngIf="selectedTab === 3" class="tab-content">
            <!-- <app-tasks></app-tasks> -->
        </div>
        <div *ngIf="selectedTab === 4" class="tab-content">
            <app-document-manager></app-document-manager>
        </div>
        <div *ngIf="selectedTab === 5" class="tab-content">
            <app-asset-manager></app-asset-manager>
        </div>
       
    </div>
</div>