<div class="main-content contentData py-0">
    <div class="container-fluid px-0">
        <ng-container *ngIf="view === 'admin'">
            <div class="d-flex bg-white subMenu w-100">
                <a routerLink="organization-setup" class="btn rounded-pill submenuTab" 
                   [routerLinkActive]="'active'">Organization Setup</a>
                <a routerLink="employee-fields" class="btn rounded-pill submenuTab" 
                   [routerLinkActive]="'active'">Employee Fields</a>
                <a routerLink="employee-tree" class="btn rounded-pill submenuTab" 
                   [routerLinkActive]="'active'">Employee Tree</a>
                <a routerLink="documents" class="btn rounded-pill submenuTab"
                   [routerLinkActive]="'active'">Documents</a>
                <a routerLink="assets" class="btn rounded-pill submenuTab"
                   [routerLinkActive]="'active'">Assets Management</a>
            </div>
            <router-outlet></router-outlet>
        </ng-container>

        <ng-container *ngIf="view === 'user'">
            <div class="d-flex bg-white subMenu w-100">
                <a routerLink="company-policies" class="btn rounded-pill submenuTab" 
                   [routerLinkActive]="'active'">Company Policies</a>
                <a routerLink="organization-tree" class="btn rounded-pill submenuTab" 
                   [routerLinkActive]="'active'">Organization Tree</a>
                <a routerLink="employee-tree" class="btn rounded-pill submenuTab" 
                   [routerLinkActive]="'active'">Employee Tree</a>
                <a routerLink="assets" class="btn rounded-pill submenuTab" 
                   [routerLinkActive]="'active'">Assets</a>
            </div>
            <router-outlet></router-outlet>
        </ng-container>
    </div>
</div>
