.disabled-div {
  pointer-events: none;  /* Prevents all click events */
  opacity: 0.6;          /* Makes the div look faded */
}
.action-button{
  font-size: 18px;
}
.mat-icon-button{
  width: 25px !important
}
.offcanvas-end{
  width: auto !important;
}