<div class="assetContainer col-8" style="background-color: white;">
  <h2 style="color: blue;">Asset Types</h2>

  <input type="text" placeholder="Search vendors..." (input)="filterAssetTypes($event)" class="form-control mb-3">

  <table class="table table-bordered">
      <thead class="thead-dark">
          <tr>
              <th>name</th>
              <th>Description</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let assetType of filteredAssetTypes | paginate: { itemsPerPage: 10, currentPage: p }">
              <td (click)="viewAssetType(assetType)">{{ assetType.typeName }}</td>
              <td (click)="viewAssetType(assetType)">{{ assetType.description }}</td>
              <td>
                  <button (click)="editAssetType(assetType)" class="btn btn-primary btn-sm mr-2">Edit</button>
                  <button (click)="deleteAssetType(assetType)" class="btn btn-danger btn-sm">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>

  <div class="d-flex justify-content-center mt-3">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

  <div class="bordered-div">
  <h1>Attributes</h1>
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Data Type</th>
            <th>Is Required</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customAttribute of selectedAssetType?.customAttributes">
            <td>{{ customAttribute.attributeName }}</td>
            <td>{{ customAttribute.description }}</td>
            <td>{{customAttribute.dataType}}</td>
            <td>{{customAttribute.isRequired?'Yes':'No'}}</td>
        </tr>
    </tbody>
</table>
</div>

  <div>
  <h2 class="mt-4">Add/Edit Vendor</h2>
  <form [formGroup]="assetTypeForm" (ngSubmit)="isEdit ? updateAssetType() : addassetType()" class="mt-4 p-3 bg-light border rounded" style="background-color: gray;">
    <!-- <div class="form-group">
      <label for="typeName">Type Name</label>
      <input type="text" class="form-control" id="typeName" formControlName="typeName" required>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" formControlName="description" required>
    </div> -->

    <h4>Custom Attributes</h4>
    <table class="table">
      <thead>
          <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Data Type</th>
              <th>Is Required</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attribute of customAttributes.controls; let i = index" [formGroupName]="i">
          <!-- <td><input type="text" class="form-control" placeholder="Attribute Name" formControlName="attributeName" required></td> -->
          <!-- <td><input type="text" class="form-control" placeholder="Description" formControlName="description" required></td>
          <td><input type="text" class="form-control" placeholder="Data Type" formControlName="dataType" required></td>
          <td><input type="checkbox" formControlName="isRequired"> Required</td>
          <td><button (click)="deleteCustomeAttribute(i)" class="btn btn-danger btn-sm">Delete</button></td> -->
      </tr>
      </tbody>
  </table>

    <button class="btn btn-primary mt-3" (click)="addCustomAttribute()">Add Custom Attribute</button>

    <div class="mt-4">
      <div class="form-group">
        <button type="submit" class="btn btn-primary"  [disabled]="assetTypeForm.invalid">{{ isEdit ? 'Update' : 'Add' }}</button>
        <button type="button" *ngIf="isEdit" (click)="isEdit = false" class="btn btn-secondary ml-2">Cancel</button>
    </div>
    </div>
  </form>

</div>
</div>
