<div class="main-content contentData py-0">
  <div class="container-fluid px-0">
      <div class=" d-flex bg-white subMenu w-100">
          <button class="btn rounded-pill submenuTab" (click)="selectTab(1)"
              [class.active]="selectedTab === 1">Application Status</button>
          <button class="btn rounded-pill submenuTab" (click)="selectTab(2)"
              [class.active]="selectedTab === 2">Candidate Data Fields</button>
          <button class="btn rounded-pill submenuTab" (click)="selectTab(3)"
              [class.active]="selectedTab === 3">Candidates</button>
          <button class="btn rounded-pill submenuTab" (click)="selectTab(4)" [class.active]="selectedTab === 4">Manual
              Time</button>
          <button class="btn rounded-pill submenuTab" (click)="selectTab(5)" [class.active]="selectedTab === 5">Team
              Members</button>
          <button class="btn rounded-pill submenuTab" (click)="selectTab(6)"
              [class.active]="selectedTab === 6">Tags</button>
          <button class="btn rounded-pill submenuTab" (click)="selectTab(7)" [class.active]="selectedTab === 7">E-Mail
              Template</button>
              <button class="btn rounded-pill submenuTab" (click)="selectTab(8)" [class.active]="selectedTab === 8">
                  CRUD Component Testing</button>
      </div>

      <div *ngIf="selectedTab === 1" class="tab-content">
      <app-application-status></app-application-status>
      </div>
      <div *ngIf="selectedTab === 2" class="tab-content">
      <app-candidate-data-field></app-candidate-data-field>
      </div>
      <div *ngIf="selectedTab === 3" class="tab-content">
        <app-candidates></app-candidates>
      </div>
      <div *ngIf="selectedTab === 4" class="tab-content">

      </div>
      <div *ngIf="selectedTab === 5" class="tab-content">

      </div>
      <div *ngIf="selectedTab === 6" class="tab-content">

      </div>
      <div *ngIf="selectedTab === 7" class="tab-content">

      </div>
      <div *ngIf="selectedTab === 8" class="tab-content">

      </div>
  </div>
</div>
