<div class="mainContent">
    <div class="container">
        <div class="py-2 px-0 bg-white tableContainer">
            <div class="d-flex justify-content-between align-items-center mb-2 px-3">
                <p class="mb-0">({{templates?.length}}) Records Found</p>
                <div class="d-flex align-items-center">
                    <span class="bi bi-search searchIcon"></span>

                    <input class="form-control search" type="text" placeholder="Search..." [(ngModel)]="searchText"
                        (input)="filteredTemplate()" name="searchText" aria-label="default input example">
                    <button mat-raised-button class="addBtn rounded-pill ms-3"
                        (click)="changeMode='Add'; open(addModal)">Add New</button>
                </div>
            </div>
            <table class="px-4">
                <thead>
                    <tr>
                        <th class="ps-2">Expense&nbsp;Template&nbsp;Name</th>
                        <th>Number of Expense Categories</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let temp of filteredTemplates; let template of templates; let i = index">
                        <td class="ps-2">{{template?.policyLabel}}</td>
                        <td>{{template?.matchingCategories?.length}}</td>
                        <td class="">
                            <button class="actions" mat-mini-fab title="Update" (click)="changeMode='Update';
                                open(addModal);
                                selectedTemplateId=template._id;
                                setFormValues(template)" aria-label="Example icon button with a menu icon">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button class="actions ms-2" title="Delete" mat-mini-fab
                                aria-label="Example icon button with a menu icon" (click)="deleteDialog(template?._id)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls class="pagination d-flex justify-content-end"></pagination-controls>
        </div>

    </div>
</div>
<!-- Add/update template  -->
<ng-template #addModal let-modal>
    <app-expense-general-settings [changeMode]="changeMode" (changeStep)="onChangeStep($event)" (close)="onClose($event)" *ngIf="step == 1"></app-expense-general-settings>
    <app-expense-category-settings *ngIf="step == 2" (changeStep)="onChangeStep($event)"></app-expense-category-settings>
    <!-- <app-expense-category-settings (close)="onClose($event)"></app-expense-category-settings> -->
</ng-template>