<div class="mainContent">
    <div class="container">
        <div class="py-2 px-0 bg-white tableContainer">
            <div class="d-flex justify-content-between align-items-center mb-2 px-3">
                <p class="mb-0">({{templates?.length}}) Records Found</p>
                <div class="d-flex align-items-center">
                    <span class="bi bi-search searchIcon"></span>

                    <input class="form-control search" type="text" placeholder="Search..." [(ngModel)]="searchText"
                        (input)="filteredTemplate()" name="searchText" aria-label="default input example">
                    <button mat-raised-button class="addBtn rounded-pill ms-3"
                        (click)="changeMode='Add'; open(addModal)">Add New</button>
                </div>
            </div>
            <table class="px-4">
                <thead>
                    <tr>
                        <th class="ps-2">Expense&nbsp;Template&nbsp;Name</th>
                        <th>Number of Expense Categories</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let temp of filteredTemplates; let template of templates; let i = index">
                        <td class="ps-2">{{template?.policyLabel}}</td>
                        <td>{{template?.matchingCategories?.length}}</td>
                        <td class="">
                            <button class="actions" mat-mini-fab title="Update" (click)="changeMode='Update';
                                open(addModal);
                                selectedTemplateId=template._id;
                                setFormValues(template)" aria-label="Example icon button with a menu icon">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button class="actions ms-2" title="Delete" mat-mini-fab
                                aria-label="Example icon button with a menu icon" (click)="deleteDialog(template?._id)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls class="pagination d-flex justify-content-end"></pagination-controls>
        </div>

    </div>
</div>
<!-- Add/update template  -->
<ng-template #addModal let-modal>
    <div class="modal-header border-bottom mb-2 pt-0">
        <div>
            <h1 class="modal-title text-muted mb-0">{{changeMode}} Expense Template</h1>
        </div>
        <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"
                (click)="modal.close('Escape clicked')"></button>
        </div>
    </div>

    <form action="" [formGroup]="addTemplateForm" (ngSubmit)="addTemplate()">
        <div class="formBody px-2">
            <div class="form-group">
                <label for="">Please provide a label for this Policy<span class="text-danger">*</span></label>
                <input type="text" class="input form-control" placeholder="Enter Label" formControlName="policyLabel"
                    required>
                <div *ngIf="addTemplateForm.get('policyLabel').invalid && addTemplateForm.get('policyLabel').touched"
                    class="text-danger error">
                    Please Enter Label of Expense Template!
                </div>
            </div>

            <div class="form-group mt-2">
                <label for="">How many levels of approvals you want to add?<span class="text-danger">*</span></label>
                <div class="d-flex">

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="level" formControlName="approvalType"
                            value="1 Level" required>
                        <label class="form-check-label" for="level">
                            1 Level
                        </label>
                    </div>
                    <div class="form-check ms-4">
                        <input class="form-check-input" type="radio" id="level2" formControlName="approvalType" required
                            value="2 Level">
                        <label class="form-check-label" for="level2">
                            2 Level
                        </label>
                    </div>
                </div>
                <div *ngIf="addTemplateForm.get('approvalType').invalid && addTemplateForm.get('approvalType').touched"
                    class="text-danger error">
                    Please Select Approval Type!
                </div>
            </div>
            <div class="mt-2 form-group">
                <label for="">How would you like to add approvers?<span class="text-danger">*</span></label>
                <div class="d-flex">

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="level" formControlName="approvalType"
                            value="1 Level" required>
                        <label class="form-check-label" for="level">
                            Template Wise
                        </label>
                    </div>
                    <div class="form-check ms-4">
                        <input class="form-check-input" type="radio" id="level2" formControlName="approvalType" required
                            value="2 Level">
                        <label class="form-check-label" for="level2">
                            Employee Wise
                        </label>
                    </div>
                </div>
                <div *ngIf="addTemplateForm.get('approvalType').invalid && addTemplateForm.get('approvalType').touched"
                    class="text-danger error">
                    Please Select Approval Type!
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <label for="">Please Select An Employee For First Approver? <span
                            class="text-danger">*</span></label>
                    <select name="" id="" formControlName="fieldType" required class="ms-2 form-control">
                        <option value="Dropdown">user</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="">Please Select An Employee For Second Approver? <span
                            class="text-danger">*</span></label>
                    <select name="" id="" formControlName="fieldType" required class="ms-2 form-control">
                        <option value="Dropdown">user</option>
                    </select>
                </div>
            </div>
            <div class="mt-2">

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>What expense categories are applicable in this expense template?<span
                            class="text-danger">*</span></mat-label>
                    <mat-select multiple formControlName="expenseCategory">
                        <mat-option [value]="categories._id" *ngFor="let categories of expenseCategories; let i = index"
                            [selected]="isSelected(categories._id)">
                            {{categories.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="mt-2">
                <label for="">Do you want to make these attachment formats downloadable?</label>
                <div class="d-flex justify-content-between">
                    <ng-container *ngFor="let format of downloadableFormat; let i = index">
                        <label class="d-flex align-items-center">
                            <input class="form-check-input checks mx-1" type="checkbox"
                                (change)="onCheckboxChange($event, format)" [checked]="formatChecked[i]" />
                            {{format}}
                        </label>
                    </ng-container>
                </div>
            </div>

            <div class="mt-2">
                <div class="d-flex align-items-center">
                    <label for="">Would you like to restrict that the employee can’t apply expense for same category on
                        same incurred date?<span class="text-danger">*</span></label>
                    <div class="form-check form-switch">
                        <input class="form-check-input toggleBtn ms-5" type="checkbox" role="switch"
                            id="flexSwitchCheckDefault" formControlName="applyforSameCategorySamedate">
                    </div>
                </div>
            </div>

            <div class="my-2">
                <div class="d-flex align-items-center">
                    <label for="">Can employee add advance amount while applying expense?<span
                            class="text-danger">*</span></label>
                    <div class="form-check form-switch">
                        <input class="form-check-input ms-5 toggleBtn" type="checkbox" role="switch"
                            id="flexSwitchCheckDefault" formControlName="advanceAmount">
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex border-top py-2 justify-content-between">
            <button mat-raised-button type="reset">Cancel</button>
            <button mat-raised-button class="addBtn" type="submit"
                [disabled]="!addTemplateForm.valid">{{changeMode}}</button>
        </div>
    </form>

</ng-template>