<div class="container-fluid">
    <div class="row">
        <div class="col-9 cards-area">
            <div class="row d-flex justify-content-evenly">
                <div class="col-2 cards text-center my-3 pt-5">
                    <img src="../assets/house-icon.png" alt="">
                    <span>Dashboard</span>
                </div>
                <div class="col-2 cards  text-center my-3 pt-5">
                    <img src="../assets/building.png" alt="">
                    <span>Organization</span>
                </div>
                <div class="col-2 cards  text-center  my-3 pt-5">
                    <img src="../assets/employees.png" alt="">
                    <span>Employees</span>
                </div>
                <div class="col-2 cards  text-center  my-3 pt-5">
                    <img src="../assets/calendar.webp" alt="">
                    <span>Calender</span>
                </div>
                <div class="col-2 cards  text-center my-3 pt-5">
                    <img src="../assets/attendance.png" alt="">
                    <span>Attendance</span>
                </div>
                <div class="col-2 cards  text-center my-3 pt-5">
                    <img src="../assets/time-sheet.png" alt=""><br>
                    <span>Time Sheets</span>
                </div>
                <div class="col-2 cards  text-center my-3 pt-5">
                    <img src="../assets/expenses.jpg" alt="">
                    <span>Expenses</span>
                </div>
                <div class="col-2 cards  text-center my-3 pt-5">
                    <img src="../assets/alert.png" alt=""><br>
                    <span>Alerts</span>
                </div>
                <div class="col-2 cards  text-center my-3 pt-5">
                    <img src="../assets/payroll.png" alt=""><br>
                    <span>Payroll</span>
                </div>
                <div class="col-2 cards  text-center my-3 pt-5">
                    <img src="../assets/reports.png" alt="">
                    <span>Reports</span>
                </div>
                <div class="col-2 cards  text-center  my-3 pt-5">
                    <img src="../assets/separation.png" alt="">
                    <span>Separation</span>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="container p-0">
                <div class="profile py-2">
                    <div class="d-flex justify-content-end">
                        <span class="fa fa-edit m-2"></span>
                    </div>
                    <div class="text-center">
                        <img src="../assets/profile-image.png" class="profile-img my-5" alt="Profile Picture">
                        <p class="user">admin-user-admin</p>
                        <p class="email text-primary">admin@gmail.com</p>
                        <div class="my-4 d-flex justify-content-center">
                            <div class="mx-4">
                                <button mat-raised-button class="text-primary">User Portal</button>
                            </div>
                            <div>
                                <button mat-button color="warn" class="">Sign Out</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main my-4">
                    <div class="d-flex justify-content-between">
                        <div class="text-center">
                            <button type="button" class="btn btn-danger rounded-pill px-2">CHECK-IN <span
                                    class="fa fa-clock-o"></span></button>
                            <br>
                            <h4>00:00:00</h4>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-info text-light rounded-pill px-2">CHECK-OUT <span
                                    class="fa fa-clock-o"></span></button>
                            <br>
                            <h4>00:00:00</h4>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <img src="../assets/alarm.webp" class="alarm text-center" alt="">
                    <h3 class="date mb-0">{{today | date: 'medium'}}</h3>
                    <h1 class="timer">00:00:00hrs</h1>
                </div>
                <div class="features container ps-3">
                    <p class="border-bottom pb-3"><span class="fa fa-rocket pe-3"
                            style="color:  rgb(72, 71, 71)"></span>Getting Started</p>
                    <p class="border-bottom pb-3"><span class="fa fa-question pe-3" style="color:  red"></span>Help</p>
                    <p class="border-bottom pb-3"><span class="fa fa-weixin pe-3"
                            style="color:  #2acc06"></span>Contact-Support</p>
                    <p class="border-bottom pb-3"><span class="fa fa-bullhorn pe-3" style="color:  red"></span>What's
                        New</p>
                </div>
                <div class="footer d-flex justify-content-evenly mt-5">
                    <span class="fa fa-android" style="color: #78C257"></span>
                    <span class="fa fa-apple" style="color: black"></span>
                    <span class="fa fa-facebook" style="color: #4267B2"></span>
                    <span class="fa fa-twitter" style="color:  #00acee"></span>
                </div>
            </div>
        </div>
    </div>
</div>