<div class="main-content contentData">
    <div class="container-fluid px-0">
        <div class=" d-flex bg-white subMenu w-100">
            <button class="btn rounded-pill submenuTab" (click)="selectTab(1)"
                [class.active]="selectedTab === 1">Settings</button>
            <button class="btn rounded-pill submenuTab" (click)="selectTab(2)" [class.active]="selectedTab === 2">
                Tax Exemptions</button>
            <button class="btn rounded-pill submenuTab" (click)="selectTab(3)" [class.active]="selectedTab === 3">
                Tax Declarations</button>
            <button class="btn rounded-pill submenuTab" (click)="selectTab(4)" [class.active]="selectedTab === 4">
                Tax Overrides</button>
            <button class="btn rounded-pill submenuTab" (click)="selectTab(5)" [class.active]="selectedTab === 5">
                eTDS</button>
           

        </div>

        <div *ngIf="selectedTab === 1" class="tab-content">
        </div>
        <div *ngIf="selectedTab === 2" class="tab-content">
        </div>
        <div *ngIf="selectedTab === 3" class="tab-content">
        </div>
        <div *ngIf="selectedTab === 4" class="tab-content">
        </div>
        <div *ngIf="selectedTab === 5" class="tab-content">
        </div>

    </div>
</div>