<div class="documentContainer bg-white">
  <div class="row bg-white p-3">
    <div class="col-md-8 border-end">
      <div class="d-flex justify-content-between">
        <h2 class="text-primary">Company&nbsp;Policy&nbsp;Documents:&nbsp;{{companyPolicyDocument?.length}}</h2>
        <input type="text" placeholder="Search ..." class="w-25 form-control" [(ngModel)]="searchText"
          name="searchText">
      </div>
      <!-- Table for listing documents -->
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>URL</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of companyPolicyDocument">
            <td>{{ doc.name }}</td>
            <td>{{ doc.description }}</td>
            <td><a href="{{ doc.url }}" target="_blank">{{ doc.url }}</a></td>
            <td class="text-center">
              <button (click)="editDocument(doc)" class="btn btn-primary bi bi-pencil btn-sm me-2">&nbsp;Edit</button>
              <button (click)="openDialog(doc?._id)" class="btn btn-danger bi bi-trash btn-sm">&nbsp;Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <!-- Pagination can be added here -->

      <h2 class="text-primary">Add/Edit Document</h2>

      <form [formGroup]="documentForm" (ngSubmit)="isEdit ? updateDocument(documentForm.value) : addDocument(documentForm.value)"
        class="mt-4 p-3 bg-light border rounded">
          <div class="form-group">
            <label for="documentName" class="text-gray">Name</label>
            <input type="text" id="documentName" class="form-control" formControlName="name" required>
          </div>
          <div class="form-group my-2">
            <label for="documentDescription" class="text-gray">Description</label>
            <input type="text" id="documentDescription" class="form-control" formControlName="description" required>
          </div>
          <div class="form-group">
            <label for="documentUrl" class="text-gray">URL</label>
            <input type="text" id="documentUrl" class="form-control" formControlName="url" required>
            <div *ngIf="documentForm.get('url').invalid && documentForm.get('url').touched" class="text-danger">
              Please enter a valid URL.
          </div>
          </div>
        <div class="form-group d-flex mt-3 justify-content-between">
          <div class="">
            <button type="submit" color="primary" mat-raised-button [disabled]="!documentForm.valid">{{ isEdit ? 'Update' :
              'Add' }}</button>
          </div>
          <div class="">
            <button type="button" mat-raised-button (click)="onCancel()" >Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>