<div class="main-content contentData">
    <div class="container-fluid px-0">
        <div class="d-flex align-items-center mt-5 pt-lg-4 pt-5 pb-2 ps-lg-4 ps-2 bg-white w-100 timesheet_panel">
            <button class="btn rounded-pill submenuTab timesheet_btn" (click)="selectTab(1)"
                [class.active]="selectedTab === 1">Settings</button>
            <button class="btn rounded-pill submenuTab timesheet_btn" (click)="selectTab(2)"
                [class.active]="selectedTab === 2">Projects</button>
            <button class="btn rounded-pill submenuTab timesheet_btn" (click)="selectTab(3)"
                [class.active]="selectedTab === 3">Time Approvals</button>
            <button class="btn rounded-pill submenuTab timesheet_btn" (click)="selectTab(4)"
                [class.active]="selectedTab === 4">
                TimeSheet</button>
        </div>

        <div *ngIf="selectedTab === 1"> </div>
        <div *ngIf="selectedTab === 2"> </div>
        <div *ngIf="selectedTab === 3"> </div>
        <div *ngIf="selectedTab === 4"><app-admin-timesheet></app-admin-timesheet></div>
    </div>
</div>