<div class="main-content">
  <div class="container-fluid">
    <div class="col-2 ms-auto">
      <mat-form-field appearance="outline" class="mt-1 d-flex" style="border-radius: 5px; height: 49px;
       margin: -20px 0 11px 0;">
        <mat-label class="">Select Date</mat-label>
        <div class="w-100 d-flex" style="margin: -15px 0;">
          <input matInput [matDatepicker]="picker1" [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)">
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </div>
      </mat-form-field>
    </div>

    <div class="row d-block justify-content-evenly container-fluid ms-md-0 ms-2 mt-5">
      <div class="col-12">
        <div class="py-4 bg-white" style="border-radius: 1.2rem">
          <div class="d-block d-lg-flex justify-content-evenly">
            <div class="mt-2 border-end text-center pe-lg-5 pe-0">
              <!-- <h1 class="letter ms-2 header-letter"
                [style.background-color]="commonService?.getRandomColor(currentProfile?.lastName)">
                {{currentProfile?.firstName.slice(0,1) | uppercase}}{{currentProfile?.lastName.slice(0,1) |
                uppercase}}</h1> -->
              <img src="assets/main/user.png" class="user-image" alt="" height="70px">
              <h4 class="content-info mb-0">{{currentProfile?.firstName}} {{currentProfile?.lastName}}</h4>
              <!-- <p>{{role | titlecase}}</p> -->
            </div>
            <div class="mt-2 border-end pe-lg-5 pe-0 d-lg-block d-flex justify-content-between align-items-center">
              <p class="content__title ps-lg-0 ps-3"><i class="bi bi-people-fill me-2"></i>Members</p>
              <h1 class="content__data pe-lg-0 pe-3">1</h1>
            </div>
            <div class="mt-2 border-end pe-lg-5 pe-0 d-lg-block d-flex justify-content-between align-items-center">
              <p class="content__title ps-lg-0 ps-3">Next payment on</p>
              <h1 class="content__data pe-lg-0 pe-3">09 Jun, 2023</h1>
            </div>
            <div class="mt-2 border-end pe-lg-5 pe-0 d-lg-block d-flex justify-content-between align-items-center">
              <p class="content__title ps-lg-0 ps-3">Latest Invoice</p>
              <div class="content__data pe-lg-0 pe-3">
                <h1 class="">$2.99</h1>
                <a href="">My Invoices</a>
              </div>
            </div>
            <div class="mt-2 pe-lg-5 pe-0 d-lg-block d-flex justify-content-between align-items-center">
              <p class="content__title ps-lg-0 ps-3 text-end">Balance</p>
              <div class="content__data pe-lg-0 pe-3">
                <h1 class="">$0</h1>
                <a href="">Make Payment</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-3 mx-auto row row-cols-1 row-cols-md-3 g-4 justify-content-evenly container-fluid">
      <div class="col-md-4 dash-boxes p-3 bg-white">
        <div class="about__top">
          <div class="about__title d-lg-block d-flex">
            <p class="content__title me-3">Today</p>
            <h1 class="title-hidden time mb-0">{{ formatMillisecondsToTime(hoursWorked?.today)}}</h1>
          </div>

          <div class="top-text d-flex mt-lg-0 mt-4">
            <p class="text mb-0 me-2">
              <span style="color: rgb(255, 190, 91)" [style.color]="hoursWorked?.changeColor">{{
                hoursWorked?.changeDisplay}}% </span><span class="text-dark"> Yesterday </span>
            </p>

            <div class="hours"><span class="p-2 py-3 text-light">{{formatMillisecondsToTime(hoursWorked?.previousDay)
                }}</span></div>

            <span class="ms-auto d-lg-block d-none">
              <img *ngIf="hoursWorked?.increased==true" src="../assets/images/graph-up-green.svg" height="70" width="90"
                alt="Profile Picture">
              <img *ngIf="hoursWorked?.increased==false" src="../assets/images/graph-down-red.svg" height="70"
                width="90" alt="Profile Picture">
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-4 dash-boxes p-3 bg-white">
        <div class="about__top">
          <div class="about__title d-lg-block d-flex">
            <p class="content__title me-3">This week</p>
            <h1 class="title-hidden time mb-0">{{formatHoursAndMinutes(weeklySummary?.currentWeek) }}</h1>
          </div>

          <div class="top-text d-flex mt-lg-0 mt-4">
            <p class="text mb-0 me-2">
              <span style="color: rgb(255, 190, 91)"
                [style.color]="weeklySummary?.changeColor">{{weeklySummary?.changeDisplay}}% </span><span
                class="text-dark"> last week </span>
            </p>

            <div class="hours"><span class="p-2 py-3 text-light">{{formatHoursAndMinutes(weeklySummary?.previousWeek)
                }}</span></div>

            <span class="ms-auto d-lg-block d-none">
              <img *ngIf="weeklySummary?.increased==true" src="../assets/images/graph-up-green.svg" height="70"
                width="90" alt="Profile Picture">
              <img *ngIf="weeklySummary?.increased==false" src="../assets/images/graph-down-red.svg" height="70"
                width="90" alt="Profile Picture">
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-4 dash-boxes p-3 bg-white">
        <div class="about__top">
          <div class="about__title d-lg-block d-flex">
            <p class="content__title me-3">This Month</p>
            <h1 class="title-hidden time mb-0">{{convertMinutesToHoursAndMinutes(monthlySummary?.currentMonth)}}</h1>
          </div>

          <div class="top-text d-flex mt-lg-0 mt-4">
            <p class="text mb-0 me-2">
              <span style="color: rgb(255, 190, 91)"
                [style.color]="monthlySummary?.changeColor">{{monthlySummary?.changeDisplay}}% </span><span
                class="text-dark"> a week before </span>
            </p>

            <div class="hours"><span
                class="p-2 py-3 text-light">{{convertMinutesToHoursAndMinutes(monthlySummary?.previousMonth)}}</span>
            </div>

            <span class="ms-auto d-lg-block d-none">
              <img *ngIf="monthlySummary?.increased ==true" src="../assets/images/graph-up-green.svg" height="70"
                width="90" alt="Profile Picture">
              <img *ngIf="monthlySummary?.increased ==false" src="../assets/images/graph-down-red.svg" height="70"
                width="90" alt="Profile Picture">
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="my-3 mx-auto row row-cols-1 row-cols-md-3 g-4 justify-content-evenly container-fluid">
      <div class="col-md-4 p-3 dash-report bg-white tableContainer">
        <div class="d-flex justify-content-between">
          <p class="content__title"><i class="bi bi-clock-fill me-2"></i>Project-wise time spent on all tasks</p>
        </div>

        <div class="d-flex justify-content-between">
          <label for="member" class="pt-2 pe-3">Member</label>
          <select id="member" name="member" class="form-control" class="form-select form-select-sm"
            aria-label=".form-select-sm example" #member (change)="onTaskTimeMemberSelectionChange(member)"
            [(ngModel)]="projectwiseTimeSelectedMemberofAllTasks">
            <option *ngFor="let m of members" value="{{m|json}}">{{m.name | titlecase}}</option>
          </select>
        </div>

        <div class="taskReport mt-2 pe-3">
          <table class="mt-2 p-2 rounded">
            <tbody>
              <th>Project</th>
              <th>Task</th>
              <th>Time</th>
              <ng-container *ngFor="let projectTask of projectTasks">
                <tr *ngFor="let task of projectTask.tasks;let i = index ">
                  <td>
                    {{i==0?projectTask?.projectName:''}}
                  </td>
                  <td class="py-2">{{task?.taskName}}</td>
                  <td>
                    <span class="dash-percent"> {{ task?.totalTime | milliSecondsToTime }} </span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-4 p-3 dash-report bg-white">
        <div class="d-flex justify-content-between">
          <p class="content__title"> <i class="bi bi-pie-chart-fill me-2"></i>Productivity</p>
        </div>

        <div class="d-flex justify-content-between">
          <label for="member" class="pt-2 pe-3">Member</label>
          <select id="member" name="member" class="form-control" class="form-select form-select-sm"
            aria-label=".form-select-sm example" #productivityMember
            (change)="onProductivityMemberSelectionChange(productivityMember)">
            <option *ngFor="let m of members" value="{{m|json}}">{{m.name | titlecase}}</option>
          </select>
        </div>

        <div class="mt-4">
          <ul class="activity__summary" type="square">
            <li *ngFor="let productivity of productivityData" [ngClass]="{
                  'prod': productivity.name === 'Productive',
                  'non-prod': productivity.name == 'Non-Productive',
                  'neutral': productivity.name === 'Neutral'
                }">{{productivity.name}}</li>
          </ul>
          <ngx-charts-pie-chart [results]="productivityData"></ngx-charts-pie-chart>
        </div>
      </div>

      <div class="col-md-4 p-3 dash-report bg-white">
        <div class="d-flex justify-content-between">
          <p class="content__title"><i class="bi bi-clipboard-data-fill me-2"></i>Task Summary</p>
        </div>

        <div class="d-flex justify-content-between">
          <label for="member" class="pt-2 pe-3">Member</label>
          <select id="member" name="member" class="form-control" class="form-select form-select-sm"
            aria-label=".form-select-sm example" #taskMember (change)="onTaskSummaryMemberSelectionChange(taskMember)">
            <option *ngFor="let m of members" value="{{m|json}}">{{m.name | titlecase}}</option>
          </select>
        </div>

        <div class="mt-4">
          <ul class="activity__summary" type="square">
            <li *ngFor="let task of taskSummary" [ngClass]="{
                  'todo': task.name === 'To Do',
                  'inProgress': task.name == 'In Progress',
                  'done': task.name === 'Done',
                  'closed': task.name=== 'Closed'
                }">{{task.name}}</li>
          </ul>
          <ngx-charts-pie-chart [results]="taskSummary"></ngx-charts-pie-chart>
        </div>
      </div>
    </div>
    <!-- =================== -->

    <div class="my-3 mx-auto row row-cols-1 row-cols-md-3 g-4 justify-content-evenly container-fluid">
      <div class="col-md-4 p-3 dash-report bg-white tableContainer">
        <div class="d-flex justify-content-between">
          <p class="content__title"> <i class="bi bi-clock-history me-2"></i>Project wise time on each task</p>
        </div>

        <div class="d-flex justify-content-between">
          <label for="member" class="pt-2 pe-3">Member</label>
          <select id="member" name="member" class="form-control" class="form-select form-select-sm"
            aria-label=".form-select-sm example" #dailyUpdateMember
            (change)="onDailyUpdateMemberSelectionChange(dailyUpdateMember)"
            [(ngModel)]="projectwiseTimeSelectedMember">
            <option *ngFor="let m of members" value="{{m|json}}">{{m.name | titlecase}}</option>
          </select>
        </div>

        <table class="mt-2 p-2 rounded">
          <tbody>
            <th>Project</th>
            <th>Task</th>
            <th>Time</th>
            <ng-container *ngFor="let projectTask of dayWorkStatusByUser">
              <tr *ngFor="let task of projectTask.tasks;let i = index ">
                <td>
                  {{i==0?projectTask?.projectName:''}}
                </td>
                <td class="py-2">{{task?.taskName}}</td>
                <td>
                  <span class="dash-percent"> {{ ((task?.count*10)*60*1000) | milliSecondsToTime }} </span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

      <div class="col-md-4 p-3 dash-report bg-white"></div>

      <div class="col-md-4 p-3 dash-report bg-white"></div>
    </div>
  </div>
</div>