<div class="main-content pt-2">
    <div class="container-fluid">
        <div class="tabs">
            <button class="btn" routerLink="expense-category" routerLinkActive="active">
                Expense Categories
            </button>
            <button class="btn" routerLink="expense-template" routerLinkActive="active">
                Expense Templates
            </button>
            <button class="btn" routerLink="expense-template-assignment" routerLinkActive="active">
                Expense Template Assignment
            </button>
            <button class="btn" routerLink="advance-category" routerLinkActive="active">
                Advance Categories
            </button>
            <button class="btn" routerLink="advance-template" routerLinkActive="active">
                Advance Templates
            </button>
            <button class="btn" routerLink="advance-template-assignment" routerLinkActive="active">
                Advance Template Assignment
            </button>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
