<form [formGroup]="taxForm">
    <table>
        <thead>
            <th style="width:12%">Component Name</th>
            <th>Section</th>
            <th>Maximum Amount</th>
            <th>Applied Amount</th>
            <th>Approved Amount</th>
            <th>Approval Status</th>
            <th>Remarks</th>
            <th>Attachment</th>
            <th>Actions</th>
        </thead>
        <tbody formArrayName="incomeTaxComponents">
            <tr *ngFor="let group of taxForm.get('incomeTaxComponents')['controls']; let i = index" [formGroupName]="i">
                <td>{{ taxComponents[i]?.componantName }}</td>
                <td>{{ getSection(taxComponents[i]?.section) }}</td>
                <td>{{ taxComponents[i]?.maximumAmount }}</td>
                <td>
                    <input formControlName="appliedAmount" type="number" [readonly]="!group.get('isEditable').value" />
                </td>
                <td>
                    <input formControlName="approvedAmount" type="number" [readonly]="!group.get('isEditable').value" />
                </td>
                <td>
                    <input formControlName="approvalStatus" type="text" [readonly]="!group.get('isEditable').value" />
                </td>
                <td>
                    <input formControlName="remark" type="text" [readonly]="!group.get('isEditable').value" />
                </td>
                <td>
                    <ng-container *ngIf="taxComponents[i]?.matchedData">
                        <i class="bi bi-paperclip" matTooltip="{{'Upload'}}" matTooltipPosition="below"></i>
                    </ng-container>
                </td>

                <td>
                    @if(!group.get('isEditable').value){
                    <button class="actions" mat-mini-fab matTooltip="Edit" matTooltipPosition="before" type="button"
                        (click)="onRowEdit(i)"> <i class="bi bi-pencil"></i></button>
                    } @else {
                    <button class="actions" mat-mini-fab matTooltip="Update" matTooltipPosition="before" type="button"
                        (click)="updateRow(i)"> <i class="bi bi-check"></i></button>

                    <button class="actions" mat-mini-fab matTooltip="Close" matTooltipPosition="after" type="button"
                        (click)="cancelEditing(i)"> <i class="bi bi-x"></i></button>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</form>