<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="row">
              <div class="col-md-10">
                <h4 class="card-title">Team Members</h4>
              </div>
            </div>
          </div>

          <div class="container-fluid">
            <div class="row"></div>
            <div class="row">
              <div class="col-md-1">Team of</div>
              <div class="col-md-2">
                <select id="member" name="member" class="form-control" class="form-select form-select-sm"
                aria-label=".form-select-sm example" [(ngModel)]="selectedManager" (change)="Selectmanager($event)">
                  <option *ngFor="let user of teamOfUsers" [value]="user.id">
                    {{ user.firstName }} {{ user.lastName }}
                  </option>
                </select>
              </div>
              <div class="col-md-6"></div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <ul class="users">
                  <li *ngFor="let user of teamOfUsers">
                    <label [class.selected]="user === selectedUser">
                      <span class="name">{{user.firstName}} {{user.lastName}}</span>
                      <span class="badge" (click)="onAddMember(user)">></span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="col-md-2">
                <ul class="users">
                  <li *ngFor="let user of selectedUsers">
                    <label [class.selected]="user === selectedUser" (click)="onSelect(user)">
                      <span class="badge" (click)="onRemoveMember(user)"><</span>
                      <span class="name">{{user.firstName}} {{user.lastName}}</span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="table-responsive">
                <div class="col-md-12"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
