<div class="main-content py-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="pt-3 ps-3">
            <div class="row">
              <div class="col-md-10">
                <h1 class="">Team Members</h1>
              </div>
            </div>
            <hr class="mt-0">
          </div>
          <div class="container-fluid">
            <div class="row"></div>
            <div class="row mt-4">
              <div class="col-md-6">
                <p id="example-radio-group-label" class="contentHeading">Manager</p>
                <mat-radio-group id="member" name="member" aria-labelledby="example-radio-group-label"
                  class="example-radio-group managers bg-white common" [ngModel]="selectedManager ">
                  <mat-radio-button color="primary" class="manager example-radio-button"
                    *ngFor="let user of teamOfUsers" (click)="Selectmanager(user)" [value]="user">
                    {{ user.firstName | titlecase }} {{ user.lastName | titlecase}}
                  </mat-radio-button>
                </mat-radio-group><br>
              </div>
              <div class="col-md-6">
                <ul class="users" type="none" class="overflow-auto">
                  <p class="contentHeading">Members</p>
                  <div class="members bg-white common">
                    <li *ngFor="let user of teamOfUsers">
                      <label [class.selected]="user === selectedUser">
                        <mat-checkbox color="primary" [checked]="user['isChecked']"
                          [disabled]="selectedManager && selectedManager.id == user.id" [(ngModel)]="user['isChecked']"
                          (ngModelChange)="onModelChange($event,user)">{{user.firstName | titlecase}}
                          {{user.lastName | titlecase}}</mat-checkbox>
                      </label>
                    </li>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>