<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="row">
              <div class="col-md-10">
                <h4 class="card-title headings">Team Members</h4>
              </div>
            </div>
          </div>

          <div class="container-fluid">
            <div class="row"></div>
            <div class="row mt-4">
              <div class="col-md-6">
                <label id="example-radio-group-label" class="headings">Manager</label><br>
                <mat-radio-group id="member" name="member" aria-labelledby="example-radio-group-label" class="example-radio-group"
                [ngModel]="selectedManager " >
                  <mat-radio-button color="primary" class="example-radio-button" *ngFor="let user of teamOfUsers" (click)="Selectmanager(user)"
                   [value]="user">
                    {{ user.firstName }} {{ user.lastName }}
                  </mat-radio-button>
                </mat-radio-group><br>
              </div>
              <div class="col-md-6">
                <ul class="users" type="none">
                  <p class="headings">Members</p>
                  <div class="members">
                  <li *ngFor="let user of teamOfUsers" >
                    <label [class.selected]="user === selectedUser">
                      <mat-checkbox color="primary" [checked]="user['isChecked']" [disabled]="selectedManager && selectedManager.id == user.id"
                      (click)="onAddMember(user)">{{user.firstName}} {{user.lastName}}</mat-checkbox>
                    </label>
                  </li>
                </div>
                </ul>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
