
<form [formGroup]="ctcTemplateForm">
    <div class="form-group">
        <label for="">Enter the Label for CTC Template</label>
        <input type="text" class="form-control" formControlName="name" placeholder="CTC Template...">
    </div>

    <div class="form-group mt-2">
        <mat-form-field appearance="outline" class="w-100 mx-1">
            <mat-label>Fixed Allowances</mat-label>
            <mat-select multiple formControlName="ctcTemplateFixedAllowance">
                <mat-option *ngFor="let fa of fixedAllowances" [value]="fa?._id">
                   {{fa?.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-group mt-2">
        <mat-form-field appearance="outline" class="w-100 mx-1">
            <mat-label>Fixed Deductions</mat-label>
            <mat-select multiple formControlName="ctcTemplateFixedDeduction">
                <mat-option *ngFor="let fa of fixedDeduction" [value]="fa._id">
                   {{fa?.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-group mt-2">
        <mat-form-field appearance="outline" class="w-100 mx-1">
            <mat-label>Employer Contributions</mat-label>
            <mat-select multiple formControlName="ctcTemplateEmployerContribution">
                <mat-option *ngFor="let fa of fixedContribution" [value]="fa._id">
                   {{fa?.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-group mt-2">
        <mat-form-field appearance="outline" class="w-100 mx-1">
            <mat-label>Other Benefits Allowances</mat-label>
            <mat-select multiple formControlName="ctcTemplateOtherBenefitAllowance">
                <mat-option *ngFor="let fa of otherBenefits" [value]="fa._id">
                   {{fa?.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-group mt-2">
        <mat-form-field appearance="outline" class="w-100 mx-1">
            <mat-label>Employee Deductions</mat-label>
            <mat-select multiple formControlName="ctcTemplateEmployeeDeduction">
                <mat-option *ngFor="let fa of fixedContribution" [value]="fa._id">
                   {{fa?.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-group mt-2">
        <mat-form-field appearance="outline" class="w-100 mx-1">
            <mat-label>Variable Allowance</mat-label>
            <mat-select multiple formControlName="ctcTemplateVariableAllowance">
                <mat-option *ngFor="let va of variableAllowance" [value]="va?._id">
                   {{va?.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-group mt-2">
        <mat-form-field appearance="outline" class="w-100 mx-1">
            <mat-label>Variable Deductions</mat-label>
            <mat-select multiple formControlName="ctcTemplateVariableDeduction">
                <mat-option *ngFor="let vd of variableDeduction" [value]="vd?._id">
                   {{vd?.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <div class="d-flex border-top mt-2 py-2 justify-content-between">
        <button mat-raised-button type="reset">Cancel</button>
        <button mat-raised-button type="button" class="addBtn"  (click)="openOffcanvas('AssignedTemp')" >Proceed</button>
    </div>
</form>


<div class="offcanvas offcanvas-end w-75" id="AssignedTemp">
    <div class="offcanvas-body">
        <div class="container p-0">
            <ng-container *ngIf="showAssignedTemplates">
            <app-assigned-templates (recordUpdated)="handleRecordUpdate($event)" [data]="ctcTemplateForm.value" [selectedRecord]="selectedRecord" [isEdit]="isEdit"></app-assigned-templates>
            </ng-container>
        </div>
    </div>
</div>