<div class="comment-list">
  
  <ng-container *ngFor="let comment of comments; let i = index">
    <app-task-comment 
    [comment]="comment" 
    (commentAdded)="addComment()"
    [authorfirstName]="comment.authorfirstName" 
    [authorlastName]="comment.authorlastName" 
    (commentDeleted)="onDeleteComment(comment)"
    (commentUpdated)="updateComment(i, $event)">
  </app-task-comment>
  </ng-container>
  <div class="row comment-form">
    <div class="d-flex">
    <span class="letter text-light comment-user-letter addComment-User" [title]="(user | titlecase)"
      [style.background-color]="commonService.getRandomColor(user?.charAt(0) | uppercase)">
      {{user?.charAt(0) | uppercase}}
    </span>
    <div class="m-3 w-100 rounded"><textarea name="" id="" cols="" rows="2" class="w-100 form-control"
        [(ngModel)]="newComment"></textarea></div>
      </div>
    <div class="col-sm-12">
      <button mat-raised-button color="primary" (click)="addComment()">Add Comment</button>
    </div>
  </div>
</div>