<div class="comment-list">
  <ng-container *ngFor="let comment of comments; let i = index">
    <app-task-comment [comment]="comment" (commentAdded)="addComment()" (commentDeleted)="onDeleteComment(comment)"
      (commentUpdated)="updateComment(i, $event)" [authorfirstName]="comment?.author?.firstName"
      [authorlastName]="comment?.author?.lastName" [attachments]="comment.attachments">
    </app-task-comment>
  </ng-container>
  <div class="row comment-form">
    <div class="d-flex">
      <span class="letter text-light comment-user-letter addComment-User" [title]="(firstName | titlecase)"
        [style.background-color]="commonService.getRandomColor(firstName?.charAt(0) | uppercase)">
        {{firstName?.charAt(0) | uppercase}}
      </span>
      <div class="m-3 w-100 rounded"><textarea name="" id="" cols="" rows="2" class="w-100 form-control"
          [(ngModel)]="newComment">
      </textarea>
        <div class="attachment mt-4 d-flex flex-wrap"><label class="sc-bczRLJ kEeNDb  "><input style="display: none;"
              accept=".jpeg,.mp4,.glb,.svg,.blend,.jpg,.png,.gif,.pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.odt,.fodt,.ods,.fods,.odp,.fodp,.odg,.fodg,.odf,.csv,.html,.css,.txt,.zip"
              type="file" multiple="">
            <div class="details-attach-file d-flex align-items-center justify-content-center me-2 pointer">
              <span class="fa fa-paperclip"> attach a file</span>
            </div>
          </label>

        </div>

      </div>
    </div>



    <div class="col-sm-12">
      <button mat-raised-button color="primary" (click)="addComment()">Add Comment</button>
    </div>
  </div>
</div>