.full-calendar {
    height: 80vh; 
    background: white;
  }
  ::ng-deep .fc-col-header-cell-cushion {
    text-decoration: none !important;
    color: white;
    margin: 5px 0; 
  }
  ::ng-deep .fc-day:hover {
    background-color: rgb(225, 222, 222); 
  }
  ::ng-deep .fc .fc-daygrid-day-number{
    text-decoration: none !important;
  }