<div class="main-content py-5 mt-5">
    <div class="container-fluid">

        <div class="container-fluid mt-3 py-2 px-0 bg-white tableContainer">
            <div class="d-flex justify-content-between align-items-center mb-2 px-3">
                <p class="mb-0">({{usersList?.length}}) Records Found</p>
                <div class="d-flex align-items-center">
                    <span class="bi bi-search searchIcon"></span>
                    <input class="form-control search ps-4" type="text" placeholder="Search..." [(ngModel)]="searchText"
                        name="searchText" aria-label="default input example">
                    <button mat-raised-button class="addBtn rounded-pill ms-3" data-bs-toggle="modal"
                        data-bs-target="#addModal" (click)="clearForm()">Add New</button>
                </div>
            </div>
            <table class="px-4">
                <thead>
                    <tr>
                        <th scope="col" [appSort]="usersList" data-order="{{ sortOrder }}" data-name="firsName"
                            data-name="lastName" (click)="sortOrder = (sortOrder === 'asc' ? 'desc' : 'asc')">
                            Members &nbsp;
                            <i
                                [class]="sortOrder === 'asc' ? 'bi bi-arrow-up sort-asc' : 'bi bi-arrow-down sort-desc'"></i>
                        </th>

                        <th scope="col" [appSort]="usersList" data-order="{{ sortOrder }}" data-name="email"
                            (click)="sortOrder = (sortOrder === 'asc' ? 'desc' : 'asc')">
                            Email &nbsp;
                            <i
                                [class]="sortOrder === 'asc' ? 'bi bi-arrow-up sort-asc' : 'bi bi-arrow-down sort-desc'"></i>
                        </th>
                        <th scope="col" [appSort]="usersList" data-order="{{ sortOrder }}" data-name="jobTitle"
                            (click)="sortOrder = (sortOrder === 'asc' ? 'desc' : 'asc')">
                            Position &nbsp;
                            <i
                                [class]="sortOrder === 'asc' ? 'bi bi-arrow-up sort-asc' : 'bi bi-arrow-down sort-desc'"></i>
                        </th>
                        <th scope="col" [appSort]="usersList" data-order="{{ sortOrder }}" data-name="role?.id"
                            (click)="sortOrder = (sortOrder === 'asc' ? 'desc' : 'asc')">
                            Member Type &nbsp;
                            <i
                                [class]="sortOrder === 'asc' ? 'bi bi-arrow-up sort-asc' : 'bi bi-arrow-down sort-desc'"></i>
                        </th>
                        <th scope="col" [appSort]="usersList" data-order="{{ sortOrder }}" data-name="createdOn"
                            (click)="sortOrder = (sortOrder === 'asc' ? 'desc' : 'asc')">
                            Member Since &nbsp;
                            <i
                                [class]="sortOrder === 'asc' ? 'bi bi-arrow-up sort-asc' : 'bi bi-arrow-down sort-desc'"></i>
                        </th>
                        <th scope="col" data-order="desc" data-name="status">Status</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let data of usersList | search: searchText |  paginate: { itemsPerPage: 5, currentPage: p }">

                        <td><span class="letter ms-2"
                                [style.background-color]="commonservice.getRandomColor(data.lastName)">{{data.firstName.slice(0,1)
                                | uppercase}}{{data.lastName.slice(0,1) | uppercase}}</span> &nbsp; {{ data.firstName |
                            titlecase }} {{data.lastName | titlecase}}</td>
                        <td>{{ data.email }}</td>
                        <td>{{data.jobTitle}}</td>
                        <td><span
                                class="badge rounded-pill table-button text-dark px-4 py-2">{{getRoleName(data?.role?.id)}}</span>
                        </td>
                        <td>{{ data.createdOn | date:'mediumDate'}}</td>
                        <td><span class="badge rounded-pill table-button  bg-success text-light px-4 py-2"
                                *ngIf="data.status=='Active'">{{data.status}}</span></td>
                        <td>
                            <button class="actions" mat-mini-fab title="Update User" data-bs-toggle="modal"
                                data-bs-target="#updateModal" (click)="selectedUser=data"
                                aria-label="Example icon button with a menu icon">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button class="actions ms-2" title="Delete User" mat-mini-fab data-bs-toggle="modal"
                                data-bs-target="#deleteModal" (click)="selectedUser = data"
                                aria-label="Example icon button with a menu icon">
                                <i class="bi bi-trash"></i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"
                class="pagination d-flex justify-content-end"></pagination-controls>

        </div>

    </div>
</div>

<!-- Add -->
<div class="modal" id="addModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class=" d-flex justify-content-between border-bottom">
                    <div class="">
                        <h4 class="modal-title text-start">Add New Member</h4>
                    </div>
                    <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"></button>
                    </div>
                </div>
                <div class="row">
                    <form class="pt-2" [formGroup]="addForm" (ngSubmit)="addUser(addForm.value)">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="firstName" class="text-start">First Name<span
                                                class="text-danger">*</span></label>

                                        <input type="text" name="firstName" id="firstName" class="form-control input "
                                            formControlName="firstName" required>
                                        <div *ngIf="addForm.controls['firstName'].invalid && addForm.controls['firstName'].touched"
                                            class="alert alert-danger error">
                                            <div *ngIf="addForm.controls['firstName'].errors['required']">
                                                First Name is required.
                                            </div>
                                            <div *ngIf="addForm.controls['firstName'].errors['pattern']">
                                                Only Alphabets are allowed.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="lastName" class="text-start">Last Name<span
                                                class="text-danger">*</span></label>

                                        <input type="text" name="lastName" id="lastName" class="form-control input"
                                            formControlName="lastName" required>
                                        <div *ngIf="addForm.controls['lastName'].invalid && addForm.controls['lastName'].touched"
                                            class="alert alert-danger error">
                                            <div *ngIf="addForm.controls['lastName'].errors['required']">
                                                Last Name is required.
                                            </div>
                                            <div *ngIf="addForm.controls['lastName'].errors['pattern']">
                                                Only Alphabets are allowed.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <label for="role" class="text-start">Role<span
                                                class="text-danger">*</span></label>


                                        <select class="custom-select mb-3 p-2" formControlName="role">
                                            <option value="">Choose Any Role</option>
                                            <option *ngFor="let role of roleName" [value]="role.id">
                                                {{ role.Name}}
                                            </option>
                                        </select>
                                        <div *ngIf="addForm.controls['role'].invalid && addForm.controls['role'].touched"
                                            class="alert alert-danger error">
                                            <div *ngIf="addForm.controls['role'].errors['required']">
                                                Role is required.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="email" class="text-start">E-mail<span
                                                class="text-danger">*</span></label>

                                        <input type="text" name="email" id="email" class="form-control input"
                                            formControlName="email" required>
                                        <div *ngIf="addForm.controls['email'].invalid && addForm.controls['email'].touched"
                                            class="alert alert-danger error">
                                            <div *ngIf="addForm.controls['email'].errors['required']">
                                                E-Mail is required!
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <label for="password" class="text-start">Password<span
                                                class="text-danger">*</span></label>

                                        <input type="password" name="password" id="password" class="form-control input"
                                            formControlName="password" required>
                                        <div *ngIf="addForm.controls['password'].invalid && addForm.controls['password'].touched"
                                            class="alert alert-danger error">
                                            <div *ngIf="addForm.controls['password'].errors['required']">
                                                Password is required.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="passwordConfirm" class="text-start">Confirm Password<span
                                                class="text-danger">*</span></label>
                                        <input type="password" name="passwordConfirm" id="passwordConfirm"
                                            class="form-control input" formControlName="passwordConfirm" required>

                                        <div *ngIf="addForm.get('passwordConfirm').hasError('required') && addForm.get('passwordConfirm').touched"
                                            class="text-danger">
                                            Confirm Password is required.
                                        </div>
                                        <div *ngIf="addForm.get('passwordConfirm').hasError('mismatch')"
                                            class="text-danger">
                                            Passwords do not match.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="d-flex justify-content-between my-3 border-top pt-3">

                            <div>
                                <button mat-raised-button class="mx-2" 
                                    type="reset">Cancel</button>
                            </div>
                            <div>
                                <button mat-raised-button class="addBtn" type="submit"
                                    [disabled]="!addForm.valid">Add</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Update -->
<div class="modal" id="updateModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <div class="">
                        <h4 class="modal-title text-start">Update Member</h4>
                    </div>
                    <div class="">
                        <button type="button" class="btn-close text-end" data-bs-dismiss="modal"></button>
                    </div>
                </div>
                <div class="" *ngIf="selectedUser">
                    <form class="px-2" [formGroup]="updateForm" (ngSubmit)="updateUser(updateForm.value)">
                        <div class=" d-flex justify-content-between">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="firstName" class="text-start">First Name</label>

                                        <input type="text" name="firstName" id="firstName"
                                            class="form-control input pt-0" formControlName="firstName"
                                            [(ngModel)]="selectedUser.firstName" required>
                                        <div *ngIf="updateForm.controls['firstName'].invalid && updateForm.controls['firstName'].touched"
                                            class="alert alert-danger error">
                                            <div *ngIf="updateForm.controls['firstName'].errors['required']">
                                                First Name is required.
                                            </div>
                                            <div *ngIf="updateForm.controls['firstName'].errors['pattern']">
                                                Only Alphabets are allowed.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <label for="lastName" class="text-start">Last Name</label>

                                        <input type="text" name="lastName" id="lastName" class="form-control input pt-0"
                                            formControlName="lastName" [(ngModel)]="selectedUser.lastName" required>
                                        <div *ngIf="updateForm.controls['lastName'].invalid && updateForm.controls['lastName'].touched"
                                            class="alert alert-danger error">
                                            <div *ngIf="updateForm.controls['lastName'].errors['required']">
                                                Last Name is required.
                                            </div>
                                            <div *ngIf="updateForm.controls['lastName'].errors['pattern']">
                                                Only Alphabets are allowed.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <label for="jobTitle" class="text-start">Position</label>

                                        <input type="text" name="jobTitle" id="jobTitle" class="form-control input pt-0"
                                            formControlName="jobTitle" [(ngModel)]="selectedUser.jobTitle">

                                    </div>
                                    <div class="col-md-6">
                                        <label for="role" class="text-start">Role</label>

                                        <select class="custom-select mb-3 p-2" formControlName="role"
                                            [(ngModel)]="selectedUser.role.id">
                                            <option value="">Choose Any Role</option>
                                            <option *ngFor="let role of roleName" [value]="role.id"
                                                [selected]="selectedUser?.role?.id === role?.id">
                                                {{ role.Name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <label for="address" class="text-start">Address</label>
                                </div>
                                <input type="text" name="address" id="address" class="form-control input pt-0"
                                    formControlName="address" [(ngModel)]="selectedUser.address">

                                <div class="row mt-3">
                                    <div class="col-6">
                                        <label for="city" class="text-start">City</label>

                                        <input type="text" name="city" id="city" class="form-control input pt-0"
                                            formControlName="city" [(ngModel)]="selectedUser.city">

                                    </div>
                                    <div class="col-6">
                                        <label for="state" class="text-start">State</label>

                                        <input type="text" name="state" id="state" class="form-control input pt-0"
                                            formControlName="state" [(ngModel)]="selectedUser.state">

                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-4">
                                        <label for="pincode" class="text-start">Pincode</label>

                                        <input type="text" name="pincode" id="pincode" class="form-control input pt-0"
                                            formControlName="pincode" [(ngModel)]="selectedUser.pincode">

                                    </div>
                                    <div class="col-8">
                                        <label for="phone" class="text-start">Phone</label>

                                        <input type="text" name="phone" id="phone" class="form-control input pt-0"
                                            formControlName="phone" [(ngModel)]="selectedUser.phone">
                                        <div
                                            *ngIf="updateForm.get('phone').invalid && (updateForm.get('phone').dirty || updateForm.get('phone').touched)">
                                            <div *ngIf="updateForm.get('phone').errors['required']" class="text-danger">
                                                Phone number is required.</div>
                                            <div *ngIf="updateForm.get('phone').errors['pattern']" class="text-danger">
                                                Please enter a valid 10-digit phone number.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between m-3">

                            <div>
                                <button mat-raised-button class="mx-2" 
                                    type="reset">Cancel</button>
                            </div>
                            <div>
                                <button mat-raised-button class="addBtn" type="submit"
                                    [disabled]="!updateForm.valid">Update</button>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Delete -->
<div class="modal" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <div class="">
                        <h4 class="modal-title text-start">Delete Member</h4>
                    </div>
                    <div class="">
                        <button type="button" class="btn-close text-end" data-bs-dismiss="modal"></button>
                    </div>
                </div>
                <hr class="mt-0">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Do you really want to delete ?</h3>
                    </div>

                </div>
                <div class="d-flex justify-content-between m-3">
                    <div>

                        <button mat-raised-button class="mx-2" data-bs-dismiss="modal">Cancel</button>
                    </div>
                    <div>
                        <button mat-raised-button color="primary" class="" data-bs-dismiss="modal"
                            (click)="deleteUser()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>