
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";


     .main-content{
        margin-top: 10px;
        padding: 30px 0px;
        background: #f6f7f9;
        min-height: calc(100vh - 123px);
    }
    .float{
        float:left;
    }

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    --navbar-scroll-shadow: none;
   }

  
   .form-control:focus {
    box-shadow: none;
   }
   .search{
    border: none;
    box-shadow: none;
}
.table td{
    padding: 20px 10px;
}
.table thead{
  background: #3f51b5;
  color: white;
}
.table thead th{
    font-weight: 500;
    font-size: large;
    padding: 20px;
}
.table tbody{
    border-top: 1px solid black !important;
}
.error{
    padding: 5px;
    background-color: white;
    border: none;
    color: red;
}

select ,  select :focus-visible{
    width: 100%;
   }
.table-button {
    border-radius: 50rem!important;
    background: #f6f7f9;
    font-size: 13px;
    font-weight: 500;
}
tr {
    border: 1px solid transparent;
    z-index:7;
  }
  td {
    padding: 20px;
    transition: all 0.5s ease-in-out;
  }
  td.highlight {
    padding:0;
    width:4px;
    display: none;
  }
  td.highlight div {
    width:4px;
    height:60px;
    border-radius:4px;
    background-color: white;
    transition: all 0.5s ease-in-out;
  }
  tr:hover {
   box-shadow: 0px 9px 4px -6px grey;
  }
  tr:hover .data{
    cursor: all-scroll;
    color:#0d6efd;
  }
  tr .data{
    font-size: 28px;
    vertical-align: middle;
  }
  
  tr:hover .action{
    cursor: pointer;
  }
  tr:hover td.highlight div {
    transform: scaleX(3);
  }
  .cdk-global-overlay-wrapper, .cdk-overlay-container , .bottom {
    z-index: 99999 !important;
 }
 .bottom{
  transform: translate3d(600px, 290px, 0px) !important;
  background: white;
  border: 1px solid rgb(158, 157, 157);
  border-radius: 5px;
 }
 .bottom .bs-datepicker-head{
  display: flex;
  justify-content: center;
 }
 .bottom .bs-datepicker-head button{
  border: none;
    color: white;
    background: #3f51b5;
    border-radius: 3px;
    padding: 3px 15px;
 }
 .bottom .bs-datepicker-body table tbody tr td{
  padding: 10px !important;
 }
 .mat-select-panel:not{
  min-width: calc(100% + 70px);
    transform: scaleY(0.9);
 }
 .addUser{
  color: #797a7d;
    border: 1px dashed #797a7d;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
 }

 .letter {
  border-radius: 5px;
  padding: 5px 8px;
  color: white;
  font-size: medium;
  font-family: 'Roboto';
  margin-left: -12px;
  transition: all .2s;
}
.letter:hover{
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5); 
  transform: scale(1.2); 
}
.a{
    background-color:#a52a2a;
   
}
.b{
    background-color: #ffc0cb;
   
}
.c{
    background-color: #ffff00;
   
}
.r{
    background-color: #ffa500;
    
}
.defaults{
    background-color: #556def;
   
}
.action .actions{
  font-size: large;
}