
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";


     .main-content{
        margin-top: 10px;
        padding: 30px 15px;
        min-height: calc(100vh - 123px);
    }
    .float{
        float:left;
    }

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    /* --navbar-scroll: transparent;  */
    /* --navbar-scroll-text: white; */
    --navbar-scroll-shadow: none;
   }

   .input{
    border: none;
    border-bottom: 0.8px solid #ced4da;
    border-radius: 0;
   }
   .form-control:focus {
    box-shadow: none;
   }
   .search{
    border: none;
    box-shadow: none;
}
.table td{
    padding: 20px 10px;
}
.table thead{
    background: #f6f7f9;
}
.table thead th{
    font-weight: 500;
    font-size: large;
    padding: 20px;
}
.table tbody{
    border-top: 1px solid black !important;
}
.pagination{
        position: absolute;
        left: 45%;
        top: 80%;
    }
.error{
    padding: 5px;
    background-color: white;
    border: none;
    color: red;
}