
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";


     .main-content{
        margin-top: 10px;
        padding: 30px 15px;
        min-height: calc(100vh - 123px);
    }
    .float{
        float:left;
    }

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
