<div class="main-content">
    <div class="container">
        <div class="row">
            <span (click)="gotoParentTask(this.subtask?.task?.parentTask)" class="text-end"> <button
                    class="btn btn-outline-primary rounded-pill"><span class="bi bi-arrow-left ">
                        Back</span></button></span>
            <div class="child-issue col-md-9 border-end">
                <form [formGroup]="updateForm" (ngSubmit)="updateTask()">
                    <div class="col-md-9 border-end">
                        <button class="btn btn-primary rounded btn-sm me-3" type="submit"> Save </button>
                        <button class="btn btn-outline-primary rounded btn-sm" type="button"> Cancel </button>
                    </div>

                    <div class="issue-header mt-3">
                        <div class="issue-type">Sub Task</div>
                        <div class="issue-key">
                            <input type="text" name="taskName" id="project" class="form-control input pt-0"
                                *ngIf="subtask?.task?.id" formControlName="taskName"
                                [(ngModel)]="subtask?.task.taskName" required>

                            <div *ngIf="updateForm.controls['taskName'].invalid && updateForm.controls['taskName'].touched"
                                class="alert alert-danger error">
                                <div *ngIf="updateForm.controls['taskName'].errors['required']">
                                    Please Select Task Name!
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="issue-description">
                        <h3>Description</h3>


                        <textarea class="form-control" rows="4" id="description" name="description"
                            formControlName="description" [(ngModel)]="subtask?.task.description">
                                    {{subtask?.task?.description}}
                                    </textarea>
                        <div *ngIf="updateForm.controls['description'].invalid && updateForm.controls['description'].touched"
                            class="alert alert-danger error">
                            <div *ngIf="updateForm.controls['description'].errors['required']">
                                Description is required!
                            </div>
                        </div>
                    </div>

                </form>
                <label for="fileUpload6" class="file-upload btn btn-outline-primary btn-block rounded-pill shadow my-3">
                    <i class="fa fa-paperclip me-2"></i> Add attachment<input id="fileUpload6" type="file"
                        (change)="onFileSelect($event)" multiple style="display: none;">
                </label>
                <ul type="none">
                    <li class="text-primary" *ngFor="let files of selectedFiles">
                        {{files.name}}
                    </li>
                </ul>



                <div class="d-flex row">
                    <ng-container *ngFor="let attachment of taskAttachment ; let i = index">
                        <div class="col-md-2 mb-5">


                            <div class="card cardAttachment" *ngIf="attachment?.attachmentType == 'image/png'">
                                <button type="button" class="bi bi-trash btn text-danger text-right deleteAttachment"
                                    (click)="deleteTaskAttachment(attachment.id)"></button>
                                <img src="{{attachment.url}}" class="card-img-top" alt="..." data-bs-toggle="modal"
                                    data-bs-target="#bigAttachmentModal"
                                    (click)="openTaskAttachmentModal(attachment)" />
                                <div class="card-body py-0 border-top">
                                    <small class="card-text"> {{attachment?.attachmentName}}</small>
                                </div>
                            </div>

                            <div class="card cardAttachment" *ngIf="attachment?.attachmentType == 'image/jpg'">
                                <button type="button" class="bi bi-trash btn text-danger text-right deleteAttachment"
                                    (click)="deleteTaskAttachment(attachment.id)"></button>
                                <img src="{{attachment.url}}" class="card-img-top" alt="..." data-bs-toggle="modal"
                                    data-bs-target="#bigAttachmentModal"
                                    (click)="openTaskAttachmentModal(attachment)" />
                                <div class="card-body py-0  border-top">
                                    <small class="card-text"> {{attachment?.attachmentName}}</small>
                                </div>
                            </div>

                            <div class="card cardAttachment" *ngIf="attachment?.attachmentType == 'image/jpeg'">
                                <button type="button" class="bi bi-trash btn text-danger text-right deleteAttachment"
                                    (click)="deleteTaskAttachment(attachment.id)"></button>
                                <img src="{{attachment.url}}" class="card-img-top" alt="..." data-bs-toggle="modal"
                                    data-bs-target="#bigAttachmentModal"
                                    (click)="openTaskAttachmentModal(attachment)" />
                                <div class="card-body py-0  border-top">
                                    <small class="card-text"> {{attachment?.attachmentName}}</small>
                                </div>
                            </div>

                            <div class="card cardAttachment" *ngIf="attachment?.attachmentType == 'image/avif'">
                                <button type="button" class="bi bi-trash btn text-danger text-right deleteAttachment"
                                    (click)="deleteTaskAttachment(attachment.id)"></button>
                                <img src="{{attachment.url}}" class="card-img-top" alt="..." data-bs-toggle="modal"
                                    data-bs-target="#bigAttachmentModal"
                                    (click)="openTaskAttachmentModal(attachment)" />
                                <div class="card-body py-0  border-top">
                                    <small class="card-text"> {{attachment?.attachmentName}}</small>
                                </div>
                            </div>

                            <div class="card cardAttachment" *ngIf="attachment?.attachmentType == 'image/webp'">
                                <button type="button" class="bi bi-trash btn text-danger text-right deleteAttachment"
                                    (click)="deleteTaskAttachment(attachment.id)"></button>
                                <img src="{{attachment.url}}" class="card-img-top" alt="..." data-bs-toggle="modal"
                                    data-bs-target="#bigAttachmentModal"
                                    (click)="openTaskAttachmentModal(attachment)" />
                                <div class="card-body py-0  border-top">
                                    <small class="card-text"> {{attachment?.attachmentName}}</small>
                                </div>
                            </div>


                            <div class="card cardAttachment" *ngIf="attachment?.attachmentType == 'image/svg+xml'">
                                <button type="button" class="bi bi-trash btn text-danger text-right deleteAttachment"
                                    (click)="deleteTaskAttachment(attachment.id)"></button>
                                <a href="{{attachment.url}}" class="card-img-top">
                                    <i class="bi bi-filetype-svg file"></i>
                                    <div class="card-body py-0  border-top">
                                        <small class="card-text">
                                            {{attachment?.attachmentName}}</small>
                                    </div>
                                </a>
                            </div>


                            <div class="card cardAttachment" *ngIf="attachment?.attachmentType == 'application/pdf'">
                                <button type="button" class="bi bi-trash btn text-danger text-right deleteAttachment"
                                    (click)="deleteTaskAttachment(attachment.id)"></button>
                                <a href="{{attachment.url}}" class="card-img-top">
                                    <i class="bi bi-filetype-pdf file"></i>
                                    <div class="card-body py-0  border-top">
                                        <small class="card-text">
                                            {{attachment?.attachmentName}}</small>
                                    </div>
                                </a>
                            </div>



                            <div class="card cardAttachment" *ngIf="attachment?.attachmentType == 'application/json'">
                                <button type="button" class="bi bi-trash btn text-danger text-right deleteAttachment"
                                    (click)="deleteTaskAttachment(attachment.id)"></button>
                                <a href="{{attachment.url}}" class="card-img-top">
                                    <i class="bi bi-filetype-json file"></i>
                                    <div class="card-body py-0  border-top">
                                        <small class="card-text">
                                            {{attachment?.attachmentName}}</small>
                                    </div>
                                </a>
                            </div>
                            <div class="card cardAttachment" *ngIf="attachment?.attachmentType == 'text/plain'">
                                <button type="button" class="bi bi-trash btn text-danger text-right deleteAttachment"
                                    (click)="deleteTaskAttachment(attachment.id)"></button>
                                <a href="{{attachment.url}}" class="card-img-top">
                                    <i class="bi bi-filetype-txt file"></i>
                                    <div class="card-body py-0  border-top">
                                        <small class="card-text">
                                            {{attachment?.attachmentName}}</small>
                                    </div>
                                </a>
                            </div>

                            <div class="card cardAttachment"
                                *ngIf="attachment?.attachmentType == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
                                <button type="button" class="bi bi-trash btn text-danger text-right deleteAttachment"
                                    (click)="deleteTaskAttachment(attachment.id)"></button>
                                <a href="{{attachment.url}}" class="card-img-top">
                                    <i class="bi bi-filetype-docx file"></i>
                                    <div class="card-body py-0  border-top">
                                        <small class="card-text">
                                            {{attachment?.attachmentName}}</small>
                                    </div>
                                </a>
                            </div>

                            <div class="card cardAttachment" *ngIf="attachment?.attachmentType == 'text/csv'">
                                <button type="button" class="bi bi-trash btn text-danger text-right deleteAttachment"
                                    (click)="deleteTaskAttachment(attachment.id)"></button>
                                <a href="{{attachment.url}}" class="card-img-top">
                                    <i class="bi bi-filetype-csv file"></i>
                                    <div class="card-body py-0  border-top">
                                        <small class="card-text">
                                            {{attachment?.attachmentName}}</small>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </ng-container>
                </div>

                <!-- Starts Comments -->
                <app-task-comment-list></app-task-comment-list>



                <!-- Ends Comment -->
            </div>

            <div class="col-md-3">
                <div class="issue-details d-flex">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle text-white status" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [ngClass]="{
                'bg-warning text-white!important': (selectedStatus || subtask?.task?.status) === 'In Progress',
                'bg-success text-white!important': (selectedStatus || subtask?.task?.status) === 'Done',
                'bg-danger text-white!important': (selectedStatus || subtask?.task?.status) === 'ToDo',
                'bg-secondary text-white!important': (selectedStatus || subtask?.task?.status) === 'Closed'
                
            }">
                            <i class="fa fa-tasks"></i> {{ selectedStatus ||
                            subtask?.task?.status
                            }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button *ngFor="let s of statusList" type="button" tabindex="0" role="menuitem"
                                class="dropdown-item" (click)="updatesubTaskStatus(subtask,s.name)">
                                <span class="d-flex align-items-center">
                                    <span>{{s?.name}}</span>
                                </span>
                            </button>
                            <button type="button" tabindex="0" role="menuitem" class="dropdown-item"
                                (click)="updatesubTaskStatus(subtask,'')">
                                <span class="d-flex align-items-center"><span>Remove
                                        Status</span></span>
                            </button>
                        </div>
                    </div>

                    <div class="dropdown mx-2">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="align-self-center"
                                [src]="selectedPriority ? selectedPriority.url : getTaskPriorityUrl(subtask?.task?.priority)"
                                [title]="selectedPriority ? selectedPriority.name : getTaskPriorityUrl(subtask?.task?.priority)"
                                height="24" width="24">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button *ngFor="let priority of priorityList" type="button" tabindex="0" role="menuitem"
                                class="dropdown-item" (click)="updatesubTaskPriority(subtask,priority.name)">
                                <span class="d-flex align-items-center">
                                    <img [src]="priority?.url" class="me-3" height="18" width="18">
                                    <span>{{priority?.name}}</span>
                                </span>
                            </button>
                            <button type="button" tabindex="0" role="menuitem" class="dropdown-item"
                                (click)="updatesubTaskPriority(subtask,'')">
                                <span class="d-flex align-items-center"><span>Remove
                                        Priority</span></span>
                            </button>
                        </div>
                    </div>
                </div>



                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Details
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body p-0">
                                <div>
                                    <table>
                                        <tbody>
                                            <tr class="subTask-details">
                                                <td class="pt-0">Reporter:</td>
                                                <td class="pt-0">{{subtask?.task?.createdBy?.firstName}}
                                                    {{subtask?.task?.createdBy?.lastName}}</td>
                                            </tr>
                                            <tr class="subTask-details">
                                                <td class="pt-0">Assignee:</td>
                                                <td class="pt-0">

                                                    <div class="d-flex flex-nowrap users">
                                                        <i class="fa fa-user-plus addUser me-3 mt-1"
                                                            data-bs-toggle="modal" data-bs-target="#addUserModal"
                                                            (click)="getTaskUser(subtask?.task?.id)"></i>
                                                        <span *ngFor="let users of subtask?.newTaskUserList"
                                                            class="letter text-light"
                                                            [tooltip]="(users?.user?.firstName| titlecase) + (' ') +( users?.user?.lastName | titlecase)"
                                                            [style.background-color]="commonservice?.getRandomColor(users?.user?.firstName)">
                                                            {{users?.user?.firstName.charAt(0) | uppercase}}
                                                        </span>
                                                    </div>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <p class="dates mb-0 mt-2">Created On: {{subtask?.task.createdOn | date: 'mediumDate'}} </p>
                <p class="dates">Updated On: {{subtask?.task.updatedOn | date: 'mediumDate'}} </p>
            </div>
        </div>
    </div>
</div>


<!-- Add User -->
<div class="modal" id="addUserModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class=" d-flex justify-content-between">
                    <div class="">
                        <h4 class="modal-title text-start">Add New Member</h4>
                    </div>
                    <div class=""><button type="button" data-bs-dismiss="modal" class="btn-close text-end"></button>
                    </div>
                </div>
                <hr class="mt-0">
                <div class="row">
                    <form class="row" [formGroup]="addUserForm" (ngSubmit)="addUserToTask(addUserForm.value)">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8">

                                <div class="mt-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Select User</mat-label>
                                        <mat-select multiple formControlName="userName" [(ngModel)]="selectedUser">
                                            <mat-option *ngFor="let assignee of allAssignee" [value]="assignee.id">
                                                {{assignee?.firstName | titlecase}} {{assignee?.lastName |
                                                titlecase}}</mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>


                            </div>
                        </div>
                        <div class="d-flex justify-content-between m-3">

                            <div>
                                <button mat-raised-button class="mx-2" data-bs-dismiss="modal"
                                    type="button">Cancel</button>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" data-bs-dismiss="modal"
                                    type="submit">Add</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="bigAttachmentModal" tabindex="0" aria-labelledby="bigAttachmentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <button type="button" class="btn-close m-3" data-bs-dismiss="modal" aria-label="Close"></button><br>
            <div class="d-flex"> <span class="bi bi-image text-warning px-3" style="font-size: 40px;"></span>
                <small>{{selectedAttachment?.attachmentName }}<br>image - {{
                    convertBytesToKB(selectedAttachment?.attachmentSize) }}</small>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="carousel-item active text-center">
                                        <img class="modal-image big-img" [src]="selectedAttachment?.url" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>