.subTask-details:hover {
    box-shadow: none;
}

.dates {
    color: #605e5e !important;
    font-size: 13.5px;
}

.parent {
    cursor: pointer;
}

.parent:hover {
    text-decoration: underline;
}

.form-feild {
    border: none !important;
}

.form-feild:hover {
    background-color: #f1f0f0;
}

.taskName {
    font-size: x-large;
}

.letters {
    border-radius: 5px;
    padding: 5px 8px;
    color: white;
    height: 30px;
    font-size: smaller;
    font-family: 'Roboto';
    margin-left: -12px;
    transition: all .2s;
}

.btn-act {
    background: #76bc21;
    color: white;
}

.sub-header {
    box-shadow: -5px 10px 29px -22px rgba(0, 0, 0, 0.55) !important;
    background: white !important;
    border-radius: 5px;
}

.taskDetails {
    max-height: 75vh;
    overflow-y: auto;
    position: relative;
    overflow-x: hidden;
}

.status {
    color: white;
}

.actions {
    font-size: 20px;
    color: #5d5c5c;
}

.cardAttachment {
    box-shadow: 0 1px 1px #bfbbbb;
    width: 150px;
    cursor: pointer;
}

.card-img-top {
    height: 150px;
}

.file {
    font-size: 150px;
}

.deleteAttachment {
    position: absolute;
    margin-left: 100px;
}

.big-img {
    min-width: auto;
    max-width: 1050px;
}

.modal-image {
    max-width: 100%;
    max-height: 80vh;
    margin: auto !important;
    display: block !important;
}

::ng-deep #description p img {
    width: 97% !important;
    height: auto;
    max-width: 100%;
}
