.subTask-details:hover {
    box-shadow: none;
}

.dates {
    color: #605e5e !important;
    font-size: 13.5px;
}

.parent {
    /* text-decoration:underline; */
    cursor: pointer;
}

.parent:hover {
    text-decoration: underline;
}

.form-feild {
    border: none !important;

}

.form-feild:hover {
    background-color: #f1f0f0;
}

.taskName {
    font-size: x-large;
}
.letters{
    border-radius: 5px;
    padding: 5px 8px;
    color: white;
    height: 30px;
    font-size: smaller;
    font-family: 'Roboto';
    margin-left: -12px;
    transition: all .2s;
}