.sidebar-links {
    margin: 5px 0;
}

.menuitem, .sidebar-links{
    cursor: pointer; 
}

.sidebar-links:hover{
    background-color: #e3efff;
}

.sidebar-links.active {
    background: #0a58ca;
    color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.sidebar-sublinks {
    margin-top: -1px;
}

.sidebar-sublinks.active {
    margin-top: 12px;
    background: #0a58ca;
    color: white;
    margin-right: 30px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.collapsible-nav {
    left: 0;
    width: 60px;
}

.sidebar-title {
    width: 15%;
}

.col-links {
    margin-top: -1.3px;
}

.icons-only {
    position: relative;
    /* width: 105px; */
}

#sidebar-wrapper {
   
    width:17%;
}
#page-content-wrapper{
    transition: margin-left .5s;
}

.collapsed-menu{
    width: 4%!important;
}
.submenu .sidebar-links{
    padding: .25rem 1rem .25rem 2.5rem;
}