.sidebar-links {
    margin: 5px 0;
}

.navbar {
    box-shadow: 1px 1px 5px #e2dcdc;
}
.nav{
    background: white
}

.menuitem,
.sidebar-links {
    cursor: pointer;
}

.sidebar-links:hover {
    background-color: #e3efff;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin-left: 3%;
}

.sidebar-links.active {
    background: #3f51b5;
    color: white;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin-left: 2%;
}

.sidebar-sublinks {
    margin-top: -1px;
}

.sidebar-sublinks.active {
    margin-top: 12px;
    background: #3f51b5;
    color: white;
    margin-right: 30px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.collapsible-nav {
    left: 0;
    width: 60px;
}

.header-icons {
    color: grey;
    font-size: 24px;
}

.menu-title{
    padding-inline: inherit;
}
.col-links {
    margin-top: -1.3px;
}

.icons-only {
    position: relative;
    /* width: 105px; */
}

#page-content-wrapper {
    transition: margin-left .5s;
}

/* .collapsed-menu {
    width: 4% !important;
} */

.submenu .sidebar-links {
    padding: .25rem 1rem .25rem 2.5rem;
}


/* Offcanvas */
.profile {
    background-color: #ebf1f1;
    ;
}

.profile-img {
    position: relative;
    margin-top: -30px;
    height: 150px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 20px;
}

.alarm {
    height: 80px;
    margin-top: -70px;
}

.timer {
    font-weight: 500;
    letter-spacing: 2px;
}

.footer .fa {
    font-size: 24px;
}

.cards-area {
    background: #c6c9c9;
}

.cards {
    border: 2px solid white;
    background: #ebf1f1;
    margin: 5px 8px;
    height: 200px;
    width: 140px;
    border-radius: 5px;
}

.cards img {
    height: 70px;
    border-radius: 100%;
    padding: 3px;
    border: 2px solid white;

}

.cards span {
    line-height: 5;
    color: #888585;
}

.alarm {
    -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}

.edit {
    cursor: pointer;
    color: #555f80;
    font-weight: 500;
    font-size: 25px;
    margin: 10px;
}




.mat-drawer-inner-container {
    overflow: initial !important;
}

.mat-drawer-container {
    /* height: 100vh; */
    box-shadow: 0px 0px 5px #e2dcdc;
    margin-top: 2px;
}

.mat-drawer-inner-container::-webkit-scrollbar {
    display: none !important;
}
li{
    width:180px
}


/* dropdown */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 329px;
    z-index: 1;
    padding: 8px 0;
    margin: 0;
    list-style-type: none;
    background-color: white;
    border: 1px solid #f5f3f3;
    margin-left: -317px;
    border-radius: 5px;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-menu li {
    padding: 8px;
  }
  
  .dropdown-menu li a {
    display: block;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-menu li a:hover {
    background-color: white;
  }
  .dropdown-menu::before {
    border-bottom: 21px solid #FFFFFF; /* Set the border-bottom color to white */
    border-left: 12px solid rgba(0, 0, 0, 0);
    border-right: 12px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    right: 5%;
    position: absolute;
    top: -10px; /* Adjust the position of the arrow */
  }
  
  .dropdown-menu::after {
    border-bottom: 9px solid #FFFFFF; /* Set the border-bottom color to white */
    border-left: 12px solid rgba(0, 0, 0, 0);
    border-right: 12px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    right: 5%;
    position: absolute;
    top: -9px; /* Adjust the position of the arrow */
  }
  

.header-icons-bell {
color: #33df5b;
}