<div>
    <form class="d-flex justify-content-between p-2" [formGroup]="formGroup" (ngSubmit)="onSubmission()">
        <input type="number" class="form-control" placeholder="Per Month Rent" formControlName="rentDeclared">

        <select id="" class="mx-2 form-control" placeholder="City Type" formControlName="cityType">
            <option value="" disabled selected>Select City Type -</option>
            <option value="Metro">Metro</option>
            <option value="Non-Metro">Non-Metro</option>
        </select>

        <input type="text" class="form-control" placeholder="Landlord Name" formControlName="landlordName">

        <input type="text" class="form-control mx-2" placeholder="Landlord PAN Number" formControlName="landlordPan">

        <input type="text" class="form-control" placeholder="Landlord Address" formControlName="landlordAddress">

        <input type="text" class="form-control mx-2" placeholder="Remarks" formControlName="approvalStatus">

        <button mat-raised-button class="addBtn w-50" type="submit">Apply&nbsp;to&nbsp;All</button>

    </form>
    <form [formGroup]="formGroup">
        <table>
            <thead>
                <th>Month</th>
                <th>Rent Declared</th>
                <th>Verified Amount(In Rs.)</th>
                <th>City Type</th>
                <th>Landlord Name</th>
                <th>Landlord PAN</th>
                <th>Landlord Address</th>
                <th>Approval Status</th>
                <th>Attachment</th>
                <th>Actions</th>
            </thead>
            <tbody formArrayName="employeeIncomeTaxDeclarationHRA">
                <tr *ngFor="let group of formGroup?.get('employeeIncomeTaxDeclarationHRA')['controls'];  let i = index"
                    [formGroupName]="i">
                    <td>
                        <div class="month">
                            {{ getMonthsArray()[i] }}
                        </div>
                    </td>
                    <td>
                        <input type="number" class="form-control" formControlName="rentDeclared"
                            [readonly]="!group.get('isEditable')?.value" />
                    </td>
                    <td><input type="number" class="form-control" formControlName="verifiedAmount"
                            [readonly]="!group.get('isEditable')?.value" /></td>
                    <td>
                        <select id="" class="form-control" formControlName="cityType"
                            [readonly]="!group.get('isEditable')?.value">
                            <option value="" disabled selected>Select City Type</option>
                            <option value="Metro">Metro</option>
                            <option value="Non-Metro">Non-Metro</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control" formControlName="landlordName"
                            [readonly]="!group.get('isEditable')?.value" />
                    </td>
                    <td>
                        <input type="text" class="form-control" formControlName="landlordPan"
                            [readonly]="!group.get('isEditable')?.value" />
                    </td>
                    <td>
                        <input type="text" class="form-control" formControlName="landlordAddress"
                            [readonly]="!group.get('isEditable')?.value" />
                    </td>
                    <td>
                        {{group.get('approvalStatus')?.value}}
                    </td>

                    <td class="text-center">
                       
                        <div class="attachment-container">
                            <label for="attachment-{{i}}">
                                <i class="bi bi-paperclip"
                                    matTooltip="{{ group.get('documentLink')?.value ? group.get('documentLink')?.value.split('/').pop().split('.').slice(0, -1).join('.') : 'Add Attachment File' }}"
                                    matTooltipPosition="below"></i>
                            </label>
                            <input type="file" id="attachment-{{i}}" [readonly]="!group.get('isEditable')?.value"
                                formControlName="employeeIncomeTaxDeclarationAttachments"
                                (change)="uploadAttachment($event, i)" style="display: none;" />
                        </div>
                        <span>{{formGroup.get('documentLink').value}}</span>
                    </td>
                    <td>
                        @if(!group.get('isEditable')?.value){
                        <button class="actions" mat-mini-fab matTooltip="Edit" matTooltipPosition="before" type="button"
                            (click)="selectRow(i)"> <i class="bi bi-pencil"></i></button>
                        } @else {
                        <div class="d-flex">
                            <button class="actions" mat-mini-fab matTooltip="Update" matTooltipPosition="below"
                                type="button" (click)="onSubmissionRowData(i)"> <i class="bi bi-check"></i></button>
                            <button class="actions" mat-mini-fab matTooltip="Close" matTooltipPosition="below"
                                type="button" (click)="cancelEditing(i)"> <i class="bi bi-x"></i></button>
                        </div>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>