<div class="main-content">
    <div class="container-fluid">
        <div class="py-2 px-0 bg-white tableContainer">
            <div class="d-flex justify-content-between align-items-center mb-2 px-3">
                <p class="mb-0">({{leaveTemplate?.length}}) Records Found</p>
                <div class="d-flex align-items-center">
                    <span class="bi bi-search searchIcon"></span>

                    <input class="form-control search" type="text" placeholder="Search..." name="searchText"
                        aria-label="default input example" [(ngModel)]="searchText">

                    <button mat-raised-button (click)="open(addModal); isEdit === false; changeMode='Add';" class="addBtn rounded-pill mx-3">Add
                        Leave</button>

                    <button class="submenuTab active  rounded-pill"> <i class="bi bi-download downloadBtn pe-2"></i>
                        Download</button>

                </div>
            </div>
            <table class="p-2 rounded mt-2">
                <thead>
                    <tr>
                        <th>Leave Label</th>
                        <th>Number Of Employees Covered</th>
                        <th>Number Of Leave Categories</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let leaveTemp of leaveTemplate | search: searchText |  paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                        <td>{{leaveTemp?.label}}</td>
                        <td></td>
                        <td></td>
                        <td>
                            <button class="actions" mat-mini-fab title="Update" (click)="changeMode='Next'; isEdit === true;
                            open(addModal);
                            selectedTemplateId=leaveTemp._id;
                            setFormValues(leaveTemp)" aria-label="Example icon button with a menu icon">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button class="actions ms-2" title="Delete" mat-mini-fab
                            aria-label="Example icon button with a menu icon" (click)="deleteDialog(leaveTemp?._id)">
                            <i class="bi bi-trash"></i>
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"
            class="pagination d-flex justify-content-end"></pagination-controls>

        </div>
    </div>
</div>

<ng-template #addModal let-modal>
    <!-- <app-create-leave [changeMode]="changeMode" (changeStep)="onChangeStep($event)"
        (close)="onClose($event)" *ngIf="step == 1" [isEdit]="isEdit"></app-create-leave> -->
    <app-add-category-leave *ngIf="step == 1" [isEdit]="isEdit" (close)="onClose($event)"
        (changeStep)="onChangeStep($event)"
        (updateLeaveTemplateTable)="refreshLeaveTemplateTable()"></app-add-category-leave>
</ng-template>