<div class="d-flex justify-content-between">
  <button type="button" data-bs-dismiss="modal" class="btn-close text-end" (click)="closeModal()"></button>
</div>
<mat-stepper #stepper [formGroup]="firstForm">
  <ng-container formArrayName="expenseCategories">
    <mat-step *ngFor="let categoryCtrl of firstForm.get('expenseCategories').controls; let i = index">
      <form [formGroup]="categoryCtrl">
        <ng-template matStepLabel>{{ getCategoryLabel(expenseCategory[i]?.expensecategory) }}</ng-template>
        <div class="d-flex">
          <label class="w-50">Maximum amount limit per individual expense</label>
          <input formControlName="maximumAmountPerExpense" class="form-control w-50">
          <div class="form-check form-switch ms-2">
            <input formControlName="isMaximumAmountPerExpenseSet" id="maxAmount{{i}}" class="form-check-input" type="checkbox">
          </div>
        </div>

        <div class="d-flex mt-2">
          <label class="w-50">Maximum amount permitted per expense without receipt</label>
          <input formControlName="maximumAmountWithoutReceipt" class="form-control w-50">
          <div class="form-check form-switch ms-2">
            <input formControlName="isMaximumAmountWithoutReceiptSet" id="maxAmountWithoutReceipt{{i}}" class="form-check-input" type="checkbox">
          </div>
        </div>

        <div class="d-flex mt-2">
          <label class="w-50">Times in a </label>
          <select class="form-select w-50" formControlName="timePeroid" aria-label="Default select example">
            <option selected>Select Time</option>
            <option value="Day">Day</option>
            <option value="Week">Week</option>
            <option value="Month">Month</option>
          </select>
          <div class="form-check form-switch ms-2">
            <input formControlName="isTimePeroidSet" id="timePeroid{{i}}" class="form-check-input" type="checkbox">
          </div>
        </div>

        <div class="d-flex  mt-2">
          <label class="w-50">Expense will expire Days after incurred date </label>
          <input formControlName="expiryDay" class="form-control w-50">
          <div class="form-check form-switch ms-2">
            <input formControlName="isEmployeeCanAddInTotalDirectly" id="employeeCanAdd{{i}}" class="form-check-input" type="checkbox">
          </div>
        </div>

        <div class="d-flex mt-2">
          <label class="w-50">An employee can apply maximum</label>
          <input formControlName="maximumExpensesCanApply" class="form-control w-50">
        </div>
        <div class="">
          <button mat-button matStepperNext class="addBtn">Next</button>
        </div>
      </form>
    </mat-step>
  </ng-container>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>

    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="onSubmit()" class="addBtn">Submit</button>
    </div>
  </mat-step>
</mat-stepper>
