<div class="d-flex justify-content-between">
  <button mat-raised-button type="button" data-bs-dismiss="modal" (click)="closeModal()">
    Back
  </button>
  <button type="button" data-bs-dismiss="modal" class="btn-close text-end" (changeStep)="onChangeStep($event)"></button>
</div>
<!-- <mat-stepper linear #stepper>
  <ng-container *ngFor="let step of steps; let i = index">
    <mat-step [stepControl]="applicableCategoriesForm" [editable]="isEditable">
      <form [formGroup]="applicableCategoriesForm">
        <ng-template matStepLabel>{{ categoryLabel }}</ng-template>
      
        <div formArrayName="expenseCategories">
          <div *ngFor="let category of applicableCategoriesForm.get('expenseCategories')['controls']; let i = index">
            <div [formGroupName]="i">
             
      
              
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" formControlName="isMaximumAmountPerExpenseSet">
                <label class="form-check-label" for="flexSwitchCheckDefault">Is Maximum Amount Per Expense Set</label>
              </div>
      
            </div>
          </div>
        </div>
      
        <button type="button" (click)="fetchCategories()">Add Expense Category</button>
      
        <div>
          <h2>Form Value</h2>
          <pre>{{ applicableCategoriesForm.value | json }}</pre>
        </div>
        <div>
          <button mat-button *ngIf="i > 0" matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      
    </mat-step>
  </ng-container>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Do you want to submit?</p>
    <div>
      <button mat-raised-button class="addBtn" type="submit" (click)="onSubmit()">Submit</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper> -->

