:host ::ng-deep .pagination .ngx-pagination .current {
  background: #76bc21 !important;
  border: transparent !important;
  border-radius: 20px !important;
}
.required-asterisk {
  color: red;
}


/* Style for the disabled button */
button:disabled {
  background-color: #cccccc; /* Light grey background */
  color: #666666; /* Dark grey text */
  cursor: not-allowed; /* Change cursor to indicate it's not clickable */
  border: 1px solid #aaaaaa; /* Light grey border */
  opacity: 0.7; /* Slightly transparent to indicate it's disabled */
}

/* Optional: Style for the enabled button */
button {
  background-color: #007bff; /* Primary color background */
  color: white; /* White text */
  border: 1px solid #007bff; /* Border same as background */
  cursor: pointer; /* Pointer cursor to indicate it's clickable */
  padding: 10px 20px; /* Some padding for a better appearance */
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* Optional: Hover state for enabled button */
button:hover:enabled {
  background-color: #0056b3; /* Darker blue on hover */
}
