<div class="main-content pt-2">
    <div class="container-fluid">
        <div class="tabs">
            <button class="btn" routerLink="general-setting" routerLinkActive="active">
                General Settings
            </button>
            <button class="btn" routerLink="leave-category" routerLinkActive="active">
                Leave Categories
            </button>
            <button class="btn" routerLink="leave-template" routerLinkActive="active">
                Leave Templates
            </button>
            <button class="btn" routerLink="leave-assignment" routerLinkActive="active">
                Leave Assignment
            </button>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
