<div class="main-content mt-5 pt-2">
    <div class="container-fluid">
        <div class="tabs">
            <button (click)="selectTab(1)" [class.active]="selectedTab === 1">General Settings
            </button>
            <button (click)="selectTab(2)" [class.active]="selectedTab === 2">Leave Catgeories
            </button>
            <button (click)="selectTab(3)" [class.active]="selectedTab === 3">Leave Templates
            </button>
            <button (click)="selectTab(4)" [class.active]="selectedTab === 4">Leave Assignment
            </button>
        </div>

        <div *ngIf="selectedTab === 1" class="tab-content p-0">
            <app-general-settings></app-general-settings>
        </div>
        <div *ngIf="selectedTab === 2" class="tab-content p-0">
            <app-leave-Category></app-leave-Category>
        </div>
        <div *ngIf="selectedTab === 3" class="tab-content p-0">
            <app-leave-Template></app-leave-Template>
        </div>
        <div *ngIf="selectedTab === 4" class="tab-content p-0">
            <app-leave-Assignment></app-leave-Assignment>
        </div>
    </div>
</div>