<div class="main-content">
  <div class="row">
    <div class="col-10">
    </div>
    <div class="col-2">
      <button class="btn btn-primary">Save General Settings</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-10">
      <label>Can Employee select Regularization Reason</label>
    </div>
    <div class="col-2">
      <input type="checkbox">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-10">
      <label>Can Employee Select On Duty Reason</label>
    </div>
    <div class="col-2">
      <input type="checkbox">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-10">
      <label>Should shift assignment be driven by roasters</label>
    </div>
    <div class="col-2">
      <input type="checkbox">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'activeTab': activeTab === 'tabRegularizationReason'}" (click)="selectTab('tabRegularizationReason')">Regularization Reason</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'activeTab': activeTab === 'tabOnDutyReason'}"  (click)="selectTab('tabOnDutyReason')">On Duty Reason</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" [ngClass]="{'active': activeTab === 'tabRegularizationReason'}" id="tabRegularizationReason">
          <h1>This is Tab 1</h1>
        </div>
        <div class="tab-pane" [ngClass]="{'active': activeTab === 'tabOnDutyReason'}" id="tabOnDutyReason">
          <h1>This is Tab 2</h1>
        </div>
      </div>
    </div>
  </div>
</div>

