<div class="main-content">
  <div class="row mt-3">
    <div class="col-12 text-right">
      <button class="btn btn-primary">Save General Settings</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-10">
      <label>Can Employee select Regularization Reason</label>
    </div>
    <div class="col-2">
      <input type="radio">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-10">
      <label>Can Employee Select On Duty Reason</label>
    </div>
    <div class="col-2">
      <input type="radio">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-10">
      <label>Should shift assignment be driven by roasters</label>
    </div>
    <div class="col-2">
      <input type="radio">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#tabRegularizationReason" data-toggle="tab">Regularization Reason</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tabOnDutyReason" data-toggle="tab">On Duty Reason</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tabRegularizationReason">
          <!-- Content for Regularization Reason tab -->
        </div>
        <div class="tab-pane" id="tabOnDutyReason">
          <!-- Content for On Duty Reason tab -->
        </div>
      </div>
    </div>
  </div>
</div>

