/* .emailContainer {
  margin-left: 2rem;
}

.ql-fields {
  border: none;
  background: pink;
  display: none
}

.ql-snow.ql-toolbar .ql-fields {
  display: block;
  background: none;
  border: none;
}

.ql-snow.ql-toolbar .Editor {
  display: none;
}
.ql-snow .ql-picker.feature .ql-picker-label::before{
content: '- Select -'
}

.ql-snow .ql-picker.feature .ql-picker-label::before {
  content: 'Select' !important;
}
:host ::ng-deep .pagination .ngx-pagination .current {
  background: #76bc21 !important;
  border: transparent !important;
  border-radius: 20px !important;
} */

::ng-deep .mat-mdc-text-field-wrapper {
  background-color: white !important;
}