<div class="main-content">
    <div class="container-fluid">
        <mat-tab-group>
            <mat-tab label="Calendar">
                <full-calendar [plugins]="calendarPlugins" [weekends]="true" [events]="" id="calendar"
                    class="full-calendar p-2" [headerToolbar]="{
                    left: 'prev',
                    center: 'title',
                    right: 'today next'
                  }"></full-calendar>
            </mat-tab>
            <mat-tab label="Milestone">
                <div class="d-flex justify-content-between mt-2 align-items-baseline">
                    <h3>Calendar Setting</h3>
                    <button mat-raised-button color="primary"><span class="bi bi-plus border rounded"></span> Milestone</button>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name of Milestone</th>
                            <th>Who Can View It</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="dropdown-center">
                                <i class="bi bi-three-dots actions" data-bs-toggle="dropdown"
                                    aria-expanded="false"></i>
                                <ul class="dropdown-menu shadow">
                                    <li class="d-flex">
                                        <i class="bi bi-trash3 text-danger dropdown-item w-25"></i><span
                                            class="pt-1 text-muted">Delete</span>
                                    </li>
                                    <hr class="mx-2 my-0">
                                    <li class="d-flex">
                                        <i class="bi bi-pencil text-success  dropdown-item w-25"></i><span
                                            class="pt-1 text-muted">Edit</span>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tbody>
                </table>
            </mat-tab>
        </mat-tab-group>


    </div>

</div>